{% extends '@App/layout/page.html.twig' %}

{% set adminPage = true %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}

        {% block heading %}Emails{% endblock %}
        {% block content %}
            <div class="row admin_mailer">
                <div class="col-sm-12">
                    <ul class="mails">
                        {% for mail in mails %}
                            <li class="mail">
                                {% embed '@App/layout/_partials/card.html.twig' %}
                                    {% block heading %}
                                        {{ mail.name }}
                                    {% endblock %}
                                    {% block content %}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <a href="#" data-toggle="modal" data-target="#{{ mail.id }}">View</a>
                                                <a href="{{ path(mail.send_real) }}">Send Real</a>
                                                <a href="{{ path(mail.send_test) }}">Send Test</a>
                                            </div>
                                        </div>
                                    {% endblock %}
                                {% endembed %}

                                {% embed '@App/layout/_partials/modal.html.twig' with {size: 'lg', id: mail.id, title: mail.name} %}
                                    {% block modal_body %}
                                        {% for preview in mail.previews %}
                                            {% embed '@App/layout/_partials/card.html.twig' %}
                                                {% block content %}
                                                    {{ preview|raw }}
                                                {% endblock %}
                                            {% endembed %}
                                        {% endfor %}
                                    {% endblock %}
                                {% endembed %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}