{% embed '@App/layout/_partials/card.html.twig' %}
    {% block content %}
        <div class="row policy -page">
            <div class="col-sm-12" id="accordion">
                <div class="card">
                    <div class="card-header"
                         data-toggle="collapse"
                         data-target="#refund_text"
                         aria-expanded="false"
                         aria-controls="refund_text">
                        <h5 class="mb-0">
                            <button class="btn btn-link">
                                {{ 'policy.index.tabs.refund.header'|trans }}
                            </button>
                        </h5>
                    </div>
                    <div id="refund_text" class="collapse" aria-labelledby="refund_text" data-parent="#accordion">
                        <div class="card-body">
                            {{ 'policy.index.tabs.refund.texts.0'|trans }}<br>
                            {{ 'policy.index.tabs.refund.texts.1'|trans }}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header"
                         data-toggle="collapse"
                         data-target="#privacy_text"
                         aria-expanded="false"
                         aria-controls="privacy_text">
                        <h5 class="mb-0">
                            <button class="btn btn-link">
                                {{ 'policy.index.tabs.privacy.header'|trans }}
                            </button>
                        </h5>
                    </div>
                    <div id="privacy_text" class="collapse" aria-labelledby="privacy_text" data-parent="#accordion">
                        <div class="card-body">
                            <h4>{{ 'policy.index.tabs.privacy.texts.0'|trans }}</h4>

                            <ol>
                                <li>
                                    <b>{{ 'policy.index.tabs.privacy.texts.1'|trans }}</b><br>
                                    <p>{{ 'policy.index.tabs.privacy.texts.2'|trans }}</p>
                                </li>

                                <li>
                                    <b>{{ 'policy.index.tabs.privacy.texts.3'|trans }}</b>
                                    <p>{{ 'policy.index.tabs.privacy.texts.4'|trans }}</p>
                                </li>

                                <li>
                                    <b>{{ 'policy.index.tabs.privacy.texts.5'|trans }}</b><br>
                                    <p>{{ 'policy.index.tabs.privacy.texts.6'|trans }}</p>
                                    <ol>
                                        <li>{{ 'policy.index.tabs.privacy.texts.7'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.privacy.texts.8'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.privacy.texts.9'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.privacy.texts.10'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.privacy.texts.11'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.privacy.texts.12'|trans }}</li>
                                    </ol>
                                </li>

                                <li>
                                    <b>{{ 'policy.index.tabs.privacy.texts.13'|trans }}</b><br>
                                    <ol>
                                        <li>{{ 'policy.index.tabs.privacy.texts.14'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.privacy.texts.15'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.privacy.texts.16'|trans }}</li>
                                    </ol>
                                </li>

                                <li>
                                    <b>{{ 'policy.index.tabs.privacy.texts.17'|trans }}</b><br>
                                    <p>{{ 'policy.index.tabs.privacy.texts.18'|trans }}</p>
                                </li>

                                <li>
                                    <b>{{ 'policy.index.tabs.privacy.texts.19'|trans }}</b><br>
                                    <p>{{ 'policy.index.tabs.privacy.texts.20'|trans }}</p>
                                    <p>{{ 'policy.index.tabs.privacy.texts.21'|trans }}</p>
                                </li>

                                <li>
                                    <b>{{ 'policy.index.tabs.privacy.texts.22'|trans }}</b><br>
                                    <p>{{ 'policy.index.tabs.privacy.texts.23'|trans }}</p>
                                </li>

                                <li>
                                    <b>{{ 'policy.index.tabs.privacy.texts.24'|trans }}</b><br>
                                    <p>{{ 'policy.index.tabs.privacy.texts.25'|trans }} <a target="_blank"
                                                                                           class="color-blue"
                                                                                           href="https://support.google.com/adwordspolicy/answer/1316548?hl={{ app.request.locale }}">https://support.google.com/adwordspolicy/answer/1316548?hl={{ app.request.locale }}</a>
                                    </p>
                                    <p>{{ 'policy.index.tabs.privacy.texts.26'|trans }}</p>
                                </li>

                                <li>
                                    <b>{{ 'policy.index.tabs.privacy.texts.27'|trans }}</b><br>
                                    <p>{{ 'policy.index.tabs.privacy.texts.28'|trans }} <a
                                                href="{{ path('sky_contacts_index') }}">{{ 'policy.index.tabs.privacy.texts.29'|trans }}</a> {{ 'policy.index.tabs.privacy.texts.30'|trans }}
                                    </p>
                                </li>


                            </ol>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header"
                         data-toggle="collapse"
                         data-target="#agreement_text"
                         aria-expanded="false"
                         aria-controls="agreement_text">
                        <h5 class="mb-0">
                            <button class="btn btn-link">
                                {{ 'policy.index.tabs.agreement.header'|trans }}
                            </button>
                        </h5>
                    </div>
                    <div id="agreement_text" class="collapse" aria-labelledby="agreement_text" data-parent="#accordion">
                        <div class="card-body">
                            <h4>{{ 'policy.index.tabs.agreement.0'|trans }}</h4>

                            <p>{{ 'policy.index.tabs.agreement.1'|trans }}</p>
                            <p>{{ 'policy.index.tabs.agreement.2'|trans }}</p>
                            <p><b>{{ 'policy.index.tabs.agreement.3'|trans }}</b></p>

                            <p><b>{{ 'policy.index.tabs.agreement.4'|trans }}</b>
                                - {{ 'policy.index.tabs.agreement.5'|trans }}</p>
                            <p><b>{{ 'policy.index.tabs.agreement.6'|trans }}</b>
                                - {{ 'policy.index.tabs.agreement.7'|trans }}</p>
                            <p><b>{{ 'policy.index.tabs.agreement.8'|trans }}</b>
                                - {{ 'policy.index.tabs.agreement.9'|trans }}</p>
                            <p><b>{{ 'policy.index.tabs.agreement.10'|trans }}</b>
                                - {{ 'policy.index.tabs.agreement.11'|trans }}</p>
                            <p><b>{{ 'policy.index.tabs.agreement.12'|trans }}</b>
                                - {{ 'policy.index.tabs.agreement.13'|trans }}</p>
                            <p><b>{{ 'policy.index.tabs.agreement.14'|trans }}</b>
                                - {{ 'policy.index.tabs.agreement.15'|trans }}</p>
                            <p><b>{{ 'policy.index.tabs.agreement.16'|trans }}</b>
                                - {{ 'policy.index.tabs.agreement.17'|trans }}</p>
                            <p><b>{{ 'policy.index.tabs.agreement.18'|trans }}</b>
                                - {{ 'policy.index.tabs.agreement.19'|trans }}</p>
                            <p><b>{{ 'policy.index.tabs.agreement.20'|trans }}</b>
                                - {{ 'policy.index.tabs.agreement.21'|trans }}</p>

                            <ol>
                                <li>
                                    <b>{{ 'policy.index.tabs.agreement.22'|trans }}</b>
                                    <ol>
                                        <li>{{ 'policy.index.tabs.agreement.23'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.24'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.25'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.26'|trans }}</li>
                                    </ol>
                                </li>
                                <li>
                                    <b>{{ 'policy.index.tabs.agreement.27'|trans }}</b>
                                    <ol>
                                        <li>{{ 'policy.index.tabs.agreement.28'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.29'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.30'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.31'|trans }}</li>
                                    </ol>
                                </li>
                                <li>
                                    <b>{{ 'policy.index.tabs.agreement.32'|trans }}</b>
                                    <ol>
                                        <li>{{ 'policy.index.tabs.agreement.33'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.34'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.35'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.36'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.37'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.38'|trans }}</li>
                                    </ol>
                                </li>
                                <li>
                                    <b>{{ 'policy.index.tabs.agreement.39'|trans }}</b>
                                    <ol>
                                        <li>{{ 'policy.index.tabs.agreement.40'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.41'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.42'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.43'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.44'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.45'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.46'|trans }}</li>
                                    </ol>
                                </li>
                                <li>
                                    <b>{{ 'policy.index.tabs.agreement.47'|trans }}</b>
                                    <ol>
                                        <li>{{ 'policy.index.tabs.agreement.48'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.49'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.50'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.51'|trans }}</li>
                                    </ol>
                                </li>
                                <li>
                                    <b>{{ 'policy.index.tabs.agreement.52'|trans }}</b>
                                    <ol>
                                        <li><b>{{ 'policy.index.tabs.agreement.53'|trans }}</b>
                                            <ol>
                                                <li>{{ 'policy.index.tabs.agreement.54'|trans }}</li>
                                                <li>{{ 'policy.index.tabs.agreement.55'|trans }}</li>
                                                <li>{{ 'policy.index.tabs.agreement.56'|trans }}</li>
                                                <li>{{ 'policy.index.tabs.agreement.57'|trans }}</li>
                                                <li>{{ 'policy.index.tabs.agreement.58'|trans }}</li>
                                                <li>{{ 'policy.index.tabs.agreement.59'|trans }}</li>
                                            </ol>
                                        </li>
                                        <li><b>{{ 'policy.index.tabs.agreement.60'|trans }}</b>
                                            <ol>
                                                <li>{{ 'policy.index.tabs.agreement.61'|trans }}</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <b>{{ 'policy.index.tabs.agreement.62'|trans }}</b>
                                    <ol>
                                        <li><b>{{ 'policy.index.tabs.agreement.63'|trans }}</b>
                                            <ol>
                                                <li>{{ 'policy.index.tabs.agreement.64'|trans }}</li>
                                                <li>{{ 'policy.index.tabs.agreement.65'|trans }}</li>
                                                <li>{{ 'policy.index.tabs.agreement.66'|trans }}</li>
                                                <li>{{ 'policy.index.tabs.agreement.67'|trans }}</li>
                                            </ol>
                                        </li>
                                        <li><b>{{ 'policy.index.tabs.agreement.68'|trans }}</b>
                                            <ol>
                                                <li>{{ 'policy.index.tabs.agreement.69'|trans }}</li>
                                                <li>{{ 'policy.index.tabs.agreement.70'|trans }}</li>
                                                <li>{{ 'policy.index.tabs.agreement.71'|trans }}</li>
                                                <li>{{ 'policy.index.tabs.agreement.72'|trans }}</li>
                                                <li>{{ 'policy.index.tabs.agreement.73'|trans }}</li>
                                                <li>
                                                    {{ 'policy.index.tabs.agreement.74'|trans }}
                                                    <ol>
                                                        <li>{{ 'policy.index.tabs.agreement.75'|trans }}</li>
                                                        <li>{{ 'policy.index.tabs.agreement.76'|trans }}</li>
                                                        <li>{{ 'policy.index.tabs.agreement.77'|trans }}</li>
                                                        <li>{{ 'policy.index.tabs.agreement.78'|trans }}</li>
                                                        <li>{{ 'policy.index.tabs.agreement.79'|trans }}</li>
                                                        <li>{{ 'policy.index.tabs.agreement.80'|trans }}</li>
                                                        <li>{{ 'policy.index.tabs.agreement.81'|trans }}</li>
                                                        <li>{{ 'policy.index.tabs.agreement.82'|trans }}</li>
                                                        <li>
                                                            {{ 'policy.index.tabs.agreement.83'|trans }}
                                                            <ol>
                                                                <li>{{ 'policy.index.tabs.agreement.84'|trans }}</li>
                                                                <li>{{ 'policy.index.tabs.agreement.85'|trans }}</li>
                                                                <li>{{ 'policy.index.tabs.agreement.86'|trans }}</li>
                                                                <li>{{ 'policy.index.tabs.agreement.87'|trans }}</li>
                                                                <li>{{ 'policy.index.tabs.agreement.88'|trans }}</li>
                                                                <li>{{ 'policy.index.tabs.agreement.89'|trans }}</li>
                                                                <li>{{ 'policy.index.tabs.agreement.90'|trans }}</li>
                                                                <li>{{ 'policy.index.tabs.agreement.91'|trans }}</li>
                                                                <li>{{ 'policy.index.tabs.agreement.92'|trans }}</li>
                                                                <li>{{ 'policy.index.tabs.agreement.93'|trans }}</li>
                                                                <li>{{ 'policy.index.tabs.agreement.94'|trans }}</li>
                                                                <li>{{ 'policy.index.tabs.agreement.95'|trans }}</li>
                                                                <li>{{ 'policy.index.tabs.agreement.96'|trans }}</li>
                                                            </ol>
                                                        </li>
                                                    </ol>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <b>{{ 'policy.index.tabs.agreement.97'|trans }}</b>
                                    <ol>
                                        <li>
                                            {{ 'policy.index.tabs.agreement.98'|trans }}
                                            <ol>
                                                <li>{{ 'policy.index.tabs.agreement.100'|trans }}</li>
                                                <li>{{ 'policy.index.tabs.agreement.101'|trans }}</li>
                                                <li>{{ 'policy.index.tabs.agreement.102'|trans }}</li>
                                            </ol>
                                        </li>
                                        <li>{{ 'policy.index.tabs.agreement.103'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.104'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.125'|trans }}</li>
                                    </ol>
                                </li>
                                <li>
                                    <b>{{ 'policy.index.tabs.agreement.105'|trans }}</b>
                                    <ol>
                                        <li>{{ 'policy.index.tabs.agreement.106'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.107'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.108'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.109'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.110'|trans }}</li>
                                    </ol>
                                </li>
                                <li>
                                    <b>{{ 'policy.index.tabs.agreement.111'|trans }}</b>
                                    <ol>
                                        <li>{{ 'policy.index.tabs.agreement.112'|trans }}</li>
                                    </ol>
                                </li>
                                <li>
                                    <b>{{ 'policy.index.tabs.agreement.113'|trans }}</b>
                                    <ol>
                                        <li>{{ 'policy.index.tabs.agreement.114'|trans }}</li>
                                    </ol>
                                </li>
                                <li>
                                    <b>{{ 'policy.index.tabs.agreement.115'|trans }}</b>
                                    <ol>
                                        <li>{{ 'policy.index.tabs.agreement.116'|trans }}</li>
                                    </ol>
                                </li>
                                <li>
                                    <b>{{ 'policy.index.tabs.agreement.117'|trans }}</b>
                                    <ol>
                                        <li>{{ 'policy.index.tabs.agreement.118'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.119'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.120'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.121'|trans }}</li>
                                        <li>{{ 'policy.index.tabs.agreement.122'|trans }}</li>
                                    </ol>
                                </li>
                            </ol>

                            <p>{{ 'policy.index.tabs.agreement.123'|trans }} <a
                                        href="{{ path('sky_contacts_index') }}">{{ 'policy.index.tabs.agreement.124'|trans }}</a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}