{% extends '@App/email/layout/base.html.twig' %}

{% block email_contents %}
    <tr>
        <td>
            <table width="550" align="center" height="125" valign="bottom" border="0" cellpadding="0"
                   cellspacing="0" class="devicewidth">
                <tbody>
                <tr>
                    <td valign="bottom" style="white-space: nowrap; font-size: 36px;" class="headerTitle fontSize36 fontWeightNormal">{{ 'email.contact_request.0'|trans }}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="50" style="height: 50px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td width="150">
                        {{ 'email.contact_request.1'|trans }}
                    </td>
                    <td>
                        {{ request.subject }}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="50" style="height: 20px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td width="150">
                        {{ 'email.contact_request.2'|trans }}
                    </td>
                    <td>
                        {{ request.email }}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td width="150">
                        {{ 'email.contact_request.3'|trans }}
                    </td>
                    <td>
                        {{ request.text }}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="30" style="height: 50px;"></td>
    </tr>
{% endblock %}