{% extends '@App/email/layout/base.html.twig' %}

{% block email_contents %}
    <tr>
        <td>
            <table width="550" align="center" height="50" valign="bottom" border="0" cellpadding="0"
                   cellspacing="0" class="devicewidth">
                <tbody>
                <tr>
                    <td valign="bottom" style="white-space: nowrap; font-size: 36px;" class="headerTitle fontSize36 fontWeightNormal">{{ 'email.second_obt_stage.0'|trans }}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>


    <tr>
        <td width="100%" height="50" style="height: 50px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td>
                        <span>{{ 'email.second_obt_stage.1'|trans({USERNAME: user.getDisplayName}) }}</span><br>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="5" style="height: 5px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td>
                        <span>{{ 'email.second_obt_stage.2'|trans }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="5" style="height: 5px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td>
                        <span>{{ 'email.second_obt_stage.3'|trans }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="5" style="height: 5px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td>
                        <span>{{ 'email.second_obt_stage.4'|trans }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="5" style="height: 5px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td>
                        <span>{{ 'email.second_obt_stage.5'|trans }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table width="550" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td>
                        <ul style="list-style: square; padding-left: 30px;">
                            <li>{{ 'email.second_obt_stage.6'|trans }}</li>
                            <li>{{ 'email.second_obt_stage.7'|trans }}</li>
                            <li>{{ 'email.second_obt_stage.8'|trans }}</li>
                            <li>{{ 'email.second_obt_stage.9'|trans }}</li>
                            <li>{{ 'email.second_obt_stage.10'|trans }}</li>
                            <li>{{ 'email.second_obt_stage.11'|trans }}</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="20" style="height: 20px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" valign="bottom" border="0" cellpadding="0"
                   cellspacing="0" class="devicewidth">
                <tbody>
                <tr>
                    <td valign="bottom" style="font-size: 18px; text-align: center;">{{ 'email.second_obt_stage.12'|trans }}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="20" style="height: 20px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth">
                <tbody>
                <tr>
                    <td style="text-align: center;">
                        <a style="text-decoration: none;" href="{{ url('sky_index_index') }}">
                            <span class="fontSize14" style="font-size: 14px; width: 203px !important; background-color: #93c464; border-bottom: 2px #588e24 solid; appearance: none; border-left: 0px; border-right: 0; border-top: 0; cursor: pointer; color: #ffffff; padding: 10px 10px 10px 10px; line-height: 16px; text-align: center; white-space: nowrap; color: white;">{{ 'email.second_obt_stage.13'|trans }}</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="30" style="height: 50px;"></td>
    </tr>
{% endblock %}