{% extends '@App/email/layout/base.html.twig' %}

{% block email_contents %}
    <tr>
        <td>
            <table width="550" align="center" height="50" valign="bottom" border="0" cellpadding="0"
                   cellspacing="0" class="devicewidth">
                <tbody>
                <tr>
                    <td valign="bottom" style="white-space: nowrap; font-size: 36px;" class="headerTitle fontSize36 fontWeightNormal">{{ 'email.obt_invitation.0'|trans }}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>


    <tr>
        <td width="100%" height="50" style="height: 50px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td style="text-align: center;">
                        <span>{{ 'email.obt_invitation.1'|trans }}</span><br>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="5" style="height: 5px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td style="text-align: center;">
                        <a href="{{ url('sky_index_index') }}" style="font-weight: bold; font-size: 16px; color: #d186ff !important;">{{ 'email.obt_invitation.2'|trans }}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="10" style="height: 10px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td>
                        <span>{{ 'email.obt_invitation.3'|trans }}</span>
                        <span style="font-weight: bold;">{{ 'email.obt_invitation.4'|trans }}</span>
                        <span>{{ 'email.obt_invitation.5'|trans }}</span>
                        <span>{{ 'email.obt_invitation.6'|trans }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="10" style="height: 10px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td style="background-color: #493377; border-left: 4px solid #740556; padding: 15px;">
                        <span style="color: #d0ccff; font-weight: bold;">{{ 'email.obt_invitation.7'|trans }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="10" style="height: 10px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td>
                        <span>{{ 'email.obt_invitation.8'|trans }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="10" style="height: 10px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td>
                        <span>{{ 'email.obt_invitation.9'|trans }}</span>
                        <ul style="list-style: square; padding-left: 30px;">
                            <li>{{ 'email.obt_invitation.14'|trans }}</li>
                            <li>{{ 'email.obt_invitation.15'|trans }}</li>
                            <li>{{ 'email.obt_invitation.13'|trans }}</li>
                            <li>{{ 'email.obt_invitation.16'|trans }}</li>
                            <li>{{ 'email.obt_invitation.11'|trans }}</li>
                            <li>{{ 'email.obt_invitation.12'|trans }}</li>
                            <li>{{ 'email.obt_invitation.10'|trans }}</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="10" style="height: 10px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td>
                        <span>{{ 'email.obt_invitation.17'|trans }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="10" style="height: 10px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td style="background-color:#493377; border-left: 4px solid #740556; padding: 15px;">
                        <span>{{ 'email.obt_invitation.19'|trans }}</span>
                        <span style="color: #d0ccff; font-weight: bold;">{{ bonus.code }}</span>
                        <span>{{ 'email.obt_invitation.21'|trans }}</span><span style="color: #d0ccff; font-weight: bold;">{{ bonus.expireAt.format('Y-m-d H:i') }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="10" style="height: 10px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td>
                        <span>{{ 'email.obt_invitation.18'|trans }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="20" style="height: 20px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" valign="bottom" border="0" cellpadding="0"
                   cellspacing="0" class="devicewidth">
                <tbody>
                <tr>
                    <td valign="bottom" style="font-size: 18px; text-align: center;">{{ 'email.obt_invitation.22'|trans }}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="20" style="height: 20px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth">
                <tbody>
                <tr>
                    <td style="text-align: center;">
                        <a style="text-decoration: none;" href="{{ url('sky_index_index') }}">
                            <span class="fontSize14" style="font-size: 14px; width: 203px !important; background-color: #93c464; border-bottom: 2px #588e24 solid; appearance: none; border-left: 0px; border-right: 0; border-top: 0; cursor: pointer; color: #ffffff; padding: 10px 10px 10px 10px; line-height: 16px; text-align: center; white-space: nowrap; color: white;">ПЕРЕЙТИ НА СЕРВЕР</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="30" style="height: 50px;"></td>
    </tr>
{% endblock %}