{% extends '@App/email/layout/base.html.twig' %}

{% block email_contents %}
    <tr>
        <td>
            <table width="550" align="center" height="50" valign="bottom" border="0" cellpadding="0"
                   cellspacing="0" class="devicewidth">
                <tbody>
                <tr>
                    <td valign="bottom" style="white-space: nowrap; font-size: 36px;" class="headerTitle fontSize36 fontWeightNormal">{{ 'email.opening_soon.0'|trans }}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>


    <tr>
        <td width="100%" height="50" style="height: 50px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td>
                        <span>{{ 'email.opening_soon.1'|trans }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="15" style="height: 15px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 16px!important; color: #c7f850; font-weight: bold;">
                <tbody>
                <tr>
                    <td>
                        <span>{{ 'email.opening_soon.2'|trans }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="15" style="height: 15px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 16px!important; color: #bd1230; font-weight: bold;">
                <tbody>
                <tr>
                    <td>
                        <span>{{ 'email.opening_soon.5'|trans }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="15" style="height: 15px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td>
                        <span>{{ 'email.opening_soon.3'|trans }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="20" style="height: 20px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth">
                <tbody>
                <tr>
                    <td style="text-align: center; font-size: 18px;">
                        <span style="font-weight: bold; font-size: 24px;">{{ 'email.opening_soon.4'|trans }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="20" style="height: 20px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth">
                <tbody>
                <tr>
                    <td style="text-align: center;">
                        <a style="text-decoration: none;" href="{{ url('sky_index_index') }}">
                            <span class="fontSize14" style="font-size: 14px; width: 203px !important; background-color: #93c464; border-bottom: 2px #588e24 solid; appearance: none; border-left: 0px; border-right: 0; border-top: 0; cursor: pointer; color: #ffffff; padding: 10px 10px 10px 10px; line-height: 16px; text-align: center; white-space: nowrap; color: white;">XXXXXXXXXXXXXXXXX.MU</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="30" style="height: 50px;"></td>
    </tr>
{% endblock %}