<table class="table">
    <thead>
    <tr>
        <th>Type</th>
        <th>Discount, %</th>
        <th>Spent From</th>
        <th>Spent To</th>
        <th></th>
    </tr>
    </thead>
    <tbody class="admin_cart_persistent_discounts">
    {% for discount in discounts %}
        <tr>
            <td>
                {% if discount.getType == constant('AppBundle\\Doctrine\\Type\\CartPersistentDiscountTypeEnum::PERSISTENT_DISCOUNT_TYPE_CREDITS') %}
                    WCoin
                {% elseif discount.getType == constant('AppBundle\\Doctrine\\Type\\CartPersistentDiscountTypeEnum::PERSISTENT_DISCOUNT_TYPE_MONEY') %}
                    Money
                {% else %}
                    Unknown
                {% endif %}
            </td>
            <td>{{ discount.getDiscount }}</td>
            <td>{{ discount.getSpentFrom }}</td>
            <td>{{ discount.getSpentTo }}</td>
            <td class="controls">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <span class="text">Menu</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('sky_admin_cart.persistent.discount_edit', {id: discount.getId}) }}">
                                <span class="text">Edit</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('sky_admin_cart.persistent.discount_remove', {id: discount.getId}) }}">
                                <span class="text">Remove</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>