<div class="login-container">
    <div class="heading">
        {{ 'sideblocks.login.logged_in.11'|trans }}
    </div>
    <div class="content">
        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% include '@App/layout/sideblocks/login/login.html.twig' %}
        {% else %}
            {% include '@App/layout/sideblocks/login/logged_in.html.twig' %}
        {% endif %}
    </div>
</div>