{% if servers.list and servers.list|length %}
    <div class="logged-in">
        <div class="title">
            <span>{{ 'sideblocks.login.logged_in.0'|trans }}</span>
            <span>{{ user.getDisplayName }}</span>
            <span>{% include '@App/accounts/status.html.twig' with {account: account} %}</span>
        </div>
        <div class="main-stats">
            <div>
                <span class="icon icon-wcoin-shadow"></span>
                <span class="icon icon-zen-shadow"></span>
                <span class="icon icon-vip-shadow"></span>
                <span class="icon icon-clock-shadow"></span>
            </div>
            <div>
                <span>{{ 'sideblocks.login.logged_in.1'|trans }}</span>
                <span>{{ 'sideblocks.login.logged_in.16'|trans }}</span>
                <span>{{ 'sideblocks.login.logged_in.17'|trans }}</span>
                <span>{{ 'sideblocks.login.logged_in.8'|trans }}</span>
            </div>
            <div>
                <span>{{ coins is defined and coins is not null ? coins.wCoinC : 0 }}</span>
                <span>{{ userServerAccount.zen }} kk</span>
                {% if userServerAccount.isVip == false %}
                    <span>{{ 'sideblocks.login.logged_in.18'|trans }}</span>
                {% else %}
                    <div class="vip-info">
                        <span class="-bold">{{ userServerAccount.vipLevel.getTitle }}</span><br>
                        <span class="-bold">{{ 'sideblocks.login.logged_in.20'|trans }} {{ userServerAccount.vipActiveTill.format('d.m.y H:i:s') }}</span>
                    </div>
                {% endif %}
                <span>{{ account ? online_time(account.getState.getTotalSpentTime * 60) : 0 }}</span>
            </div>
        </div>
        <nav>
            <a class="button -filled -thin -blue" href="{{ path('sky_accounts_index') }}">{{ 'sideblocks.login.logged_in.11'|trans }}</a>
            <a class="button -filled -thin -blue" href="{{ path('sky_wcoin.shop_index') }}">{{ 'sideblocks.login.logged_in.19'|trans }}</a>
            <a class="button -filled -thin -pink" href="{{ path('sky_users_logout') }}">{{ 'sideblocks.login.logged_in.10'|trans }}</a>
        </nav>
    </div>
{% endif %}