{% if servers.list and servers.list|length %}
    {% set login_form = login_form_obj.createView %}

    <div class="login">
        {{ form_start(login_form) }}
        {% set currentRoute = app.request.attributes.get('_route') %}

        {% if currentRoute in ['sky_users_login', 'sky_users_register', 'sky_users_reset.password_request', 'sky_users_reset.password_reset'] %}
            <input type="hidden" name="_target_path" value="{{ path('sky_accounts_index') }}"/>
        {% endif %}

        <div class="form-content">
            <div class="input-control -bordered">
                {{ form_widget(login_form.username, {'attr': {'class': 'form-control'}}) }}
                <div class="side-border"></div>
            </div>
            <div class="input-control -bordered">
                {{ form_widget(login_form.password, {'attr': {'class': 'form-control'}}) }}
                <div class="side-border"></div>
            </div>
            <div class="links">
                <a href="{{ path('sky_users_register') }}">{{ 'sideblocks.login.login.3'|trans }}</a>
                <a href="{{ path('sky_users_reset.password_request') }}">{{ 'sideblocks.login.login.4'|trans }}</a>
            </div>
            <div class="input-control">
                <button class="button -filled -cyan" type="submit">{{ 'sideblocks.login.login.0'|trans }}</button>
            </div>
        </div>
        {{ form_end(login_form) }}
    </div>
{% endif %}