{% extends '@App/layout/page.html.twig' %}

{% block content %}
    {% if news|length %}
        <div class="row">
            <div class="col-sm-12">
                {% for record in news %}
                    {%- include '@App/index/news.html.twig' with {news: record.entity, page: pagination.thisPage} -%}
                {% endfor %}
                <div class="row">
                    <div class="col-sm-12">
                        {% include '@App/_partials/pagination.html.twig' with {pagination: pagination, routeName: 'sky_index_index'} %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-info">
            {{ 'news.0'|trans }}
        </div>
    {% endif %}
{% endblock %}


{% block modals %}
    {{ parent() }}

    {% include '@App/_partials/modals/news.html.twig' %}
{% endblock %}