<div class="news">
    <div class="news_image -image-{{ (news.getId % 16) + 1 }}"></div>
    <div class="news_title">
        {{ news.getTitle(app.request.locale) }}
    </div>
    <div class="news_body">
        {{ news.getShortText(app.request.locale)|raw }}
    </div>

    <div class="news_footer">
        <span>{{ news.getUpdatedAt.format('d.m.Y H:i') }}</span>,
        <a href="{{ path('sky_users_view', {id: news.getAuthor.getId}) }}">{{ news.getAuthor.getDisplayName }}</a>
    </div>
    {% if news.getFullText(app.request.locale) is not null and news.getFullText(app.request.locale)|length %}
        <button class="button -bright-violet -filled" data-toggle="modal" data-target="#modal-news-{{ news.getId }}">{{ 'news.1'|trans }}</button>
    {% endif %}
</div>
