<div style='display:inline-block; position:fixed; bottom:0; right:0; z-index: 1;'><a href="https://mu.mmotop.ru/servers/{{ code }}" target="_blank"><img src="http://img.mmotop.ru/mmo_{{ code }}.png" border="0" id="mmotopratingimg" alt="Рейтинг серверов mmotop"></a></div>
<script type="text/javascript">document.write("<script src='http://js.mmotop.ru/rating_code.js?" + Math.round((((new Date()).getUTCDate() + (new Date()).getMonth() * 30) / 7)) + "_" + (new Date()).getFullYear() + "' type='text/javascript'><\/script>");</script>