{% extends '@App/error/page.html.twig' %}

{% block title %}{{ 'seo.title.error_404'|trans }}{% endblock %}

{% block error_code %}{{ 'error.not_found.status'|trans }}{% endblock %}
{% block error_descr %}{{ 'error.not_found.message'|trans }}{% endblock %}
{% block possible_reason %}
    <i class="fa fa-map-signs"></i>
    <h4>{{ 'error.common.section.1.1'|trans }}</h4>

    <p>{{ 'error.common.section.1.2'|trans }}</p>
    <a class="btn-u btn-brd btn-u-light" href="{{ path('sky_index_index') }}">{{ 'error.common.section.1.3'|trans }}</a>
{% endblock %}