{% extends '@App/layout/base.html.twig' %}

{% block body %}
    <div class="error-page">
        <div class="page-part">
            <h2>{% block error_code %}{% endblock %}</h2>
            <p class="description">{% block error_descr %}{% endblock %}</p>
        </div>
        <div class="page-part -bottom">
            <div class="reasons">

                <div class="reason">
                    <div class="corner-shadow"></div>
                    {% block possible_reason %}{% endblock %}
                </div>

                <div class="reason">
                    <div class="corner-shadow"></div>
                    <i class="fa fa-users"></i>
                    <h4>{{ 'error.common.section.2.1'|trans }}</h4>
                    <p>{{ 'error.common.section.2.2'|trans }}</p>
                    <a class="btn-u btn-brd btn-u-light" href="{{ path('sky_contacts_index') }}">{{ 'error.common.section.2.3'|trans }}</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $.backstretch([
            "{{ asset('img/error/bg.jpg') }}"
        ]);
    </script>
{% endblock %}