<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.stage) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.title) }}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.day) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.hour) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.minute) }}
            </div>
        </div>
    </div>
</div>