<table class="table">
    <thead>
    <tr>
        <th>Stage</th>
        <th>Day</th>
        <th>Hour</th>
        <th>Minute</th>
        <th>Title</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for cycle in cycles %}
        <tr>
            <td>{{ cycle.getStage }}</td>
            <td>{{ cycle.getDay }}</td>
            <td>{{ cycle.getHour }}</td>
            <td>{{ cycle.getMinute }}</td>
            <td>{{ cycle.getTitle }} - ({{ cycle.getTitle|trans({}, 'messages', 'en') }}/{{ cycle.getTitle|trans({}, 'messages', 'ru') }})</td>
            <td class="controls">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <span class="text">Menu</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('sky_admin_castle.siege.cycle_edit', {id: cycle.getStage}) }}">
                                <span class="text">Edit</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('sky_admin_castle.siege.cycle_remove', {id: cycle.getStage}) }}">
                                <span class="text">Remove</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>