{% if servers.list and servers.list|length and latestTopics is defined and latestTopics|length %}
    <div class="forum-container">
        <div class="heading">
            {{ 'sideblocks.last_in_forum.0'|trans }}
        </div>

        <ul class="topics">
            {% for topic in latestTopics %}
                <li class="topic">
                    <a class="button -gray" href="{{ topic.url }}" target="_blank">
                        <div class="title">{{ topic.content|raw|striptags }}</div>
                        <div class="meta">
                            <span>{{ 'sideblocks.last_in_forum.1'|trans }}</span>
                            <span class="author">{{ topic.author }} </span>
                            <span class="date">{{ topic.date.format('d.m.y H:i:s') }}</span>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}