{% set commissionPercent = 0 %}
{% if servers.current.getMarketConfig and servers.current.getMarketConfig.getCommission > 0 %}
    {% set commissionPercent = servers.current.getMarketConfig.getCommission %}
{% endif %}

<table class="table">
    <thead>
    <tr>
        <th>{{ 'market.index.1'|trans }}</th>
        <th>{{ 'market.index.2'|trans }}</th>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% if userServerAccount %}
                <th></th>
            {% endif %}
        {% endif %}
    </tr>
    </thead>
    {% for item in items %}
        <tr>
            <td>
                {% include '@App/_partials/items/item_show_line.html.twig' with {item: item.parsedItem} %}
            </td>
            <td>
                {% if item.marketItem.getPrice > 0 %}
                    <span class="price{{ item.marketItem.priceType == constant('AppBundle\\Doctrine\\Type\\MarketPriceTypeEnum::MARKET_PRICE_TYPE_CREDITS') ? '-wcoin' : '-zen' }}">
                        {% if commissionPercent > 0 %}
                            {{ ((item.marketItem.getPrice * (100 + commissionPercent)) / 100)|round(0, 'ceil') }} <span class="commission-description">({{ item.marketItem.getPrice }} +{{ commissionPercent }}%)</span>
                        {% else %}
                            {{ item.marketItem.getPrice }}
                        {% endif %}
                        {% if item.marketItem.priceType == constant('AppBundle\\Doctrine\\Type\\MarketPriceTypeEnum::MARKET_PRICE_TYPE_ZEN') %}kk{% endif %}
                    </span>
                    {% if item.marketItem.priceType == constant('AppBundle\\Doctrine\\Type\\MarketPriceTypeEnum::MARKET_PRICE_TYPE_CREDITS') %}
                        <span class="icon icon-wcoin"></span>
                    {% elseif item.marketItem.priceType == constant('AppBundle\\Doctrine\\Type\\MarketPriceTypeEnum::MARKET_PRICE_TYPE_ZEN') %}
                        <span class="icon icon-zen"></span>
                    {% else %}
                        {{ 'market.index.5'|trans }}
                    {% endif %}
                {% else %}
                    <span>{{ 'market.index.9'|trans }}</span>
                {% endif %}
            </td>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if userServerAccount %}
                    <td>
                        {% if item.marketItem.boughtBy is null %}
                            {% if item.marketItem.getUserServerAccount.getId == userServerAccount.getId %}
                                <a href="{{ path('sky_market_return', {id: item.marketItem.getId}) }}" class="button -filled -return-orange">{{ 'market.index.6'|trans }}</a>
                            {% else %}
                                <a href="{{ path('sky_market_buy', {id: item.marketItem.getId}) }}" class="button -filled -cart-green">{{ 'market.index.7'|trans }}</a>
                            {% endif %}
                        {% else %}
                            {% if userServerAccount.getId != item.marketItem.boughtBy.getId %}
                                <span>{{ 'market.index.13'|trans }}</span>
                                <a class="sold" href="{{ path('sky_users_view', {id: item.marketItem.boughtBy.getUser.getId}) }}">
                                    {{ item.marketItem.boughtBy.getUser.getDisplayName }}
                                </a>
                            {% else %}
                                <span>{{ 'market.index.14'|trans }}</span>
                                <a class="sold" href="{{ path('sky_users_view', {id: item.marketItem.getUserServerAccount.getUser.getId}) }}">
                                    {{ item.marketItem.getUserServerAccount.getUser.getDisplayName }}
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
            {% endif %}
        </tr>
    {% endfor %}
</table>