{% form_theme form with [
'@App/layout/Form/checkbox_widget.html.twig',
] %}

{{ form_start(form) }}
{{ form_row(form._token) }}

<div>
    <ul>
        <li>
            {{- form_label(form.category) -}}
            <div>{{- form_widget(form.category) -}}</div>
        </li>
        <li>
            {{- form_label(form.level) -}}
            <div>{{- form_widget(form.level) -}}</div>
        </li>
        <li>
            {{- form_label(form.option) -}}
            <div>{{- form_widget(form.option) -}}</div>
        </li>
        <li>
            {{- form_label(form.price) -}}
            <div>{{- form_widget(form.price, {'attr': {'placeholder': form.price.vars.label}}) -}}</div>
        </li>
        <li>
            {{- form_label(form.priceType) -}}
            <div>{{- form_widget(form.priceType) -}}</div>
        </li>
    </ul>
    <ul>
        <li class="checkbox-primary">
            {{- form_widget(form.excellent) -}}
        </li>
        <li class="checkbox-primary">
            {{- form_widget(form.ancient) -}}
        </li>
        <li class="checkbox-primary">
            {{- form_widget(form.harmony) -}}
        </li>
        <li class="checkbox-primary">
            {{- form_widget(form.pvp) -}}
        </li>
        <li class="checkbox-primary">
            {{- form_widget(form.skill) -}}
        </li>
        <li class="checkbox-primary">
            {{- form_widget(form.luck) -}}
        </li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="checkbox-primary">
                {{- form_widget(form.owned) -}}
            </li>
        {% endif %}
    </ul>
    <ul>
        <li>
            {{- form_widget(form.title, {'attr': {'class': ('form-control' ~ (form.title.vars.errors|length ? ' error' : '')), 'placeholder': 'market.search_form.12'|trans}}) -}}
            {{- form_errors(form.title) -}}
            <button type="submit" class="button -filled -lens-blue">{{ 'market.search_form.0'|trans }}</button>
        </li>
    </ul>
</div>

{{ form_end(form, {render_rest: false}) }}