{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.wcoin_shop.bought'|trans %}

{% block account_heading %}{{ 'seo.title.wcoin_shop.bought'|trans }}{% endblock %}

{% block account_content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            <div class="row  wcoin-shop -page -bought -text-center">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-success">
                                {{ 'wcoin_shop.bought.0'|trans }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="{{ path('sky_wcoin.shop_index') }}" class="button -filled -green">{{ 'wcoin_shop.bought.1'|trans }}</a>
                            <a href="{{ path('sky_cart_index') }}" class="button -filled -blue">{{ 'wcoin_shop.bought.2'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock account_content %}