{% extends '@App/shop/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.wcoin_shop.index'|trans %}

{% block account_heading %}{{ 'wcoin_shop.index.0'|trans }}{% endblock %}

{% block shop_content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            {% form_theme form with [
            '@App/layout/Form/form_errors.html.twig',
            '@App/layout/Form/form_row.html.twig',
            ] %}

            {% if config.isEnabled == false %}
                <div class="alert alert-warning">
                    {{ 'wcoin_shop.index.1'|trans }}
                </div>
            {% else %}
                <div class="row wcoin-shop -page -index">
                    <div class="col-sm-12">

                        <div class="memo row">
                            <div class="col-sm-12">
                                <span>{{ 'wcoin_shop.index.6'|trans }}</span>
                                <span class="-bold -wcoin">{{ form.minAmount.vars.data }}</span>
                                <span class="icon icon-money"></span>
                            </div>
                        </div>

                        {{ form_start(form) }}
                        <div class="row -margin-top-20">
                            {{ form_widget(form.coinsPerUsd) }}
                            {{ form_widget(form.minAmount) }}

                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="row">
                                    <div class="col-sm-12">
                                        {{ form_errors(form) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{ form_row(form.coins) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_row(form.money) }}
                                    </div>
                                </div>
                                <div class="row -text-center">
                                    <div class="col-sm-12">
                                        <button type="submit" class="button -filled -green" disabled="disabled">{{ 'wcoin_shop.index.5'|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock shop_content %}