{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.contact_request'|trans }}{% endblock %}

{% block page_heading %}{{ 'contact.request.3'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}

        {% form_theme form with [
        '@App/layout/Form/form_errors.html.twig',
        '@App/layout/Form/form_row.html.twig',
        ] %}

        {% block content %}
            <div class="col-sm-12 contacts -page">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row memo">
                            <div class="col-sm-12">
                                {{ 'contact.request.6'|trans }}
                            </div>
                        </div>
                        <div class="row -margin-top-10">
                            {{ form_errors(form) }}

                            <div class="col-sm-12">
                                {{ form_row(form.email) }}
                            </div>
                        </div>
                        <div class="row">
                            {{ form_errors(form) }}

                            <div class="col-sm-12">
                                {{ form_row(form.subject) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="row">
                            <span class="contacts-heading">{{ 'contact.request.5'|trans }}</span>
                        </div>
                        <div class="row">
                            <ul class="list-unstyled who margin-bottom-30">
                                <li>
                                    <span>Email: </span>
                                    <a href="mailto:{{ contacts('email') }}">{{ contacts('email') }}</a>
                                </li>
                                <li>
                                    <span>Skype: </span>
                                    <a href="skype:{{ contacts('skype') }}?chat">{{ 'skype.write_to_label'|trans }} ({{ contacts('skype') }})</a>
                                </li>
                                <li>
                                    <a href="{{ contacts('facebook') }}" target="_blank">Facebook</a>
                                </li>
                                <li>
                                    <a href="{{ contacts('vkontakte') }}" target="_blank">VKontakte</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.text) }}
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-sm-12">
                        <button type="submit" class="button -filled -green">{{ 'contact.request.4'|trans }}</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}


