{% extends '@App/shop/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.order.index'|trans %}

{% block account_heading %}{{ 'order.index.0'|trans }}{% endblock %}

{% block shop_content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            <div class="row order -page -index">
                <div class="col-sm-12">

                    {% if orders|length %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{ 'order.index.3'|trans }}</th>
                                <th>{{ 'order.index.4'|trans }}</th>
                                <th>{{ 'order.index.5'|trans }}</th>
                                <th>{{ 'order.index.6'|trans }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        {% if order.state == constant('AppBundle\\Doctrine\\Type\\OrderStateEnum::ORDER_STATE_INIT') or order.state == constant('AppBundle\\Doctrine\\Type\\OrderStateEnum::ORDER_STATE_STARTED') %}
                                            <span class="-init">{{ 'order.index.9'|trans }}</span>
                                        {% elseif order.state == constant('AppBundle\\Doctrine\\Type\\OrderStateEnum::ORDER_STATE_SUCCESS') %}
                                            <span class="-success">{{ 'order.index.10'|trans }}</span>
                                        {% elseif order.state == constant('AppBundle\\Doctrine\\Type\\OrderStateEnum::ORDER_STATE_FAIL') %}
                                            <span class="-fail">{{ 'order.index.11'|trans }}</span>
                                        {% else %}
                                            <span>{{ 'order.index.12'|trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span>{{ order.amount }}</span>
                                        <span>{{ order.currency }}</span>
                                    </td>
                                    <td>{{ order.createdAt.format('d.m.Y H:i') }}</td>
                                    <td>
                                        {% if order.processedAt is not null %}
                                            {{ order.processedAt.format('d.m.Y H:i') }}
                                        {% else %}-{% endif %}
                                    </td>
                                    <td class="about"><a href="{{ path('sky_order_view', {id: order.id}) }}">{{ 'order.index.7'|trans }}</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <div class="alert alert-info">
                            <span>{{ 'order.index.1'|trans }}</span>
                            {% if servers.current.getWebShopConfig.isEnabled == true %}
                                <a href="{{ path('sky_webshop_index') }}">{{ 'order.index.2'|trans }}</a>
                            {% endif %}
                            {% if servers.current.getStatsShopConfig.isEnabled == true %}
                                <span>{{ 'order.index.13'|trans }}</span>
                                <a href="{{ path('sky_stats.shop_index') }}">{{ 'order.index.14'|trans }}</a>
                            {% endif %}
                        </div>
                    {% endif %}

                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock shop_content %}