{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.order.view'|trans }}{% endblock %}

{% block page_heading %}{{ 'order.view.0'|trans }}{% endblock %}

{% block javascripts %}
    {% if order.state == constant('AppBundle\\Doctrine\\Type\\OrderStateEnum::ORDER_STATE_INIT') or (order.state == constant('AppBundle\\Doctrine\\Type\\OrderStateEnum::ORDER_STATE_STARTED') and order.paymentSystem is not null and order.paymentSystem.isPayPal) %}
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    {% endif %}
{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            <div class="row order -page -details">
                <div class="col-sm-12 order">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ 'order.view.1'|trans }}</th>
                            <th>{{ 'order.view.2'|trans }}<span class="icon icon-money"></span></th>
                        </tr>
                        </thead>
                        {% if order.discountCoupon is not null %}
                            {% set discount = order.discountCoupon.getDiscount %}
                        {% else %}
                            {% set discount = 0 %}
                        {% endif %}
                        {% for item in items %}
                            <tr>
                                <td>
                                    {% if item.itemToBuy.getType == constant('AppBundle\\Doctrine\\Type\\ItemToBuyTypeEnum::TYPE_ITEM') %}
                                        {% include '@App/_partials/items/item_show_line.html.twig' with {item: item.parsedItem} %}
                                    {% elseif item.itemToBuy.getType == constant('AppBundle\\Doctrine\\Type\\ItemToBuyTypeEnum::TYPE_STATS') %}
                                        {{ 'order.view.4'|trans({COUNT: item.itemToBuy.getStats}) }}
                                    {% elseif item.itemToBuy.getType == constant('AppBundle\\Doctrine\\Type\\ItemToBuyTypeEnum::TYPE_WCOIN') %}
                                        <span>{{ item.itemToBuy.getStats }}</span>
                                        <span class="icon icon-wcoin"></span>
                                    {% else %}
                                        {{ 'order.view.5'|trans }}
                                    {% endif %}
                                </td>
                                <td>
                                    <span class="price item-price-money" data-item-price="{{ item.itemToBuy.getPriceMoney }}">
                                        {% if 0 == discount %}
                                            <span>{{ item.itemToBuy.getPriceMoney }}</span>
                                        {% else %}
                                            <span class="regular-price">{{ item.itemToBuy.withAppliedDiscount(discount) }}</span>
                                            <span class="discount-description">({{ item.itemToBuy.getPriceMoney }} - {{ discount }}%)</span>
                                        {% endif %}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td class="-bold">{{ 'order.view.3'|trans }}</td>
                            <td>{{ order.amount }}</td>
                        </tr>
                    </table>

                    {% if order.state == constant('AppBundle\\Doctrine\\Type\\OrderStateEnum::ORDER_STATE_INIT') or order.state == constant('AppBundle\\Doctrine\\Type\\OrderStateEnum::ORDER_STATE_STARTED') %}
                        {% embed '@App/layout/_partials/card.html.twig' %}
                            {% block heading %}{{ 'order.view.6'|trans }}{% endblock heading %}
                            {% block content %}
                                <div class="row -text-center">
                                    <div class="col-sm-6">
                                        {% if order.state == constant('AppBundle\\Doctrine\\Type\\OrderStateEnum::ORDER_STATE_INIT') or (order.state == constant('AppBundle\\Doctrine\\Type\\OrderStateEnum::ORDER_STATE_STARTED') and order.paymentSystem is not null and order.paymentSystem.isInterKassa) %}
                                            <a href="{{ path('sky_order_pay', {id: order.id}) }}" class="button -interkassa"></a>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-6">
                                        {% if order.state == constant('AppBundle\\Doctrine\\Type\\OrderStateEnum::ORDER_STATE_INIT') or (order.state == constant('AppBundle\\Doctrine\\Type\\OrderStateEnum::ORDER_STATE_STARTED') and order.paymentSystem is not null and order.paymentSystem.isPayPal) %}
                                            <div id="paypal-button-container"
                                                 data-order-id="{{ order.id }}"
                                                 data-environment="{{ pay_pal.environment }}"
                                                 data-display="{{ pay_pal.enabled }}"
                                            ></div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endblock %}
                        {% endembed %}
                    {% endif %}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}