{% if server and online is defined %}
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="display: none;">
        <symbol id="wave">
            <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z"></path>
            <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"></path>
            <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"></path>
            <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"></path>
        </symbol>
    </svg>

    {% set onlinePercent = (online / server.getMaxOnline * 100)|round %}
    {% set onlinePercent = onlinePercent > 90 ? 90 : onlinePercent %}
    {% set onlinePercent = onlinePercent < 20 ? 20 : onlinePercent %}

    <div class="server-info" data-progress="{{ onlinePercent }}">
        <div class="background">
            <div class="border"></div>
            <div class="sphere"></div>
            <div class="online-label"><div>{{ online }}</div></div>
            <div class="info-popup">
                <div class="info-row">
                    <span class="info-key">{{ 'server_info.general.version'|trans }}:</span>
                    <span class="info-value">{{ server.getVersion }}</span>
                </div>
                <div class="info-row">
                    <span class="info-key">{{ 'server_info.general.exp'|trans }}:</span>
                    <span class="info-value">{{ server.getExp }}x</span>
                </div>

                <a href="#" data-toggle="modal" data-target="#modal-faq" class="info-faq-link">{{ 'nav.general.8'|trans }}</a>
            </div>
        </div>
        <div class="circle">
            <div class="liquid"></div>
            <div class="water">
                <svg viewBox="0 0 560 20" class="water_wave water_wave_back_2">
                    <use xlink:href="#wave"></use>
                </svg>
                <svg viewBox="0 0 560 20" class="water_wave water_wave_back">
                    <use xlink:href="#wave"></use>
                </svg>
                <svg viewBox="0 0 560 20" class="water_wave water_wave_front">
                    <use xlink:href="#wave"></use>
                </svg>
            </div>
        </div>
        <a href="#" class="modal-trigger" data-toggle="modal" data-target="#modal-servers-info"><div class="beacon"></div></a>
    </div>
{% endif %}