<div class="alert alert-warning">
    Warning!
</div>

<div class="alert alert-info">
    Info!
</div>

<div class="alert alert-success">
    Success!
</div>

<div class="alert alert-danger">
    Danger!
</div>