{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.rating.castle_siege.0'|trans }}{% endblock %}

{% block page_heading %}{{ 'castle_siege.rating.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}

        {% block content %}
            <div class="top -page -castle-siege">
                {% if data.data.owner is not null %}
                    <div class="row">
                        <div class="col-sm-12">
                            {% embed '@App/layout/_partials/card.html.twig' %}
                                {% block heading %}<span>{{ 'castle_siege.rating.5'|trans }}</span>{% endblock %}
                                {% block content %}
                                    <div class="row">
                                        <div class="col-sm-4">
                                            {% include '@App/guild/_partials/mark.html.twig' with {mark: data.data.owner.getMark.getCellsColors, size: 175} %}
                                        </div>
                                        <div class="col-sm-8">
                                            <ul class="key-value-container">
                                                <li class="-item">
                                                    <span class="-key">{{ 'castle_siege.rating.6'|trans }}</span>
                                                    <span class="-value"><a href="{{ path('sky_guilds_view', {name: data.data.owner.getName }) }}">{{ data.data.owner.getName }}</a></span>
                                                </li>
                                                <li class="-item">
                                                    <span class="-key">
                                                        <span>{{ 'castle_siege.rating.7'|trans }}</span>
                                                        <span class="-zen">{{ 'castle_siege.rating.8'|trans }}</span>
                                                    </span>
                                                    <span class="-value">{{ data.data.money|number_format(0, '.', ' ') }}</span>
                                                </li>
                                                <li class="-item">
                                                    <span class="-key">{{ 'castle_siege.rating.9'|trans }}</span>
                                                    <span class="-value">{{ data.data.chaosTaxRate }}%</span>
                                                </li>
                                                <li class="-item">
                                                    <span class="-key">{{ 'castle_siege.rating.10'|trans }}</span>
                                                    <span class="-value">{{ data.data.storeTaxRate }}%</span>
                                                </li>
                                                <li class="-item">
                                                    <span class="-key">{{ 'castle_siege.rating.11'|trans }}</span>
                                                    <span class="-value">
                                                        <span>{{ data.data.huntZoneTax|number_format(0, '.', ' ') }}</span>
                                                        <span class="-zen">{{ 'castle_siege.rating.8'|trans }}</span>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endblock %}
                            {% endembed %}
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-sm-12">
                        {% embed '@App/layout/_partials/card.html.twig' %}
                            {% block heading %}<span>{{ 'castle_siege.rating.1'|trans }}</span>{% endblock %}
                            {% block content %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>{{ 'castle_siege.rating.2'|trans }}</th>
                                        <th>{{ 'castle_siege.rating.3'|trans }}</th>
                                        <th>{{ 'castle_siege.rating.4'|trans }}</th>
                                        <th>{{ 'castle_siege.rating.18'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for period in data.cycles %}
                                        {% set cyclePeriod = data.appliedCycle(period.getStage) %}

                                        <tr{{ data.isActivePeriod(cyclePeriod) ? ' class="-active"' : '' }}>
                                            <td>{{ period.title|trans }}</td>
                                            <td>{{ cyclePeriod.getStartDate.format('Y-m-d H:i') }}</td>
                                            <td>{{ cyclePeriod.getEndDate.format('Y-m-d H:i') }}</td>
                                            <td>
                                                {% set secondsTillNextStage = data.secondsTillNextCycle(period.getStage) %}

                                                {% if secondsTillNextStage > 0 %}
                                                    <span>{{ online_time(secondsTillNextStage) }}</span>
                                                    {% else %}
                                                    <span>-</span>
                                                    {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endblock %}
                        {% endembed %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        {% if registeredGuilds|length > 0 %}
                            {% embed '@App/layout/_partials/card.html.twig' %}
                                {% block heading %}<span>{{ 'castle_siege.rating.12'|trans }}</span>{% endblock %}
                                {% block content %}
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>{{ 'castle_siege.rating.13'|trans }}</th>
                                            <th>{{ 'castle_siege.rating.14'|trans }}</th>
                                            <th>{{ 'castle_siege.rating.15'|trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for guild in registeredGuilds %}
                                            <tr>
                                                <td><a href="{{ path('sky_guilds_view', {name: guild.guild.getName}) }}">{{ guild.guild.getName }}</a></td>
                                                <td>{{ guild.signCount }}</td>
                                                <td>{{ (guild.state.isActive ? 'castle_siege.rating.16' : 'castle_siege.rating.17')|trans }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endblock %}
                            {% endembed %}
                        {% else %}

                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}