<div class="col-sm-12 admin">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                {{ form_row(form.name) }}
            </div>
        </div>


        <div class="col-sm-6">
            <div class="row">
                {{ form_row(form.items) }}
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>

</div>
