{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <div class="row">
                <div class="col-sm-12">
                    <ul class="server-tabs nav nav-pills">
                        <li>
                            <a class="active" href="#dk" aria-controls="dk" role="tab" data-toggle="tab"><span>{{ 'faq.anc_sets.7'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="#dw" aria-controls="dw" role="tab" data-toggle="tab"><span>{{ 'faq.anc_sets.8'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="#fe" aria-controls="fe" role="tab" data-toggle="tab"><span>{{ 'faq.anc_sets.9'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="#mg" aria-controls="mg" role="tab" data-toggle="tab"><span>{{ 'faq.anc_sets.10'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="#dl" aria-controls="dl" role="tab" data-toggle="tab"><span>{{ 'faq.anc_sets.11'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="#sum" aria-controls="sum" role="tab" data-toggle="tab"><span>{{ 'faq.anc_sets.19'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="#rf" aria-controls="rf" role="tab" data-toggle="tab"><span>{{ 'faq.anc_sets.20'|trans }}</span></a>
                        </li>
                    </ul>

                    <div class="tab-content ancient-sets">

                        <div role="tabpanel" class="tab-pane fade active show" id="dk">
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Warrior's Leather Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Leather Helm</li>
                                            <li>Leather Armor</li>
                                            <li>Leather Pants</li>
                                            <li>Leather Boots</li>
                                            <li>Leather Gloves</li>
                                            <li>Ring of Ice</li>
                                            <li>Morning Star</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Strength +10</li>
                                            <li class="-yellow">Increase Skill Damage +10</li>
                                            <li class="-yellow">Increase Max AG +20</li>
                                            <li class="-yellow">Increase AG Rate +5</li>
                                            <li class="-yellow">Increase Defense +20</li>
                                            <li class="-yellow">Increase Agility +10</li>
                                            <li class="-yellow">Increase Critical Damage Rate +5%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +5%</li>
                                            <li class="-yellow">Increase Strength +25</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Anonymous's Leather Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Leather Helm</li>
                                            <li>Leather Pants</li>
                                            <li>Leather Boots</li>
                                            <li>Small Shield</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Max HP +50</li>
                                            <li class="-yellow">Increase Agility +50</li>
                                            <li class="-yellow">Increase Defense with Shield +25%</li>
                                            <li class="-yellow">Increase Damage +30</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Hyperion's Bronze Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Bronze Armor</li>
                                            <li>Bronze Pants</li>
                                            <li>Bronze Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Energy +15</li>
                                            <li class="-yellow">Increase Agility +15</li>
                                            <li class="-yellow">Increase Skill Damage +20</li>
                                            <li class="-yellow">Increase Max Mana +30</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Mist's Bronze Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Bronze Helm</li>
                                            <li>Bronze Pants</li>
                                            <li>Bronze Gloves</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Stamina +20</li>
                                            <li class="-yellow">Increase Skill Damage +30</li>
                                            <li class="-yellow">Double Damage Rate +10%</li>
                                            <li class="-yellow">Increase Agility +20</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Garuda's Brass Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Brass Armor</li>
                                            <li>Brass Pants</li>
                                            <li>Brass Boots</li>
                                            <li>Brass Gloves</li>
                                            <li>Pendant of Fire</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Max AG +30</li>
                                            <li class="-yellow">Double Damage Rate +5%</li>
                                            <li class="-yellow">Increase Energy +15</li>
                                            <li class="-yellow">Increase Max HP +50</li>
                                            <li class="-yellow">Increase Skill Damage +25</li>
                                            <li class="-yellow">Increase Wizardry Damage +15%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Cloud's Brass Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Brass Helm</li>
                                            <li>Brass Pants</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Critical Damage Rate +20%</li>
                                            <li class="-yellow">Critical Damage +50</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Eplete's Scale Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Scale Helm</li>
                                            <li>Scale Armor</li>
                                            <li>Scale Pants</li>
                                            <li>Plate Shield</li>
                                            <li>Pendant of Lightning</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Skill Damage +15</li>
                                            <li class="-yellow">Increase Damage Success Rate +50</li>
                                            <li class="-yellow">Increase Wizardry Damage +5%</li>
                                            <li class="-yellow">Increase Max HP +50</li>
                                            <li class="-yellow">Increase Max AG +30</li>
                                            <li class="-yellow">Increase Critical Damage Rate +10%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +10%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Berserker's Scale Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Scale Helm</li>
                                            <li>Scale Armor</li>
                                            <li>Scale Pants</li>
                                            <li>Scale Gloves</li>
                                            <li>Scale Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Max Damage +10</li>
                                            <li class="-yellow">Increase Max Damage +20</li>
                                            <li class="-yellow">Increase Max Damage +30</li>
                                            <li class="-yellow">Increase Max Damage +40</li>
                                            <li class="-yellow">Increase Skill Damage +40</li>
                                            <li class="-yellow">Increase Strength +40</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Kantata's Plate Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Plate Armor</li>
                                            <li>Plate Boots</li>
                                            <li>Plate Gloves</li>
                                            <li>Ring of Wind</li>
                                            <li>Ring of Poison</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Energy +15</li>
                                            <li class="-yellow">Increase Stamina +30</li>
                                            <li class="-yellow">Increase Wizardry Damage +10%</li>
                                            <li class="-yellow">Increase Strength +15</li>
                                            <li class="-yellow">Increase Skill Damage +25</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +10%</li>
                                            <li class="-yellow">Increase Excellent Damage +20</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Rave's Plate Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Plate Helm</li>
                                            <li>Plate Armor</li>
                                            <li>Plate Pants</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Skill Damage +20</li>
                                            <li class="-yellow">Double Damage Rate +10%</li>
                                            <li class="-yellow">DMG +30% with Two-handed weapons</li>
                                            <li class="-yellow">Ignore Opponents Defensive Power +5%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Hyon's Dragon Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Dragon Helm</li>
                                            <li>Dragon Gloves</li>
                                            <li>Dragon Boots</li>
                                            <li>Lightning Sword</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Defense +25</li>
                                            <li class="-yellow">Double Damage Rate +10%</li>
                                            <li class="-yellow">Increase Skill Damage +20</li>
                                            <li class="-yellow">Increase Critical Damage Rate +15%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage +20</li>
                                            <li class="-yellow">Increase Excellent Damage +20</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Vicious's Dragon Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Dragon Helm</li>
                                            <li>Dragon Armor</li>
                                            <li>Dragon Pants</li>
                                            <li>Ring of Earth</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Skill Damage +15</li>
                                            <li class="-yellow">Increase Damage +15</li>
                                            <li class="-yellow">Double Damage Rate +10%</li>
                                            <li class="-yellow">Increase Min Damage +20</li>
                                            <li class="-yellow">Increase Max Damage +30</li>
                                            <li class="-yellow">Ignore Opponents Defensive Power +5%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="dw">
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Apollo's Pad Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Pad Helm</li>
                                            <li>Pad Armor</li>
                                            <li>Pad Pants</li>
                                            <li>Pad Gloves</li>
                                            <li>Skull Staff</li>
                                            <li>Pendant of Ice</li>
                                            <li>Ring of Magic</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Energy +10</li>
                                            <li class="-yellow">Increase Wizardry Damage +5%</li>
                                            <li class="-yellow">Increase Skill Damage +10</li>
                                            <li class="-yellow">Increase Max Mana +30</li>
                                            <li class="-yellow">Increase Max HP +30</li>
                                            <li class="-yellow">Increase Max AG +20</li>
                                            <li class="-yellow">Increase Critical Damage Rate +10%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +10%</li>
                                            <li class="-yellow">Increase Energy +30</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Barnake's Pad Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Pad Helm</li>
                                            <li>Pad Pants</li>
                                            <li>Pad Bots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Wizardry Damage +10%</li>
                                            <li class="-yellow">Increase Energy +20</li>
                                            <li class="-yellow">Increase Skill Damage +30</li>
                                            <li class="-yellow">Increase Max Mana +100</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Evis's Bone Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Bone Armor</li>
                                            <li>Bone Pants</li>
                                            <li>Bone Boots</li>
                                            <li>Pendant of Wind</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Skill Damage +15</li>
                                            <li class="-yellow">Increase Stamina +20</li>
                                            <li class="-yellow">Increase Wizardry Damage +10%</li>
                                            <li class="-yellow">Double Damage Rate +5%</li>
                                            <li class="-yellow">Increase Damage Success Rate +50</li>
                                            <li class="-yellow">Increase AG Rate +5</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Sylion's Bone Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Bone Helm</li>
                                            <li>Bone Armor</li>
                                            <li>Bone Gloves</li>
                                            <li>Bone Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Double Damage Rate +5%</li>
                                            <li class="-yellow">Increase Critical Damage Rate +5%</li>
                                            <li class="-yellow">Increase Defense +20</li>
                                            <li class="-yellow">Increase Strength +50</li>
                                            <li class="-yellow">Increase Agility +50</li>
                                            <li class="-yellow">Increase Stamina +50</li>
                                            <li class="-yellow">Increase Energy +50</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Heras's Sphinx Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Sphinx Helm</li>
                                            <li>Sphinx Armor</li>
                                            <li>Sphinx Pants</li>
                                            <li>Sphinx Gloves</li>
                                            <li>Sphinx Boots</li>
                                            <li>Skull Shield</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Strength +15</li>
                                            <li class="-yellow">Increase Wizardry Damage +10%</li>
                                            <li class="-yellow">Increase Defense with Shield +5%</li>
                                            <li class="-yellow">Increase Energy +15</li>
                                            <li class="-yellow">Increase Damage Success Rate +50</li>
                                            <li class="-yellow">Increase Critical Damage Rate +10%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +10%</li>
                                            <li class="-yellow">Increase Max HP +50</li>
                                            <li class="-yellow">Increase Max Mana +50</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Minet's Sphinx Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Sphinx Armor</li>
                                            <li>Sphinx Pants</li>
                                            <li>Sphinx Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Energy +30</li>
                                            <li class="-yellow">Increase Defense +30</li>
                                            <li class="-yellow">Increase Max Mana +100</li>
                                            <li class="-yellow">Increase Increase Skill Damage +15</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Hera Sphinx Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Sphinx Mask</li>
                                            <li>Sphinx Armor</li>
                                            <li>Sphinx Pants</li>
                                            <li>Sphinx Gloves</li>
                                            <li>Sphinx Boots</li>
                                            <li>Skull Shield</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Strength +15</li>
                                            <li class="-yellow">Increase Wizardry Damage +10%</li>
                                            <li class="-yellow">Increase Defense with Shield +5%</li>
                                            <li class="-yellow">Increase Energy +15</li>
                                            <li class="-yellow">Increase Damage Success Rate +50</li>
                                            <li class="-yellow">Increase Critical Damage Rate +10%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +10%</li>
                                            <li class="-yellow">Increase Max HP +50</li>
                                            <li class="-yellow">Increase Max Mana +50</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Enis Legendary Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Legendary Helm</li>
                                            <li>Legendary Armor</li>
                                            <li>Legendary Pants</li>
                                            <li>Legendary Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Skill Damage +10</li>
                                            <li class="-yellow">Double Damage Rate +10%</li>
                                            <li class="-yellow">Increase Energy +30</li>
                                            <li class="-yellow">Increase Wizardry Damage +10%</li>
                                            <li class="-yellow">Ignore Opponents Defensive Power +5%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Anubis's Legendary Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Legendary Helm</li>
                                            <li>Legendary Armor</li>
                                            <li>Legendary Gloves</li>
                                            <li>Ring of Fire</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Double Damage Rate +10%</li>
                                            <li class="-yellow">Increase Max Mana +50</li>
                                            <li class="-yellow">Increase Wizardry Damage +10%</li>
                                            <li class="-yellow">Increase Critical Damage Rate +15%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage +20</li>
                                            <li class="-yellow">Increase Excellent Damage +20</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="fe">
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Ceto's Vine Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Vine Helm</li>
                                            <li>Vine Pants</li>
                                            <li>Vine Gloves</li>
                                            <li>Vine Boots</li>
                                            <li>Ring of Earth</li>
                                            <li>Rapier</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Agility +10</li>
                                            <li class="-yellow">Increase Max HP +50</li>
                                            <li class="-yellow">Increase Defense +20</li>
                                            <li class="-yellow">Increase Defense with Shield +5%</li>
                                            <li class="-yellow">Increase Energy +10</li>
                                            <li class="-yellow">Increase Strength +20</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Drake's Vine Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Vine Helm</li>
                                            <li>Vine Armor</li>
                                            <li>Vine Pants</li>
                                            <li>Vine Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Agility +20</li>
                                            <li class="-yellow">Increase Damage +25</li>
                                            <li class="-yellow">Double Damage Rate +20%</li>
                                            <li class="-yellow">Increase Defense +40</li>
                                            <li class="-yellow">Increase Critical Damage Rate +10%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Fase's Silk Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Silk Pants</li>
                                            <li>Silk Gloves</li>
                                            <li>Silk Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Max HP +100</li>
                                            <li class="-yellow">Increase Max Mana +100</li>
                                            <li class="-yellow">Increase Defense +100</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Gaia's Silk Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Silk Helm</li>
                                            <li>Silk Armor</li>
                                            <li>Silk Pants</li>
                                            <li>Silk Gloves</li>
                                            <li>Golden Crossbow</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Skill Damage +10</li>
                                            <li class="-yellow">Increase Max Mana +25</li>
                                            <li class="-yellow">Increase Strength +10</li>
                                            <li class="-yellow">Double Damage Rate +5%</li>
                                            <li class="-yellow">Increase Agility +30</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +10%</li>
                                            <li class="-yellow">Increase Excellent Damage +10</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Odin's Wind Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Wind Helm</li>
                                            <li>Wind Armor</li>
                                            <li>Wind Pants</li>
                                            <li>Wind Gloves</li>
                                            <li>Wind Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Energy +15</li>
                                            <li class="-yellow">Increase Max HP +50</li>
                                            <li class="-yellow">Increase Damage Success Rate +50</li>
                                            <li class="-yellow">Increase Agility +30</li>
                                            <li class="-yellow">Increase Max Mana +50</li>
                                            <li class="-yellow">Ignore Opponents Defensive Power +5%</li>
                                            <li class="-yellow">Increase Max AG +50</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Elvian's Wind Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Wind Pants</li>
                                            <li>Wind Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Agility +30</li>
                                            <li class="-yellow">Ignore Opponents Defensive Power +5%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Argo's Spirit Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Spirit Armor</li>
                                            <li>Spirit Pants</li>
                                            <li>Spirit Gloves</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Max Damage +20</li>
                                            <li class="-yellow">Increase Skill Damage +25</li>
                                            <li class="-yellow">Increase Max AG +50</li>
                                            <li class="-yellow">Double Damage Rate +5%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Karis's Spirit Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Spirit Helm</li>
                                            <li>Spirit Pants</li>
                                            <li>Spirit Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Skill Damage +15</li>
                                            <li class="-yellow">Double Damage Rate +10%</li>
                                            <li class="-yellow">Increase Critical Damage Rate +10%</li>
                                            <li class="-yellow">Increase Agility +40</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Aruan's Guardian Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Guardian Helm</li>
                                            <li>Guardian Armor</li>
                                            <li>Guardian Pants</li>
                                            <li>Guardian Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Damage +20</li>
                                            <li class="-yellow">Double Damage Rate +10%</li>
                                            <li class="-yellow">Increase Skill Damage +20</li>
                                            <li class="-yellow">Increase Critical Damage Rate +15%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Ignore Opponents Defensive Power +5%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Gywen's Guardian Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Guardian Armor</li>
                                            <li>Guardian Gloves</li>
                                            <li>Guardian Boots</li>
                                            <li>Pendant of Ability</li>
                                            <li>Silver Bow</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Agility +30</li>
                                            <li class="-yellow">Increase Min Damage +20</li>
                                            <li class="-yellow">Increase Defense +20</li>
                                            <li class="-yellow">Increase Max Damage +20</li>
                                            <li class="-yellow">Increase Critical Damage Rate +15%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage +20</li>
                                            <li class="-yellow">Increase Excellent Damage +20</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="mg">
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Gaion's Storm Crow Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Storm Crow Armor</li>
                                            <li>Storm Crow Pants</li>
                                            <li>Storm Crow Boots</li>
                                            <li>Pendant of Water</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Ignore Opponents Defensive Power +5%</li>
                                            <li class="-yellow">Double Damage Rate +15%</li>
                                            <li class="-yellow">Increase Skill Damage +15</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Increase Excellent Damage +30</li>
                                            <li class="-yellow">Increase Wizardry Damage +10%</li>
                                            <li class="-yellow">Increase Strength +30</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Muren's Storm Crow Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Storm Crow Armor</li>
                                            <li>Storm Crow Pants</li>
                                            <li>Storm Crow Gloves</li>
                                            <li>Ring of Fire</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Skill Damage +10</li>
                                            <li class="-yellow">Increase Wizardry Damage +10%</li>
                                            <li class="-yellow">Double Damage Rate +10%</li>
                                            <li class="-yellow">Increase Critical Damage Rate +15%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Increase Defense +25</li>
                                            <li class="-yellow">DMG +20% with Two-handed weapons</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="dl">
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Agnis's Adamantine Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Adamantine Helmet</li>
                                            <li>Adamantine Armor</li>
                                            <li>Adamantine Pants</li>
                                            <li>Ring of Poison</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Double Damage Rate +10%</li>
                                            <li class="-yellow">Increase Defense +40</li>
                                            <li class="-yellow">Increase Skill Damage +20</li>
                                            <li class="-yellow">Increase Critical Damage Rate +15%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage +20</li>
                                            <li class="-yellow">Increase Excellent Damage +20</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Broy's Adamantine Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Adamantine Pants</li>
                                            <li>Adamantine Gloves</li>
                                            <li>Adamantine Boots</li>
                                            <li>Pendant of Ice</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Damage +20</li>
                                            <li class="-yellow">Increase Skill Damage +20</li>
                                            <li class="-yellow">Increase Energy +30</li>
                                            <li class="-yellow">Increase Critical Damage Rate +15%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Ignore Opponents Defensive Power +5%</li>
                                            <li class="-yellow">Increase Command +30</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="sum">
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Chrono's Red Wing Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Red Wing Helm</li>
                                            <li>Red Wing Pants</li>
                                            <li>Red Wing Gloves</li>
                                            <li>Ring of Magic</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Double Damage Rate +20%</li>
                                            <li class="-yellow">Increase Defence +60</li>
                                            <li class="-yellow">Increase Skill Damage +30</li>
                                            <li class="-yellow">Increase Critical Damage Rate +15%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage +20</li>
                                            <li class="-yellow">Increase Excellent Damage +20</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Semeden's Red Wing Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Red Wing Helm</li>
                                            <li>Red Wing Armor</li>
                                            <li>Red Wing Gloves</li>
                                            <li>Red Wing Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Wizardry Damage +15%</li>
                                            <li class="-yellow">Increase Skill Damage +25</li>
                                            <li class="-yellow">Increase Energy +30</li>
                                            <li class="-yellow">Increase Critical Damage Rate +15%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Ignore Opponents Defensive Power +5%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="rf">
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Vega's Sacred Fire Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Sacred Fire Helm</li>
                                            <li>Sacred Fire Armor</li>
                                            <li>Sacred Fire Pants</li>
                                            <li>Sacred Glove</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Attack Rate +50</li>
                                            <li class="-yellow">Increase Stamina +50</li>
                                            <li class="-yellow">Increase Max Damage +30</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Double Damage Rate +5%</li>
                                            <li class="-yellow">Ignore Opponents Defensive Power +5%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Chamer's Sacred Fire Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Sacred Fire Armor</li>
                                            <li>Sacred Fire Pants</li>
                                            <li>Sacred Fire Boots</li>
                                            <li>Sacred Glove</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Defense +50</li>
                                            <li class="-yellow">Double Damage Rate +5%</li>
                                            <li class="-yellow">Increase Damage +30</li>
                                            <li class="-yellow">Critical Damage +30</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Increase Skill Damage +30</li>
                                            <li class="-yellow">Excellent Damage +20</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}