{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">
            <p>
                <span>{{ 'faq.missing_arena.1'|trans }}</span>!
            </p>
            <p>
                <span>{{ 'faq.missing_arena.2'|trans }}</span>
                <span>{{ 'faq.missing_arena.3'|trans }}</span>
            </p>

            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}