{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <p class="-center -bold">
                <span>{{ 'faq.available_commands.0'|trans }}</span>!
            </p>

            <table class="-font-size-small">
                <thead>
                <tr>
                    <th>{{ 'faq.available_commands.1'|trans }}</th>
                    <th>{{ 'faq.available_commands.2'|trans }}</th>
                    <th>{{ 'faq.available_commands.3'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="-blue -bold">/addstr</td>
                    <td>{{ 'faq.available_commands.5'|trans({NAME: 'Strength'}) }}</td>
                    <td class="-bold">/addstr 100</td>
                </tr>
                <tr>
                    <td class="-blue -bold">/addagi</td>
                    <td>{{ 'faq.available_commands.5'|trans({NAME: 'Agility'}) }}</td>
                    <td class="-bold">/addagi 200</td>
                </tr>
                <tr>
                    <td class="-blue -bold">/addvit</td>
                    <td>{{ 'faq.available_commands.5'|trans({NAME: 'Vitality'}) }}</td>
                    <td class="-bold">/addvit 500</td>
                </tr>
                <tr>
                    <td class="-blue -bold">/addene</td>
                    <td>{{ 'faq.available_commands.5'|trans({NAME: 'Energy'}) }}</td>
                    <td class="-bold">/addene 1000</td>
                </tr>
                <tr>
                    <td class="-blue -bold">/addcmd</td>
                    <td>{{ 'faq.available_commands.5'|trans({NAME: 'Command'}) }}</td>
                    <td class="-bold">/addcmd 9999</td>
                </tr>
                <tr>
                    <td class="-blue -bold">/pkclear</td>
                    <td>
                        <span>{{ 'faq.available_commands.8'|trans }}</span>
                        <span>{{ 'faq.available_commands.58'|trans }}</span>
                        <span class="-zen">{{ 'faq.available_commands.59'|trans }}</span>
                        <span>{{ 'faq.available_commands.60'|trans }}</span>
                    </td>
                    <td class="-bold">/pkclear</td>
                </tr>
                {#<tr>#}
                {#<td class="-blue -bold">/prop</td>#}
                {#<td>{{ 'faq.available_commands.43'|trans }}</td>#}
                {#<td>#}
                {#<span class="-bold">/prop</span>#}
                {#<span class="-bold">{{ 'faq.available_commands.39'|trans }}</span>#}
                {#<span>{{ 'faq.available_commands.25'|trans }}</span>#}
                {#<span class="-bold">{{ 'faq.available_commands.39'|trans }}</span>#}
                {#<span>{{ 'faq.available_commands.40'|trans }}</span>#}
                {#(<a href="#" target="_blank">{{ 'faq.available_commands.44'|trans }}</a>)#}
                {#</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td class="-blue -bold">/accept</td>#}
                {#<td>{{ 'faq.available_commands.45'|trans }}</td>#}
                {#<td>#}
                {#<span class="-bold">/accept</span>#}
                {#(<a href="#" target="_blank">{{ 'faq.available_commands.44'|trans }}</a>)#}
                {#</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td class="-blue -bold">/teleport</td>#}
                {#<td>{{ 'faq.available_commands.46'|trans }}</td>#}
                {#<td>#}
                {#<span class="-bold">/teleport</span>#}
                {#(<a href="#" target="_blank">{{ 'faq.available_commands.44'|trans }}</a>)#}
                {#</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td class="-blue -bold">/divorce</td>#}
                {#<td>{{ 'faq.available_commands.47'|trans }}</td>#}
                {#<td>#}
                {#<span class="-bold">/divorce</span>#}
                {#(<a href="#" target="_blank">{{ 'faq.available_commands.44'|trans }}</a>)#}
                {#</td>#}
                {#</tr>#}
                <tr>
                    <td class="-blue -bold">/offtrade</td>
                    <td>{{ 'faq.available_commands.48'|trans }}</td>
                    <td>
                        <span class="-bold">/offtrade</span>
                        <span>{{ 'faq.available_commands.50'|trans }}</span>
                        (<a href="#" data-route="sky_faq_offtrade">{{ 'faq.available_commands.49'|trans }}</a>)
                    </td>
                </tr>
                <tr>
                    <td class="-blue -bold">/crew</td>
                    <td>{{ 'faq.available_commands.51'|trans }}</td>
                    <td>
                        <span class="-bold">/crew</span>
                    </td>
                </tr>
                <tr>
                    <td class="-blue -bold">/offafk</td>
                    <td>{{ 'faq.available_commands.53'|trans }}</td>
                    <td>
                        <span class="-bold">/offafk</span>
                        (<a href="#" data-route="sky_faq_offafk">{{ 'faq.available_commands.52'|trans }}</a>)
                    </td>
                </tr>
                <tr>
                    <td class="-blue -bold">/dcfriend</td>
                    <td>{{ 'faq.available_commands.57'|trans }}</td>
                    <td>
                        <span class="-bold">/dcfriend</span>
                        <span class="-bold">{{ 'faq.available_commands.39'|trans }}</span>
                        <span class="-bold">{{ 'faq.available_commands.54'|trans }}</span>
                        <span>{{ 'faq.available_commands.25'|trans }}</span>
                        <span class="-bold">{{ 'faq.available_commands.39'|trans }}</span>
                        <span>{{ 'faq.available_commands.40'|trans }}</span>
                        <span>{{ 'faq.available_commands.56'|trans }}</span>
                        <span class="-bold">{{ 'faq.available_commands.54'|trans }}</span>
                        <span>{{ 'faq.available_commands.55'|trans }}</span>
                    </td>
                </tr>
                {#<tr>#}
                    {#<td class="-blue -bold">/re {{ 'faq.available_commands.4'|trans }} /request</td>#}
                    {#<td>{{ 'faq.available_commands.22'|trans }}</td>#}
                    {#<td>#}
                        {#<ul>#}
                            {#<li>#}
                                {#<span class="-bold">/re on</span>#}
                                {#<span>{{ 'faq.available_commands.4'|trans }}</span>#}
                                {#<span class="-bold">/request on</span>#}
                                {#<span>{{ 'faq.available_commands.37'|trans }}</span>#}
                            {#</li>#}
                            {#<li>#}
                                {#<span class="-bold">/re off</span>#}
                                {#<span>{{ 'faq.available_commands.4'|trans }}</span>#}
                                {#<span class="-bold">/request off</span>#}
                                {#{{ 'faq.available_commands.38'|trans }}#}
                            {#</li>#}
                        {#</ul>#}
                    {#</td>#}
                {#</tr>#}
                <tr>
                    <td class="-blue -bold">/post</td>
                    <td>
                        <span>{{ 'faq.available_commands.23'|trans }}</span>
                        <span class="bold">{{ 'faq.available_commands.24'|trans }}</span>
                    </td>
                    <td>
                        <span class="-bold">/post MESSAGE</span>
                        <span>{{ 'faq.available_commands.25'|trans }}</span>
                        <span class="-bold">{{ 'faq.available_commands.26'|trans }}</span>
                        <span>{{ 'faq.available_commands.27'|trans }}</span>
                    </td>
                </tr>
                <tr>
                    <td class="-blue -bold">/gpost</td>
                    <td>
                        <span>{{ 'faq.available_commands.61'|trans }}</span>
                        <span class="bold">{{ 'faq.available_commands.62'|trans }}</span>
                    </td>
                    <td>
                        <span class="-bold">/gpost MESSAGE</span>
                        <span>{{ 'faq.available_commands.63'|trans }}</span>
                        <span class="-bold">{{ 'faq.available_commands.64'|trans }}</span>
                        <span>{{ 'faq.available_commands.65'|trans }}</span>
                    </td>
                </tr>
                <tr>
                    <td class="-blue -bold">@</td>
                    <td>
                        <span>{{ 'faq.available_commands.23'|trans }}</span>
                        <span class="bold">{{ 'faq.available_commands.28'|trans }}</span>
                    </td>
                    <td>
                        <span class="-bold">@ MESSAGE</span>
                        <span>{{ 'faq.available_commands.25'|trans }}</span>
                        <span class="-bold">{{ 'faq.available_commands.26'|trans }}</span>
                        <span>{{ 'faq.available_commands.27'|trans }}</span>
                    </td>
                </tr>
                <tr>
                    <td class="-blue -bold">@@</td>
                    <td>
                        <span>{{ 'faq.available_commands.23'|trans }}</span>
                        <span class="bold">{{ 'faq.available_commands.29'|trans }}</span>
                    </td>
                    <td>
                        <span class="-bold">@@</span>
                        <span>{{ 'faq.available_commands.25'|trans }}</span>
                        <span class="-bold">{{ 'faq.available_commands.26'|trans }}</span>
                        <span>{{ 'faq.available_commands.27'|trans }}</span>
                    </td>
                </tr>
                <tr>
                    <td class="-blue -bold">@></td>
                    <td>
                        <span>{{ 'faq.available_commands.30'|trans }}</span>
                    </td>
                    <td>
                        <span class="-bold">@></span>
                        <span>{{ 'faq.available_commands.25'|trans }}</span>
                        <span class="-bold">{{ 'faq.available_commands.26'|trans }}</span>
                        <span>{{ 'faq.available_commands.27'|trans }}</span>
                    </td>
                </tr>
                <tr>
                    <td class="-blue -bold">~</td>
                    <td>
                        <span>{{ 'faq.available_commands.23'|trans }}</span>
                        <span class="bold">{{ 'faq.available_commands.31'|trans }}</span>
                    </td>
                    <td>
                        <span class="-bold">~ MESSAGE</span>
                        <span>{{ 'faq.available_commands.25'|trans }}</span>
                        <span class="-bold">{{ 'faq.available_commands.26'|trans }}</span>
                        <span>{{ 'faq.available_commands.27'|trans }}</span>
                    </td>
                </tr>
                <tr>
                    <td class="-blue -bold">#</td>
                    <td>
                        <span>{{ 'faq.available_commands.32'|trans }}</span>
                    </td>
                    <td>
                        <span class="-bold"># MESSAGE</span>
                        <span>{{ 'faq.available_commands.25'|trans }}</span>
                        <span class="-bold">{{ 'faq.available_commands.26'|trans }}</span>
                        <span>{{ 'faq.available_commands.27'|trans }}</span>
                    </td>
                </tbody>
            </table>

            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}