{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12 discount_coupons">

            <p class="-center -bold">
                <span>{{ 'faq.bonus_codes.1'|trans }}</span>
                <span class="-violet">{{ 'faq.bonus_codes.26'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.bonus_codes.2'|trans }}</span>
                <span class="-violet">{{ 'faq.bonus_codes.3'|trans }}</span>
                <span>{{ 'faq.bonus_codes.4'|trans }}</span>
                <span class="-wcoin">{{ 'faq.bonus_codes.5'|trans }}</span>
                <span>{{ 'faq.bonus_codes.6'|trans }}</span>
                <span class="-credits">{{ 'faq.bonus_codes.27'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.bonus_codes.7'|trans }}</span>
                <span class="-violet">{{ 'faq.bonus_codes.8'|trans }}</span>
                <span>{{ 'faq.bonus_codes.9'|trans }}</span>
                <span class="-violet">{{ 'faq.bonus_codes.10'|trans }}</span>
                <span>{{ 'faq.bonus_codes.11'|trans }}</span>
                <span class="-violet">{{ 'faq.bonus_codes.12'|trans }}</span>
                <span>{{ 'faq.bonus_codes.13'|trans }}</span>
                <span class="-violet">{{ 'faq.bonus_codes.14'|trans }}</span>.
            </p>

            <p>
                <span class="-violet">{{ 'faq.bonus_codes.15'|trans }}</span>
                <span>{{ 'faq.bonus_codes.16'|trans }}</span>
                <span class="-violet">{{ 'faq.bonus_codes.17'|trans }}</span>.
            </p>


            <p>
            <ul class="key-value-container">
                <li class="-no-list-style -no-margin -dark-burgundy-1">
                    <span>{{ 'faq.bonus_codes.18'|trans }}</span>
                    <span class="-bold">{{ 'faq.bonus_codes.10'|trans }}</span>
                    <span>{{ 'faq.bonus_codes.19'|trans }}</span>

                </li>
                <li class="-item -no-margin">
                    <div class="-value">
                        <ul class="-text-left">
                            <li>{{ 'faq.bonus_codes.20'|trans }}</li>
                            <li>
                                <span>{{ 'faq.bonus_codes.21'|trans }}</span>
                                <a href="{{ forumLink }}" target="_blank"
                                   class="-bold">{{ 'faq.bonus_codes.28'|trans }}</a>
                            </li>
                            <li>{{ 'faq.bonus_codes.22'|trans }}</li>
                            <li>{{ 'faq.bonus_codes.23'|trans }}</li>
                            <li>{{ 'faq.bonus_codes.24'|trans }}</li>
                            <li>{{ 'faq.bonus_codes.25'|trans }}</li>
                        </ul>
                    </div>
                </li>
            </ul>

            </p>

            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}