{% spaceless %}
    <div class="row public faq -page -buffer">
        <div class="col-sm-12">
            <p class="-center -bold">
                {{ 'faq.buffer.0'|trans }}
                <span class="-bold">{{ 'faq.buffer.1'|trans }}</span>
                {{ 'faq.buffer.2'|trans }}
                <span class="-bold -violet">{{ 'faq.buffer.3'|trans }}</span>
            </p>
            <div class="row -margin-top-20">
                <div class="col-sm-7">
                    <span class="-bold -violet">{{ 'faq.buffer.5'|trans }}</span>
                    <span>{{ 'faq.buffer.7'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.buffer.8'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.buffer.11'|trans|raw }}</span><br>
                    <span>{{ 'faq.buffer.13'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.buffer.17'|trans }}</span>
                    <span>{{ 'faq.buffer.14'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.buffer.18'|trans }}</span>.
                </div>
                <div class="col-sm-5">
                    <img style="height: 311px" class="-full-width" src="{{ asset('img/faq/buffer/dk.png') }}">
                </div>
            </div>
            <div class="row -margin-top-20">
                <div class="col-sm-5">
                    <img style="height: 311px" class="-full-width" src="{{ asset('img/faq/buffer/dw.png') }}">
                </div>
                <div class="col-sm-7">
                    <span class="-bold -violet">{{ 'faq.buffer.4'|trans }}</span>
                    <span>{{ 'faq.buffer.7'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.buffer.8'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.buffer.10'|trans|raw }}</span><br>
                    <span>{{ 'faq.buffer.13'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.buffer.15'|trans }}</span>
                    <span>{{ 'faq.buffer.14'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.buffer.16'|trans }}</span>.
                </div>
            </div>
            <div class="row -margin-top-20">
                <div class="col-sm-7">
                    <span class="-bold -violet">{{ 'faq.buffer.6'|trans }}</span>
                    <span>{{ 'faq.buffer.7'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.buffer.9'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.buffer.12'|trans|raw }}</span><br>
                    <span>{{ 'faq.buffer.13'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.buffer.19'|trans }}</span>
                    <span>{{ 'faq.buffer.14'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.buffer.20'|trans }}</span>.
                </div>
                <div class="col-sm-5">
                    <img style="height: 440px" class="-full-width" src="{{ asset('img/faq/buffer/elf.png') }}">
                </div>
            </div>
            <p class="-margin-top-20">
                <span>{{ 'faq.buffer.21'|trans }}</span>
                <span class="-bold -blue">{{ 'faq.buffer.22'|trans }}</span>
            </p>
            <p>
                <span>{{ 'faq.buffer.23'|trans }}</span>
                <span class="-zen">{{ 'faq.buffer.24'|trans }}</span>
            </p>


            <p>
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}