{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <p class="-center -bold">
                <span>{{ 'faq.cart.0'|trans }}</span>
                <span class="-violet">{{ 'faq.cart.1'|trans }}</span>!
            </p>

            <p>
                <span>{{ 'faq.cart.2'|trans }}</span>
                <span class="-violet">{{ 'faq.cart.3'|trans }}</span>
                <span>{{ 'faq.cart.4'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.cart.5'|trans }}</span>
                <span>{{ 'faq.cart.6'|trans }}</span>
                <span class="-violet">{{ 'faq.cart.3'|trans }}</span>
                <span>{{ 'faq.cart.7'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.cart.8'|trans }}</span>!
            </p>

            <p>
                <span>{{ 'faq.cart.9'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.cart.10'|trans }}</span>
                <span>{{ 'faq.cart.11'|trans }}</span>,
                <span>{{ 'faq.cart.12'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.cart.13'|trans }}</span>
                <span>{{ 'faq.cart.14'|trans }}</span>!
            </p>

            <p>
                <span>{{ 'faq.cart.15'|trans }}</span>
                <span class="-bold">{{ 'faq.cart.16'|trans }}</span>!
            </p>

            {#<p>#}
            {#<span>{{ 'faq.cart.17'|trans }}</span>#}
            {#<span class="-bold -dark-burgundy-1">{{ 'faq.cart.18'|trans }}</span>#}
            {#<span>{{ 'faq.cart.19'|trans }}</span>#}
            {#<a href="#" data-route="sky_faq_persistent.discounts" class="-bold -underline">{{ 'faq.cart.20'|trans }}</a>,#}
            {#<span>{{ 'faq.cart.21'|trans }}</span>.#}
            {#</p>#}

            <p>
                <span>{{ 'faq.cart.22'|trans }}</span>
                <a href="#" data-route="sky_faq_discount.coupons" class="-bold -underline">{{ 'faq.cart.23'|trans }}</a>,
                <span>{{ 'faq.cart.24'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.cart.25'|trans }}</span>
                <span>{{ 'faq.cart.26'|trans }}</span>!
            </p>


            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}