{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <p class="-center -bold">
                <span>{{ 'faq.change_nick.0'|trans }}</span>!
            </p>

            <p>
                <span>{{ 'faq.change_nick.1'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'nav.account_menu.1'|trans }}</span>
                <span>{{ 'faq.change_nick.2'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'nav.account_menu.0'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.change_nick.3'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.change_nick.4'|trans }}</span>
                <span class="-bold -offline">{{ 'faq.change_nick.5'|trans }}</span>!
            </p>
            <p>
            <ul class="key-value-container">
                {% for server in servers.list %}
                    <li class="-item">
                        <div class="-value">
                            {#<span>{{ 'faq.change_nick.6'|trans }}</span>#}
                            {#<span class="-bold -dark-burgundy-1">{{ server.server.getName }}</span>#}
                            <span>{{ 'faq.change_nick.7'|trans }}</span>
                            <span class="-bold -dark-burgundy-1">{{ server.server.getAccountMenuConfig.getNickChangePrice }}</span>
                            <span class="-wcoin">{{ 'faq.change_nick.8'|trans }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            </p>

            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}