{% spaceless %}
    <div class="row public faq -page -dark-jewels">
        <div class="col-sm-12">
            <p class="-center -bold">
                {{ 'faq.dark_jewels.0'|trans }}
                <span class="-bold -violet">{{ 'faq.dark_jewels.1'|trans }}</span>
            </p>
            <p>
                <span>{{ 'faq.dark_jewels.2'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.dark_jewels.3'|trans }}</span>,
                <span class="-bold -dark-burgundy-1">{{ 'faq.dark_jewels.4'|trans }}</span>
                <span>{{ 'faq.dark_jewels.5'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.dark_jewels.6'|trans }}</span>.
            </p>
            <p>
                <span>{{ 'faq.dark_jewels.7'|trans }}</span>
            </p>
            <div class="row">
                <div class="col-sm-5">
                    <img style="height: 95px" class="-full-width" src="{{ asset('img/faq/dark_jewels/bless.png') }}">
                </div>
                <div class="col-sm-7">
                    <span class="-bold -violet">{{ 'faq.dark_jewels.3'|trans }}</span><br>
                    <span>{{ 'faq.dark_jewels.8'|trans }}</span>
                </div>
            </div>
            <div class="row -margin-top-20">
                <div class="col-sm-7">
                    <span class="-bold -violet">{{ 'faq.dark_jewels.4'|trans }}</span><br>
                    <span>{{ 'faq.dark_jewels.9'|trans }}</span>
                </div>
                <div class="col-sm-5">
                    <img style="height: 106px" class="-full-width" src="{{ asset('img/faq/dark_jewels/soul.png') }}">
                </div>
            </div>
            <div class="row -margin-top-20">
                <div class="col-sm-5">
                    <img style="height: 120px" class="-full-width" src="{{ asset('img/faq/dark_jewels/life.png') }}">
                </div>
                <div class="col-sm-7">
                    <span class="-bold -violet">{{ 'faq.dark_jewels.6'|trans }}</span><br>
                    <span>{{ 'faq.dark_jewels.10'|trans }}</span>
                </div>
            </div>
            <p>
                <span>{{ 'faq.dark_jewels.11'|trans }}</span>
            </p>
            <p>
                <span>{{ 'faq.dark_jewels.12'|trans }}</span>
                <a href="#" data-route="sky_faq_drop.from.boxes" class="-bold -underline">{{ 'faq.dark_jewels.13'|trans }}</a>
                <span>{{ 'faq.dark_jewels.14'|trans }}</span>
                <a href="#" data-route="sky_faq_event_rewards" class="-bold -underline">{{ 'faq.dark_jewels.15'|trans }}</a>
            </p>


            <p>
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}