{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12 discount_coupons">

            <p class="-center -bold">
                <span>{{ 'faq.discount_coupons.0'|trans }}</span>
                <span class="-violet">{{ 'faq.discount_coupons.1'|trans }}</span>
                <span>{{ 'faq.discount_coupons.2'|trans }}</span>!
            </p>

            <p>
                <span>{{ 'faq.discount_coupons.3'|trans }}</span>
                <a href="#" data-route="sky_faq_cart" class="-bold -underline">{{ 'faq.discount_coupons.4'|trans }}</a>
                <span>{{ 'faq.discount_coupons.5'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.discount_coupons.6'|trans }}</span>
                <span class="-violet">{{ 'faq.discount_coupons.7'|trans }}</span>
                <span> - {{ 'faq.discount_coupons.8'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.discount_coupons.9'|trans }}</span>
                <span class="-violet">{{ 'faq.discount_coupons.10'|trans }}</span>
                <span>{{ 'faq.discount_coupons.11'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.discount_coupons.12'|trans }}</span>
                <span>{{ 'faq.discount_coupons.13'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.discount_coupons.14'|trans }}</span>!
            </p>

            <p>
            <ul class="key-value-container">
                <li class="-no-list-style -no-margin -bold -dark-burgundy-1">{{ 'faq.discount_coupons.16'|trans }}</li>
                <li class="-item -no-margin">
                    <div class="-value">
                        <ul class="-text-left">
                            <li>{{ 'faq.discount_coupons.17'|trans }}</li>
                            <li>
                                <span>{{ 'faq.discount_coupons.18'|trans }}</span>
                                <a href="{{ forumLink }}" target="_blank"
                                   class="-bold">{{ 'faq.discount_coupons.19'|trans }}</a>
                            </li>
                            <li>{{ 'faq.discount_coupons.20'|trans }}</li>
                            <li>{{ 'faq.discount_coupons.21'|trans }}</li>
                            <li>{{ 'faq.discount_coupons.22'|trans }}</li>
                            <li>{{ 'faq.discount_coupons.23'|trans }}</li>
                        </ul>
                    </div>
                </li>
            </ul>

            </p>

            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}