{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">
            <p class="-center">
                <span class="-bold">{{ 'faq.box_drop.0'|trans }}</span>
            </p>

            {% embed '@App/layout/_partials/server_tabs.html.twig' %}
                {% block content %}
                    {% for box_drop in server.server.getFaqInfo.getValues.box_drop %}
                        {% if box_drop.display is defined and box_drop.display %}
                            <table class="box_drop">
                                <tbody class="-font-size-small">
                                {% include '@App/faq/_partials/drop_from_box/box.html.twig' with {box_drop: box_drop} %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endfor %}
                {% endblock content %}
            {% endembed %}

            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}