{% spaceless %}
    <div class="row public faq">
        <div class="col-sm-12 index">
            <ul class="navigation">
                <li>
                    {% embed '@App/layout/_partials/card.html.twig' %}
                        {% block heading %}{{ 'faq.index.18'|trans }}{% endblock %}
                        {% block content %}
                            <a href="#" data-route="sky_faq_event_blood.castle">{{ 'faq.index.76'|trans }}</a>
                            <a href="#" data-route="sky_faq_event_white.rabbit.invasion">{{ 'faq.index.34'|trans }}</a>
                            <a href="#" data-route="sky_faq_event_rewards">{{ 'faq.index.39'|trans }}</a>
                            <a href="#" data-route="sky_faq_event_happy.hour">{{ 'faq.index.59'|trans }}</a>
                            <a href="#" data-route="sky_faq_event_cherry.blossom">{{ 'faq.index.58'|trans }}</a>
                            <a href="#" data-route="sky_faq_event_jewels.hunt">{{ 'faq.index.71'|trans }}</a>
                            <a href="#" data-route="sky_faq_event_medusa">{{ 'faq.index.77'|trans }}</a>
                            <a href="#" data-route="sky_faq_event_gladiator.buff">{{ 'faq.index.78'|trans }}</a>
                            {#<a href="#" data-route="sky_faq_event_last.man.standing">{{ 'faq.index.80'|trans }}</a>#}
                            <a href="#" data-route="sky_faq_event_weekend.bonus.exp">{{ 'faq.index.81'|trans }}</a>
                        {% endblock %}
                    {% endembed %}
                </li>

                <li>
                    {% embed '@App/layout/_partials/card.html.twig' %}
                        {% block heading %}
                            {{ 'faq.index.3'|trans }}
                        {% endblock %}
                        {% block content %}
                            <a href="#" data-route="sky_faq_referral.system">{{ 'faq.index.45'|trans }}</a>
                            <a href="#" data-route="sky_faq_vote.reward">{{ 'faq.index.44'|trans }}</a>
                            <a href="#" data-route="sky_faq_web.bank">{{ 'faq.index.47'|trans }}</a>
                            <a href="#" data-route="sky_faq_change.nick">{{ 'faq.index.49'|trans }}</a>
                            {#<a href="#" data-route="sky_faq_web.shop">{{ 'faq.index.50'|trans }}</a>#}
                            {#<a href="#" data-route="sky_faq_persistent.discounts">{{ 'faq.index.42'|trans }}</a>#}
                            <a href="#" data-route="sky_faq_discount.coupons">{{ 'faq.index.43'|trans }}</a>
                            <a href="#" data-route="sky_faq_cart">{{ 'faq.index.51'|trans }}</a>
                            <a href="#" data-route="sky_faq_bonus.codes">{{ 'faq.index.66'|trans }}</a>
                            <a href="#" data-route="sky_faq_reset.stats">{{ 'faq.index.68'|trans }}</a>
                        {% endblock %}
                    {% endembed %}
                </li>

                <li>
                    {% embed '@App/layout/_partials/card.html.twig' %}
                        {% block heading %}
                            {{ 'faq.index.65'|trans }}
                        {% endblock %}
                        {% block content %}
                            <a href="#" data-route="sky_faq_res.gr">{{ 'faq.index.41'|trans }}</a>
                            <a href="#" data-route="sky_faq_offtrade">{{ 'faq.index.4'|trans }}</a>
                            <a href="#" data-route="sky_faq_offafk">{{ 'faq.index.5'|trans }}</a>
                            <a href="#" data-route="sky_faq_mu.helper">{{ 'faq.index.6'|trans }}</a>
                            <a href="#" data-route="sky_faq_reconnect.system">{{ 'faq.index.7'|trans }}</a>
                            <a href="#" data-route="sky_faq_ancient.sets">{{ 'faq.index.14'|trans }}</a>
                            <a href="#" data-route="sky_faq_drop.from.boxes">{{ 'faq.index.40'|trans }}</a>
                            <a href="#" data-route="sky_faq_kalima">{{ 'faq.index.54'|trans }}</a>
                            <a href="#" data-route="sky_faq_arena.removed">{{ 'faq.index.55'|trans }}</a>
                            <a href="#" data-route="sky_faq_wings.hunt">{{ 'faq.index.56'|trans }}</a>
                            <a href="#" data-route="sky_faq_maps.additional.exp">{{ 'faq.index.60'|trans }}</a>
                            <a href="#" data-route="sky_faq_available.commands">{{ 'faq.index.64'|trans }}</a>
                            <a href="#" data-route="sky_faq_lucky.items">{{ 'faq.index.73'|trans }}</a>
                            <a href="#" data-route="sky_faq_dark.jewels">{{ 'faq.index.74'|trans }}</a>
                            <a href="#" data-route="sky_faq_buffers">{{ 'faq.index.75'|trans }}</a>
                            <a href="#" data-route="sky_faq_gens">{{ 'faq.index.79'|trans }}</a>
                        {% endblock %}
                    {% endembed %}
                </li>
            </ul>
        </div>
    </div>
{% endspaceless %}