{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">
            <p class="-center -bold">
                <span class="-violet">{{ 'faq.gens.0'|trans }}</span>
                <span>{{ 'faq.gens.1'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.gens.2'|trans }}</span>
                <span>{{ 'faq.gens.3'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.gens.4'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.gens.5'|trans }}</span>
                <span>{{ 'faq.gens.6'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.gens.7'|trans }}</span>
                <span>{{ 'faq.gens.8'|trans }}</span>
                <span>{{ 'faq.gens.9'|trans }}</span>
                <span class="-violet">{{ 'faq.gens.0'|trans }}</span>
                <span>{{ 'faq.gens.10'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.gens.10'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.gens.5'|trans }}</span>
                <span>{{ 'faq.gens.6'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.gens.7'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.gens.12'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.gens.5'|trans }}</span>
                <span>{{ 'faq.gens.13'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.gens.15'|trans }}</span>
                <span>{{ 'faq.gens.16'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.gens.17'|trans }}</span>
                <span>{{ 'faq.gens.18'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.gens.20'|trans|raw }}</span>
                <span>{{ 'faq.gens.21'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.gens.12'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.gens.7'|trans }}</span>
                <span>{{ 'faq.gens.13'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.gens.14'|trans }}</span>
                <span>{{ 'faq.gens.16'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.gens.17'|trans }}</span>
                <span>{{ 'faq.gens.18'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.gens.19'|trans|raw }}</span>
                <span>{{ 'faq.gens.21'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.gens.22'|trans }}</span>
            </p>
            <div class="row memo">
                <div class="col-sm-12">
                    <ul class="restrictions">
                        <li>{{ 'faq.gens.23'|trans }}</li>
                        <li>{{ 'faq.gens.24'|trans }}</li>
                        <li>{{ 'faq.gens.25'|trans }}</li>
                        <li>{{ 'faq.gens.27'|trans }}</li>
                        <li>{{ 'faq.gens.28'|trans }}</li>
                        <li>{{ 'faq.gens.29'|trans }}</li>
                        <li>{{ 'faq.gens.30'|trans }}</li>
                        <li>{{ 'faq.gens.31'|trans }}</li>
                        <li>{{ 'faq.gens.32'|trans }}</li>
                    </ul>
                </div>
            </div>

            <p>
                <span>{{ 'faq.gens.33'|trans }}</span>
            </p>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="key-value-container">
                        <li class="-item">
                            <span class="-key">{{ 'faq.gens.39'|trans }}</span>
                            <span class="-bold -value">
                                        <span class="-bold -dark-burgundy-1">10</span>
                                        <a href="#" data-route="sky_faq_drop.from.boxes" data-fragment="shining-jewelery-case">{{ 'faq.gens.34'|trans }}</a>
                                    </span>
                        </li>
                        <li class="-item">
                            <span class="-key">{{ 'faq.gens.40'|trans }}</span>
                            <span class="-bold -value">
                                        <span class="-dark-burgundy-1">5</span>
                                        <a href="#" data-route="sky_faq_drop.from.boxes" data-fragment="shining-jewelery-case">{{ 'faq.gens.34'|trans }}</a>
                                    </span>
                        </li>
                        <li class="-item">
                            <span class="-key">{{ 'faq.gens.41'|trans }}</span>
                            <span class="-bold -value">
                                        <span class="-bold -dark-burgundy-1">10</span>
                                        <a href="#" data-route="sky_faq_drop.from.boxes" data-fragment="elegant-jewelery-case">{{ 'faq.gens.35'|trans }}</a>
                                    </span>
                        </li>
                        <li class="-item">
                            <span class="-key">{{ 'faq.gens.42'|trans }}</span>
                            <span class="-bold -value">
                                        <span class="-bold -dark-burgundy-1">7</span>
                                        <a href="#" data-route="sky_faq_drop.from.boxes" data-fragment="elegant-jewelery-case">{{ 'faq.gens.35'|trans }}</a>
                                    </span>
                        </li>
                        <li class="-item">
                            <span class="-key">{{ 'faq.gens.43'|trans }}</span>
                            <span class="-bold -value">
                                        <span class="-bold -dark-burgundy-1">5</span>
                                        <a href="#" data-route="sky_faq_drop.from.boxes" data-fragment="steel-jewelery-case">{{ 'faq.gens.36'|trans }}</a>
                                    </span>
                        </li>
                        <li class="-item">
                            <span class="-key">{{ 'faq.gens.44'|trans }}</span>
                            <span class="-bold -value">
                                        <span class="-bold -dark-burgundy-1">2</span>
                                        <a href="#" data-route="sky_faq_drop.from.boxes" data-fragment="steel-jewelery-case">{{ 'faq.gens.36'|trans }}</a>
                                    </span>
                        </li>
                        <li class="-item">
                            <span class="-key">{{ 'faq.gens.45'|trans }}</span>
                            <span class="-bold -value">
                                        <span class="-bold -dark-burgundy-1">5</span>
                                        <a href="#" data-route="sky_faq_drop.from.boxes" data-fragment="old-jewelery-case">{{ 'faq.gens.37'|trans }}</a>
                                    </span>
                        </li>
                        <li class="-item">
                            <span class="-key">{{ 'faq.gens.46'|trans }}</span>
                            <span class="-bold -value">
                                        <span class="-bold -dark-burgundy-1">5</span>
                                        <a href="#" data-route="sky_faq_drop.from.boxes" data-fragment="old-jewelery-case">{{ 'faq.gens.37'|trans }}</a>
                                    </span>
                        </li>
                    </ul>
                </div>
            </div>

            <p>
                <span>{{ 'faq.gens.46'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.gens.47'|trans }}</span>
                <span>{{ 'faq.gens.48'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.gens.47'|trans }}</span>
                <span>{{ 'faq.gens.49'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.gens.50'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.gens.51'|trans }}</span>
                <span>{{ 'faq.gens.52'|trans }}</span>
                <span class="-bold -dark-burgundy-1"><a href="#" data-route="sky_faq_drop.from.boxes" data-fragment="old-jewelery-case">{{ 'faq.gens.37'|trans }}</a></span>
                <span>{{ 'faq.gens.53'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.gens.54'|trans }}</span>
                <span>{{ 'faq.gens.52'|trans }}</span>
                <span class="-bold -dark-burgundy-1"><a href="#" data-route="sky_faq_drop.from.boxes" data-fragment="shining-jewelery-case">{{ 'faq.gens.34'|trans }}</a></span>
            </p>

            <p>
                <span>{{ 'faq.gens.55'|trans }}</span>
                <a href="#" data-route="sky_faq_drop.from.boxes">{{ 'faq.gens.56'|trans }}</a>
            </p>

            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}