{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">
            <p class="-center">
                <span class="-bold">{{ 'faq.kalima.1'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.kalima.0'|trans }}</span>
                <span class="-bold">{{ 'faq.kalima.2'|trans }}</span>
            </p>
            <p>
                <span>{{ 'faq.kalima.3'|trans }}</span>
                <span class="-zen">{{ 'faq.kalima.10'|trans }}</span>!
            </p>
            <p>
                <span>{{ 'faq.kalima.4'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.kalima.0'|trans }}</span>
                <span>{{ 'faq.kalima.5'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.kalima.0'|trans }}</span>
                <span>{{ 'faq.kalima.6'|trans }}</span>!
            </p>
            <p>
                <span>{{ 'faq.kalima.12'|trans }}</span>
            </p>
            <p>
                <span>{{ 'faq.kalima.7'|trans }}</span>
                <span class="-zen">{{ 'faq.kalima.10'|trans }}</span><span>{{ 'faq.kalima.11'|trans }}</span>
            </p>
            {#<ul class="key-value-container">#}
            {#{% for server in servers.list %}#}
            {#{% if server.server.getFaqInfo is not null %}#}
            {#<li class="-item">#}
            {#<span class="-key">{{ 'faq.kalima.8'|trans({NAME: server.server.getName}) }}</span>#}
            {#<span class="-value">#}
            {#<span class="-bold -dark-burgundy-1">{{ 'faq.kalima.9'|trans({EXP: server.server.getFaqInfo.getValues.kalima.exp_increase}) }}</span>#}
            {#</span>#}
            {#</li>#}
            {#{% endif %}#}
            {#{% endfor %}#}
            {#</ul>#}

            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}