{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="-center">
                                <span class="-bold -violet">{{ 'faq.lucky_items.0'|trans }}</span>
                                <span>-</span>
                                <span class="-bold">{{ 'faq.lucky_items.1'|trans }}</span>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <p>
                                <span class="-bold -violet">{{ 'faq.lucky_items.2'|trans }}</span>
                                <span>{{ 'faq.lucky_items.3'|trans }}</span>
                                <span class="-bold -dark-burgundy-1">{{ 'faq.lucky_items.4'|trans }}</span>
                                <span>{{ 'faq.lucky_items.5'|trans }}</span>
                                <span class="-bold -dark-burgundy-1">{{ 'faq.lucky_items.6'|trans }}</span>
                                <span class="-dark-burgundy-1">{{ 'faq.lucky_items.7'|trans }}</span>.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <img style="height: 331px" class="-full-width" src="{{ asset('img/faq/lucky_1.png') }}">
                        </div>
                    </div>

                    <div class="row -margin-top-5">
                        <div class="col-sm-5">
                            <img style="height: 90px" class="-full-width" src="{{ asset('img/faq/lucky_2.png') }}">
                        </div>
                        <div class="col-sm-7">
                            <p>
                                <span>{{ 'faq.lucky_items.8'|trans }}</span>
                                <span class="-bold -violet">{{ 'faq.lucky_items.2'|trans }}</span>
                                <span>{{ 'faq.lucky_items.9'|trans }}</span>
                                <span class="-bold -dark-burgundy-1">{{ 'faq.lucky_items.4'|trans }}</span>
                                <span class="-bold -violet">{{ 'faq.lucky_items.10'|trans }}</span>.
                                <span>{{ 'faq.lucky_items.11'|trans }}</span>.
                            </p>
                        </div>
                    </div>

                    <div class="row -margin-top-5">
                        <div class="col-sm-8">
                            <p>
                                <span>{{ 'faq.lucky_items.12'|trans }}</span>
                                <span class="-bold -dark-burgundy-1">{{ 'faq.lucky_items.4'|trans }}</span>
                                <span>{{ 'faq.lucky_items.13'|trans }}</span>
                                <span class="-bold -dark-burgundy-1">{{ 'faq.lucky_items.14'|trans }}</span>.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <img style="height: 207px" class="-full-width" src="{{ asset('img/faq/lucky_3.png') }}">
                        </div>
                    </div>

                    <div class="row -margin-top-5">
                        <div class="col-sm-3">
                            <img style="height: 277px" class="-full-width" src="{{ asset('img/faq/lucky_4.png') }}">
                        </div>
                        <div class="col-sm-9">
                            <p>
                                <span>{{ 'faq.lucky_items.15'|trans }}</span>
                                <span class="-bold -dark-burgundy-1">{{ 'faq.lucky_items.4'|trans }}</span>
                                <span>{{ 'faq.lucky_items.35'|trans }}</span>
                                <span class="-bold -violet">{{ 'faq.lucky_items.2'|trans }}</span>
                                <span>{{ 'faq.lucky_items.16'|trans }}</span>
                                <span class="-bold -bright-blue-1">{{ 'faq.lucky_items.17'|trans }}</span>
                                <span>{{ 'faq.lucky_items.18'|trans }}</span>.
                            </p>
                        </div>
                    </div>

                    <div class="row -margin-top-5">
                        <div class="col-sm-7">
                            <p>
                                <span>{{ 'faq.lucky_items.19'|trans }}</span>
                                <span class="-bold -dark-burgundy-1">{{ 'faq.lucky_items.20'|trans }}</span>
                                <span>{{ 'faq.lucky_items.21'|trans }}</span>
                                <span class="-bold -violet">{{ 'faq.lucky_items.22'|trans }}</span>
                                <span>{{ 'faq.lucky_items.23'|trans }}</span>.
                                <span>{{ 'faq.lucky_items.24'|trans }}</span>
                                <span class="-bold -violet">{{ 'faq.lucky_items.2'|trans }}</span>
                                <span>{{ 'faq.lucky_items.25'|trans }}</span>
                                <span class="-bold -dark-burgundy-1">{{ 'faq.lucky_items.26'|trans }}</span>.
                            </p>
                        </div>
                        <div class="col-sm-5">
                            <img style="height: 101px" class="-full-width" src="{{ asset('img/faq/lucky_5.png') }}">
                        </div>
                    </div>

                    <div class="row -margin-top-5">
                        <div class="col-sm-12">
                            <p>
                                <span>{{ 'faq.lucky_items.27'|trans }}</span>
                                <span class="-bold -dark-burgundy-1">{{ 'faq.lucky_items.4'|trans }}</span>
                                <span>{{ 'faq.lucky_items.28'|trans }}</span>
                                <span class="-bold -violet">{{ 'faq.lucky_items.2'|trans }}</span>.
                                <span>{{ 'faq.lucky_items.29'|trans }}</span>.
                            </p>
                            <p>
                                <span class="-bold -red">{{ 'faq.lucky_items.30'|trans }}</span>
                                <span>{{ 'faq.lucky_items.31'|trans }}</span>
                                <span class="-bold -violet">{{ 'faq.lucky_items.2'|trans }}</span>
                                <span>{{ 'faq.lucky_items.32'|trans }}</span>.
                            </p>
                        </div>
                    </div>

                    <div class="row -margin-top-5">
                        <div class="col-sm-12">
                            <h5 class="-bold">
                                <span>{{ 'faq.lucky_items.33'|trans }}</span>
                                <span class="-bold -violet">{{ 'faq.lucky_items.34'|trans }}</span>:
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row -margin-top-25">
                <div class="col-sm-12">
                    <ul class="server-tabs nav nav-pills">
                        <li class="active">
                            <a href="#dk" aria-controls="dk" role="tab" data-toggle="tab"><span>{{ 'faq.anc_sets.7'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="#dw" aria-controls="dw" role="tab" data-toggle="tab"><span>{{ 'faq.anc_sets.8'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="#fe" aria-controls="fe" role="tab" data-toggle="tab"><span>{{ 'faq.anc_sets.9'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="#mg" aria-controls="mg" role="tab" data-toggle="tab"><span>{{ 'faq.anc_sets.10'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="#dl" aria-controls="dl" role="tab" data-toggle="tab"><span>{{ 'faq.anc_sets.11'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="#sum" aria-controls="sum" role="tab" data-toggle="tab"><span>{{ 'faq.anc_sets.19'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="#rf" aria-controls="rf" role="tab" data-toggle="tab"><span>{{ 'faq.anc_sets.20'|trans }}</span></a>
                        </li>
                    </ul>

                    <div class="tab-content ancient-sets">

                        <div role="tabpanel" class="tab-pane fade active show" id="dk">
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Moros's Scale Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Scale Helm</li>
                                            <li>Scale Armor</li>
                                            <li>Scale Pants</li>
                                            <li>Scale Gloves</li>
                                            <li>Scale Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Max HP +30</li>
                                            <li class="-yellow">Increase Skill Damage +25</li>
                                            <li class="-yellow">Increase Defence +10</li>
                                            <li class="-yellow">Double Damage Rate +10%</li>
                                            <li class="-yellow">Increase Critical Damage Rate +10%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +10%</li>
                                            <li class="-yellow">Increase Critical Damage +10</li>
                                            <li class="-yellow">Increase Excellent Damage +10</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Hegaton's Dragon Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Dragon Helm</li>
                                            <li>Dragon Armor</li>
                                            <li>Dragon Pants</li>
                                            <li>Dragon Gloves</li>
                                            <li>Dragon Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Max HP +50</li>
                                            <li class="-yellow">Increase Defence +40</li>
                                            <li class="-yellow">Double Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage Rate +15%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage +20</li>
                                            <li class="-yellow">Increase Excellent Damage +20</li>
                                            <li class="-yellow">Ignore Opponents Defensive Power +5%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="dw">
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Hades's Sphinx Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Sphinx Helm</li>
                                            <li>Sphinx Armor</li>
                                            <li>Sphinx Pants</li>
                                            <li>Sphinx Gloves</li>
                                            <li>Sphinx Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Max HP +30</li>
                                            <li class="-yellow">Increase Skill Damage +25</li>
                                            <li class="-yellow">Increase Defence +10</li>
                                            <li class="-yellow">Double Damage Rate +10%</li>
                                            <li class="-yellow">Increase Critical Damage Rate +10%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +10%</li>
                                            <li class="-yellow">Increase Critical Damage +10</li>
                                            <li class="-yellow">Increase Excellent Damage +10</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Taros's Legendary Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Legendary Helm</li>
                                            <li>Legendary Armor</li>
                                            <li>Legendary Pants</li>
                                            <li>Legendary Gloves</li>
                                            <li>Legendary Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Max HP +50</li>
                                            <li class="-yellow">Increase Defence +40</li>
                                            <li class="-yellow">Double Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage Rate +15%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage +20</li>
                                            <li class="-yellow">Increase Excellent Damage +20</li>
                                            <li class="-yellow">Ignore Opponents Defensive Power +5%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="fe">
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Dione's Silk Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Silk Helm</li>
                                            <li>Silk Armor</li>
                                            <li>Silk Pants</li>
                                            <li>Silk Gloves</li>
                                            <li>Silk Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Max HP +30</li>
                                            <li class="-yellow">Increase Skill Damage +25</li>
                                            <li class="-yellow">Increase Defence +10</li>
                                            <li class="-yellow">Double Damage Rate +10%</li>
                                            <li class="-yellow">Increase Critical Damage Rate +10%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +10%</li>
                                            <li class="-yellow">Increase Critical Damage +10</li>
                                            <li class="-yellow">Increase Excellent Damage +10</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Castol's Guardian Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Guardian Helm</li>
                                            <li>Guardian Armor</li>
                                            <li>Guardian Pants</li>
                                            <li>Guardian Gloves</li>
                                            <li>Guardian Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Max HP +50</li>
                                            <li class="-yellow">Increase Defence +40</li>
                                            <li class="-yellow">Double Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage Rate +15%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage +20</li>
                                            <li class="-yellow">Increase Excellent Damage +20</li>
                                            <li class="-yellow">Ignore Opponents Defensive Power +5%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="mg">
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Amis's Storm Crow Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Storm Crow Armor</li>
                                            <li>Storm Crow Pants</li>
                                            <li>Storm Crow Gloves</li>
                                            <li>Storm Crow Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Max HP +50</li>
                                            <li class="-yellow">Increase Defence +40</li>
                                            <li class="-yellow">Double Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage Rate +15%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage +20</li>
                                            <li class="-yellow">Increase Excellent Damage +20</li>
                                            <li class="-yellow">Ignore Opponents Defensive Power +5%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="dl">
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Meter's Dark Soul Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Dark Soul Mask</li>
                                            <li>Dark Soul Armor</li>
                                            <li>Dark Soul Pants</li>
                                            <li>Dark Soul Gloves</li>
                                            <li>Dark Soul Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Max HP +50</li>
                                            <li class="-yellow">Increase Defence +40</li>
                                            <li class="-yellow">Double Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage Rate +15%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage +20</li>
                                            <li class="-yellow">Increase Excellent Damage +20</li>
                                            <li class="-yellow">Ignore Opponents Defensive Power +5%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="sum">
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Ophion's Violent Wind Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Violent Wind Helm</li>
                                            <li>Violent Wind Armor</li>
                                            <li>Violent Wind Pants</li>
                                            <li>Violent Wind Gloves</li>
                                            <li>Violent Wind Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Max HP +30</li>
                                            <li class="-yellow">Increase Skill Damage +25</li>
                                            <li class="-yellow">Increase Defence +10</li>
                                            <li class="-yellow">Double Damage Rate +10%</li>
                                            <li class="-yellow">Increase Critical Damage Rate +10%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +10%</li>
                                            <li class="-yellow">Increase Critical Damage +10</li>
                                            <li class="-yellow">Increase Excellent Damage +10</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Nemesis's Red Wing Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Red Wing Helm</li>
                                            <li>Red Wing Armor</li>
                                            <li>Red Wing Pants</li>
                                            <li>Red Wing Gloves</li>
                                            <li>Red Wing Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Max HP +50</li>
                                            <li class="-yellow">Increase Defence +40</li>
                                            <li class="-yellow">Double Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage Rate +15%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage +20</li>
                                            <li class="-yellow">Increase Excellent Damage +20</li>
                                            <li class="-yellow">Ignore Opponents Defensive Power +5%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="rf">
                            <table class="set-table">
                                <thead>
                                <tr>
                                    <th class="-bright-blue-1" colspan="2">Trite's Storm Zahad Set</th>
                                </tr>
                                <tr class="-title">
                                    <td>{{ 'faq.anc_sets.17'|trans }}</td>
                                    <td>{{ 'faq.anc_sets.18'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody class="-font-size-small">
                                <tr>
                                    <td>
                                        <ul>
                                            <li>Storm Zahad Helm</li>
                                            <li>Storm Zahad Armor</li>
                                            <li>Storm Zahad Pants</li>
                                            <li>Storm Zahad Boots</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li class="-yellow">Increase Max HP +50</li>
                                            <li class="-yellow">Increase Defence +40</li>
                                            <li class="-yellow">Double Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage Rate +15%</li>
                                            <li class="-yellow">Increase Excellent Damage Rate +15%</li>
                                            <li class="-yellow">Increase Critical Damage +20</li>
                                            <li class="-yellow">Increase Excellent Damage +20</li>
                                            <li class="-yellow">Ignore Opponents Defensive Power +5%</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}