{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">
            <p class="-center">
                <span class="-bold">{{ 'faq.map_add_exp.0'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.map_add_exp.1'|trans }}</span>
            </p>

            {% embed '@App/layout/_partials/server_tabs.html.twig' %}
                {% block content %}

                    <table>
                        <thead>
                        <tr>
                            <th>{{ 'faq.map_add_exp.2'|trans }}</th>
                            <th>{{ 'faq.map_add_exp.3'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody class="-font-size-small">
                        {% for mapExpAdd in server.server.getFaqInfo.getValues.map_exp_add %}
                            <tr>
                                <td>{{ mapExpAdd.map }}</td>
                                <td>+{{ mapExpAdd.percent }}%</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% endblock content %}
            {% endembed %}

            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}