{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">
            <p class="-center">
                <span class="-bold">{{ 'faq.mu_helper.0'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.mu_helper.1'|trans }}</span>
                <span class="-bold">{{ 'faq.mu_helper.2'|trans }}</span>
            </p>
            <div class="-center">
                <img style="height: 21px" src="{{ asset('img/faq/mu_helper_1.gif') }}">
            </div>
            <p>
            <ul>
                <li>{{ 'faq.mu_helper.3'|trans }}</li>
                <li>{{ 'faq.mu_helper.4'|trans }}</li>
                <li>{{ 'faq.mu_helper.5'|trans }}</li>
            </ul>
            </p>
            <p>
                <span class="-bold">{{ 'faq.mu_helper.6'|trans }}:</span>
            </p>
            <p>
            <ul>
                <li>{{ 'faq.mu_helper.7'|trans }}</li>
                <li>{{ 'faq.mu_helper.8'|trans }}</li>
                <li>{{ 'faq.mu_helper.9'|trans }}</li>
                <li>{{ 'faq.mu_helper.10'|trans }}</li>
            </ul>
            </p>
            <p>
                <span>{{ 'faq.mu_helper.11'|trans }}</span>
            </p>
            <p>
                <span>{{ 'faq.mu_helper.12'|trans }}</span>
                <span class="-bold">{{ 'faq.mu_helper.13'|trans }}</span>
                <span>{{ 'faq.mu_helper.14'|trans }}</span>
                <span class="-bold">{{ 'faq.mu_helper.15'|trans }}</span>
            </p>
            <p>
                <span class="-bold -violet -font-size-bigger">{{ 'faq.mu_helper.36'|trans }}</span>
            </p>
            <div class="row">
                <div class="col-sm-5">
                    <img style="height: 627px" class="-full-width" src="{{ asset('img/faq/mu_helper_2.gif') }}">
                </div>
                <div class="col-sm-7">
                    <ul class="-font-size-small">
                        <li>
                            <span class="-bold">3</span>
                            <span> - {{ 'faq.mu_helper.16'|trans }}</span>
                        </li>
                        <li>
                            <span class="-bold">4</span>
                            <span> - {{ 'faq.mu_helper.17'|trans }}</span>
                            <span class="-bold">{{ 'faq.mu_helper.48'|trans }},</span>
                            <span>{{ 'faq.mu_helper.49'|trans }}</span>
                        </li>
                        <li>
                            <span class="-bold">5</span> -
                            <span class="-bold -blue">{{ 'faq.mu_helper.50'|trans }}</span>
                            <span> - {{ 'faq.mu_helper.18'|trans }}</span>
                            <span class="-bold -blue">{{ 'faq.mu_helper.51'|trans }}</span>
                            <span> - {{ 'faq.mu_helper.52'|trans }}</span>
                        </li>
                        <li>
                            <span class="-bold">6</span>
                            <span> - {{ 'faq.mu_helper.19'|trans }}</span>
                            <span class="-bold -blue">{{ 'faq.mu_helper.53'|trans }}</span>
                            <span>{{ 'faq.mu_helper.54'|trans }}</span>
                            <span class="-bold -blue">{{ 'faq.mu_helper.55'|trans }}</span>
                            <span>{{ 'faq.mu_helper.56'|trans }}</span>
                            <span class="-bold -blue">{{ 'faq.mu_helper.57'|trans }}</span>
                            <span>{{ 'faq.mu_helper.58'|trans }}</span>
                            <span class="-bold -blue">{{ 'faq.mu_helper.59'|trans }}</span>
                            <span>{{ 'faq.mu_helper.60'|trans }}</span>
                            <span class="-bold -blue">{{ 'faq.mu_helper.61'|trans }}</span>
                            <span>{{ 'faq.mu_helper.62'|trans }}</span>
                            <span class="-bold -blue">{{ 'faq.mu_helper.63'|trans }}</span>
                            <span>{{ 'faq.mu_helper.64'|trans }}</span>
                        </li>
                        <li>
                            <span class="-bold">7</span>
                            <span> - {{ 'faq.mu_helper.20'|trans }}</span>
                        </li>
                        <li>
                            <span class="-bold">8</span>
                            <span> - {{ 'faq.mu_helper.21'|trans }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row -font-size-small -m-top-25">
                <div class="col-sm-6">
                    <p class="-bold">{{ 'faq.mu_helper.22'|trans }}</p>
                    <p>
                        <span>{{ 'faq.mu_helper.23'|trans }}</span>
                        <span class="-bold -blue">{{ 'faq.mu_helper.65'|trans }}</span>
                        <span>{{ 'faq.mu_helper.66'|trans }}</span>
                        <span class="-bold">{{ 'faq.mu_helper.67'|trans }}</span>
                        <span>{{ 'faq.mu_helper.68'|trans }}</span>
                        <span class="-bold">{{ 'faq.mu_helper.69'|trans }}</span>
                        <span>{{ 'faq.mu_helper.70'|trans }}</span>
                        <span class="-bold">{{ 'faq.mu_helper.71'|trans }}</span>
                    </p>
                </div>
                <div class="col-sm-6">
                    <img style="height: 244px" class="-full-width" src="{{ asset('img/faq/mu_helper_3.gif') }}">
                </div>
            </div>
            <div class="row -font-size-small -m-top-25">
                <div class="col-sm-6">
                    <img style="height: 367px" class="-full-width" src="{{ asset('img/faq/mu_helper_4.gif') }}">
                </div>
                <div class="col-sm-6">
                    <p class="-bold">{{ 'faq.mu_helper.24'|trans }}</p>
                    <ul>
                        <li>
                            <span class="-bold">1</span>
                            <span> - {{ 'faq.mu_helper.25'|trans }}</span>
                            <span class="-bold">{{ 'faq.mu_helper.71'|trans }}</span>
                        </li>
                        <li>
                            <span class="-bold">2</span>
                            <span> - {{ 'faq.mu_helper.26'|trans }}</span>
                            <span class="-bold">{{ 'faq.mu_helper.72'|trans }}</span>
                            <span>{{ 'faq.mu_helper.73'|trans }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row -font-size-small -m-top-25">
                <div class="col-sm-6">
                    <p>
                        <span>{{ 'faq.mu_helper.27'|trans }}</span>
                        <span class="-bold">{{ 'faq.mu_helper.28'|trans }}</span>
                        <span>{{ 'faq.mu_helper.29'|trans }}</span>
                        <span class="-bold">{{ 'faq.mu_helper.30'|trans }}</span>
                        <span>{{ 'faq.mu_helper.31'|trans }}</span>
                    </p>
                    <p>
                        <span>{{ 'faq.mu_helper.32'|trans }}</span>
                        <span class="-bold -blue">{{ 'faq.mu_helper.33'|trans }}</span>
                        <span>{{ 'faq.mu_helper.34'|trans }}</span>
                        <span class="-bold -blue">{{ 'faq.mu_helper.35'|trans }}</span>
                    </p>
                </div>
                <div class="col-sm-6">
                    <img style="height: 241px" class="-full-width" src="{{ asset('img/faq/mu_helper_5.gif') }}">
                </div>
            </div>
            <div class="row -font-size-small -m-top-25">
                <div class="col-sm-5">
                    <img style="height: 235px" class="-full-width" src="{{ asset('img/faq/mu_helper_6.gif') }}">
                </div>
                <div class="col-sm-7">
                    <p>
                        <span>{{ 'faq.mu_helper.37'|trans }}</span>
                        <span class="-bold">{{ 'faq.mu_helper.38'|trans }}</span>
                        <span>{{ 'faq.mu_helper.39'|trans }}</span>
                        <span class="-bold -blue">{{ 'faq.mu_helper.40'|trans }}</span>
                        <span>{{ 'faq.mu_helper.41'|trans }}</span>
                        (<span>{{ 'faq.mu_helper.74'|trans }}</span>
                        <span class="-bold">{{ 'faq.mu_helper.75'|trans }}</span>
                        <span>{{ 'faq.mu_helper.76'|trans }}</span>
                        <span class="-bold">{{ 'faq.mu_helper.77'|trans }}</span>)
                    </p>
                    <p>
                        <span>{{ 'faq.mu_helper.42'|trans }}</span>
                        <span class="-bold -blue">{{ 'faq.mu_helper.43'|trans }}</span>
                        <span>{{ 'faq.mu_helper.44'|trans }}</span>
                        <span class="-bold -blue">{{ 'faq.mu_helper.45'|trans }}</span>
                        <span>{{ 'faq.mu_helper.46'|trans }}</span>
                        <span class="-bold">{{ 'faq.mu_helper.47'|trans }}</span>
                    </p>
                </div>
            </div>
            <p>
                <span class="-bold -violet -font-size-bigger">{{ 'faq.mu_helper.78'|trans }}</span>
            </p>
            <div class="row -m-top-25">
                <div class="col-sm-6">
                    <ul class="-font-size-small">
                        <li>
                            <span class="-bold">1</span>
                            <span> - {{ 'faq.mu_helper.79'|trans }}</span>
                        </li>
                        <li>
                            <span class="-bold">2</span>
                            <span> - {{ 'faq.mu_helper.80'|trans }}</span>
                        </li>
                        <li>
                            <span class="-bold">3</span>
                            <span> - {{ 'faq.mu_helper.81'|trans }}</span>
                        </li>
                        <li>
                            <span class="-bold">4</span>
                            <span> - {{ 'faq.mu_helper.82'|trans }}</span>
                        </li>
                        <li>
                            <span class="-bold">5</span>
                            <span> - {{ 'faq.mu_helper.83'|trans }}</span>
                        </li>
                        <li class="-m-top-25">
                            <span>{{ 'faq.mu_helper.84'|trans }}</span>
                            <span class="-bold">{{ 'faq.mu_helper.85'|trans }}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <img style="height: 763px" class="-full-width" src="{{ asset('img/faq/mu_helper_7.gif') }}">
                </div>
            </div>
            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}