{% spaceless %}
    <div class="row public faq -page -offafk">
        <div class="col-sm-12">
            <p class="-center -bold">
                {{ 'faq.offafk.1'|trans }}
            </p>
            <p>
                <span>{{ 'faq.offafk.2'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.offafk.3'|trans }}</span>
                <span>{{ 'faq.offafk.4'|trans }}</span>
            </p>
            <p>
                <span>{{ 'faq.offafk.23'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.offafk.3'|trans }}</span>
                <span>{{ 'faq.offafk.24'|trans }}</span>
            </p>
            <p>
                <span>{{ 'faq.offafk.7'|trans }}</span>
                <span class="-zen">{{ 'faq.offafk.8'|trans }}</span>
                <span class="-zen">{{ 'faq.offafk.15'|trans }}</span>
                <span>{{ 'faq.offafk.22'|trans }}</span>
            </p>
            <p>
                <span>{{ 'faq.offafk.25'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.offafk.3'|trans }}</span>
                <span>{{ 'faq.offafk.26'|trans }}</span>
                <span>{{ 'faq.offafk.27'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.offafk.28'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ servers.current.vipLevels.first.getOffAfkMaxHours }}</span>,
                <span class="-bold -dark-burgundy-1">{{ 'faq.offafk.29'|trans }} 12</span>
                <span>{{ 'faq.offafk.30'|trans }}</span>
            </p>
            <p>
                <span>{{ 'faq.offafk.44'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.offafk.3'|trans }}</span>
                <span>{{ 'faq.offafk.45'|trans }}</span>
                <span class="-zen">{{ 'faq.offafk.15'|trans }}</span>,
                <span class="-bold -dark-burgundy-1">{{ 'faq.offafk.47'|trans }}</span>
                <span>{{ 'faq.offafk.48'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.offafk.49'|trans }}</span>
                <span>{{ 'faq.offafk.50'|trans }}</span>
            </p>
            <p>
                <span>{{ 'faq.offafk.51'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.offafk.3'|trans }}</span>
                <span>{{ 'faq.offafk.52'|trans }}</span>
            </p>
            <p>
                <span>{{ 'faq.offafk.53'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.offafk.3'|trans }}</span>
                <span>{{ 'faq.offafk.54'|trans }}</span>
            </p>
            <p>
                <span>{{ 'faq.offafk.55'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.offafk.3'|trans }}</span>
                <span>{{ 'faq.offafk.56'|trans }}</span>
                <span class="-bold -blue">{{ 'faq.offafk.57'|trans }}</span>
            </p>
            <p>
                <span>{{ 'faq.offafk.31'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.offafk.3'|trans }}</span>
                <span>{{ 'faq.offafk.32'|trans }}</span>
            </p>

            <div class="row">
                <div class="col-sm-3">
                    <ul class="key-value-container">
                        <li class="-item">
                            <span class="-key">Dark Wizard</span>
                            <ul class="-value">
                                <li>Evil Spirit</li>
                                <li>Ice Storm</li>
                                <li>Decay</li>
                                <li>Flame</li>
                                <li>Cometfall</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="key-value-container">
                        <li class="-item">
                            <span class="-key">Dark Knight</span>
                            <ul class="-value">
                                <li>Twisting Slash</li>
                                <li>Rageful Blow</li>
                                <li>Death Stab</li>
                                <li>Strike of Destruction</li>
                                <li>Slash</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="key-value-container">
                        <li class="-item">
                            <span class="-key">Fairy Elf</span>
                            <ul class="-value">
                                <li>Multi Shot</li>
                                <li>Triple Shot</li>
                                <li>Ice Arrow</li>
                                <li>Penetration</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="key-value-container">
                        <li class="-item">
                            <span class="-key">Magic Gladiator</span>
                            <ul class="-value">
                                <li>Evil Spirit</li>
                                <li>Twisting Slash</li>
                                <li>Power Slash</li>
                                <li>Fire Slash</li>
                                <li>Flame</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <ul class="key-value-container">
                        <li class="-item">
                            <span class="-key">Dark Lord</span>
                            <ul class="-value">
                                <li>Fire Burst</li>
                                <li>Chaotic Diseier</li>
                                <li>Fire Scream</li>
                                <li></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="key-value-container">
                        <li class="-item">
                            <span class="-key">Summoner</span>
                            <ul class="-value">
                                <li>Lightning Shock</li>
                                <li>Chain Lightning</li>
                                <li>Drain Life</li>
                                <li>Weakness</li>
                                <li>Innovation</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="key-value-container">
                        <li class="-item">
                            <span class="-key">Rage Fighter</span>
                            <ul class="-value">
                                <li>Dark Side</li>
                                <li>Dragon Roar</li>
                                <li>Chain Drive</li>
                                <li>Dragon Slasher</li>
                                <li>Phoenix Shot</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <p>
                <span>{{ 'faq.offafk.33'|trans }}</span>
                <a href="#" class="-bold -underline" data-route="sky_faq_mu.helper">{{ 'faq.offafk.34'|trans }}</a>
                <span>{{ 'faq.offafk.35'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.offafk.36'|trans }}</span>
                <span>{{ 'faq.offafk.37'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.offafk.38'|trans }}</span>
                <span>{{ 'faq.offafk.39'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.offafk.40'|trans }}</span>
                <span>{{ 'faq.offafk.41'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.offafk.42'|trans }}</span>
                <span>{{ 'faq.offafk.43'|trans }}</span>
            </p>
            <p>
                <span>{{ 'faq.offafk.58'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.offafk.3'|trans }}</span>
                <span>{{ 'faq.offafk.59'|trans }}</span>
            </p>

            <p>
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}