{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">
            <p>
                <span class="-bold">{{- 'faq.offtrade.0'|trans -}}</span>
                <span> {{- 'faq.offtrade.1'|trans -}}</span>
                <span>{{- 'faq.offtrade.3'|trans -}}</span>.
            </p>
            <p>
                <span class="-bold">{{ 'faq.offtrade.10'|trans }}</span>
            </p>
            <p>
                {{ 'faq.offtrade.11'|trans }}
                <span class="-blue -bold">S</span>
                <span class="-red">{{ 'faq.offtrade.12'|trans }}</span>
            </p>
            <p>
                {{ 'faq.offtrade.13'|trans }}
            </p>
            <p>
                {{ 'faq.offtrade.14'|trans }}
            </p>
            <p>
                {{ 'faq.offtrade.15'|trans }}
                <span class="-bold -blue">{{ 'faq.offtrade.16'|trans }}</span>
            </p>
            <p>
                {{ 'faq.offtrade.17'|trans }}
            </p>
            <p>
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}