{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <p class="-center -bold">
                <span>{{ 'faq.persistent_discounts.0'|trans }}</span>!
            </p>

            <p class="-center -bold">
                <span>{{ 'faq.persistent_discounts.1'|trans }}</span>!
            </p>

            <p>
                <span>{{ 'faq.persistent_discounts.2'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.persistent_discounts.3'|trans }}</span>
                <span>{{ 'faq.persistent_discounts.4'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.persistent_discounts.5'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'sideblocks.login.logged_in.11'|trans }}</span>
                <span>{{ 'faq.persistent_discounts.6'|trans }}</span>.
            </p>

            <p>
                <span class="-font-size-bigger -underline">{{ 'faq.persistent_discounts.7'|trans }}</span>
            </p>

            {% embed '@App/layout/_partials/server_tabs.html.twig' %}
                {% block content %}
                    {% set moneyDiscounts = server.server.getMoneyCartPersistentDiscountsSortedByDiscount %}
                    {% set creditsDiscounts = server.server.getCreditsCartPersistentDiscountsSortedByDiscount %}
                    {% if moneyDiscounts|length > 0 or creditsDiscounts|length > 0 %}
                        <ul class="persistent-discounts-container">
                            {% if creditsDiscounts|length > 0 %}
                                <li>
                                    <ul class="key-value-container">
                                        <li class="-item">
                                            <span class="-value -wcoin">{{ 'faq.persistent_discounts.9'|trans }}</span>
                                        </li>
                                        <li class="-item">
                                            <span class="-key -bold -dark-burgundy-1">{{ 'faq.persistent_discounts.11'|trans }}</span>
                                            <span class="-value -bold -dark-burgundy-1">{{ 'faq.persistent_discounts.12'|trans }}</span>
                                        </li>

                                        {% for idx, discount in creditsDiscounts %}
                                            <li class="-item">
                                                    <span class="-key">
                                                        {% if idx == creditsDiscounts|length - 1 %}
                                                            <span>> {{ discount.getSpentFrom }}</span>
                                                        {% elseif idx == 0 %}
                                                            <span>< {{ discount.getSpentTo }}</span>
                                                        {% else %}
                                                            <span>{{ discount.getSpentFrom }}</span>
                                                            <span> - {{ discount.getSpentTo }}</span>
                                                        {% endif %}
                                                    </span>
                                                <span class="-value">
                                                        <span class="-bold -dark-burgundy-1">{{ discount.getDiscount }}
                                                            %</span>
                                                    </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                            {% if moneyDiscounts|length > 0 %}
                                <li>
                                    <ul class="key-value-container">
                                        <li class="-item">
                                            <span class="-value -money">{{ 'faq.persistent_discounts.10'|trans }}</span>
                                        </li>
                                        <li class="-item">
                                            <span class="-key -bold -dark-burgundy-1">{{ 'faq.persistent_discounts.11'|trans }}</span>
                                            <span class="-value -bold -dark-burgundy-1">{{ 'faq.persistent_discounts.12'|trans }}</span>
                                        </li>

                                        {% for idx, discount in moneyDiscounts %}
                                            <li class="-item">
                                                    <span class="-key">
                                                        {% if idx == moneyDiscounts|length - 1 %}
                                                            <span>> {{ discount.getSpentFrom }}</span>
                                                        {% elseif idx == 0 %}
                                                            <span>< {{ discount.getSpentTo }}</span>
                                                        {% else %}
                                                            <span>{{ discount.getSpentFrom }}</span>
                                                            <span> - {{ discount.getSpentTo }}</span>
                                                        {% endif %}
                                                    </span>
                                                <span class="-value">
                                                        <span class="-bold -dark-burgundy-1">{{ discount.getDiscount }}
                                                            %</span>
                                                    </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                {% endblock content %}
            {% endembed %}
            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}