{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">
            <p class="-center">
                <span class="-bold">{{ 'faq.reconnect.0'|trans }}</span>
            </p>
            <div class="-center">
                <img style="height: 105px" src="{{ asset('img/faq/reconnect_1.png') }}">
            </div>
            <p>
            <p>
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}