{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">
            <p class="-center -bold">
                <span>{{ 'faq.referral_system.0'|trans }}</span>
                <span class="-violet">{{ 'faq.referral_system.1'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.referral_system.2'|trans }}</span>.
            </p>

            <p>
                <span class="-font-size-bigger -underline">{{ 'faq.referral_system.3'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.referral_system.4'|trans }}</span>
                <a class="-bold -violet -underline"
                   href="{{ path('sky_referrals_index') }}">{{ 'faq.referral_system.5'|trans }}</a>,
                <span>{{ 'faq.referral_system.6'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.referral_system.7'|trans }}</span>
                <a class="-bold -violet -underline"
                   href="{{ path('sky_referrals_index') }}">{{ 'faq.referral_system.8'|trans }}</a>.
            </p>

            <p>
                <span class="-font-size-bigger -underline">{{ 'faq.referral_system.9'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.referral_system.10'|trans }}</span>
                <a class="-bold -violet -underline"
                   href="{{ path('sky_referrals_index') }}">{{ 'faq.referral_system.8'|trans }}</a>,
                <span>{{ 'faq.referral_system.11'|trans }}</span>
                <span class="-bold -blue">"{{ 'referrals.index.11'|trans|trans }}"</span>.
            </p>

            <p>
                <span>{{ 'faq.referral_system.13'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.referral_system.14'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.referral_system.15'|trans }}</span>
                <a class="-bold -violet -underline"
                   href="{{ path('sky_referrals_index') }}">{{ 'faq.referral_system.8'|trans }}</a>.
            </p>

            <p>
                <span>{{ 'faq.referral_system.16'|trans }}</span>
            </p>

            <ul>
                {% for server in servers.list %}
                    <li class="memo -margin-top-5">
                        {#<span>{{ 'faq.referral_system.17'|trans }}</span>#}
                        {#<span class="-bold">{{ server.server.getName }}</span>#}
                        <span class="-bold -violet">{{ server.server.getReferralConfig.getReward }}</span>
                        <span class="-wcoin">{{ 'faq.referral_system.18'|trans }}</span>
                    </li>
                {% endfor %}
            </ul>

            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}