{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">
            <p class="-center -bold">
                <span>{{ 'faq.res_gr.0'|trans }}</span>
                <span class="-violet">{{ 'faq.res_gr.16'|trans }}</span>
                <span>{{ 'faq.res_gr.2'|trans }}</span>
                <span class="-violet">{{ 'faq.res_gr.17'|trans }}</span>
            </p>

            <p>
                <span class="-bold -violet">{{ 'faq.res_gr.1'|trans }}</span>
                <span>{{ 'faq.res_gr.2'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.res_gr.3'|trans }}</span>
                <span>{{ 'faq.res_gr.4'|trans }}</span>
            </p>

            {% embed '@App/layout/_partials/server_tabs.html.twig' %}
                {% block content %}
                    <div class="row -m-top-25">
                        <div class="col-sm-6">
                            {% embed '@App/layout/_partials/card.html.twig' %}
                                {% block heading %}
                                    <span>{{ 'faq.res_gr.1'|trans }}</span>
                                {% endblock %}
                                {% block content %}
                                    <ul class="key-value-container">
                                        <li class="-item">
                                            <span class="-key" style="flex-basis: 100%;">{{ 'faq.res_gr.10'|trans }}</span>
                                            <span class="-value">
                                                {{ server.server.getCharacterEvolutionConfig.getResetLevel - 25 }} /
                                                {{ server.server.getCharacterEvolutionConfig.getResetLevel - 20 }} /
                                                {{ server.server.getCharacterEvolutionConfig.getResetLevel - 15 }} /
                                                {{ server.server.getCharacterEvolutionConfig.getResetLevel - 10 }} /
                                                {{ server.server.getCharacterEvolutionConfig.getResetLevel - 5 }} /
                                                {{ server.server.getCharacterEvolutionConfig.getResetLevel }}
                                            </span>
                                        </li>
                                        <li class="-item">
                                            <span class="-key">{{ 'faq.res_gr.12'|trans }}</span>
                                            <span class="-value">
                                                <span>{{ server.server.getCharacterEvolutionConfig.getResetPrice }}</span>
                                                <span class="-zen">kk</span>
                                                <span>{{ 'faq.res_gr.13'|trans }}</span>
                                            </span>
                                        </li>
                                        <li class="-item">
                                            <span class="-key">{{ 'faq.res_gr.23'|trans }}</span>
                                            <span class="-value">{{ server.server.getCharacterEvolutionConfig.getResetLimit }}</span>
                                        </li>
                                    </ul>
                                    <p>
                                        <span class="-bold -violet -font-size-bigger">{{ 'faq.res_gr.21'|trans }}</span>
                                    </p>
                                    <ul class="key-value-container">
                                        <li class="-item">
                                            <span class="-value">
                                                <span>{{ server.server.getCharacterEvolutionConfig.getResetReward }}</span>
                                                <span class="-wcoin">WCoin</span>
                                            </span>
                                        </li>
                                        <li class="-item">
                                            <span class="-key">Dark Knight</span>
                                            <span class="-value">{{ 'faq.res_gr.30'|trans({VALUE: server.server.getCharacterEvolutionConfig.getResetPointsDK}) }}</span>
                                        </li>
                                        <li class="-item">
                                            <span class="-key">Dark Wizard</span>
                                            <span class="-value">{{ 'faq.res_gr.30'|trans({VALUE: server.server.getCharacterEvolutionConfig.getResetPointsDW}) }}</span>
                                        </li>
                                        <li class="-item">
                                            <span class="-key">Elf</span>
                                            <span class="-value">{{ 'faq.res_gr.30'|trans({VALUE: server.server.getCharacterEvolutionConfig.getResetPointsFE}) }}</span>
                                        </li>
                                        <li class="-item">
                                            <span class="-key">Magic Gladiator</span>
                                            <span class="-value">{{ 'faq.res_gr.30'|trans({VALUE: server.server.getCharacterEvolutionConfig.getResetPointsMG}) }}</span>
                                        </li>
                                        <li class="-item">
                                            <span class="-key">Dark Lord</span>
                                            <span class="-value">{{ 'faq.res_gr.30'|trans({VALUE: server.server.getCharacterEvolutionConfig.getResetPointsDL}) }}</span>
                                        </li>
                                        <li class="-item">
                                            <span class="-key">Summoner</span>
                                            <span class="-value">{{ 'faq.res_gr.30'|trans({VALUE: server.server.getCharacterEvolutionConfig.getResetPointsSUM}) }}</span>
                                        </li>
                                        <li class="-item">
                                            <span class="-key">Rage Fighter</span>
                                            <span class="-value">{{ 'faq.res_gr.30'|trans({VALUE: server.server.getCharacterEvolutionConfig.getResetPointsRF}) }}</span>
                                        </li>
                                    </ul>
                                {% endblock %}
                            {% endembed %}
                        </div>
                        <div class="col-sm-6">
                            {% embed '@App/layout/_partials/card.html.twig' %}
                                {% block heading %}
                                    <span>{{ 'faq.res_gr.3'|trans }}</span>
                                {% endblock %}
                                {% block content %}
                                    <ul class="key-value-container">
                                        <li class="-item">
                                            <span class="-key">{{ 'faq.res_gr.10'|trans }}</span>
                                            <span class="-value">{{ server.server.getCharacterEvolutionConfig.getResetLevel }}</span>
                                        </li>
                                        <li class="-item">
                                            <span class="-key">{{ 'faq.res_gr.19'|trans }}</span>
                                            <span class="-value">{{ server.server.getCharacterEvolutionConfig.getGrandResetReset }}</span>
                                        </li>
                                        <li class="-item">
                                            <span class="-key">{{ 'faq.res_gr.12'|trans }}</span>
                                            <span class="-value">
                                                <span>{{ server.server.getCharacterEvolutionConfig.getGrandResetPrice }}</span>
                                                <span class="-zen">kk</span>
                                                <span>{{ 'faq.res_gr.13'|trans }}</span>
                                            </span>
                                        </li>
                                    </ul>
                                    <p>
                                        <span class="-bold -violet -font-size-bigger">{{ 'faq.res_gr.21'|trans }}</span>
                                    </p>
                                    <ul class="key-value-container">
                                        <li class="-item">
                                            <span class="-value">{{ 'faq.res_gr.15'|trans({COUNT: server.server.getCharacterEvolutionConfig.getGrandResetPoints}) }}</span>
                                        </li>
                                        <li class="-item">
                                            <span class="-value">
                                                <span>{{ server.server.getCharacterEvolutionConfig.getGrandResetReward }}</span>
                                                <span class="-wcoin">WCoin</span>
                                            </span>
                                        </li>
                                    </ul>
                                {% endblock %}
                            {% endembed %}
                        </div>
                    </div>
                {% endblock content %}
            {% endembed %}

            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}