{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <p class="-center -bold">
                <span>{{ 'faq.reset_stats.0'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.reset_stats.1'|trans }}</span>
                <span>{{ 'faq.reset_stats.2'|trans }}</span>!
            </p>

            <p>
                <span>{{ 'faq.reset_stats.3'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.reset_stats.4'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'nav.account_menu.1'|trans }}</span>
                <span>{{ 'faq.reset_stats.5'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'nav.account_menu.0'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.reset_stats.6'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.reset_stats.7'|trans }}</span>
                <span class="-bold -offline">{{ 'faq.reset_stats.8'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.reset_stats.9'|trans }}</span>!
            </p>

            <div class="memo row">
                <div class="col-sm-12">
                    {{ 'faq.reset_stats.13'|trans }}
                </div>
            </div>

            <p>
            <ul class="key-value-container">
                {% for server in servers.list %}
                    <li class="-item">
                        <div class="-value">
                            {#<span>{{ 'faq.reset_stats.10'|trans }}</span>#}
                            {#<span class="-bold -dark-burgundy-1">{{ server.server.getName }}</span>#}
                            <span>{{ 'faq.reset_stats.11'|trans }}</span>
                            <span class="-bold -dark-burgundy-1">{{ server.server.getAccountMenuConfig.getResetStatsPrice }}</span>
                            <span class="-wcoin">{{ 'faq.reset_stats.12'|trans }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            </p>

            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}