{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <p class="-center -bold">
                <span>{{ 'faq.vote_reward.0'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.vote_reward.1'|trans }}</span><br>
                <span>{{ 'faq.vote_reward.2'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.vote_reward.6'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.vote_reward.7'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.vote_reward.8'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.vote_reward.22'|trans }}</span>
            </p>

            <div class="memo row">
                <div class="col-sm-12">
                    <p>
                        <span>{{ 'faq.vote_reward.14'|trans }}</span>
                        <span class="-bold">{{ 'faq.vote_reward.15'|trans }}</span>,
                        <span class="-bold">{{ 'faq.vote_reward.23'|trans }}</span>,
                        <span class="-bold">{{ 'faq.vote_reward.27'|trans }}</span>,
                        <span class="-bold">{{ 'faq.vote_reward.28'|trans }}</span>,
                        <span class="-bold">{{ 'faq.vote_reward.29'|trans }}</span>
                        <span class="-bold">{{ 'faq.vote_reward.21'|trans }}</span>
                        <span class="-bold">{{ 'faq.vote_reward.20'|trans }}</span>
                    </p>
                </div>
            </div>

            <div class="memo row -margin-top-10">
                <div class="col-sm-12">
                    <p>
                        <span>{{ 'faq.vote_reward.16'|trans }}</span>
                        <span class="-bold">{{ 'faq.vote_reward.17'|trans }}</span>
                    </p>
                    {#<p>#}
                    {#<span class="-bold">{{ 'faq.vote_reward.18'|trans }}</span>#}
                    {#</p>#}
                </div>
            </div>

            <div class="memo row -margin-top-10">
                <div class="col-sm-12">
                    <p>
                        <span class="-bold">{{ 'faq.vote_reward.24'|trans }}</span>
                        <span>{{ 'faq.vote_reward.25'|trans }}</span>
                        <span class="-bold">{{ 'faq.vote_reward.15'|trans }}</span>
                        <span>{{ 'faq.vote_reward.21'|trans }}</span>
                        <span class="-bold">{{ 'faq.vote_reward.20'|trans }}</span>
                        <span>{{ 'faq.vote_reward.26'|trans }}</span>
                    </p>
                </div>
            </div>

            <p>
                <span class="-font-size-bigger -underline">{{ 'faq.vote_reward.9'|trans }}</span>
            </p>

            {% for server in servers.list %}
                <table class="vote_reward">
                    {#<tr>#}
                    {#<td colspan="5">#}
                    {#<span class="-bold -dark-burgundy-1">{{ server.server.getName }}</span>#}
                    {#</td>#}
                    {#</tr>#}
                    <tr>
                        <td>{{ 'faq.vote_reward.19'|trans }}</td>
                        <td colspan="2">{{ 'faq.vote_reward.10'|trans }}</td>
                        <td colspan="3">{{ 'faq.vote_reward.7'|trans }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{ 'faq.vote_reward.11'|trans }}</td>
                        <td>{{ 'faq.vote_reward.12'|trans }}</td>
                        <td>1 {{ 'faq.vote_reward.13'|trans }}</td>
                        <td>2 {{ 'faq.vote_reward.13'|trans }}</td>
                        <td>3 {{ 'faq.vote_reward.13'|trans }}</td>
                    </tr>
                    <tr class="-font-size-small">
                        <td>{{ 'faq.vote_reward.15'|trans }}</td>
                        <td>
                            <span class="-bold -dark-burgundy-1">{{ server.server.getVoteRewardConfig.getMmotopRewardRegularVote }}</span>
                            <span class="-wcoin">{{ 'faq.vote_reward.5'|trans }}</span>
                        </td>
                        <td>
                            <span class="-bold -dark-burgundy-1">{{ server.server.getVoteRewardConfig.getMmotopRewardSmsVote }}</span>
                            <span class="-wcoin">{{ 'faq.vote_reward.5'|trans }}</span>
                        </td>
                        <td rowspan="6" class="-centered">
                            <span class="-bold -dark-burgundy-1">{{ server.server.getVoteRewardConfig.getRewardMonthTop1 }}</span>
                            <span class="-wcoin">{{ 'faq.vote_reward.5'|trans }}</span>
                        </td>
                        <td rowspan="6" class="-centered">
                            <span class="-bold -dark-burgundy-1">{{ server.server.getVoteRewardConfig.getRewardMonthTop2 }}</span>
                            <span class="-wcoin">{{ 'faq.vote_reward.5'|trans }}</span>
                        </td>
                        <td rowspan="6" class="-centered">
                            <span class="-bold -dark-burgundy-1">{{ server.server.getVoteRewardConfig.getRewardMonthTop3 }}</span>
                            <span class="-wcoin">{{ 'faq.vote_reward.5'|trans }}</span>
                        </td>
                    </tr>
                    <tr class="-font-size-small">
                        <td>{{ 'faq.vote_reward.20'|trans }}</td>
                        <td>
                            <span class="-bold -dark-burgundy-1">{{ server.server.getVoteRewardConfig.getQtopRewardRegularVote }}</span>
                            <span class="-wcoin">{{ 'faq.vote_reward.5'|trans }}</span>
                        </td>
                        <td>
                            <span class="-bold -dark-burgundy-1">{{ server.server.getVoteRewardConfig.getQtopRewardSmsVote }}</span>
                            <span class="-wcoin">{{ 'faq.vote_reward.5'|trans }}</span>
                        </td>
                    </tr>
                    <tr class="-font-size-small">
                        <td>{{ 'faq.vote_reward.23'|trans }}</td>
                        <td colspan="2" align="center">
                            <span class="-bold -dark-burgundy-1">{{ server.server.getVoteRewardConfig.getRewardXtremeTop100Vote }}</span>
                            <span class="-wcoin">{{ 'faq.vote_reward.5'|trans }}</span>
                        </td>
                    </tr>
                    <tr class="-font-size-small">
                        <td>{{ 'faq.vote_reward.27'|trans }}</td>
                        <td colspan="2" align="center">
                            <span class="-bold -dark-burgundy-1">{{ server.server.getVoteRewardConfig.getRewardGTop100Vote }}</span>
                            <span class="-wcoin">{{ 'faq.vote_reward.5'|trans }}</span>
                        </td>
                    </tr>
                    <tr class="-font-size-small">
                        <td>{{ 'faq.vote_reward.28'|trans }}</td>
                        <td colspan="2" align="center">
                            <span class="-bold -dark-burgundy-1">{{ server.server.getVoteRewardConfig.getRewardTopServers200Vote }}</span>
                            <span class="-wcoin">{{ 'faq.vote_reward.5'|trans }}</span>
                        </td>
                    </tr>
                    <tr class="-font-size-small">
                        <td>{{ 'faq.vote_reward.29'|trans }}</td>
                        <td colspan="2" align="center">
                            <span class="-bold -dark-burgundy-1">{{ server.server.getVoteRewardConfig.getRewardTopGVote }}</span>
                            <span class="-wcoin">{{ 'faq.vote_reward.5'|trans }}</span>
                        </td>
                    </tr>
                </table>
            {% endfor %}

            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}