{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <p class="-center">
                <span>{{ 'faq.web_bank.0'|trans }}</span>
                <span>{{ 'faq.web_bank.1'|trans }}</span>!
            </p>

            <p class="-bold -center">
                <span>{{ 'faq.web_bank.2'|trans }}</span>
                <span class="-violet">{{ 'faq.web_bank.3'|trans }}</span>
                <span>{{ 'faq.web_bank.4'|trans }}</span>!
            </p>

            <p>
                <span>{{ 'faq.web_bank.5'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.web_bank.6'|trans }}</span>
                <span>{{ 'faq.web_bank.7'|trans }}</span>
                <span class="-bold -offline">{{ 'faq.web_bank.8'|trans }}</span>
                <span>{{ 'faq.web_bank.9'|trans }}</span>!
            </p>

            <p>
                <span>{{ 'faq.web_bank.10'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.web_bank.3'|trans }}</span>,
                <span>{{ 'faq.web_bank.11'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.web_bank.12'|trans }}</span>
                <span>{{ 'faq.web_bank.13'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'nav.account_menu.0'|trans }}</span>,
                <span>{{ 'faq.web_bank.14'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'warehouse.1'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.web_bank.15'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.web_bank.16'|trans }}</span>,
                <span>{{ 'faq.web_bank.17'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'nav.account_menu.3'|trans }}</span>
                <span>{{ 'faq.web_bank.13'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'nav.account_menu.0'|trans }}</span>
                <span>{{ 'faq.web_bank.18'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.web_bank.19'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.web_bank.16'|trans }}</span>.
            </p>

            <p class="-bold">
                <span>{{ 'faq.web_bank.20'|trans }}</span>
                <span class="-violet">{{ 'faq.web_bank.21'|trans }}</span>
                <span>{{ 'faq.web_bank.22'|trans }}</span>.
            </p>

            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}