{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <p class="-center -bold">
                <span>{{ 'faq.web_shop.0'|trans }}</span>
                <span class="-violet">{{ 'faq.web_shop.1'|trans }}</span>!
            </p>

            <p>
                <span>{{ 'faq.web_shop.2'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.web_shop.3'|trans }}</span>
                <span class="-violet -bold">{{ 'faq.web_shop.4'|trans }}</span>,
                <span>{{ 'faq.web_shop.5'|trans }}</span>
                <a href="#" data-route="sky_faq_discount.coupons" class="-bold -underline">{{ 'faq.web_shop.6'|trans }}</a>,
                {#<a href="#" data=route="sky_faq_persistent.discounts" class="-bold -underline">{{ 'faq.web_shop.7'|trans }}</a>#}
                <span>{{ 'faq.web_shop.8'|trans }}</span>
                <a href="#" data-route="sky_faq_cart" class="-bold -underline">{{ 'faq.web_shop.9'|trans }}</a>!
            </p>

            <p>
                <span>{{ 'faq.web_shop.10'|trans }}</span>
                <a href="{{ path('sky_webshop_index') }}" class="-bold">{{ 'nav.account_menu.4'|trans }}</a>
                <span>{{ 'faq.web_shop.11'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'nav.account_menu.0'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.web_shop.12'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.web_shop.13'|trans }}</span>,
                {#<span>{{ 'faq.web_shop.14'|trans }}</span>#}
                {#<a href="#" data=route="sky_faq_persistent.discounts" class="-bold -underline">{{ 'faq.web_shop.15'|trans }}</a>,#}
                {#<span>{{ 'faq.web_shop.16'|trans }}</span>.#}
            </p>

            <p>
                <span>{{ 'faq.web_shop.17'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'web_shop.buy.3'|trans }}</span>,
                <span>{{ 'faq.web_shop.18'|trans }}</span>
                <a href="#" data-route="sky_faq_cart" class="-bold -underline">{{ 'faq.web_shop.27'|trans }}</a>
                <span>{{ 'faq.web_shop.19'|trans }}</span>
                <a href="#" data-route="sky_faq_cart" class="-bold -underline">{{ 'faq.web_shop.20'|trans }}</a>
                <span>{{ 'faq.web_shop.21'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.web_shop.22'|trans }}</span>
                {#<a href="#" data=route="sky_faq_persistent.discounts" class="-bold">{{ 'faq.web_shop.23'|trans }}</a>#}
                {#<span>{{ 'faq.web_shop.24'|trans }}</span>#}
                <a href="#" data-route="sky_faq_cart" class="-bold">{{ 'faq.web_shop.25'|trans }}</a>
                <span>{{ 'faq.web_shop.26'|trans }}</span>.
            </p>


            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}