{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            {% embed '@App/layout/_partials/card.html.twig' %}
                {% block heading %}
                    <span>{{ 'faq.wings_hunt.14'|trans }}</span>
                {% endblock %}
                {% block content %}
                    <p class="-center -bold">
                        <span>{{ 'faq.wings_hunt.11'|trans }}</span>
                        <span class="-violet">{{ 'faq.wings_hunt.12'|trans }}</span>
                        <span>{{ 'faq.wings_hunt.13'|trans }}</span>
                    </p>
                    <div class="row memo">
                        <div class="col-sm-12">
                            <span>{{ 'faq.wings_hunt.7'|trans }}</span>
                            {#<span class="-violet -bold">Empire</span>#}
                            <span>-</span>
                            <span class="-dark-burgundy-1 -bold">{{ 'faq.wings_hunt.8'|trans({MINUTES: 20}) }}</span>
                            <span>{{ 'faq.wings_hunt.9'|trans }}</span>.
                        </div>
                    </div>
                    {#<div class="row memo -margin-top-10">#}
                    {#<div class="col-sm-12">#}
                    {#<span>{{ 'faq.wings_hunt.7'|trans }}</span>#}
                    {#<span class="-violet -bold">Edge</span>#}
                    {#<span>-</span>#}
                    {#<span class="-dark-burgundy-1 -bold">{{ 'faq.wings_hunt.8'|trans({MINUTES: 15}) }}</span>#}
                    {#<span>{{ 'faq.wings_hunt.9'|trans }}</span>.#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="row memo -margin-top-10">#}
                    {#<div class="col-sm-12">#}
                    {#<span>{{ 'faq.wings_hunt.7'|trans }}</span>#}
                    {#<span class="-violet -bold">Heaven</span>#}
                    {#<span>-</span>#}
                    {#<span class="-dark-burgundy-1 -bold">{{ 'faq.wings_hunt.8'|trans({MINUTES: 10}) }}</span>#}
                    {#<span>{{ 'faq.wings_hunt.9'|trans }}</span>.#}
                    {#</div>#}
                    {#</div>#}
                    <div class="row memo -margin-top-10">
                        <div class="col-sm-12">
                            <span>{{ 'faq.wings_hunt.17'|trans }}</span>
                            <span class="-dark-burgundy-1 -bold">{{ 'faq.wings_hunt.18'|trans }}</span>
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}

            {% embed '@App/layout/_partials/card.html.twig' %}
                {% block heading %}
                    <span>{{ 'faq.wings_hunt.15'|trans }}</span>
                {% endblock %}
                {% block content %}
                    <p class="-center -bold">
                        <span>{{ 'faq.wings_hunt.0'|trans }}</span>
                        <span class="-violet">{{ 'faq.wings_hunt.1'|trans }}</span>
                        <span>{{ 'faq.wings_hunt.2'|trans }}</span>
                        <span class="-violet">{{ 'faq.wings_hunt.3'|trans }}</span>
                    </p>
                    <p>
                        <span>{{ 'faq.wings_hunt.4'|trans }}</span>!
                    </p>
                    <p>
                        <span>{{ 'faq.wings_hunt.5'|trans }}</span>
                        <span class="-violet -bold">{{ 'faq.wings_hunt.6'|trans }}</span>.
                    </p>
                    <div class="row memo">
                        <div class="col-sm-12">
                            <span>{{ 'faq.wings_hunt.7'|trans }}</span>
                            {#<span class="-violet -bold">Empire</span>#}
                            <span>-</span>
                            <span class="-dark-burgundy-1 -bold">{{ 'faq.wings_hunt.8'|trans({MINUTES: 20}) }}</span>
                            <span>{{ 'faq.wings_hunt.9'|trans }}</span>.
                            <span>{{ 'faq.wings_hunt.10'|trans }}</span>
                            <span class="-bold -violet">Loch's Feather</span> -
                            <span class="-dark-burgundy-1 -bold">8%</span>.
                            <span>{{ 'faq.wings_hunt.10'|trans }}</span>
                            <span class="-bold -violet">Crest of Monarh</span> -
                            <span class="-dark-burgundy-1 -bold">4%</span>.
                        </div>
                    </div>
                    {#<div class="row memo -margin-top-10">#}
                    {#<div class="col-sm-12">#}
                    {#<span>{{ 'faq.wings_hunt.7'|trans }}</span>#}
                    {#<span class="-violet -bold">Edge</span>#}
                    {#<span>-</span>#}
                    {#<span class="-dark-burgundy-1 -bold">{{ 'faq.wings_hunt.8'|trans({MINUTES: 15}) }}</span>#}
                    {#<span>{{ 'faq.wings_hunt.9'|trans }}</span>.#}
                    {#<span>{{ 'faq.wings_hunt.10'|trans }}</span>#}
                    {#<span class="-bold -violet">Loch's Feather</span> -#}
                    {#<span class="-dark-burgundy-1 -bold">10%</span>.#}
                    {#<span>{{ 'faq.wings_hunt.10'|trans }}</span>#}
                    {#<span class="-bold -violet">Crest of Monarh</span> -#}
                    {#<span class="-dark-burgundy-1 -bold">5%</span>.#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="row memo -margin-top-10">#}
                    {#<div class="col-sm-12">#}
                    {#<span>{{ 'faq.wings_hunt.7'|trans }}</span>#}
                    {#<span class="-violet -bold">Heaven</span>#}
                    {#<span>-</span>#}
                    {#<span class="-dark-burgundy-1 -bold">{{ 'faq.wings_hunt.8'|trans({MINUTES: 10}) }}</span>#}
                    {#<span>{{ 'faq.wings_hunt.9'|trans }}</span>.#}
                    {#<span>{{ 'faq.wings_hunt.10'|trans }}</span>#}
                    {#<span class="-bold -violet">Loch's Feather</span> -#}
                    {#<span class="-dark-burgundy-1 -bold">12%</span>.#}
                    {#<span>{{ 'faq.wings_hunt.10'|trans }}</span>#}
                    {#<span class="-bold -violet">Crest of Monarh</span> -#}
                    {#<span class="-dark-burgundy-1 -bold">6%</span>.#}
                    {#</div>#}
                    {#</div>#}
                {% endblock %}
            {% endembed %}

            {% embed '@App/layout/_partials/card.html.twig' %}
                {% block heading %}
                    <span>{{ 'faq.wings_hunt.16'|trans }}</span>
                {% endblock %}
                {% block content %}
                    <p class="-center -bold">
                        <span>{{ 'faq.wings_hunt.19'|trans }}</span>
                    </p>
                {% endblock %}
            {% endembed %}


            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}