{% if not item.isEmpty and item.isParsed %}
    {% set width = item.getItemInfo.getX * 32 - 1 %}
    {% set height = item.getItemInfo.getY * 32 %}

    <div data-toggle-item-popup class="item -image{{ withBg is defined and withBg ? ' -background' : '' }}" style="width:{{ width }}px; height:{{ height }}px;">
        <div data-item-serial="{{ item.getGeneralOptions.getSerialNumber.compound }}">
            {% include '@App/_partials/items/_partials/image.html.twig' with {itemInfo: item.getItemInfo, level: item.getGeneralOptions.getLvl, width: width, height: height} %}
        </div>
        <div class="item_popup_container" data-item-popup>
            {% include '@App/_partials/items/item_popup.html.twig' with {item: item, long: true} %}
        </div>
    </div>
{% endif %}