{% if not item.isEmpty and item.isParsed %}

    {% set isExcellent = false %}
    {% set isAncient = false %}
    {% set shouldDisplayItemLevel = item.getGeneralOptions.getLvl > 0 %}

    {% if item.getExcellentOptions.isExcellent %}
        {% set isExcellent = true %}
    {% endif %}
    {% if item.getAncientSet is not null %}
        {% set isAncient = true %}
    {% endif %}


    <div class="item_popup">
        {% include '@App/_partials/items/_partials/name.html.twig' with {item: item, long: false} %}

        <div class="item_popup_img">
            {% include '@App/_partials/items/_partials/image.html.twig' with {itemInfo: item.getItemInfo, level: item.getGeneralOptions.getLvl} %}
        </div>

        <div class="item_popup_data">

            {% if item.getComputedOptions.getMinDmg and item.getComputedOptions.getMaxDmg %}
                <span>Damage: {{ item.getComputedOptions.getMinDmg }}-{{ item.getComputedOptions.getMaxDmg }}</span>
            {% endif %}

            {% if item.getComputedOptions.getDefense %}
                <span>Defense: {{ item.getComputedOptions.getDefense }}</span>
            {% endif %}

            {% if item.getComputedOptions.getDurability %}
                <span>{{ item.getComputedOptions.getIsCountable ? 'Count:' : 'Durability:' }} {{ item.getGeneralOptions.getDurability }}/{{ item.getComputedOptions.getDurability }}</span>
            {% endif %}

            {% if item.getComputedOptions.getReqStr %}
                <span>Strength Requirement: {{ item.getComputedOptions.getReqStr }}</span>
            {% endif %}

            {% if item.getComputedOptions.getReqAgi %}
                <span>Agility Requirement: {{ item.getComputedOptions.getReqAgi }}</span>
            {% endif %}

        </div>

        {% if item.getItemInfo.getEquippedBy.toArray|length %}
            <div class="item_popup_equipment">
                {% for equippedBy in item.getItemInfo.getEquippedBy %}
                    <span>Can be equipped by {{ equippedBy.getName }}</span>
                {% endfor %}
            </div>
        {% endif %}

        {% if item.getComputedOptions.getWizardryDmg %}
            <div class="item_popup_wiz-dmg">
                {% if item.getGeneralOptions.getGroup == 2 %}
                    <span>Increase pet attack as {{ item.getComputedOptions.getWizardryDmg }}%</span>
                {% else %}
                    <span>Wizardry Dmg {{ item.getComputedOptions.getWizardryDmg }}% rise</span>
                {% endif %}
            </div>
        {% endif %}

        {% if item.getPVPOption %}
            <div class="item_popup_pvp">
                {% for pvpName in item.getPVPOption.getOptions %}
                    <span>{{ pvpName }}</span>
                {% endfor %}
            </div>
        {% endif %}

        {% if item.getHarmonyOptions.getOption is not null %}
            <div class="item_popup_harm">
                <span>{{ item.getHarmonyOptions.getOption.getName }}{{ ' +' ~ item.getHarmonyOptions.getLevel.getLevel }}</span>
            </div>
        {% endif %}

        {% if item.getGeneralOptions.getIsSkill or item.getGeneralOptions.getIsLuck or item.getGeneralOptions.getOpt > 0 or isExcellent %}
            <div class="item_popup_other">
                {% if item.getGeneralOptions.getIsSkill %}
                    {% if item.getItemInfo.getSkill %}
                        <span>{{ item.getItemInfo.getSkill }} Skill</span>
                    {% else %}
                        <span>This weapon has a special skill</span>
                    {% endif %}
                {% endif %}
                {% if item.getGeneralOptions.getIsLuck %}
                    <span>Luck (success rate of jewel of soul +25%)</span>
                    <span>Luck (critical damage rate +5%)</span>
                {% endif %}
                {% if item.getGeneralOptions.getOpt > 0 %}
                    <span>
                    {% if item.getItemInfo.getGroup.isStaffs %}
                        {{- 'Wizardy Damage' -}}
                    {% elseif item.getItemInfo.getGroup.isWeapons %}
                        {{- 'Additional Damage' -}}
                    {% elseif item.getItemInfo.getGroup.isArmors %}
                        {{- 'Additional defence' -}}
                    {% else %}
                        {{- 'Additional Damage' -}}
                    {% endif %}
                        {{ ' +' ~ item.getGeneralOptions.getOpt }}
                </span>
                {% endif %}
                {% if isExcellent %}

                    {% for option, names in item.getItemInfo.getAvailableExcellentOptions %}
                        {% if item.getExcellentOptions.checkOption(option) %}
                            {% if names is iterable %}
                                {% for name in names %}
                                    <span>{{ name }}</span>
                                {% endfor %}
                            {% else %}
                                <span>{{ names }}</span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                {% endif %}
            </div>
        {% endif %}

        {% if isAncient %}
            <div class="item_popup_anc">
                <span class="item_popup_anc_head">Set Item option info</span>
                {% for option in item.getAncientSet.getOptions %}
                    <span>{{ option }}</span>
                {% endfor %}
            </div>
        {% endif %}

        {% if item.socketOptions.isSocket %}
            <div class="item_popup_socket">
                <span class="item_popup_socket_head">Socket Item option info</span>
                {% for idx, option in item.socketOptions.slots %}
                    <span>
                        <span>Socket {{ idx + 1 }}:</span>
                        <span>{{ option.title }}</span>
                    </span>
                {% endfor %}
            </div>
        {% endif %}

    </div>

{% endif %}