{% if not item.isEmpty and item.isParsed %}
    <div data-toggle-item-popup class="item">
        <div class="item_preview" data-item-serial="{{ item.getGeneralOptions.getSerialNumber.compound }}">
            {% include '@App/_partials/items/_partials/name.html.twig' with {item: item, long: true} %}
        </div>
        <div class="item_popup_container" data-item-popup>
            {% include '@App/_partials/items/item_popup.html.twig' with {item: item, long: true} %}
        </div>
    </div>
{% endif %}