{% set CELL_SIZE = 32 %}
{% set rowsCount = (items|length / items.getColsCount) %}
{% set rowsCount = rowsCount > rows ? rows : rowsCount %}
{% set maxHeight = rowsCount * CELL_SIZE %}

<ul class="items_container_switch nav nav-pills">
    {% for tabIdx, tab in tabs %}
        <li>
            <a{{ tabIdx == 0 ? ' class="active"' : '' }} href="#items-storage-{{ tabIdx }}" aria-controls="#items-storage-{{ tabIdx }}" role="tab" data-toggle="tab">
                <span>{{ 'account.7'|trans({NUMBER: tabIdx + 1}) }}</span>
            </a>
        </li>
    {% endfor %}
</ul>
<div class="items_container">
    <div class="tab-content items_storage" style="height:{{ maxHeight }}px; width:{{ items.getColsCount * CELL_SIZE }}px">

        {% for tabIdx, tab in tabs %}
        <ul role="tabpanel" class="tab-pane fade{{ tabIdx == 0 ? ' active show' : '' }}" id="items-storage-{{ tabIdx }}">
            {% set x = 0 %}
            {%- for idx, item in items -%}
                {% if idx >= tab.offset and idx < tab.limit %}
                    {% if x == items.getColsCount %}
                        {% set x = 0 %}
                    {% endif %}

                    {% set zIndex = not item.isEmpty and item.isParsed ? (idx * 2) + 1 : 0 %}

                    <li data-base-z-index="{{ zIndex }}" class="items_item" style="z-index:{{ zIndex }};top:{{ ((idx - tab.offset) / items.getColsCount)|round(0, 'floor') * CELL_SIZE }}px;left:{{ x * CELL_SIZE }}px;width:{{ CELL_SIZE }}px;height:{{ CELL_SIZE }}px;">
                        {%- include '@App/_partials/items/item_show_image.html.twig' with {item: item, withBg: true} -%}
                    </li>
                    {% set x = x + 1 %}
                {% endif %}
            {%- endfor -%}
        </ul>
        {% endfor %}

    </div>
</div>
