{% if servers.list and servers.list|length %}
    <div class="row">
        <div class="col-sm-12 public">
            {% if lastMarketItems is defined and lastMarketItems|length %}
                {% set commissionPercent = 0 %}
                {% if servers.current.getMarketConfig and servers.current.getMarketConfig.getCommission > 0 %}
                    {% set commissionPercent = servers.current.getMarketConfig.getCommission %}
                {% endif %}

                <ul class="market -quick-top">
                    <li class="heading">
                        <div>{{ 'market.index.1'|trans }}</div>
                        <div>{{ 'market.index.2'|trans }}</div>
                    </li>
                    {% for item in lastMarketItems %}
                        <li class="item">
                            <a href="{{ path('sky_market_buy', {id: item.marketItem.getId}) }}" class="market-item">
                                {% include '@App/_partials/items/item_show_line.html.twig' with {item: item.parsedItem} %}
                            </a>
                            <div class="price-container">
                                {% if item.marketItem.getPrice > 0 %}
                                    <span class="price">
                                        {% if commissionPercent > 0 %}
                                            {{ ((item.marketItem.getPrice * (100 + commissionPercent)) / 100)|round(0, 'ceil') }}
                                        {% else %}
                                            {{ item.marketItem.getPrice }}
                                        {% endif %}
                                        {% if item.marketItem.priceType == constant('AppBundle\\Doctrine\\Type\\MarketPriceTypeEnum::MARKET_PRICE_TYPE_ZEN') %}kk{% endif %}
                                    </span>
                                    {% if item.marketItem.priceType == constant('AppBundle\\Doctrine\\Type\\MarketPriceTypeEnum::MARKET_PRICE_TYPE_CREDITS') %}
                                        <span class="icon icon-wcoin"></span>
                                    {% elseif item.marketItem.priceType == constant('AppBundle\\Doctrine\\Type\\MarketPriceTypeEnum::MARKET_PRICE_TYPE_ZEN') %}
                                        <span class="icon icon-zen"></span>
                                    {% else %}
                                        <span>{{ 'market.index.5'|trans }} </span>
                                    {% endif %}

                                {% else %}
                                    <span>{{ 'market.index.9'|trans }}</span>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-info">
                    {{ 'market.index.10'|trans }}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}