{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.prison'|trans }}{% endblock %}

{% block page_heading %}{{ 'prison.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}

            <div class="prison -page">
                <div class="row">
                    <div class="col-sm-12">
                        {% if bans and bans|length %}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>{{ 'prison.2'|trans }}</th>
                                    <th>{{ 'prison.3'|trans }}</th>
                                    <th>{{ 'prison.6'|trans }}</th>
                                    <th>{{ 'prison.4'|trans }}</th>
                                    {#<th>{{ 'prison.5'|trans }}</th>#}
                                </tr>
                                </thead>
                                <tbody>
                                {% for idx, ban in bans %}
                                    <tr>
                                        <td>{% include '@App/prison/_partials/user.html.twig' with {ban: ban} %}</td>
                                        <td>{% include '@App/prison/_partials/reason.html.twig' with {ban: ban} %}</td>
                                        <td>{% include '@App/prison/_partials/banned_at.html.twig' with {ban: ban} %}</td>
                                        <td>{% include '@App/prison/_partials/expire_at.html.twig' with {ban: ban} %}</td>
                                        {#<td>{% include '@App/prison/_partials/banned_by.html.twig' with {ban: ban} %}</td>#}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-12">
                                    {% include '@App/_partials/pagination.html.twig' with {pagination: pagination, routeName: 'sky_prison_index'} %}
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-info">
                                {{ 'prison.1'|trans }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        {% endblock %}
    {% endembed %}
{% endblock %}