{% extends '@App/email/other/return_leaved_players/layout.html.twig' %}

{% block reason %}
    <span>{{ 'email.return_leaved_players.low_level.0'|transchoice(maxLevel, {COUNT: maxLevel}) }}</span>
{% endblock %}

{% block postfix %}
    <span>{{ 'email.return_leaved_players.low_level.1'|trans }}</span>
{% endblock %}