{% extends '@App/email/other/return_leaved_players/layout.html.twig' %}

{% block reason %}
<span>{{ 'email.return_leaved_players.not_logged_in.0'|trans }}</span>
{% endblock %}

{% block postfix %}
<span>{{ 'email.return_leaved_players.not_logged_in.1'|trans }}</span>
<a style="color: #d186ff !important;" href="{{ url('sky_contacts_index') }}">{{ 'email.return_leaved_players.not_logged_in.2'|trans }}</a>
<span>{{ 'email.return_leaved_players.not_logged_in.3'|trans }}</span>
<a style="color: #d186ff !important;" href="https://forum.XXXXXXXXXXXXXXXXX.mu">{{ 'email.return_leaved_players.not_logged_in.4'|trans }}</a>
{% endblock %}