{% extends '@App/email/other/return_leaved_players/layout.html.twig' %}

{% block reason %}
    <span>{{ 'email.return_leaved_players.stopped_playing.0'|trans }}</span>
{% endblock reason %}

{% block postfix %}
    <span>{{ 'email.return_leaved_players.stopped_playing.1'|transchoice(lastSeenDaysAgo, {COUNT: lastSeenDaysAgo}) }}</span>
{% endblock postfix %}