{% set member = character.getGuildMember %}

{% if member %}
    {#{{ dump(member) }}#}
    <a href="{{ path('sky_guilds_view', {name: member.getGuild.getName}) }}">{{ member.getGuild.getName }}</a>
{% else %}-{% endif %}