<span class="inline-flag">
    {% include '@App/character/_partials/country/flag.html.twig' with {user: user} %}
    <a href="{{ path('sky_characters_view', {name: character.getName}) }}">{{ character.getName }}</a>
</span>