{% extends '@App/layout/page.html.twig' %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' with {isAdmin: true} %}

        {% form_theme form with [
        '@App/layout/Form/form_errors.html.twig',
        ] %}

        {% block heading %}Edit Registration Config{% endblock %}
        {% block content %}
            {{ form_errors(form) }}

            {{ form_start(form) }}

            {{ form_row(form.addVipDays) }}
            {{ form_row(form.addVipType) }}

            <button type="submit" class="button -filled -green">Save</button>
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}