{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.vip.buy.0'|trans %}

{% block account_heading %}{{ 'vip.buy.0'|trans }}{% endblock %}

{% block account_content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            <div class="row public -margin-top-20">
                <div class="col-sm-12">
                    {% embed '@App/vip/_partials/purchase.html.twig' %}
                        {% block submit_button %}
                            <div class="row -margin-top-20 text-center">
                                <div class="col-sm-12">
                                    <button type="submit" class="button -filled -green">{{ 'vip.buy.1'|trans }}</button>
                                </div>
                            </div>
                        {% endblock submit_button %}
                    {% endembed %}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock account_content %}