{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.vip.index.1'|trans %}

{% block account_heading %}{{ 'vip.index.0'|trans }}{% endblock %}

{% block account_content %}
    <div class="row -margin-top-20">
        <div class="col-sm-12">
            <div class="row vip -page -index">
                {% if userServerAccount.isVip %}
                    <div class="col-sm-12">
                        <div class="memo row">
                            <div class="col-sm-12">
                                <span>{{ 'vip.index.24'|trans }}</span>
                                <span class="-bold">{{ userServerAccount.vipLevel.getTitle }}</span>
                                <span>{{ 'vip.index.25'|trans }}</span>
                                <span class="-bold">{{ userServerAccount.vipActiveTill.format('d.m.Y H:i') }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <ul class="vip-tabs nav nav-pills -margin-top-20">
                    {% for idx, level in levels %}
                        {% if level.isEnabled %}
                            <li>
                                <a class="-{{ level.getTitle|lower }}{{ idx == 0 ? ' active' : '' }}"
                                   href="#level_{{ level.getId }}"
                                   aria-controls="level_{{ level.getId }}"
                                   role="tab"
                                   data-toggle="tab"></a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <div class="vip-tabs tab-content">
                        {% for idx, level in levels %}
                            {% if level.isEnabled %}
                                <div role="tabpanel"
                                     class="tab-pane fade{{ idx == 0 ? ' active show"' : '' }}"
                                     id="level_{{ level.getId }}">
                                    <div class="row advantages">
                                        <div class="col-sm-6">
                                            <span class="heading">{{ 'vip.index.2'|trans }}</span>
                                            <ul>
                                                <li>
                                                    <span>{{ 'vip.index.5'|trans({
                                                            START_HOURS: "%02d"|format(level.getNightStartHour),
                                                            START_MINUTES: "%02d"|format(level.getNightStartMinute),
                                                            END_HOURS: "%02d"|format(level.getDayStartHour),
                                                            END_MINUTES: "%02d"|format(level.getDayStartMinute),
                                                        }) }}</span>
                                                    <ul>
                                                        <li>
                                                            <span>{{ 'vip.index.6'|trans }}</span>
                                                            <span class="-bold -yellow">{{ level.getNightAddExp }}%</span>
                                                        </li>
                                                        <li>
                                                            <span>{{ 'vip.index.7'|trans }}</span>
                                                            <span class="-bold -yellow">{{ level.getNightAddMasterExp }}%</span>
                                                        </li>
                                                        <li>
                                                            <span>{{ 'vip.index.8'|trans }}</span>
                                                            <span class="-bold -yellow">{{ level.getNightAddDrop }}%</span>
                                                        </li>
                                                        {#<li>#}
                                                        {#<span>{{ 'vip.index.9'|trans }}</span>#}
                                                        {#<span class="-bold">{{ level.getNightAddExcDrop }}%</span>#}
                                                        {#</li>#}
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span>{{ 'vip.index.10'|trans({
                                                            START_HOURS: "%02d"|format(level.getDayStartHour),
                                                            START_MINUTES: "%02d"|format(level.getDayStartMinute),
                                                            END_HOURS: "%02d"|format(level.getNightStartHour),
                                                            END_MINUTES: "%02d"|format(level.getNightStartMinute),
                                                        }) }}</span>
                                                    <ul>
                                                        <li>
                                                            <span>{{ 'vip.index.6'|trans }}</span>
                                                            <span class="-bold -yellow">{{ level.getDayAddExp }}%</span>
                                                        </li>
                                                        <li>
                                                            <span>{{ 'vip.index.7'|trans }}</span>
                                                            <span class="-bold -yellow">{{ level.getDayAddMasterExp }}%</span>
                                                        </li>
                                                        <li>
                                                            <span>{{ 'vip.index.8'|trans }}</span>
                                                            <span class="-bold -yellow">{{ level.getDayAddDrop }}%</span>
                                                        </li>
                                                        {#<li>#}
                                                        {#<span>{{ 'vip.index.9'|trans }}</span>#}
                                                        {#<span class="-bold">{{ level.getDayAddExcDrop }}%</span>#}
                                                        {#</li>#}
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span>{{ 'vip.index.11'|trans }}</span>
                                                    <span class="-bold -yellow">{{ level.getOffAfkMaxHours }}</span>
                                                    <span>{{ 'vip.index.12'|trans }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                            <span class="heading">{{ 'vip.index.3'|trans }}</span>
                                            <ul>
                                                <li>
                                                    <span>{{ 'vip.index.13'|trans }}</span>
                                                    <span class="-bold -yellow">{{ level.getResetPriceDiscount }}%</span>
                                                </li>
                                                <li>
                                                    <span>{{ 'vip.index.14'|trans }}</span>
                                                    <span class="-bold -yellow">{{ level.getResetPointsBonus }}</span>
                                                    <span>{{ 'vip.index.15'|trans }}</span>
                                                </li>
                                                <li>
                                                    <span>{{ 'vip.index.16'|trans }}</span>
                                                    <span class="-bold -yellow">{{ level.getGrandResetPriceDiscount }}%</span>
                                                </li>
                                                <li>
                                                    <span>{{ 'vip.index.17'|trans }}</span>
                                                    <span class="-bold -yellow">{{ level.getGrandResetPointsBonus }}</span>
                                                    <span>{{ 'vip.index.15'|trans }}</span>
                                                </li>
                                                <li>{{ 'vip.index.18'|trans }}</li>
                                                <li>
                                                    <span>{{ 'vip.index.28'|trans }}</span>
                                                    <span>{{ 'vip.index.29'|trans }}</span>
                                                    <span>{{ 'vip.index.31'|trans }}</span>
                                                </li>
                                                <li>
                                                    <span>{{ 'vip.index.28'|trans }}</span>
                                                    <span>{{ 'vip.index.29'|trans }}</span>
                                                    <span>{{ 'vip.index.30'|trans }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row advantages -text-center">
                                        <div class="col-sm-12">
                                            <span class="heading">{{ 'vip.index.4'|trans }}</span>
                                            <ul>
                                                <li>
                                                    <span>{{ 'vip.index.19'|trans }}</span>
                                                    <span class="-bold">{{ level.getDailyCoinsPrice }}</span>
                                                    <span class="-wcoin">{{ 'vip.index.20'|trans }}</span>
                                                </li>
                                                <li>
                                                    <span>{{ 'vip.index.21'|trans }}</span>
                                                    <span class="-bold -yellow">{{ level.getRenewalDiscount }}%</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="memo row -margin-top-20">
                                        <div class="col-sm-12">
                                            <span class="-bold">{{ 'vip.index.22'|trans }}</span>
                                            <span>{{ 'vip.index.23'|trans }}</span>
                                        </div>
                                    </div>
                                    {% if userServerAccount.isVip %}
                                        {% if userServerAccount.vipLevel.getId == level.getId %}
                                            <div class="row -margin-top-20 -text-center">
                                                <div class="col-sm-12">
                                                    <a href="{{ path('sky_vip_renewal', {id: level.getId}) }}" class="button -filled -green">{{ 'vip.index.26'|trans }}</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="row -margin-top-20 -text-center">
                                            <div class="col-sm-12">
                                                <a href="{{ path('sky_vip_buy', {id: level.getId}) }}" class="button -filled -green">{{ 'vip.index.27'|trans }}</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}