{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.guild.top'|trans }}{% endblock %}

{% block page_heading %}{{ 'guild.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            <div class="top -page -guilds">
                <div class="row -tops-navigation">
                    <div class="col-sm-12">
                        {% set currentRoute = app.request.attributes.get('_route') %}
                        <a class="button -texture{{ currentRoute == 'sky_voters_index' ? ' -active' : '' }}" href="{{ path('sky_voters_index') }}"><span>{{ 'nav.general.9'|trans }}</span></a>
                        <a class="button -texture{{ currentRoute == 'sky_characters_index' ? ' -active' : '' }}" href="{{ path('sky_characters_index') }}"><span>{{ 'nav.general.4'|trans }}</span></a>
                        <a class="button -texture{{ currentRoute == 'sky_guilds_index' ? ' -active' : '' }}" href="{{ path('sky_guilds_index') }}"><span>{{ 'nav.general.3'|trans }}</span></a>
                        <a class="button -texture{{ currentRoute == 'sky_gens_index' ? ' -active' : '' }}" href="{{ path('sky_gens_index', {family: constant('AppBundle\\Enum\\MuOnline\\Gens\\Family::DUPRIAN')}) }}"><span>{{ 'nav.general.14'|trans }}</span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {% if guilds|length %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>{{ 'guild.1'|trans }}</th>
                                            <th>{{ 'guild.2'|trans }}</th>
                                            <th>{{ 'guild.3'|trans }}</th>
                                            <th>{{ 'guild.4'|trans }}</th>
                                            <th>{{ 'guild.5'|trans }}</th>
                                            <th>{{ 'guild.6'|trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for idx, guild in guilds %}
                                            {% set master = guild.getMaster %}
                                            {% set idx = ((pagination.thisPage - 1) * pagination.perPage) + idx + 1 %}

                                            <tr>
                                                <td><div{{ pagination.thisPage == 1 ? ' class="place"' : '' }}>{% include '@App/_partials/table_number.html.twig' with {number: idx} %}</div></td>
                                                <td>
                                                    <a href="{{ path('sky_guilds_view', {name: guild.getName}) }}">{{ guild.getName }}</a>
                                                </td>
                                                <td>
                                                    <a href="{{ path('sky_characters_view', {name: master.getName}) }}">{{ master.getName }}</a>
                                                </td>
                                                <td>{{ guild.getScore }}</td>
                                                <td class="guild-mark">
                                                    {% include '@App/guild/_partials/mark.html.twig' with {mark: guild.getMark.getCellsColors, size: 24} %}
                                                </td>
                                                <td>{{ guild.getMembers.count }}</td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    {% include '@App/_partials/pagination.html.twig' with {pagination: pagination, routeName: 'sky_guild_index'} %}
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-info">
                                {{ 'guild.7'|trans }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}