{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.guild.view'|trans }}{% endblock %}

{% block page_heading %}{{ 'guild_info.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            <div class="guilds -page -view">

                    {% set master = guild.getMaster %}

                    <div class="row">
                        <div class="col-sm-6">
                            {% include '@App/guild/_partials/mark.html.twig' with {mark: guild.getMark.getCellsColors, size: 256} %}
                        </div>
                        <div class="col-sm-6">
                            <div class="info">
                                <ul class="info-data">
                                    <li>
                                        <span>{{ 'guild.2'|trans }}:</span>
                                        <span><a href="{{ path('sky_guilds_view', {name: guild.getName}) }}">{{ guild.getName }}</a></span>
                                    </li>
                                    <li>
                                        <span>{{ 'guild.3'|trans }}</span>
                                        <span><a href="{{ path('sky_characters_view', {name: master.getName}) }}">{{ master.getName }}</a></span>
                                    </li>
                                    <li>
                                        <span>{{ 'guild.4'|trans }}</span>
                                        <span>{{ guild.getScore }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row top -characters -margin-top-20">
                        <div class="col-sm-12">
                            {% if guild.getMembers and guild.getMembers|length %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>{{ 'character.2'|trans }}</th>
                                        <th>{{ 'character.3'|trans }}</th>
                                        <th>{{ 'character.4'|trans }}</th>
                                        <th class="stats">
                                            <span>{{ 'character.5'|trans }}</span>
                                            <span>{{ 'character.6'|trans }}</span>
                                            <span>{{ 'character.7'|trans }}</span>
                                        </th>
                                        <th>{{ 'character.19'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for idx, member in members %}
                                        {% set characterUserData = users.get(member.getCharacter.getAccount.getMemberId).get() %}

                                        <tr>
                                            <td>{% include '@App/_partials/table_number.html.twig' with {number: idx + 1} %}</td>
                                            <td class="-state {{ member.getCharacter.isOnline ? '-online' : '-offline' }}">{% include '@App/character/_partials/name.html.twig' with {character: member.getCharacter, user: characterUserData.user} %}</td>
                                            <td class="-class">{% include '@App/character/_partials/class.html.twig' with {character: member.getCharacter} %}</td>
                                            <td class="stats">{% include '@App/character/_partials/stats.html.twig' with {character: member.getCharacter} %}</td>
                                            <td>{% include '@App/guild/_partials/member_status.html.twig' with {member: member} %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <div class="row">
                                    <div class="col-sm-12">
                                        {% include '@App/_partials/pagination.html.twig' with {pagination: pagination, routeName: 'sky_guilds_view', routeParams: {name: guild.getName}} %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}