.account {
  &-navigation {
    display: flex;
    align-items: center;
    justify-content: center;

    & > li {
      margin-left: 25px;

      &:first-of-type {
        margin-left: 0;
      }

      & > a {
        height: 84px;
        width: 84px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include sprite($account-control-bg);
        background-repeat: no-repeat;
        position: relative;

        &:before, &:after {
          content: '';
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          transition: opacity 200ms ease-in-out;
        }

        &:before {
          @include sprite($account-control-bg-hover);
        }

        &:after {
          @include sprite($account-control-bg-active);
        }

        &:hover {
          &:before {
            opacity: 1;
          }
        }

        &:focus, &.-active {
          &:after {
            opacity: 1;
          }
        }

        i, span {
          z-index: 1;
          position: absolute;
        }

        span {
          bottom: 0;
          font-family: 'PTSans', sans-serif;
          font-size: $fontSize10;
          line-height: $fontSize10;
          font-weight: bold;
          text-align: center;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          height: 38px;
        }
      }


      &:nth-of-type(1) {
        i {
          top: 13px;
          @include sprite($account-control-icon-account);
        }
      }

      &:nth-of-type(2) {
        i {
          top: 15px;
          @include sprite($account-control-icon-crown);
        }
      }

      &:nth-of-type(3) {
        i {
          top: 15px;
          @include sprite($account-control-icon-shop);
        }
      }

      &:nth-of-type(4) {
        i {
          top: 11px;
          @include sprite($account-control-icon-market);
        }
      }

      &:nth-of-type(5) {
        i {
          top: 5px;
          @include sprite($account-control-icon-referrals);
        }
      }
    }
  }

  &-heading {
    width: 100%;
    text-align: center;
    @include title-gradient-text();

    span {
      border: 1px solid transparent;
      border-image: linear-gradient(
                      to right,
                      transparent 0%,
                      $colorPaleViolet13 50%,
                      transparent 100%
      );
      border-image-slice: 1;
      border-left: none;
      border-right: none;
      padding: 5px 30px;
    }
  }

  &-content {
    color: $colorWhite;
    font-family: 'PTSans', sans-serif;
    font-size: $fontSize14;

    a {
      color: $colorPaleOrange5 !important;

      &:hover {
        color: $colorPaleOrange6 !important;
      }
    }

    .-tops-navigation {
      a {
        color: $colorPaleViolet23 !important;

        &:hover, &:focus, &.-active {
          color: $colorWhite !important;
        }
      }
    }

    ul {
      &.operations {
        & > li {
          & > a {
            padding: 3px 0;
            margin: 2px 0;
            text-align: center;
            display: inline-block;
            width: 100%;
            position: relative;

            &:before, &:after {
              content: '';
              position: absolute;
              width: 100%;
              height: 1px;
              left: 0;
              border-bottom: 1px solid transparent;
              border-image: linear-gradient(
                              to right,
                              transparent 0%,
                              $colorDarkBlue2 5%,
                              $colorPaleViolet10 20%,
                              $colorPaleViolet11 25%,
                              $colorPaleViolet10 33%,
                              $colorDarkBlue2 80%,
                              $colorDarkBlue2 95%,
                              transparent 100%
              );
              border-image-slice: 1;
            }

            &:before {
              top: 0;
            }

            &:after {
              transform: rotateY(180deg);
              bottom: 0;
            }
          }
        }
      }
    }

    .right-border {
      border-right: 1px solid transparent;
      border-image: linear-gradient(
                      to bottom,
                      transparent 0%,
                      $colorDarkBlue2 5%,
                      $colorPaleViolet10 20%,
                      $colorPaleViolet11 25%,
                      $colorPaleViolet10 33%,
                      $colorDarkBlue2 80%,
                      $colorDarkBlue2 95%,
                      transparent 100%
      );
      border-image-slice: 1;
    }
  }
}