.admin {
  color: $colorWhite;

  a {
    color: $colorPaleOrange5;
    transition: all 150ms ease-in-out !important;

    &:hover {
      color: $colorPaleOrange6 !important;
    }
  }

  &-menu {
    position: fixed;
    left: 0;
    top: 0;

    .nav {
      flex-direction: column;
    }
  }

  &_webshop {
    &_categories {
      ul {
        padding: 0 50px;
        list-style: auto;
      }

      .fa {
        margin-right: 5px;
        font-size: 10px;
        vertical-align: text-top;
        line-height: 14px;

        &.fa-play {
          color: $colorGreen;
        }

        &.fa-pause {
          color: $colorOrange;
        }

        &.fa-trash {
          color: $colorRed;
        }
      }

      span {
        margin-right: 5px;
      }
    }
  }

  &_mailer {
    .mails {
      display: flex;
      flex-wrap: wrap;

      .mail {
        flex-basis: calc(33% - 2px);
        border: 1px solid $colorDarkBrown5;
        margin: 1px;
      }
    }
  }
}