.alert {
  padding: 10px 10px 11px 40px !important;
  font-size: $fontSize12 !important;
  color: $colorWhite;
  position: relative;
  border: none !important;
  border-radius: 0 !important;
  font-weight: bold;
  display: flex;
  align-items: center;
  line-height: 16px;
  height: 37px;

  i {
    font-size: 16px;
    margin-right: 13px;
  }

  &:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
  }

  &:before {
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    left: 9px;
  }

  &-info {
    background: url('../img/template/alert/info.jpg') repeat-x;
    @include text-with-shadow($colorWhite, rgba($colorBlack, .3), 1, 7, '1px 1px 0px #{$colorBlack}');

    &:after {
      border: 1px solid $colorAlertInfo;
    }

    &:before {
      @include sprite($icon-alert-info);
    }
  }

  &-warning {
    background: url('../img/template/alert/warning.jpg') repeat-x;

    &:after {
      border: 1px solid $colorAlertWarning;
    }

    &:before {
      @include sprite($icon-alert-warning);
    }
  }

  &-danger {
    background: url('../img/template/alert/danger.jpg') repeat-x;

    &:after {
      border: 1px solid $colorAlertDanger;
    }

    &:before {
      @include sprite($icon-alert-danger);
    }
  }

  &-success {
    background: url('../img/template/alert/success.jpg') repeat-x;

    &:after {
      border: 1px solid $colorAlertSuccess;
    }

    &:before {
      @include sprite($icon-alert-success);
    }
  }
}