.bonus_codes {
  &.-index {
    a {
      color: $colorWhite !important;

      &:hover {
        color: $colorWhite !important;
      }
    }

    table {
      thead {
        color: $colorPaleViolet22 !important;

        th {
          padding-bottom: 0;
          vertical-align: middle;
          border-right: 1px solid transparent !important;
          border-image: linear-gradient(
                          to bottom,
                          transparent 0%,
                          $colorPaleViolet18 50%,
                          transparent 100%
          ) !important;
          border-image-slice: 1 !important;

          &:last-of-type {
            border-right: none !important;
          }
        }
      }

      tbody {
        td {
          &:nth-of-type(1) {
            &:before, &:after {
              width: 490px;
            }
          }
        }
      }
    }
  }
}