.button {
  position: relative;
  border: 0;
  outline: none !important;
  cursor: pointer;
  overflow: hidden;
  color: $colorWhite;
  font-size: $fontSize14;
  font-family: 'PT Sans', sans-serif;

  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    background-color: $colorWhite;
    opacity: 0.2;
    transition: height 200ms cubic-bezier(0.650, 0.025, 0.500, 1.000);
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0 !important;
  }

  &:hover {
    &:before {
      height: 50%;
    }

    &:after {
      height: 50%;
    }
  }

  &.-bright-violet {
    &:before, &:after {
      background-color: $colorBrightViolet1;
    }

    .ripple {
      background: rgba($colorPaleViolet1, .4);
    }
  }

  &.-cyan {
    &:before, &:after {
      background-color: $colorCyan2;
    }

    .ripple {
      background: rgba($colorCyan1, .4);
    }
  }

  &.-pink {
    &:before, &:after {
      background-color: $colorWhite;
    }

    .ripple {
      background: rgba($colorPaleViolet1, .4);
    }
  }

  &.-blue {
    &:before, &:after {
      background-color: $colorLightBlue2;
    }

    .ripple {
      background: rgba($colorDarkBlue1, .4);
    }
  }

  &.-gray {
    &:before, &:after {
      background-color: $colorPaleViolet5;
      opacity: 0.2;
    }

    .ripple {
      background: rgba($colorBlack, .4);
    }
  }

  &.-download {
    overflow: visible;

    &:before, &:after {
      height: 100%;
      background: transparent;
    }

    &:after {
      display: none;
    }

    &:before {
      transition: opacity 200ms cubic-bezier(0.650, 0.025, 0.500, 1.000);
      box-shadow: inset 0 0 18px rgba(#e4e2ba, .25), 0 0 12px #6a50d8;
      opacity: 0;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }

    .ripple {
      display: none;
    }
  }

  &.-square-dark-green {
    &:before, &:after {
      width: 22px;
      left: 4px;
    }
    .ripple {
      background: transparent;
    }
  }

  &.-cart-green {
    &:before, &:after {
      background-color: $colorAlertSuccess;
    }

    .ripple {
      background: rgba($colorGreen, .4);
    }
  }

  &.-return-orange {
    &:before, &:after {
      background-color: $colorPaleOrange7;
    }

    .ripple {
      background: rgba($colorBrightOrange2, .4);
    }
  }

  &.-lens-blue {
    &:before, &:after {
      background-color: $colorLightBlue2;
    }

    .ripple {
      background: rgba($colorDarkBlue1, .4);
    }
  }

  &.-orange {
  }

  &.-green {
    &:before, &:after {
      background-color: $colorAlertSuccess;
    }

    .ripple {
      background: rgba($colorGreen, .4);
    }
  }

  &.-red {
  }

  &.-interkassa {
    background-image: url(../img/payments/interkassa.jpg);
    background-repeat: no-repeat;
    width: 180px;
    height: 60px;
    position: relative;
    border: 1px solid $colorDarkViolet1 !important;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $colorDarkViolet1;
      opacity: .3;
      transition: opacity 250ms ease-in-out;
    }

    &:hover {
      &:after {
        opacity: 0;
      }
    }
  }
}

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 176, 250, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}

.rippleEffect {
  animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.-filled {
  height: 40px;
  min-width: 152px;
  background-size: 100% 40px !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  white-space: nowrap;

  &.-bright-violet {
    background: url('../img/template/button/violet.jpg') top center no-repeat;
  }

  &.-cyan {
    background-size: 100% 40px !important;
    background: url('../img/template/button/cyan.jpg') top center no-repeat;
  }

  &.-pink {
    background-size: 100% 40px !important;
    background: url('../img/template/button/thin.pink.jpg') top center no-repeat;
  }

  &.-blue {
    height: 39px;
    background-size: 100% 39px !important;
    background: url('../img/template/button/blue.jpg') top center no-repeat;
  }

  &.-thin {
    height: 23px;
    background-size: 100% 23px !important;

    &.-blue {
      background: url('../img/template/button/thin.blue.jpg') top center no-repeat;
    }
  }

  &.-download {
    background-size: 207px 54px !important;
    background: url('../img/template/button/download.jpg') top center no-repeat;
  }

  &.-cart-green {
    min-width: 115px;
    width: 115px !important;
    height: 24px;
    background-size: 115px 24px !important;
    background: url('../img/template/button/cart.green.jpg') top center no-repeat;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: $fontSize12;
  }

  &.-return-orange {
    min-width: 115px;
    width: 115px !important;
    height: 24px;
    background-size: 115px 24px !important;
    background: url('../img/template/button/return.orange.jpg') top center no-repeat;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: $fontSize12;
  }

  &.-lens-blue {
    min-width: 115px;
    width: 115px !important;
    height: 24px;
    background-size: 115px 24px !important;
    background: url('../img/template/button/lens.blue.jpg') top center no-repeat;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: $fontSize12;
  }

  &.-orange {
    height: 39px;
    background-size: 100% 39px !important;
    background: url('../img/template/button/orange.jpg') top center no-repeat;
  }

  &.-green {
    height: 39px;
    background-size: 100% 39px !important;
    background: url('../img/template/button/green.jpg') top center no-repeat;
  }

  &.-red {
    height: 39px;
    background-size: 100% 39px !important;
    background: url('../img/template/button/red.jpg') top center no-repeat;
  }

  &.-square-dark-green {
    height: 22px;
    width: 22px;
    min-width: 22px;
    background-size: 22px 22px !important;
    background: url('../img/template/button/square.dark.green.jpg') top center no-repeat;

    span {
      transform: rotateZ(270deg);
      transition: transform 200ms cubic-bezier(0.650, 0.025, 0.500, 1.000);
    }

    &:hover {
      span {
        transform: rotateZ(270deg) rotateY(180deg)
      }
    }
  }
}

.-texture {
  height: 43px;
  background-size: 100% 43px !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  white-space: nowrap;
  position: relative;
  background: url('../img/template/button/texture.png') top center no-repeat;
  font-weight: bold;
  color: $colorPaleViolet23 !important;
  min-width: 100px;

  span {
    z-index: 1;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
    opacity: 0;
    background-size: 100% 43px !important;
    transition: opacity 200ms ease-in-out;
  }

  &:before {
    background: url('../img/template/button/texture.hover.png') top center no-repeat;
  }

  &:after {
    background: url('../img/template/button/texture.active.png') top center no-repeat;
  }

  &:hover {
    color: $colorWhite !important;

    &:before {
      opacity: 1;
    }
  }

  &:focus, &.-active {
    color: $colorWhite !important;

    &:after {
      opacity: 1;
    }
  }

  &.-medium {
    height: 30px;
    background-size: 100% 30px !important;
    padding: 0 10px;
    font-weight: normal;
    font-size: $fontSize12;

    &:before, &:after {
      background-size: 100% 30px !important;
    }
  }
}