.cabinet-container {
  position: absolute;
  top: 200px;
  right: 95px;
  width: 250px;
  height: 330px;

  .timer {
    width: 100%;
    height: 65px;

    .container {
      color: $colorPaleViolet1 !important;
      padding: 0 !important;

      .soon-slot-inner {
        text-shadow: none !important;
      }

      .soon-text {
        &.soon-label {
          font-size: $fontSize11 !important;
          color: $colorDarkViolet1 !important;
        }
      }

      &.soon[data-layout*=group][data-layout*=overlap] > .soon-group {
        padding: 0 .2343em
      }

      &.soon[data-layout*=group][data-layout*=overlap] .soon-group-sub > .soon-group-inner {
        margin: 0 -.1875em
      }

      &.soon[data-layout*=group][data-layout*=overlap][data-visual] .soon-group-sub > .soon-group-inner {
        margin: 0 -.2343em
      }

      &.soon[data-visual*=color-light] .soon-ring-progress {
        background-color: rgba($colorDarkViolet1, .50);
        color: rgba($colorBrightViolet2, .65);
      }
    }

    .timer-title {
      color: $colorPaleViolet5;
      font-size: $fontSize15;
      font-family: 'Segoe UI Regular', sans-serif;
      text-transform: uppercase;
      text-align: center;
      margin-top: -17px;
      height: $fontSize15;
      display: inline-flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      position: absolute;
    }
  }

  .login-container {
    display: flex;
    height: 270px;
    flex-direction: column;

    .heading {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      text-transform: uppercase;
      font-size: $fontSize14;
      font-weight: bold;
      background: -webkit-linear-gradient(top, $colorPaleViolet6 50%, $colorPaleViolet7 46%, $colorPaleViolet7 100%);
      background: linear-gradient(top, $colorPaleViolet6 50%, $colorPaleViolet7 46%, $colorPaleViolet7 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      white-space: nowrap;
    }

    .content {
      flex-basis: 82%;
      display: flex;
      justify-content: center;

      .login {
        button {
          width: 100%
        }

        .input-control {
          &.-bordered {
            &:nth-child(1) {
              margin: 0;
            }

            &:nth-child(2) {
              margin: 20px 0 0 0;
            }
          }
        }

        .links {
          margin: 10px 0;
          font-size: $fontSize13;
          text-align: center;
          font-weight: bold;

          a {
            color: $colorLightBlue1;
            transition: all 150ms ease-in-out !important;

            &:hover {
              color: $colorLightBlue2 !important;
            }

            &:first-of-type {
              &:after {
                content: '|';
                margin-left: 5px;
              }

              &:hover {
                &:after {
                  color: $colorLightBlue1 !important;
                }
              }
            }
          }
        }
      }

      .logged-in {
        display: flex;
        flex-direction: column;
        color: $colorWhite;
        font-size: $fontSize14;
        font-family: 'Segoe UI Regular', sans-serif;
        width: 100%;

        .title {
          white-space: nowrap;
          span {
            margin: 0 5px;

            &:nth-child(2) {
              color: $colorBrightOrange2;
              font-weight: bold;
            }

            &:nth-child(3) {
              font-weight: bold;
            }
          }
        }

        .main-stats {
          display: flex;
          font-size: $fontSize12;

          span {
            //height: 30px !important;
          }

          > div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:nth-of-type(1) {
              flex-basis: 19%;
              align-items: center;

              span {
                //width: 39px !important;
              }
            }

            &:nth-of-type(2) {
              flex-basis: 31%;

              span {
                height: 39px;
                color: $colorLightBlue3;
                font-weight: bold;
                margin-top: 5px;

                &:nth-of-type(1) {
                  color: $colorBrightOrange3;
                }

                &:nth-of-type(2) {
                  color: $colorLime1;
                }
              }
            }

            &:nth-of-type(3) {
              flex-basis: 50%;

              span {
                height: 39px;
                color: $colorPaleYellow2;
                margin-top: 5px;
              }
            }

            > span {
              display: inline-flex;
              align-items: center;
            }
          }
        }

        nav {
          margin-top: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          a {
            margin-top: 5px;
            text-align: center;
            font-size: $fontSize12;
            color: $colorWhite !important;
            min-height: 23px;
            max-width: 152px;

            &:hover {
              color: $colorWhite !important;
            }

            &:last-of-type {
              margin-top: 10px;
            }
          }
        }
      }

      .vip-info {

      }
    }
  }
}