.card {
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin-top: 10px;

    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        text-transform: uppercase;
        font-size: $fontSize16;
        font-weight: bold;
        background: -webkit-linear-gradient(top, $colorPaleViolet6 50%, $colorPaleViolet7 46%, $colorPaleViolet7 100%);
        background: linear-gradient(top, $colorPaleViolet6 50%, $colorPaleViolet7 46%, $colorPaleViolet7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
    }
}