.cart {
  &.-index {
    table {
      .discount-description {
        font-size: $fontSize10;
        line-height: $fontSize10;
        vertical-align: text-bottom;
        color: $lightGray1;
      }

      .regular-price {
        font-weight: bold;
      }

      thead {
        color: $colorPaleViolet22 !important;

        th {
          padding-bottom: 0;
          vertical-align: middle;
          border-right: 1px solid transparent !important;
          border-image: linear-gradient(
                          to bottom,
                          transparent 0%,
                          $colorPaleViolet18 50%,
                          transparent 100%
          ) !important;
          border-image-slice: 1 !important;

          &:last-of-type {
            border-right: none !important;
          }
        }
      }

      tbody {
        td {
          &:nth-of-type(1) {
            &:before, &:after {
              width: 490px;
            }

            .item_preview {
              .item_name {
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 220px !important;
                display: block;
                overflow: hidden;
              }
            }

            &.total {
              font-weight: bold;
            }

            &.discount-coupon {
              .col-sm {
                &-4, &-8 {
                  padding-left: 0;
                }
              }
            }
          }
          &:nth-of-type(2) {
            white-space: nowrap;
          }
          &:nth-of-type(3) {
            white-space: nowrap;
          }
          &:nth-of-type(4) {
            width: 135px;
          }
        }

        tr {
          &:last-of-type {
            td {
              border: none !important;
              vertical-align: middle;

              &:after {
                background: none !important;
              }
            }
          }
        }
      }
    }

    a {
      color: $colorWhite !important;

      &:hover {
        color: $colorWhite !important;
      }

      &.-empty {
        color: $colorDarkYellow3!important;
        text-decoration: underline;

        &:hover {
          color: $colorPaleYellow2 !important;
          text-decoration: underline !important;
        }
      }
    }

    .-controls {
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}