@mixin item($type, $left, $top, $width, $height) {
  &.-#{$type} {
    left: #{$left}px;
    top: #{$top}px;
    width: #{$width}px;
    height: #{$height}px;
  }
}

.character {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  flex-direction: column;

  .main-info {
    display: flex;
    margin-left: -30px;
    margin-right: -30px;

    .info-left {
      display: flex;
      flex-direction: column;

      .skills-container {
        margin-top: 30px;
        max-width: 510px;
        display: flex;

        .modal-skill-tree-trigger-container {
            padding: 0 5px;
        }
      }
    }

    .top-content {
      display: flex;
    }

    .class-image {
      width: 225px;
      background: url('../img/template/character/character.class.bg.png') top center no-repeat;
      padding: 22px 24px;
      background-size: 100% 100%;

      .image {
        height: 209px;

        &.-dw {
          background: url('../img/template/character/character.dw.png') top center no-repeat;
        }

        &.-dk {
          background: url('../img/template/character/character.dk.png') top center no-repeat;
        }

        &.-fe {
          background: url('../img/template/character/character.fe.png') top center no-repeat;
        }

        &.-mg {
          background: url('../img/template/character/character.mg.png') top center no-repeat;
        }

        &.-dl {
          background: url('../img/template/character/character.dl.png') top center no-repeat;
        }

        &.-sum {
          background: url('../img/template/character/character.sum.png') top center no-repeat;
        }

        &.-rf {
          background: url('../img/template/character/character.rf.png') top center no-repeat;
        }
      }
    }

    .center-content {
      display: flex;
      flex-direction: column;

      .inventory {

        &_container {
          width: 285px;
          height: 313px;
          margin-left: 5px;
          z-index: 2;
        }

        &_content {
          width: 285px;
          height: 313px;
          position: relative;
          background: url('../img/template/character/character.items.bg.png') top center no-repeat;
          background-size: 100% 100%;
          z-index: 0;

          &:before, &:after {
            content: '';
            position: absolute;
            width: 64px;
            height: 71px;
          }

          &:before {
            background: url('../img/template/character/character.items.bg.helm.png') top center no-repeat;
            left: 105px;
            top: 99px;
          }

          &:after {
            background: url('../img/template/character/character.items.bg.gloves.png') top center no-repeat;
            left: 0;
            bottom: 0;
            z-index: -1;
          }

          &.-mg {
            &:before {
              display: none;
            }
          }

          &.-rf {
            &:after {
              display: none;
            }
          }

          &.-dw, &.-dk, &.-fe, &.-mg, &.-dl, &.-sum, &.-rf  {
            .inventory_item {
              @include item('staff', 0, 108, 64, 129);
              @include item('shield', 212, 106, 63, 128);
              @include item('helm', 106, 107, 63, 63);
              @include item('armor', 106, 174, 63, 63);
              @include item('pants', 106, 243, 63, 63);
              @include item('gloves', 0, 243, 64, 63);
              @include item('boots', 211, 243, 63, 63);
              @include item('wings', 109, 0, 169, 95);
              @include item('pendant', 69, 91, 32, 32);
              @include item('left-ring', 69, 226, 32, 32);
              @include item('right-ring', 173, 226, 32, 32);
              @include item('pet', 0, 34, 63, 63);
            }
          }

          &.-rf {
            &.-gloves {
              display: none;
            }
          }

          &.-mg {
            &.-helm {
              display: none;
            }
          }
        }

        &_item {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }


    .info {
      margin-left: 5px;
      width: calc(100% + 30px);

      a {
        color: $colorDarkYellow1 !important;

        &:hover {
          color: $colorPaleYellow1 !important;
        }
      }

      .public {
        display: flex;

        div {
          &:first-of-type {
            flex-basis: 50%;
            margin-right: 20px;
          }

          &:last-of-type {
            flex-basis: 50%;
          }
        }
      }

      .private {
        display: flex;
        justify-content: center;

        div {
          width: 200px;
        }
      }

      ul {
        background-color: $colorDarkViolet6;
        padding: 10px;
        font-size: $fontSize11;

        li {
          display: flex;
          align-items: center;

          & > span {
            &:first-of-type {
              color: $colorWhite;
              flex-grow: 1;
            }

            &:last-of-type {
              color: $colorPaleViolet24;
              background-color: $colorDarkViolet7;
              padding: 2px 8px;
              margin: 1px;
              flex-basis: 55%;
              min-width: 55%;
              font-weight: bold;

              .member {
                color: $colorBrightGreen4;
                vertical-align: bottom;
              }
            }
          }
        }
      }
    }
  }

  .buffs, .skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .buff, .skill {
      padding: 2px;
      cursor: pointer;
      position: relative;

      img {
        width: 25px;
      }

      &_popup {
        background-color: rgba($colorDarkBrown11, .95);
        font-size: $fontSize12;
        padding: 5px 5px 10px 5px;
        text-align: center;
        line-height: 1.2;
        position: relative;
        @include popup-style();

        &_container {
          position: absolute;
          opacity: 0;
          pointer-events: none;
          transition: all 350ms ease;
          width: 400px;
          left: calc(50% - 200px);
          display: flex;
          justify-content: center;
          z-index: 3000;
          top: calc(100% + 20px);

          &.-opened {
            top: calc(100% + 10px);
            opacity: 1;
          }
        }
      }

      .-name {
        color: #9AADD5;
      }

      .-description {
        color: $colorWhite;
        margin-top: 7px;
        font-size: $fontSize10;
      }

      .-duration {
        color: $colorViolet1;
        margin-top: 7px;
        font-size: $fontSize10;
      }
    }

    & > .skill {
      position: relative;
      margin: 0 5px 23px;
      padding: 0;
      width: 29px;
      height: 41px;

      img {
        width: 29px;
        height: 41px;
      }

      &:before {
        content: '';
        position: absolute;
        left: -2px;
        top: -8px;
        width: 33px;
        height: 57px;
        background: url('../img/template/character/character.skill.bg.png') top center no-repeat;
      }
    }
  }
}

#modal-skill-tree {
  .modal-lg, .modal-md {
    width: 640px !important;
  }
  .modal {

    &-content {
      width: 640px !important;
      padding: 0;
    }

    &-body {
      background: url(../img/magic_list/skill-tree.png) no-repeat;
      width: 640px;
      height: 428px;
      position: relative;
      padding: 0 !important;

      .class-title {
        position: absolute;
        color: $colorWhite;
        left: 152px;
        top: 9px;
        font-size: 9px;
      }

      .master-level {
        position: absolute;
        color: $colorWhite;
        left: 273px;
        top: 9px;
        font-size: 9px;
      }

      .points {
        position: absolute;
        color: $colorWhite;
        left: 368px;
        top: 9px;
        font-size: 9px;
      }

      .close-button {
        position: absolute;
        right: 9px;
        top: 6px;
        height: 20px;
        width: 30px;
      }

      .sections {
        display: flex;
        position: absolute;
        bottom: 0;
        height: 375px;
      }

      .section {
        position: relative;

        &-content {
            width: 215px;
            height: 100%;
            padding: 15px;
        }

        &-title {
          position: absolute;
          color: gold;
          font-size: 9px;
          top: -15px;
          width: 50px;
          height: 13px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: visible;
          white-space: nowrap;

          &-1 {
            left: 86px;
          }

          &-2 {
            left: 79px;
          }

          &-3 {
            left: 76px;
          }
        }

        &-row {
          display: flex;
          justify-content: center;
          align-items: center;

          .skill-1 {
            width: 25px;
            height: 35px;
            padding: 0 !important;
            flex-basis: 25%;
            cursor: default;
          }

          .master-skill {
            position: relative;
            margin: 1px;

            .skill-1 {
              cursor: pointer;
            }

            &-points {
              width: 50%;
              height: 40%;
              position: absolute;
              right: 0;
              bottom: 0;
              z-index: -1;
              font-size: $fontSize11;
              text-align: center;
              padding-left: 2px;
              color: $colorWhite;
              @include background-opacity($colorBlack, .6);
            }
          }
        }
      }
    }
  }
}