#chatbro {
  display: flex;
  justify-content: center;
  min-height: 315px;
  margin: -10px !important;

  .chatbro_chat {
    width: 100% !important;
  }

  .chatbro_header {
    display: none !important;
  }

  .chatbro_body {
    border: none !important;
  }

  .chatbro_guest_avatar {
    display: none;
  }
  .chatbro_message_image {
    display: none;
  }
  .chatbro_message_td_message {
    padding: 1px 1px !important;
  }
  .chatbro_message_text {
    margin: 0 !important;
    color: $colorLightBrown5 !important;
  }
  .chatbro_message_name, .chatbro_message_auth_name, .chatbro_message_text {
    font-size: 11px !important;
  }

  .chatbro_send {
    background: transparent !important;
  }

  .chatbro_send_input_block {
    background-color: $colorCreamy1;
    border: 1px solid;
    border-color: $colorBrightOrange2 !important;
    margin-left: 9px;
    margin-right: 9px;
  }

  .chatbro_open_upload_button {
    width: 40px !important;
    background-color: transparent !important;
    position: absolute;
    left: 0;
    top: calc(50% - 17px);
  }
  .chatbro_open_smiles_button {
    background-color: transparent !important;
    position: absolute;
    right: 0;
    top: calc(50% - 12px);
  }
  .chatbro_send_input_wrapper {
    padding: 0 !important;
    flex-grow: 1;
  }
  .chatbro_send_input {
    background: $colorCreamy1 !important;
    min-height: 65px !important;
    padding: 10px 38px !important;
    font-size: $fontSize11;
    color: $colorLightBrown5 !important;
  }
  .chatbro_send_button {
    display: none !important;
  }

  .chatbro_smiles_menu {
    background-color: rgba($colorCreamy1, .8) !important;
    border: 1px solid;
    border-color: rgba($colorBrightOrange, .8) !important;

    &:before {
      display: none;
    }
  }

  .chatbro_bottom_border {
    border: none;
  }

  .chatbro_messages_block, .chatbro_messages_space, .chatbro_messages_wrapper {
    background-color: transparent !important;
  }
}