@mixin control-item-state($item, $state) {
  $stateMap: (
          "primary": $colorDarkYellow2,
          "danger": $colorAlertDanger,
          "info": $colorAlertInfo,
          "warning": $colorAlertWarning,
          "success": $colorAlertSuccess,
  );

  .#{$item}-#{$state}, &.#{$item}-#{$state} {
    input[type="#{$item}"] {
      &:hover, &:checked {
        + label {
          &:before {
            border-color: map-get($stateMap, $state) !important;
          }
          &:after {
            color: red;
          }
        }
      }

      @if $item == 'radio' {
        + label {
          &:after {
            background-color: map-get($stateMap, $state) !important;
          }
        }
      }
    }
  }
}


@mixin control-item($item) {
  .#{$item} {
    padding-left: 0 !important;

    label {
      display: inline-block;
      position: relative;
      padding-left: 0 !important;
      line-height: 18px;
      cursor: pointer;

      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid $colorPaleViolet16;
        background-color: transparent;
        -webkit-transition: all 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: all 0.15s ease-in-out, color 0.15s ease-in-out;

        @if $item == 'radio' {
          border-radius: 50%;
        }
      }

      &:after {
        display: inline-block;
        position: absolute;
        margin-left: -20px;
        padding-left: 3px;
        padding-top: 1px;
        font-size: 11px;
        color: $colorWhite;

        @if $item == 'checkbox' {
          width: 16px;
          height: 16px;
          left: 0;
          top: 0;
        } @else {
          content: " ";
          width: 11px;
          height: 11px;
          left: 3px;
          top: 3px;
          border-radius: 50%;
          background-color: $colorWhite;
          -webkit-transform: scale(0, 0);
          -ms-transform: scale(0, 0);
          -o-transform: scale(0, 0);
          transform: scale(0, 0);
          -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
          -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
          -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
          transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        }

      }
    }

    input {
      &[type="#{$item}"] {
        opacity: 0;

        &:focus {
          + label {
            &:before {
              outline: thin dotted;
              outline: 5px auto -webkit-focus-ring-color;
              outline-offset: -2px;
            }
          }
        }

        + label {
          &:after {
            @if $item == 'checkbox' {
              content: '';
              @include sprite($icon-form-checkbox-hover);
              left: 4px;
              top: 5px;
            } @else {
              -webkit-transform: scale(1, 1);
              -ms-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              transform: scale(1, 1);
            }

            transition: opacity 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            opacity: 0;
          }
        }


        &:checked, &:hover {
          + label {
            &:after {
              opacity: 1;
            }
          }
        }

        &:disabled {
          + label {
            opacity: 0.65;

            &:before {
              background-color: $colorWhite;
              cursor: not-allowed;
            }
          }
        }
      }
    }

    .#{$item}-circle {
      label {
        &:before {
          border-radius: 50%;
        }
      }
    }

    .#{$item}-inline {
      margin-top: 0;
    }

    @include control-item-state($item, 'primary');
    //@include control-item-state($item, 'danger');
    //@include control-item-state($item, 'info');
    //@include control-item-state($item, 'warning');
    //@include control-item-state($item, 'success');
  }

  @include control-item-state($item, 'primary');
  //@include control-item-state($item, 'danger');
  //@include control-item-state($item, 'info');
  //@include control-item-state($item, 'warning');
  //@include control-item-state($item, 'success');
}

@include control-item('checkbox');
@include control-item('radio');