.console {
    background-color: #262626;
    line-height: 1.1;
    // Uncomment following line if there will be no space for fullwidth output
    //white-space: pre-line;

    span {
        word-break: break-word;
    }
}