.contacts {
  &.-page {
    form {
      margin-top: 20px;

      textarea {
        min-height: 100px;
        max-height: 200px;
        height: 150px;
      }

      .control {
        text-align: center;
        margin-top: 20px;
      }
    }

    .contacts-heading {
      font-size: $fontSize14;
      font-weight: bold;
      background: -webkit-linear-gradient(top, $colorPaleViolet6 50%, $colorPaleViolet7 46%, $colorPaleViolet7 100%);
      background: linear-gradient(top, $colorPaleViolet6 50%, $colorPaleViolet7 46%, $colorPaleViolet7 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    span {
      color: $colorWhite;
      font-size: $fontSize12;
    }

    a {
      font-size: $fontSize12;
      color: $colorPaleOrange5;
      transition: all 150ms ease-in-out !important;

      &:hover {
        color: $colorPaleOrange6 !important;
      }
    }
  }
}