.download {
  &.-page {
    .panel {
      padding: 20px 30px;
      border: 1px solid $colorGray2;
      margin-bottom: 6px;
      background-color: rgba($colorBlack, .3);
      font-family: 'PT Sans', sans-serif;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .heading {
        display: flex;
        justify-content: center;
        align-items: center;

        .info {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-transform: uppercase;

          .title {
            color: $colorPaleViolet14;
            font-size: $fontSize22;
          }

          .description {
            color: $colorPaleViolet15;
            font-size: $fontSize15;
          }
        }

        i {
          margin-left: 10px;
          width: 70px;
          height: 58px;

          &.-with-sound {
            background: url('../img/template/download/icon.download.with.sound.png') top center no-repeat;
          }

          &.-without-sound {
            background: url('../img/template/download/icon.download.no.sound.png') top center no-repeat;
          }
        }
      }

      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        a {
          width: 207px;
          height: 54px;
          margin: 0 5px;
          text-transform: uppercase;
          font-size: $fontSize20;
          letter-spacing: -1px;
          color: $colorWhite;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          position: relative;
          transition: all 150ms ease-in-out !important;

          &:hover {
            color: $colorWhite !important;

            .-before, .-after {
              &:after {
                opacity: 1;
              }
            }
          }

          .-before, .-after {
            position: absolute;
            top: 0;
            height: 100%;
            width: 25%;

            &:before, &:after {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .-after {
            right: 0;

            &:before {
              background: url('../img/template/download/icon.arrow.download.png') center center no-repeat;
            }

            &:after {
              background: url('../img/template/download/icon.arrow.download.hover.png') center center no-repeat;
              transition: opacity 150ms ease-in-out !important;
              opacity: 0;
            }
          }

          .-before {
            left: 0;
            &:before {
              background-size: 31px !important;
            }
          }

          &:nth-of-type(1) {
            .-before {
              &:before {
                background: url('../img/template/download/mega.png') center center no-repeat;
              }
            }
          }

          &:nth-of-type(2) {
            .-before {
              &:before {
                background: url('../img/template/download/google.drive.png') center center no-repeat;
              }
            }
          }

          &:nth-of-type(3) {
            .-before {
              &:before {
                background: url('../img/template/download/yandex.disk.png') center center no-repeat;
              }
            }
          }
        }
      }
    }
  }
}