.error-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    color: #eee;
    text-align: center;

    h2 {
        font-size: 200px;
        line-height: 200px;

        @media (max-width: 768px) {
            font-size: 75px;
            line-height: 75px;
        }
    }

    .description {
        font-size: 25px;

        @media (max-width: 768px) {
            font-size: 22px;
            line-height: 22px;
        }
    }

    .page-part {
        flex: 1;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        &.-bottom {
            justify-content: flex-start;
        }

        .reasons {
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            .reason {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-basis: 25%;
                text-align: center;
                background: rgba(255,255,255,.2);
                padding: 20px 30px;
                margin: 20px 30px;
                position: relative;
                overflow: hidden;

                .fa {
                    font-size: 40px;
                }

                h4 {
                    font-size: 18px;
                }

                p {
                    font-size: 12px;
                }

                a {
                    border: 1px solid #FFFFFF;
                    color: #FFFFFF;
                    padding: 5px 15px;

                    &:hover {
                        color: #FFFFFF;
                        text-decoration: none;
                    }
                }

                .corner-shadow {
                    width: 250px;
                    padding: 60px;
                    position: absolute;
                    top: -10px;
                    right: -100px;
                    background-color: rgba(255,255,255,.1);
                    transform: rotate(55deg);
                    -o-transform: rotate(55deg);
                    -ms-transform: rotate(55deg);
                    -moz-transform: rotate(55deg);
                    -webkit-transform: rotate(55deg);
                }
            }
        }
    }
}