.events-container {
    position: absolute;
    right: 126px;
    top: 766px;
    width: 230px;
    height: 410px;

    .title, .timer {
        font-family: 'TrajanPro-Regular', 'minion-pro', times, serif;
        color: $colorWhite;
        font-weight: bold;

        &.-soon {
            @include text-with-shadow($colorPaleGreen1, rgba($colorDarkGreen1, .4), 1, 5);
        }
    }

    .title {
        font-size: $fontSize15;
        font-weight: bold;
        color: $colorPaleOrange1;
        @include text-with-shadow($colorPaleOrange1, rgba($colorPaleOrange2, .3), 1, 15);
    }

    .timer {
        font-size: $fontSize10 !important;

    }

    .current-event {
        &-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .event-container {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        margin-right: 230px;
        transition: all 150ms ease-in-out;
        position: relative;

        a {
            &.current-event-container {
                .title {
                    @include text-with-shadow($colorPaleOrange3, rgba($colorBrightViolet1, .5), 1, 15);
                }
            }
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            border-bottom: 1px solid transparent;
            border-image: linear-gradient(to right, transparent 0%, $colorDarkPink1 20%, $colorWhite 65%, $colorDarkPink1 80%, transparent 100%);
            border-image-slice: 1;
        }

        &:nth-child(1) {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                border-bottom: 1px solid transparent;
                border-image: linear-gradient(to right, transparent 0%, $colorDarkPink1 20%, $colorWhite 65%, $colorDarkPink1 80%, transparent 100%);
                border-image-slice: 1;
            }

            transition-delay: 75ms;
        }

        &:nth-child(2) {
            transition-delay: 150ms;
        }

        &:nth-child(3) {
            transition-delay: 225ms;
        }

        &:nth-child(4) {
            transition-delay: 300ms;
        }

        &:nth-child(5) {
            transition-delay: 375ms;
        }

        &:nth-child(6) {
            transition-delay: 450ms;
        }

        &:nth-child(7) {
            transition-delay: 525ms;
        }

        .soon {
            padding: 0;
        }
    }

    .events {
        position: relative;
    }

    .events-slide {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 362px;
        padding: 0;
        margin: 0;

        &.-active {
            z-index: 1;
            .event-container {
                margin-right: 0 !important;
                margin-left: 0 !important;
            }
        }

        &.-fly-away {
            .event-container {
                margin-right: 0 !important;
                margin-left: 230px;
            }
        }
    }

    .slider-controls {
        position: absolute;
        bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 43px;
        width: 100%;

        &.-fly-away {
            a {
                pointer-events: none;
                cursor: pointer;
            }
        }

        a {
            width: 28px;
            height: 43px;
            @include sprite($nav-event-slider);
            background-repeat: no-repeat;
            position: relative;
            cursor: pointer;

            &:before, &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                right: 0;
                opacity: 0;
                transition: opacity 150ms ease-in-out;
            }

            &:before {
                @include sprite($nav-event-slider-hover);
                background-repeat: no-repeat;
            }

            &:after {
                @include sprite($nav-event-slider-active);
                background-repeat: no-repeat;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }
            }

            &:active {
                &:after {
                    opacity: 1;
                }
            }
        }

        [data-trigger-next-events] {
            transform: rotateY(180deg);
            margin-left: 15px;
        }

        [data-trigger-prev-events] {
            margin-right: 15px;
        }
    }

    .heading {
        color: $colorWhite;
        font-size: $fontSize15;
        position: absolute;
        top: -25px;
        text-transform: uppercase;
        left: 60px;
    }
}