#modal-faq {
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -11px;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    .logo {
      content: '';
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 250ms ease-in-out;
      @include sprite($logo-hover);
      background-repeat: no-repeat;

      animation: pulse 1.25s linear infinite;

      @keyframes pulse {
        0% {transform: scale(.5);}
        25% {transform: scale(0.485);}
        35% {transform: scale(.45);}
        45% {transform: scale(0.55);}
        55% {transform: scale(.45);}
        65% {transform: scale(0.55);}
        75% {transform: scale(0.515);}
        100% {transform: scale(.5);}
      }
    }

    &.-active {
      .logo {
        opacity: 1;
      }
    }
  }
}

.public {
  &.faq {
    p {
      padding-top: 10px;
    }

    span {
      margin: 0 1px;
    }

    color: $colorDarkBrown3;
    font-size: $fontSize12;

    .index {
      .navigation {
        column-count: 2;
        column-gap: 16px;
        break-inside: avoid;

        li {
          display: inline-block;
          width: 100%;

          .panel {
            &-heading {
              font-size: $fontSize14;
              line-height: $fontSize14;
            }

            &-body {
              display: flex;
              flex-direction: column;
            }
          }

          a {
            background-color: rgba($colorBrightViolet2, .1);
            border: 1px solid rgba($colorBrightViolet2, .7);
            text-decoration: none;
            padding: 5px;
            margin: 2px 0;
            font-size: $fontSize12;
            line-height: $fontSize12;
            text-align: center;
            transition: all 150ms ease-in-out !important;
            display: flex;

            &:hover {
              background-color: rgba($colorBrightViolet2, .2);
              border: 1px solid rgba($colorBrightViolet2, 1);
            }
          }
        }
      }
    }

    &.-page {
      color: $colorWhite;
      a {
        color: $colorPaleOrange4 !important;

        &:hover {
          color: $colorBrightOrange1 !important;
        }

        &.button {
          color: $colorWhite !important;

          &:hover {
            color: $colorWhite !important;
          }
        }
      }

      .server-tabs {
        &.nav-pills {
          & > li {
            & > a {
              color: $colorPaleViolet23 !important;

              &:hover {
                color: $colorWhite !important;
              }
            }
          }
        }
      }

      .-new {
        &:after {
          content: 'NEW';
          color: $colorBrightOrange2;
          margin-left: 7px;
          font-size: 12px;
          font-weight: bold;
        }
      }

      .-hot {
        &:after {
          content: 'HOT';
          color: red;
          margin-left: 7px;
          font-size: 12px;
          font-weight: bold;
        }
      }
      .-bold {
        font-weight: bold;
      }
      .-title {
        font-size: $fontSize14;
      }
      .-offline {
        color: red;
      }
      .-violet {
        color: $colorBrightViolet1;
      }
      .-red {
        color: red;
      }
      .-yellow {
        color: #d9a90d;
      }
      .-blue {
        color: $colorBrightBlue1;
      }
      .-gray {
        color: darkgray;
      }
      .-bright-blue-1 {
        color: $colorBrightBlue1;
      }
      .-dark-burgundy-1 {
        color: $colorPaleViolet1 !important;
      }
      .-center {
        text-align: center;
      }
      .-text-left {
        text-align: left;
      }
      img {
        &.-full-width {
          width: 100%;
        }
      }
      .-font-size-smallest {
        font-size: $fontSize10;
      }
      .-font-size-small {
        font-size: $fontSize12;
      }
      .-font-size-bigger {
        font-size: $fontSize14;
      }
      .-font-size-big {
        font-size: $fontSize18;
      }
      .-m-top-25 {
        margin-top: 25px;
      }
      .-m-top-15 {
        margin-top: 15px;
      }

      table {
        width: 100%;
        margin-bottom: 20px;

        td, th {
          padding-left: 5px;
          padding-right: 5px;
        }
      }

      .vote_reward {
        text-align: left;

        tbody {
          tr {
            td {
              padding: 10px !important;

              &:last-of-type {
                border-right: none;
              }

              &:first-of-type {
                &:before, &:after {
                  width: 715px;
                }
              }

              li {
                padding: 3px 0;
              }

              &.-centered {
                  vertical-align: middle;
              }
            }

            &:nth-of-type(3) {
              td {
                &:first-of-type {
                  &:before, &:after {
                    width: 385px;
                  }
                }
              }
            }

            &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7) {
              td {
                &:first-of-type {
                  &:before, &:after {
                    width: 385px;
                  }
                }
                &:last-of-type {
                  border-right: 1px solid transparent;
                }
              }
            }

            &:nth-of-type(8) {
              td {
                &:first-of-type {
                  &:before {
                    width: 385px;
                  }
                }

                &:last-of-type {
                  border-right: 1px solid transparent;
                  border-image: linear-gradient(
                                  to bottom,
                                  transparent 0%,
                                  $colorPaleViolet18 50%,
                                  transparent 100%
                  );
                  border-image-slice: 1;
                }
              }
            }
          }
        }
      }

      .set-table, .box_drop, .event_rewards {
        text-align: left;
        border: none !important;

        thead {
          background: transparent;

          th {
            text-align: left !important;
            border: none !important;
            padding: 10px 0;
            height: auto;
          }

          tr {
            &.-title {
              font-size: $fontSize12;
              line-height: $fontSize12;

              td {
                padding: 3px 0;
              }
            }
          }
        }

        tbody {
          border: none!important;

          tr {
            border: none!important;
          }

          td {
            padding: 10px !important;

            &:last-of-type {
              border-right: none;
            }

            &:first-of-type {
              width: 40%;

              &:before, &:after {
                width: 715px;
              }
            }

            li {
              padding: 3px 0;
            }
          }
        }
      }

      .dynamic-exp-data, .persistent-discounts {
        &-container {
          display: flex;

          > li {
            &:first-of-type {
              flex-basis: calc(50% - 1px);
            }

            &:last-of-type {
              margin-left: 2px;
              flex-basis: calc(50% - 1px);
            }
          }

          .key-value-container {
            .-item {
              padding: .5px 0;
            }
          }
        }

        //&-controls {
        //  padding: 5px;
        //
        //  &.nav-tabs {
        //    & > li {
        //      &.active {
        //        & > a {
        //          color: $colorDarkBrown8 !important;
        //          background-color: $colorCreamy4;
        //          border-radius: 3px;
        //          -webkit-box-shadow: inset 0px 0px 5px 1px $colorCreamy5;
        //          -moz-box-shadow: inset 0px 0px 5px 1px $colorCreamy5;
        //          box-shadow: inset 0px 0px 5px 1px $colorCreamy5;
        //
        //          &:focus, &:hover {
        //            color: $colorDarkBrown8 !important;
        //            background-color: $colorCreamy4;
        //            border-radius: 3px;
        //            -webkit-box-shadow: inset 0px 0px 5px 1px $colorCreamy5;
        //            -moz-box-shadow: inset 0px 0px 5px 1px $colorCreamy5;
        //            box-shadow: inset 0px 0px 5px 1px $colorCreamy5;
        //          }
        //        }
        //      }
        //      & > a {
        //        color: rgba($colorDarkBrown8, .6) !important;
        //        font-size: $fontSize10;
        //        line-height: $fontSize10;
        //        font-weight: bold;
        //        padding: 7px !important;
        //
        //        &:focus, &:hover {
        //          background-color: $colorCreamy3;
        //        }
        //      }
        //    }
        //  }
        //}
      }

      .set-table, .event_rewards, .box_drop, .persistent_discounts {
        ul {
          margin: 0;
        }
      }

      .event_rewards, .box_drop, .r_gr, .discount_coupons, .features, .restrictions {
        li {
          list-style: circle;
          margin-left: 15px;
        }
      }

      .features {
        padding: 20px;
        //background: $colorLightYellow1;
        //border: 1px solid $colorBaseBorderDarker;

        li {
          margin-top: 5px;
        }
      }

      .-no-list-style {
        list-style: none !important;
      }

      .-no-margin {
        margin: 0 !important;
      }

      .r_gr {
        display: flex;
        flex-wrap: wrap;

        ul {
          flex-basis: 50%;
        }
      }

      .-underline {
        text-decoration: underline;
      }

      .box_drop {
        .drop {
          list-style: none;
          padding: 0;

          &.-multi-col {
            column-count: 2;
          }

          &_category {
            break-inside: avoid;
            list-style: none;
            padding: 0;
            margin: 0;

            &_content {
              list-style: none;
              padding: 0;

              &_title {
                font-weight: bold;
                padding: 0 0 5px;
                list-style: none;
                margin: 0;
              }

              &_body {
                padding: 0 0 10px;
                list-style: none;
                margin: 0;
              }

            }


          }

        }
      }

      .ancient-sets {
        margin-top: 10px;
      }

      &.-offafk {
        .key-value-container {
          .-item {
            flex-wrap: nowrap;
            flex-direction: column;

            .-key {
              margin-right: 0;
              margin-bottom: 3px;
            }
          }
        }
      }
    }

  }
}