.footer {
    &-container {
        position: absolute;
        left: 0;
        top: 1815px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Segoe UI Regular', sans-serif;
        text-transform: uppercase;
    }

    &-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .side {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            &:last-child {
                align-items: flex-end;
            }

            .links {
                flex-grow: 1;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    flex-grow: 1;
                }

                a {
                    color: $colorWhite;
                    transition: all 150ms ease-in-out !important;

                    &:hover {
                        color: $colorPaleViolet4 !important;
                    }
                }
            }

            .studio {
                width: 139px;
                height: 38px;
                display: block;
                @include sprite($footer-studio);
                background-repeat: no-repeat;
            }
        }

        .copyright {
            width: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .logo {
                width: 177px;
                height: 77px;

                @include sprite($footer-logo);
                background-repeat: no-repeat;
            }

            .text {
                color: $colorWhite;
                font-size: 14px;
                font-weight: bold;
                margin-top: 10px;
            }
        }
    }

    &-banners {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;

        a {
            margin: 0 5px;
        }

        &-mmoanons {
            @include sprite($top-banner-mmoanons);
        }

        &-mmotop {
            @include sprite($top-banner-mmotop-small);
        }
    }
}