form {
  font-family: 'PT Sans', sans-serif;

  .input-control {
    &.-bordered {
      height: 100%;
      position: relative;
      width: 100%;
      margin: 16px 0;

      .control-label {
        top: -20px;
        left: 10px;
        position: absolute;
        z-index: 1;
        font-size: $fontSize14;
        color: $colorBrightOrange4;
        font-family: 'Segoe UI Regular', sans-serif;
        font-weight: bold;
      }

      em {
        &.invalid {
          top: 25px;
          position: absolute;
          z-index: 1;
          font-size: $fontSize12;
          color: $colorFormErrorBorder;
          font-family: 'Segoe UI Regular', sans-serif;
          font-weight: bold;
          width: 100%;
          text-align: center;
        }
      }

      .side-border {
        &:before, &:after {
          content: '';
          position: absolute;
          top: -9px;
          width: 29px;
          height: 44px;
          z-index: 1;
          @include sprite($form-input-border);
          background-repeat: no-repeat;
        }

        &:before {
          left: -6px;
          transform: rotateY(180deg);
        }

        &:after {
          right: -6px;
        }
      }

      textarea {
        + .side-border {
          display: none;
        }
      }

      &:before, &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        z-index: 1;
        transition: opacity 200ms ease-in-out;
        opacity: 0;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(
                        to right,
                        transparent 0%,
                        $colorFormFocusBorder 20%,
                        $colorWhite 38%,
                        $colorFormFocusBorder 50%,
                        $colorFormFocusBorder 80%,
                        transparent 100%
        );
        box-shadow: 0 0 9px 0 $colorFormFocusBorderShadow, 0 0 9px 0 $colorFormFocusBorderShadow, 0 0 9px 0 $colorFormFocusBorderShadow, 0 0 9px 0 $colorFormFocusBorderShadow;
        border-image-slice: 1;
      }

      &.error {
        &:before, &:after {
          border-image: linear-gradient(
                          to right,
                          transparent 0%,
                          $colorFormErrorBorder 20%,
                          $colorWhite 38%,
                          $colorFormErrorBorder 50%,
                          $colorFormErrorBorder 80%,
                          transparent 100%
          );
          box-shadow: 0 0 9px 0 $colorFormErrorBorderShadow, 0 0 9px 0 $colorFormErrorBorderShadow, 0 0 9px 0 $colorFormErrorBorderShadow, 0 0 9px 0 $colorFormErrorBorderShadow;
          opacity: 1;
          border-image-slice: 1;
        }
      }

      &:before {
        top: 0;
      }

      &:after {
        transform: rotateY(180deg);
        bottom: 0;
      }

      // Uncomment following block when old browsers support will be removed
      //&:focus-within {
      //  &:before, &:after {
      //    opacity: 1;
      //  }
      //}

      // Legacy browsers support. Elements with these classes are added using jQuery.
      // Should be removed after some time when CSS 4 will be used by majority of clients.
      .-before, .-after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        z-index: 1;
        transition: opacity 200ms ease-in-out;
        opacity: 0;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(
                        to right,
                        transparent 0%,
                        $colorFormFocusBorder 20%,
                        $colorWhite 38%,
                        $colorFormFocusBorder 50%,
                        $colorFormFocusBorder 80%,
                        transparent 100%
        );
        box-shadow: 0 0 9px 0 $colorFormFocusBorderShadow, 0 0 9px 0 $colorFormFocusBorderShadow, 0 0 9px 0 $colorFormFocusBorderShadow, 0 0 9px 0 $colorFormFocusBorderShadow;
        border-image-slice: 1;
      }
      &.error {
        .-before, .-after {
          display: none;
        }
      }
      .-before {
        top: 0;
      }
      .-after {
        transform: rotateY(180deg);
        bottom: 0;
      }
      &.-focus {
        .-before, .-after {
          opacity: 1;
        }
      }

      input, textarea {
        border: 1px solid $colorGray1;
        background: -webkit-linear-gradient(top, $colorDarkViolet2 50%, $colorDarkViolet3 50%, $colorDarkViolet3 100%) !important;
        background: linear-gradient(top, $colorDarkViolet2 50%, $colorDarkViolet3 50%, $colorDarkViolet3 100%) !important;
        color: $colorPaleViolet7;
        padding: 5px;
        font-size: $fontSize12;
        width: 100%;
        border-radius: 0;

        &::-webkit-input-placeholder {
          color: $colorPaleViolet7;
        }
        &::-moz-placeholder {
          color: $colorPaleViolet7;
        }
        &:-moz-placeholder {
          color: $colorPaleViolet7;
        }
        &:-ms-input-placeholder {
          color: $colorPaleViolet7;
        }
      }

      input {
        height: 25px;
        border-left: none;
        border-right: none;
      }
    }
  }
}