.forum-container {
  width: 265px;
  position: absolute;
  left: 7px;
  top: 7px;
  @include sprite($forum-bg);
  background-repeat: no-repeat;
  padding: 9px;
  display: flex;
  flex-direction: column;

  .heading {
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: $fontSize16;
    font-weight: bold;
    background: -webkit-linear-gradient(top, $colorPaleViolet6 50%, $colorPaleViolet7 46%, $colorPaleViolet7 100%);
    background: linear-gradient(top, $colorPaleViolet6 50%, $colorPaleViolet7 46%, $colorPaleViolet7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .topics {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI Regular', sans-serif;

    .topic {
      font-weight: normal;
      position: relative;
      margin: 1px 0;
      padding: 2px 0;

      .title {
        width: 247px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: $colorPaleViolet8;
        font-size: $fontSize14;
      }

      .meta {
        display: flex;
        font-size: $fontSize12;

        & span {

          &:nth-of-type(1) {
            color: $colorWhite;
          }

          &:nth-of-type(2) {
            color: $colorPaleOrange7;
            margin-left: 3px;
          }

          &:nth-of-type(3) {
            color: $colorPaleViolet9;
            text-align: right;
            flex-grow: 1;
          }
        }
      }

      &:before, &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(
                        to right,
                        $colorDarkBlue2 0%,
                        $colorPaleViolet10 14%,
                        $colorPaleViolet11 17%,
                        $colorPaleViolet10 20%,
                        $colorDarkBlue2 35%,
                        $colorDarkBlue2 100%
        );
        border-image-slice: 1;
      }

      &:before {
        top: 0;
      }

      &:after {
        transform: rotateY(180deg);
        bottom: 0;
      }

      a {
        width: 100%;
        min-height: 42px;
        display: block;
      }

      &:last-child {
        margin-bottom: 30px;
      }
    }
  }
}