.gens {
  &_popup {
    background-color: rgba($colorDarkBrown11, .95);
    font-size: $fontSize12;
    padding: 5px 5px 10px 5px;
    text-align: center;
    line-height: 1.2;
    width: 75px;
    height: 75px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include popup-style();

    &.-title {
      width: auto;
      height: auto;
      padding: 5px 15px;
      color: $colorLightBrown4;
    }

    &_container {
      position: absolute;
      opacity: 0;
      pointer-events: none;
      transition: all 350ms ease;
      width: 100px;
      left: calc(50% - 50px);
      display: flex;
      justify-content: center;
      z-index: 3000;
      top: calc(100% + 20px);

      &.-opened {
        top: calc(100% + 10px);
        opacity: 1;
      }
    }

    &_trigger {
      position: relative;
      cursor: pointer;

      &.-image {
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}