.guilds {
  &.-page {
    &.-view {
      font-family: 'PT Sans', sans-serif;
      color: $colorWhite;

      a {
        color: $colorPaleOrange5;

        &:hover {
          color: $colorPaleOrange6 !important;
        }
      }

      .info {
        ul {
          background-color: $colorDarkViolet6;
          padding: 10px;
          font-size: $fontSize11;

          li {
            display: flex;
            align-items: center;

            & > span {
              &:first-of-type {
                color: $colorWhite;
                flex-grow: 1;
              }

              &:last-of-type {
                color: $colorPaleViolet24;
                background-color: $colorDarkViolet7;
                padding: 2px 8px;
                margin: 1px;
                flex-basis: 55%;
                min-width: 55%;
                font-weight: bold;

                .member {
                  color: $colorBrightGreen4;
                  vertical-align: bottom;
                }
              }
            }
          }
        }
      }
    }
  }
}