.icon {
  &.icon {
    display: inline-block;
    background-repeat: no-repeat;

    &-wcoin {
      @include sprite($icon-wcoin);
      background-repeat: no-repeat;
    }

    &-wcoin-shadow {
      @include sprite($icon-wcoin-shadow);
      background-repeat: no-repeat;
    }

    &-zen {
      @include sprite($icon-zen);
      background-repeat: no-repeat;
    }

    &-zen-shadow {
      @include sprite($icon-zen-shadow);
      background-repeat: no-repeat;
    }

    &-clock {

      @include sprite($icon-clock);
      background-repeat: no-repeat;
    }

    &-clock-shadow {
      @include sprite($icon-clock-shadow);
      background-repeat: no-repeat;
    }

    &-vip {
      @include sprite($icon-vip);
      background-repeat: no-repeat;
    }

    &-vip-shadow {
      @include sprite($icon-vip-shadow);
      background-repeat: no-repeat;
    }

    &-money {
      @include sprite($icon-money);
      background-repeat: no-repeat;
    }
  }
}