.item {
  cursor: pointer;
  position: relative;

  &.-image {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &.-background {
      background-image: url('../img/template/account/account.warehouse.cell.filled.png');

      .-selected {
        box-shadow: 0 0 20px $colorPaleViolet1 inset;
      }

    }

  }

  &_name {
    font-size: $fontSize12;
    font-weight: bold;
    width: 100%;
    color: #9AADD5;
    display: inline;
    padding: 1px 5px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;

    &.-yellow {
      color: #F4CB3F;
    }

    &.-exc {
      color: limegreen;
    }

    &.-anc {
      background-color: blue;
      color: limegreen;
    }

  }

  &_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &_popup {
    font-size: $fontSize12;
    padding: 5px 5px 10px 5px;
    text-align: center;
    line-height: 1.2;
    display: inline-block;
    @include popup-style();

    &_container {
      position: absolute;
      opacity: 0;
      pointer-events: none;
      transition: all 350ms ease;
      width: 400px;
      left: calc(50% - 200px);
      display: flex;
      justify-content: center;
      z-index: 3000;
      top: calc(100% + 20px);

      &.-opened {
        top: calc(100% + 10px);
        opacity: 1;
      }

    }

    span {
      padding-left: 5px;
      padding-right: 5px;
    }

    &_img {
      margin-top: 10px;
    }

    &_data {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      color: white;
    }

    &_equipment {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      color: white;
      width: 100%;

      span {
        background-color: #A00000;
        margin-top: 2px;
      }
    }

    &_wiz-dmg {
      color: #C9DBFF;
      font-weight: bold;
      margin-top: 15px;
    }

    &_pvp {
      display: flex;
      flex-direction: column;
      color: pink;
      font-weight: bold;
      margin-top: 15px;
    }

    &_harm {
      display: flex;
      flex-direction: column;
      color: yellow;
      font-weight: bold;
      margin-top: 15px;
    }

    &_other {
      display: flex;
      flex-direction: column;
      color: #9AADD5;
      margin-top: 15px;
    }

    &_anc {
      display: flex;
      flex-direction: column;
      color: #9AADD5;
      margin-top: 20px;
      &_head {
        color: gold;
        margin-bottom: 20px;
      }
    }

    &_socket {
      display: flex;
      flex-direction: column;
      color: #9AADD5;
      margin-top: 20px;
      &_head {
        color: #FF19FF;
        margin-bottom: 20px;
      }

      span {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  &-bg {
    background: url('../img/template/item/bg.png') top center no-repeat;
    background-repeat: no-repeat;
    width: 150px !important;
    height: 152px !important;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}