::selection {
    background: $colorBrightViolet2;
}
::-moz-selection {
    background: $colorBrightViolet2;
}

.flex {
    &-container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background: url('../img/template/bg.jpg');
        background-position-y: top;
        background-position-x: center;
        background-repeat: no-repeat;
        min-width: 1200px;
        min-height: 2400px;
        justify-content: center;
        align-items: center;
        //position: relative;

        &.-no-bg {
            background: none !important;
            min-width: auto;
        }

        z-index: -3;

        font-family: 'minion-pro', times, serif;
    }

    &-content {
        position: relative;
        width: 1200px;
        height: 2400px;
        display: flex;
        justify-content: center;
        align-items: center;

        > .content {
            position: absolute;
            left: 0;
            top: 740px;
            margin: 0 0 0 50px;
            width: 730px;
        }

        > .logo {
            position: absolute;
            left: calc(50% - 114px);
            top: 608px;
            width: 228px;
            height: 81px;
            cursor: pointer;
            overflow: visible;
            z-index: 1;

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                @include sprite($logo-hover);
                background-repeat: no-repeat;
                opacity: 0;
                left: -22px;
                top: -19px;
                transition: all 250ms ease-in-out;
                transform: scale(1.2);
            }

            &:hover {
                &:before {
                    opacity: 1;
                    transform: scale(1.0);
                }
            }
        }

        > .content {
            padding: 0 30px;

            &.-no-padding {
                padding: 0;
            }

            .content-heading {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
                @include title-gradient-text();

                span {
                    border: 1px solid transparent;
                    border-image: linear-gradient(
                                    to right,
                                    transparent 0%,
                                    $colorPaleViolet13 50%,
                                    transparent 100%
                    );
                    border-image-slice: 1;
                    border-left: none;
                    border-right: none;
                    padding: 5px 30px;
                }
            }
        }
    }
}

.-text-center {
    text-align: center !important;
}

.-bold {
    font-weight: bold !important;
}

.-margin-top-20 {
    margin-top: 20px !important;
}

.-margin-top-10 {
    margin-top: 10px !important;
}

.-margin-top-5 {
    margin-top: 5px !important;
}

.-margin-left-20 {
    margin-left: 20px !important;
}

a {
    color: $colorWhite;
    transition: color 150ms ease-in-out !important;

    &:hover, &:focus {
        color: $colorWhite;
        text-decoration: none !important;
    }
}

* {
    outline: 0 !important;
    vertical-align: baseline;

    &:hover, &:active, &:focus {
        outline: 0 !important;
        &:before, &:after {
            outline: 0 !important;;
        }
    }
    &:before, &:after {
        outline: 0 !important;;
    }
}

ul {
    list-style: none;
    padding: 0;
}

.-red-warning {
    color: $colorBrightRed1;
    font-weight: bold;
}

.online-status {
    .online {
        color: $colorBrightGreen2 !important;
        font-weight: bold;
    }
    .offafk {
        color: $darkYellow2 !important;
        font-weight: bold;
    }
    .offtrade {
        color: $colorOrange !important;
        font-weight: bold;
    }
    .offline {
        color: $colorBrightRed1 !important;
        font-weight: bold;
    }

    &.-character {
        &:before, &:after {
            content: '';
            position: absolute;
            left: -5px;
            top: 7px;
            width: 6px;
            height: 6px;
        }

        &:after {
            opacity: 0;
            -webkit-animation: blinking 500ms infinite;
            animation: blinking 500ms infinite;
        }

        &.-online {
            &:before {
                @include sprite($quick-top-online);
                background-repeat: no-repeat;
            }

            &:after {
                @include sprite($quick-top-online-overlay);
                background-repeat: no-repeat;
            }
        }

        &.-offline {
            &:before {
                @include sprite($quick-top-offline);
                background-repeat: no-repeat;
            }

            &:after {
                @include sprite($quick-top-offline-overlay);
                background-repeat: no-repeat;
            }
        }
    }
}

.-wcoin {
    color: $colorBrightOrange3 !important;
    font-weight: bold;
}

.-credits {
    color: $colorViolet1 !important;
    font-weight: bold;
}

.-money {
    color: $colorBrightGreen1 !important;
    font-weight: bold;
}

.-zen {
    color: $colorLime1 !important;
    font-weight: bold;
}


.key-value-container {
    .-item {
        padding: 2px 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .-key {
            flex-basis: 50%;
            background-color: rgba($colorBrightViolet2, .1);
            padding: 6px;
            margin-right: 3px;
        }

        .-value {
            background-color: rgba($colorBrightViolet2, .2);
            border: 1px solid $colorBrightViolet2;
            text-decoration: none;
            padding: 5px;
            text-align: center;
            flex-grow: 1;
        }
    }
}

.info-container {
    a {
        color: $colorPaleOrange5 !important;

        &:hover {
            color: $colorPaleOrange6 !important;
        }
    }

    div {
        &:first-of-type {
            flex-basis: 50%;
            margin-right: 20px;
        }

        &:last-of-type {
            flex-basis: 50%;
        }
    }

    ul {
        background-color: $colorDarkBlue2;
        padding: 15px;
        font-size: $fontSize11;
        border: 1px solid $colorPaleViolet19;

        li {
            display: flex;
            align-items: center;

            & > span {
                &:first-of-type {
                    color: $colorWhite;
                    flex-grow: 1;
                }

                &:last-of-type {
                    color: $colorPaleViolet24;
                    background-color: $colorPaleViolet19;
                    padding: 5px 10px;
                    margin: 1px;
                    flex-basis: 55%;
                }
            }
        }
    }
}

.-vertical-flex-center-align {
    display: flex;
    align-items: center;
}

// Disable responsivness for mobile devices

.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}

.col-sm-12 {
    width: 100%
}

.col-sm-11 {
    width: 91.66666667%
}

.col-sm-10 {
    width: 83.33333333%
}

.col-sm-9 {
    width: 75%
}

.col-sm-8 {
    width: 66.66666667%
}

.col-sm-7 {
    width: 58.33333333%
}

.col-sm-6 {
    width: 50%
}

.col-sm-5 {
    width: 41.66666667%
}

.col-sm-4 {
    width: 33.33333333%
}

.col-sm-3 {
    width: 25%;
}

.col-sm-2 {
    width: 16.66666667%
}

.col-sm-1 {
    width: 8.33333333%
}

.col-sm-pull-12 {
    right: 100%
}

.col-sm-pull-11 {
    right: 91.66666667%
}

.col-sm-pull-10 {
    right: 83.33333333%
}

.col-sm-pull-9 {
    right: 75%
}

.col-sm-pull-8 {
    right: 66.66666667%
}

.col-sm-pull-7 {
    right: 58.33333333%
}

.col-sm-pull-6 {
    right: 50%
}

.col-sm-pull-5 {
    right: 41.66666667%
}

.col-sm-pull-4 {
    right: 33.33333333%
}

.col-sm-pull-3 {
    right: 25%
}

.col-sm-pull-2 {
    right: 16.66666667%
}

.col-sm-pull-1 {
    right: 8.33333333%
}

.col-sm-pull-0 {
    right: auto
}

.col-sm-push-12 {
    left: 100%
}

.col-sm-push-11 {
    left: 91.66666667%
}

.col-sm-push-10 {
    left: 83.33333333%
}

.col-sm-push-9 {
    left: 75%
}

.col-sm-push-8 {
    left: 66.66666667%
}

.col-sm-push-7 {
    left: 58.33333333%
}

.col-sm-push-6 {
    left: 50%
}

.col-sm-push-5 {
    left: 41.66666667%
}

.col-sm-push-4 {
    left: 33.33333333%
}

.col-sm-push-3 {
    left: 25%
}

.col-sm-push-2 {
    left: 16.66666667%
}

.col-sm-push-1 {
    left: 8.33333333%
}

.col-sm-push-0 {
    left: auto
}

.col-sm-offset-12 {
    margin-left: 100%
}

.col-sm-offset-11 {
    margin-left: 91.66666667%
}

.col-sm-offset-10 {
    margin-left: 83.33333333%
}

.col-sm-offset-9 {
    margin-left: 75%
}

.col-sm-offset-8 {
    margin-left: 66.66666667%
}

.col-sm-offset-7 {
    margin-left: 58.33333333%
}

.col-sm-offset-6 {
    margin-left: 50%
}

.col-sm-offset-5 {
    margin-left: 41.66666667%
}

.col-sm-offset-4 {
    margin-left: 33.33333333%
}

.col-sm-offset-3 {
    margin-left: 25%
}

.col-sm-offset-2 {
    margin-left: 16.66666667%
}

.col-sm-offset-1 {
    margin-left: 8.33333333%
}

.col-sm-offset-0 {
    margin-left: 0
}