.market {
  &.-page {
    .price {
      &-wcoin {
        color: $colorBrightOrange3;
      }

      &-zen {
        color: $colorLime1;
      }
    }

    table {
      .commission-description {
        font-size: $fontSize10;
        line-height: $fontSize10;
        vertical-align: text-bottom;
        color: $lightGray1;
      }

      .icon {
        vertical-align: middle;
      }

      td {
        white-space: nowrap;

        &:nth-of-type(1) {
          width: 60%;
        }
        &:nth-of-type(3) {
          width: 20%;
        }
      }
    }

    &.-index {
      .filters {
        ul {
          color: $colorPaleViolet17;;
          display: flex;
          justify-content: center;

          &:nth-of-type(1) {
            li {
              margin: 0 5px;
              flex-grow: 1;

              label {
                margin-left: -3px;
                display: none;
              }

              &:nth-of-type(1) {
                flex-basis: 26%;
                margin-left: 3px;
              }

              &:nth-of-type(2) {
                flex-basis: 17%;
              }

              &:nth-of-type(3) {
                flex-basis: 17%;
              }

              &:nth-of-type(4) {
                flex-basis: 20%;
                margin: 0 2px;
                label {
                  margin-bottom: 2px;
                  margin-left: 0;
                }

                input {
                  background-color: $colorDarkBlue3;
                  border: 1px solid $colorPaleViolet16;
                  padding: 6px !important;
                  text-align: left !important;
                  white-space: nowrap;
                  font-size: $fontSize12;
                  line-height: $fontSize12;
                  width: 100%;
                  margin-top: -3px;
                  color: $colorPaleViolet17;

                  &::-webkit-input-placeholder {
                    color: $colorPaleViolet7;
                  }
                  &::-moz-placeholder {
                    color: $colorPaleViolet7;
                  }
                  &:-moz-placeholder {
                    color: $colorPaleViolet7;
                  }
                  &:-ms-input-placeholder {
                    color: $colorPaleViolet7;
                  }
                }
              }

              &:nth-of-type(5) {
                flex-basis: 20%;
                margin-right: 3px;
              }
            }
          }

          &:nth-of-type(2) {
            color: $colorPaleViolet17;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            li {
              font-size: $fontSize12;
              display: flex;
              justify-content: center;

              label {
                font-weight: normal;
              }

              &:nth-of-type(1) {
                flex-basis: 14%;
              }

              &:nth-of-type(2) {
                flex-basis: 13%;
              }

              &:nth-of-type(3) {
                flex-basis: 13%;
              }

              &:nth-of-type(4) {
                flex-basis: 13%;
              }

              &:nth-of-type(5) {
                flex-basis: 13%;
              }

              &:nth-of-type(6) {
                flex-basis: 13%;
              }

              &:nth-of-type(7) {
                flex-basis: 20%;
              }
            }
          }

          &:nth-of-type(3) {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            label {
              font-weight: normal;
            }

            li {
              &:nth-of-type(1) {
                flex-grow: 1;
                position: relative;

                button {
                  position: absolute;
                  right: 3px;
                  top: -1px;
                }

                input {
                  height: 28px;
                  background-color: $colorDarkBlue3;
                  border: 1px solid $colorPaleViolet16;
                  padding: 6px 125px 6px 6px !important;
                  text-align: left !important;
                  white-space: nowrap;
                  font-size: $fontSize12;
                  line-height: $fontSize12;
                  width: 100%;
                  margin-top: -3px;
                  color: $colorPaleViolet17 !important;
                  border-radius: 0;

                  &::-webkit-input-placeholder {
                    color: $colorPaleViolet7;
                  }
                  &::-moz-placeholder {
                    color: $colorPaleViolet7;
                  }
                  &:-moz-placeholder {
                    color: $colorPaleViolet7;
                  }
                  &:-ms-input-placeholder {
                    color: $colorPaleViolet7;
                  }

                  &:focus {
                    box-shadow: none;
                  }
                }

                li {
                  font-size: $fontSize12;
                }
              }
            }
          }
        }
      }
    }

    &.-buy, &.-return, &.-sell {
      color: $colorWhite;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        //margin: 0 1px;
      }

      .price {
        font-weight: bold;
      }

      .-price-type-input {
        display: flex;
        align-items: center;
      }

      .row {
        margin-bottom: 15px;
      }

      label {
        display: none;
      }

      a {
        color: $colorPaleOrange5 !important;

        &:hover {
          color: $colorPaleOrange6 !important;
        }

        &.button {
          color: $colorWhite !important;

          &:hover {
            color: $colorWhite !important;
          }
        }
      }
    }

    &.-history {
      &.-sale, &.-purchase {
        margin-top: 20px;

        table {
          a {
            color: $colorPaleOrange5 !important;

            &:hover {
              color: $colorPaleOrange6 !important;
            }

            &.button {
              color: $colorWhite !important;

              &:hover {
                color: $colorWhite !important;
              }
            }
          }
        }

        a {
          color: $colorWhite !important;

          &:hover {
            color: $colorWhite !important;
          }
        }
      }
    }
  }
}
