.memo {
  background-color: $colorDarkViolet5;
  border-left: 4px solid $colorDarkViolet4;
  color: $colorPaleViolet12;
  padding: 15px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-size: $fontSize12;

  a {
    color: $colorPaleOrange5;
    transition: all 150ms ease-in-out !important;

    &:hover {
      color: $colorPaleOrange6 !important;
    }
  }

  &.-green {
    background-color: rgba($colorBrightGreen2, .5);
    border-left: 4px solid $colorBrightGreen2;
    color: $colorWhite;
  }

  &.-red {
    background-color: rgba($colorBurgundy2, .5);
    border-left: 4px solid $colorBurgundy1;
    color: $colorWhite;
  }
}