.-admin-page {
  .modal {
    z-index: 10000;

    &-backdrop {
      display: none;
    }
  }
}

.modal {
  &-dialog {
    border-top: 7px solid !important;
    border-bottom: 7px solid !important;
    border-left: 5px solid !important;
    border-right: 5px solid !important;
    border-image: url('../img/template/modal/border.png') 7 5 !important;
    border-image-repeat: repeat repeat !important;
    background-position: 10px;
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      z-index: 1;
      left: calc(50% - 27px);
      @include sprite($modal-border-center);
    }

    &:before {
      top: -13px;
    }

    &:after {
      bottom: -13px;
      transform: rotateX(180deg);
    }


    .corners {
      &:before, &:after {
        content: '';
        position: absolute;
        @include sprite($modal-border-corner);
        z-index: 1;
      }

      &.-top {
        &:before, &:after {
          top: -15px;
        }

        &:before {
          left: -16px;
        }

        &:after {
          right: -16px;
          transform: rotateY(180deg);
        }
      }

      &.-bottom {
        &:before, &:after {
          bottom: -15px;
        }

        &:before {
          left: -16px;
          transform: rotateX(180deg);
        }

        &:after {
          right: -16px;
          transform: rotate(180deg);
        }
      }
    }
  }

  &-content {
    background: url('../img/template/modal/bg.jpg') repeat;
    padding: 20px;
    border-radius: 0;
    transition: all 0.3s ease-out !important;
  }

  &-header {
    border: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: $fontSize24;
    font-weight: bold;
    background: -webkit-linear-gradient(top, $colorPaleViolet6 50%, $colorPaleViolet7 46%, $colorPaleViolet7 100%);
    background: linear-gradient(top, $colorPaleViolet6 50%, $colorPaleViolet7 46%, $colorPaleViolet7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  &-backdrop {
    background-color: $colorDarkBlue2 !important;
    opacity: .6;
  }

  &-footer {
    border: none;

    a {
      color: $colorWhite !important;

      &:hover {
        color: $colorWhite !important;
      }
    }
  }
}

.modal:nth-of-type(even) {
  z-index: 1042 !important;
}
.modal-backdrop.in:nth-of-type(even) {
  z-index: 1041 !important;
}