@mixin image($width, $height) {
    width: #{$width}px;
    height: #{$height}px;
}

.main-navigation {
    position: absolute;
    width: 1050px;
    height: 68px;
    top: 604px;
    display: flex;

    div {
        display: flex;

        .control {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            span {
                display: inline-flex;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
                background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 51%, #9485b2 55%, #ffffff 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                z-index: 1;
                pointer-events: none;
                transition: text-shadow 250ms ease-in-out;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity 250ms ease-in-out;
                background-position: right;
                background-repeat: no-repeat;
            }

            &:hover, &:active, &:focus, &.-active {
                cursor: pointer;

                &:before {
                    opacity: 1;
                }

                span {
                    text-shadow: 2px 2px 1px rgba(0, 0, 0, .3)
                }
            }

            .-active-bg {
                position: absolute;
                left: 0;
                -webkit-transition: opacity 250ms ease-in-out;
                -moz-transition: opacity 250ms ease-in-out;
                -o-transition: opacity 250ms ease-in-out;
                transition: opacity 250ms ease-in-out;
                opacity: 0;
                width: 100%;
                height: 100%;
                background-position: right;
                background-repeat: no-repeat;

                span {
                    text-shadow: 2px 2px 1px rgba(0, 0, 0, .4)
                }
            }

            &.-active, &:active, &:focus {
                .-active-bg {
                    opacity: 1;
                }
            }
        }
    }

    .left {
        flex-grow: 1;

        > a {
            margin-right: 1px;

            &:nth-of-type(1) {
                @include image(115, 68);
                margin-left: 9px;

                &:before {
                    @include sprite($nav-main-news);
                }

                .-active-bg {
                    @include sprite($nav-main-news);
                }
            }

            &:nth-of-type(2) {
                @include image(92, 68);

                &:before {
                    @include sprite($nav-main-download);
                }

                .-active-bg {
                    @include sprite($nav-main-download);
                }
            }

            &:nth-of-type(3) {
                @include image(69, 68);

                &:before {
                    @include sprite($nav-main-forum);
                }

                .-active-bg {
                    @include sprite($nav-main-forum);
                }
            }

            &:nth-of-type(4) {
                @include image(109, 68);

                &:before {
                    @include sprite($nav-main-market);
                }

                .-active-bg {
                    @include sprite($nav-main-market);
                }

                margin-right: 0;
            }
        }
    }

    .right {
        > a {
            margin-left: 1px;

            &:nth-of-type(1) {
                @include image(134, 68);

                &:before {
                    @include sprite($nav-main-contact);
                }

                .-active-bg {
                    @include sprite($nav-main-contact);
                }

                margin-left: 0;
            }

            &:nth-of-type(2) {
                @include image(66, 68);

                &:before {
                    @include sprite($nav-main-top);
                }

                .-active-bg {
                    @include sprite($nav-main-top);
                }
            }

            &:nth-of-type(3) {
                @include image(139, 68);

                &:before {
                    @include sprite($nav-main-vote);
                }

                .-active-bg {
                    @include sprite($nav-main-vote);
                }

                &:before {
                    opacity: 1;
                }

                &:hover {
                    .-active-bg {
                        opacity: 1;
                    }
                }
            }
        }

        div {
            &.control {
                margin-left: 1px;

                @include image(66, 68);

                &:before {
                    @include sprite($nav-main-faq);
                }

                .-active-bg {
                    @include sprite($nav-main-faq);
                }

                span {
                    display: inline-flex;
                }

                &:hover {
                    .dropdown-body {
                        top: 65px;
                        padding-top: 20px;
                    }
                }

                .dropdown-body {
                    top: 80px;
                    padding-top: 20px;
                }
            }
        }
    }
}

.quick-links {
    a {
        position: absolute;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: -2px;
            opacity: 0;
            transition: opacity 250ms ease-in-out;
            background-repeat: no-repeat;
        }

        &:hover {
            &:before {
                opacity: 1;
            }
        }

        span {
            position: absolute;
            color: $colorWhite;
            font-size: $fontSize14;
            text-transform: uppercase;
            top: 30px;
        }
    }

    .sign-up {
        top: 50px;
        left: 705px;
        width: 231px;
        height: 86px;

        @include sprite($nav-paginate-signup);

        &:before {
            left: -2px;

            @include sprite($nav-paginate-signup-hover);
        }

        span {
            left: 85px;
        }
    }

    .play {
        top: 14px;
        left: 485px;
        width: 227px;
        height: 86px;

        @include sprite($nav-paginate-play);

        &:before {
            @include sprite($nav-paginate-play-hover);
        }

        span {
            right: 85px;
        }
    }
}

.lang {
    position: absolute;
    top: 15px;
    right: 100px;
    display: flex;

    a {
        width: 32px;
        height: 32px;
        display: inline-block;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 250ms ease-in-out;
        }

        &.ru {
            @include sprite($nav-lang-rus);
            background-repeat: no-repeat;
            margin-right: 10px;

            &.-active {
                @include sprite($nav-lang-rus-active);
                background-repeat: no-repeat;
            }

            &:after {
                @include sprite($nav-lang-rus-hover);
                background-repeat: no-repeat;
            }

            &:hover {
                &:after {
                    opacity: 1;
                }
            }
        }

        &.en {
            @include sprite($nav-lang-eng);
            background-repeat: no-repeat;
            margin-left: 9px;

            &.-active {
                @include sprite($nav-lang-eng-active);
                background-repeat: no-repeat;
            }

            &:before {
                content: '';
                position: absolute;
                left: -10px;
                top: 0;
                width: 1px;
                height: 100%;
                @include sprite($nav-lang-divider);
                background-repeat: no-repeat;
            }

            &:after {
                @include sprite($nav-lang-eng-hover);
                background-repeat: no-repeat;
            }

            &:hover {
                &:after {
                    opacity: 1;
                }
            }
        }
    }
}

.pagination {
    margin-top: 10px;

    & > li {
        font-family: 'PT Sans Bold', serif;
        width: 39px;
        height: 39px;
        @include sprite($nav-paginate-inner);
        margin: 0 3px;
        position: relative;
        cursor: pointer;
        font-size: $fontSize20;

        a {
            width: 39px;
            height: 38px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            color: $colorPaleViolet4;
            @include text-shadow(rgba($colorBlack, .5), 1, .3);
        }

        &.-first, &.-last {
            @include sprite($nav-paginate-outer);

            a {
                &:before {
                    content: '';
                    width: 16px;
                    height: 16px;
                    @include sprite($nav-paginate-chevron-left);
                    transform: rotateY(180deg);
                    opacity: .5;
                    transition: opacity 50ms ease-in-out;
                }

                &:hover {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }

        &.-first {
            transform: rotateY(180deg);

            a {
                &:before {
                    @include sprite($nav-paginate-chevron-left);
                }
            }
        }

        &:before, &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0;
            transition: opacity 50ms ease-in-out;
        }

        &:before {
            @include sprite($nav-paginate-inner-hover);
        }

        &:after {
            @include sprite($nav-paginate-inner-active);
        }

        &.-first, &.-last {
            &:before {
                @include sprite($nav-paginate-outer-hover);
            }
        }

        &.-first, &.-last {
            &:after {
                @include sprite($nav-paginate-outer-active);
            }
        }

        &:hover {
            &:before {
                opacity: 1;
            }
        }

        &.active, &:active, &:focus {
            &:after {
                opacity: 1;
            }
        }
    }
}

.dropdown {
    cursor: pointer;

    .dropdown-body {
        position: absolute;
        background-color: transparent;
        min-width: 200px;
        z-index: 2;
        opacity: 0;
        pointer-events: none;
        cursor: default;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        display: block;

        a {
            color: $colorDarkBrown1;
            text-decoration: none;
            cursor: pointer;

            &.-active {
                color: $colorBrightOrange;
            }

            &:hover {
                color: $colorDarkBrown1 !important;
            }
        }
    }

    &:hover {
        .dropdown-body {
            opacity: 1;
            pointer-events: auto;
        }
    }

    .dropdown-content {
        position: relative;
        display: block;
        @include popup-style();

        a {
            text-transform: uppercase;
            font-size: $fontSize10;
            line-height: $fontSize10;
            padding: 8px 16px;
            border-bottom: 1px solid rgba($colorPaleViolet21, .8);
            cursor: pointer;
            display: flex;
            align-items: center;
            color: $colorWhite;

            &:last-of-type {
                border-bottom: none;
            }

            &:hover {
                background-color: rgba($colorPaleViolet19, .5);
                color: $colorLightViolet !important;
            }
        }
    }
}

.social {
    position: fixed;
    right: 0;
    top: calc(50% - 36px);
    display: flex;
    flex-direction: column;

    a {
        position: relative;
        display: inline-flex;
        width: 51px;
        height: 36px;
        background-size: 100% 100% !important;
        background-color: $colorBurgundy1;
        justify-content: flex-start;
        align-items: center;
        margin-right: -15px;
        transition: all 150ms ease-in-out !important;
        left: 0;

        div {
            display: inline-flex;
            width: 36px;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        svg {
            fill: $colorWhite;
        }

        &.facebook {
            svg {
                width: 8px;
            }
        }

        &.vkontakte {
            svg {
                width: 16px;
            }
        }

        &:first-of-type {
            border-top-left-radius: 10%;
        }

        &:last-of-type {
            border-bottom-left-radius: 10%;
        }

        &:hover {
            left: -15px;
            background-color: $colorBurgundy2;

            &:first-of-type {
                border-top-left-radius: 0;
            }

            &:last-of-type {
                border-bottom-left-radius: 0;
            }
        }
    }
}