.news {
  @include sprite($news-bg);
  background-repeat: no-repeat;
  height: 216px;
  width: 730px;
  padding: 20px 75px 35px 195px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 33px;
  opacity: 0;
  -webkit-animation: 250ms ease-in-out 0s normal forwards 1 fadein;
  animation: 250ms ease-in-out 0s normal forwards 1 fadein;

  &:nth-child(1) {
    animation-delay: 150ms;
  }

  &:nth-child(2) {
    animation-delay: 300ms;
  }

  &:nth-child(3) {
    animation-delay: 450ms;
  }

  &:nth-child(4) {
    animation-delay: 600ms;
    margin-bottom: 15px;
  }

  @keyframes fadein {
    0% { opacity:0; }
    66% { opacity:.5; }
    100% { opacity:1; }
  }

  @-webkit-keyframes fadein {
    0% { opacity:0; }
    66% { opacity:.5; }
    100% { opacity:1; }
  }

  &_image {
    position: absolute;
    width: 125px;
    height: 125px;
    left: 38px;
    top: 38px;

    &.-image {
      &-1 { background: url('../img/news/1.png') top center no-repeat; }
      &-2 { background: url('../img/news/2.png') top center no-repeat; }
      &-3 { background: url('../img/news/3.png') top center no-repeat; }
      &-4 { background: url('../img/news/4.png') top center no-repeat; }
      &-5 { background: url('../img/news/5.png') top center no-repeat; }
      &-6 { background: url('../img/news/6.png') top center no-repeat; }
      &-7 { background: url('../img/news/7.png') top center no-repeat; }
      &-8 { background: url('../img/news/8.png') top center no-repeat; }
      &-9 { background: url('../img/news/9.png') top center no-repeat; }
      &-10 { background: url('../img/news/10.png') top center no-repeat; }
      &-11 { background: url('../img/news/11.png') top center no-repeat; }
      &-12 { background: url('../img/news/12.png') top center no-repeat; }
      &-13 { background: url('../img/news/13.png') top center no-repeat; }
      &-14 { background: url('../img/news/14.png') top center no-repeat; }
      &-15 { background: url('../img/news/15.png') top center no-repeat; }
      &-16 { background: url('../img/news/16.png') top center no-repeat; }
      &-17 { background: url('../img/news/17.png') top center no-repeat; }
    }
  }

  &_title {
    @include title-gradient-text();
  }

  &_body {
    font-family: 'Segoe UI Regular', sans-serif;
    color: $colorWhite;
    font-size: $fontSize10;
    line-height: $fontSize12;
    flex-grow: 1;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;

    * {
      //word-break: break-all;
    }
  }

  &_footer {
    color: $colorPaleViolet3;
    font-size: $fontSize12;
    line-height: $fontSize12;

    a {
      color: $colorPaleOrange5;
      transition: all 150ms ease-in-out !important;

      &:hover {
        color: $colorPaleOrange6 !important;
      }
    }
  }

  button {
    position: absolute;
    right: 130px;
    bottom: 0;
  }
}

.admin {
    &_news {
        font-size: $fontSize12;
    }
}

.modal {
  &-news {
    color: $colorWhite;
    font-size: $fontSize13;

    ul {
      list-style: initial;
      padding: 5px 20px;
    }
  }
}