.order {
  &.-page {
    color: $colorWhite;

    .-init {
      color: $colorBrightBlue1;
    }
    .-success {
      color: $colorAlertSuccess;
    }
    .-fail {
      color: $colorBrightRed1;
    }

    &.-index {

      table {
        thead {
          color: $colorPaleViolet22 !important;

          th {
            padding-bottom: 0;
            vertical-align: middle;
            border-right: 1px solid transparent !important;
            border-image: linear-gradient(
                            to bottom,
                            transparent 0%,
                            $colorPaleViolet18 50%,
                            transparent 100%
            ) !important;
            border-image-slice: 1 !important;

            &:last-of-type {
              border-right: none !important;
            }
          }
        }

        tbody {
          td {
            &:nth-of-type(1) {
              &:before, &:after {
                width: 490px;
              }
            }

            &:nth-of-type(2) {
              span {
                &:first-of-type {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }

    &.-details {
      .discount-description {
        font-size: $fontSize10;
        line-height: $fontSize10;
        vertical-align: text-bottom;
        color: $lightGray1;
      }
    }
  }
}