.policy {
  &.-page {
    color: $colorWhite !important;
    font-size: $fontSize12;
    font-family: 'PT Sans', sans-serif;

    h4 {
      font-size: $fontSize14;
    }

    ul {
      padding: 0 15px;
    }

    ol {
      counter-reset: item;
      padding-left: 20px;
    }

    li {
      display: block;
      margin-top: 5px;

      &:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
        font-weight: bold;
        margin-right: 5px;
      }
    }

    a {
      color: $colorPaleOrange5 !important;

      &:hover {
        color: $colorPaleOrange6 !important;
      }
    }

    .card {
      &-header {
        border-radius: 0;
        background-color: rgba($colorBrightViolet2, .2);
        border: 1px solid $colorBrightViolet2;
        text-decoration: none;
        padding: 5px;
        text-align: center;
        cursor: pointer;
        transition: background-color, border 250ms ease-in-out;

        &:hover {
          background-color: rgba($colorBrightViolet2, .1);
          border: 1px solid rgba($colorBrightViolet2, .8);
        }

        button {
          color: $colorWhite !important;
          padding: 0;

          &:hover, &:focus {
            color: $colorWhite !important;
            text-decoration: none;
          }
        }
      }

      &-body {
        border: 1px solid $colorBrightViolet2;
        border-top: none;
        background-color: rgba($colorBrightViolet2, .1);
      }
    }
  }
}
