.prison {
  &.-page {
    color: $colorWhite;
    font-size: $fontSize13;

    table {
      thead {
        color: $colorPaleViolet22 !important;

        th {
          padding-bottom: 0;
          vertical-align: middle;
          border-right: 1px solid transparent !important;
          border-image: linear-gradient(
                          to bottom,
                          transparent 0%,
                          $colorPaleViolet18 50%,
                          transparent 100%
          ) !important;
          border-image-slice: 1 !important;

          &:last-of-type {
            border-right: none !important;
          }
        }
      }

      a {
        color: $colorPaleOrange5 !important;

        &:hover {
          color: $colorPaleOrange6 !important;
        }
      }
    }
  }
}