.quick-top {
  position: absolute;
  right: 75px;
  top: 1233px;

  .nav {
    border: none !important;

    &-link{
      border: none !important;
      background-color: transparent !important;
      transition: all 150ms ease-in-out !important;
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 0;
      color: $colorPaleViolet2 !important;
      padding-top: 10px;

      span {
        z-index: 2;
      }

      &.active {
          color: $colorPaleOrange3 !important;
      }

      &:hover {
          @include text-with-shadow($colorPaleOrange4, rgba($colorBrightOrange1, .5), 1, 5);
      }

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        transition: opacity 75ms ease-in-out !important;
        z-index: 1;
      }

      &.active {
        &:before {
          opacity: 1;
        }
      }

      &[aria-controls="character"] {
        width: 96px;
        height: 48px;
        @include sprite($quick-top-character);
        background-repeat: no-repeat;

        &:before {
          @include sprite($quick-top-character-active);
          background-repeat: no-repeat;
        }
      }

      &[aria-controls="guild"] {
        width: 91px;
        height: 48px;
        @include sprite($quick-top-guild);
        background-repeat: no-repeat;

        &:before {
          @include sprite($quick-top-guild-active);
          background-repeat: no-repeat;
        }
      }

      &[aria-controls="market"] {
        width: 141px;
        height: 46px;
        @include sprite($quick-top-market);
        background-repeat: no-repeat;

        &:before {
          @include sprite($quick-top-market-active);
          background-repeat: no-repeat;
        }
      }
    }

    &-item {
      text-transform: uppercase;
      font-size: $fontSize10;
      padding: 0;
      position: relative;
      margin-left: -3px;
    }
  }

  .tab-content {
    padding: 5px 25px 0 25px;
    color: $colorWhite;

    .characters, .guilds, .market {
      &.-quick-top {
        width: 100%;
        color: $colorWhite;
        font-size: $fontSize12;

        border-collapse: collapse;

        li {
          display: flex;

          &:nth-child(2) {
            margin-top: 10px;
          }
        }

        .heading {
          position: relative;
          padding: 0 15px 10px 15px;
          color: $colorPaleViolet2;
          font-size: $fontSize13;

          &:after {
            content: '';
            position: absolute;
            width: 320px;
            height: 1px;
            left: -20px;
            bottom: 0;
            border-bottom: 1px solid transparent;
            border-image: linear-gradient(to right, transparent 0%, rgba($colorPaleViolet6, .3) 20%, rgba($colorPaleViolet6, .3) 80%, transparent 100%);
            border-image-slice: 1;
          }

          div {
            text-align: center;
          }
        }

        > .item {
          padding: 0 15px;
          height: 23px;
          text-align: center;
          position: relative;
          align-items: center;
          cursor: default;

          a {
            color: $colorPaleOrange5;
            transition: all 150ms ease-in-out !important;

            &:hover {
              color: $colorPaleOrange6 !important;
            }
          }

          &:after {
            content: '';
            position: absolute;
            width: 280px;
            height: 1px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            bottom: 0;
            border-bottom: 1px solid transparent;
            border-image: linear-gradient(to right, transparent 0%, rgba($colorPaleViolet6, .3) 20%, rgba($colorPaleViolet6, .3) 80%, transparent 100%);
            border-image-slice: 1;
          }

          &:last-of-type {
            &:after {
              background: none;
            }
          }
        }
      }
    }

    .characters {
      .item, .heading {
        > div {
          &:nth-child(1) {
            flex-basis: 10%;
            position: relative;
          }

          &:nth-child(2) {
            flex-basis: 45%;
          }

          &:nth-child(3) {
            flex-basis: 15%;
          }

          &:nth-child(4) {
            flex-basis: 15%;
          }

          &:nth-child(5) {
            flex-basis: 15%;
          }
        }
      }
    }

    .guilds {
      .item, .heading {
        > div {
          &:nth-child(1) {
            flex-basis: 10%;
          }

          &:nth-child(2) {
            flex-basis: 50%;
          }

          &:nth-child(3) {
            flex-basis: 20%;
          }

          &:nth-child(4) {
            flex-basis: 20%;
          }
        }
      }

      .name-with-mark {
        display: flex;
        justify-content: center;

        a {
          flex-grow: 1;
        }
      }
    }

    .market {
      width: 100%;
      color: $colorDarkBrown3;
      font-size: $fontSize12;

      .heading {
        > div {
          &:nth-child(1) {
            width: 190px;
            text-align: left;
            padding-left: 5px;
          }
          &:nth-child(2) {
            flex-grow: 1;
            text-align: right;
          }
        }
      }

      > .item {
        display: flex;
        text-align: left !important;

        .market-item {
          flex-grow: 1;

          .item_preview {
            .item_name {
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 190px !important;
              display: block;
              overflow: hidden;
              font-weight: normal;
            }
          }
        }

        .price-container {
          white-space: nowrap;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .price {
            position: absolute;
            right: 40px;
          }

          .icon {
            margin-left: 5px;
          }
        }
      }

    }
  }
}