.referrals {
  &.-page {
    &.-index {

      .memo {
        a {
          color: $colorPaleOrange5 !important;

          &:hover {
            color: $colorPaleOrange6 !important;
          }
        }
      }

      table {
        td {
          &:first-of-type {
            a {
              color: $colorPaleOrange5 !important;

              &:hover {
                color: $colorPaleOrange6 !important;
              }
            }
          }
        }
      }

      .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .panel-heading {
        .text {
          font-size: $fontSize14;
        }
      }

      ul {
        padding-left: 15px;
        margin-top: 3px;
        margin-bottom: 0;

        li {
          list-style: disc;
        }
      }
    }

    &.-reward {
      .memo {
        span {
          &:nth-of-type(2) {
            font-weight: bold;
          }
        }
      }

      .control {
        margin-top: 20px;
        text-align: center;
      }
    }
  }
}