.server-time-container {
  position: absolute;
  right: 155px;
  top: 677px;
  width: 150px;
  height: 45px;
  font-family: 'Segoe UI Regular', sans-serif;
  font-weight: bold;

  .timer {
    width: 100%;
    height: 65px;
    text-align: center;
    color: $colorWhite;

    .container {
      padding: 0 !important;
      @include text-with-shadow($colorPaleYellow1, rgba($colorBlack, .5), 1, 3);

      .soon-slot {
        //font-size: $fontSize12;
      }
    }
  }

  .timer-title {
    text-transform: uppercase;
    text-align: center;
    font-size: $fontSize12;
  }
}