.server {
  @keyframes beacon-pulse {
    0% {
      transform: scale(.7);
    }

    10% {
      transform: scale(1);
      box-shadow: 0px 0px 0px 4px red;
      opacity: 1;
    }

    30% {
      transform: scale(1);
      box-shadow: 0px 0px 0px 2px red;
      opacity: 1;
    }

    80% {
      transform: scale(4);
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes beacon-pulse {
    0% {
      transform: scale(.7);
    }

    10% {
      transform: scale(1);
      box-shadow: 0px 0px 0px 4px red;
      opacity: 1;
    }

    30% {
      transform: scale(1);
      box-shadow: 0px 0px 0px 2px red;
      opacity: 1;
    }

    80% {
      transform: scale(4);
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  &-info {
    .key-value-container {
      .-item {
        flex-wrap: nowrap;
      }

      .-value {
        flex-basis: 50%;
      }
    }
  }

  &-online-status {
    position: absolute;
    left: 74px;
    top: 408px;

    .modal-trigger {
      position: absolute;
      width: 23px;
      height: 31px;
      top: 94px;
      left: 124px;
      z-index: 5;

      cursor: pointer;
      @include sprite($server-info);

      &:before {
        content: '';
        position: absolute;
        opacity: 0;
        width: 27px;
        height: 29px;
        top: 1px;
        left: -2px;
        transition: opacity 250ms ease-in-out;

        @include sprite($server-info-hover);
      }

      &:after {
        content: '';
        position: absolute;
        opacity: 0;
        width: 23px;
        height: 31px;

        @include sprite($server-info-active);
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }

      &:active {
        &:after {
          opacity: 1;
        }
      }

      .beacon {
        position: absolute;
        left: 1px;
        top: 6px;
        width: 20px;
        height: 20px;

        &:before {
          position: absolute;
          content: "";
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          background-color: transparent;
          border-radius: 50%;
          box-shadow: 0px 0px 4px 4px red;
          -webkit-animation: beacon-pulse 2s infinite linear;
          animation: beacon-pulse 1.5s infinite linear;
        }
      }
    }

    .border {
      position: absolute;
      @include sprite($server-border);
      background-repeat: no-repeat;
      z-index: 1;
      transition: background-image 350ms ease-in-out;
      height: inherit;
      width: inherit;
      border: none !important;
    }

    .background {
      position: absolute;
      height: 196px;
      width: 150px;
      z-index: 4;

      .info {
        &-popup {
          position: absolute;
          height: 50px;
          left: 134px;
          top: 71px;
          background: rgba(0, 0, 0, .65);
          z-index: 0;
          width: 0;
          transition: width 250ms ease-in-out;
          overflow: hidden;
          color: $colorLightViolet;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 5px;
          //align-items: center;
        }

        &-row {
          display: flex;
          margin: 0 5px 0 30px;
          white-space: nowrap;
          font-size: $fontSize12;
        }

        &-key {
          color: $colorGold;
        }

        &-value {
          margin-left: 5px;
        }

        &-faq-link {
          position: absolute;
          right: 5px;
          bottom: 3px;
          text-transform: uppercase;
          text-decoration: underline;
          @include title-gradient-text();
          font-size: $fontSize12;
        }
      }

      &:hover {
        .sphere {
          &:before {
            opacity: 0;
          }

          &:after {
            opacity: 1;
          }
        }

        .info-popup {
          width: 200px;
        }
      }
    }

    .sphere {
      position: absolute;
      height: inherit;
      width: 188px;
      z-index: 0;
      left: -45px;
      top: -6px;

      &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        background-repeat: no-repeat;
      }

      &:before {
        @include sprite($server-sphere);
        z-index: 1;
        opacity: 1;
        transition: opacity 350ms;
      }

      &:after {
        @include sprite($server-sphere-hover);
        opacity: 0;
        transition: opacity 350ms;
      }
    }

    .online-label {
      //display: none;

      @include sprite($server-online);
      height: 59px;
      position: absolute;
      top: 68px;
      right: 129px;
      z-index: -1;
      transition: width 700ms ease-in-out;
      width: 20px;
      overflow: hidden;

      &.ready {
        width: 86px;
      }

      div {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 25px;
        top: 17px;
        width: 50px;
        height: 30px;
        font-weight: 700;

        @include text-with-shadow($colorPaleGreen1, $colorBrightGreen1, 1, 10);
      }
    }

    .circle {
      border-radius: 100%;
      left: 15px;
      top: 50px;
      width: 123px;
      height: 125px;
      position: relative;
      overflow: hidden;
      transform: translate(0, 0);

      .liquid {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff;
        font-size: 64px;
      }

      .water {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        -webkit-transform: translate(0, 100%);
        transform: translate(0, 100%);
        background: #003366;
      }

      .water_wave {
        width: 200%;
        position: absolute;
        bottom: 100%;

        &_back_2 {
          left: 0;
          fill: #8A93FF;
          -webkit-animation: wave-back-2 1.2s infinite linear;
          animation: wave-back-2 1.2s infinite linear;
        }

        &_back {
          right: 0;
          fill: #949AD1;
          -webkit-animation: wave-back .7s infinite linear;
          animation: wave-back .7s infinite linear;
        }

        &_front {
          left: 0;
          fill: #003366;
          margin-bottom: -1px;
          -webkit-animation: wave-front .8s infinite linear;
          animation: wave-front .8s infinite linear;
        }
      }
    }

    @-webkit-keyframes wave-front {
      100% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
      }
    }

    @keyframes wave-front {
      100% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
      }
    }
    @-webkit-keyframes wave-back {
      100% {
        -webkit-transform: translate(50%, 0);
        transform: translate(50%, 0);
      }
    }
    @keyframes wave-back {
      100% {
        -webkit-transform: translate(50%, 0);
        transform: translate(50%, 0);
      }
    }
    @-webkit-keyframes wave-back-2 {
      100% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
      }
    }
    @keyframes wave-back-2 {
      100% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
      }
    }
  }
}