.reset-skills {
    ul {
        &.skills {
            li {
                img {
                    transition: opacity 200ms ease-in-out;
                }

                &.-checked {
                    img {
                        opacity: .2;
                    }
                }
            }
        }
    }

    a {
        color: $colorWhite !important;

        &:hover {
            color: $colorWhite !important;
        }
    }
}