.soon-wrapper, .soon {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 40px;
  font-size: 2.5rem;
  text-align: center;
  overflow: hidden
}

.soon-wrapper [class*=soon-], .soon [class*=soon-] {
  display: inline-block;
  vertical-align: baseline
}

.soon-wrapper, .soon-wrapper *, .soon, .soon * {
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

.soon-wrapper > .soon, .soon > .soon {
  display: block
}

.soon-wrapper.soon-inline, .soon.soon-inline {
  display: inline-block;
  margin: 0
}

.soon-wrapper > .soon-group, .soon > .soon-group {
  white-space: nowrap
}

.soon-wrapper .soon-repeater, .soon-wrapper .soon-group, .soon .soon-repeater, .soon .soon-group {
  position: relative;
  z-index: 1
}

.soon-wrapper[data-layout*=label-uppercase] .soon-label, .soon[data-layout*=label-uppercase] .soon-label {
  text-transform: uppercase
}

.soon-wrapper[data-layout*=label-lowercase] .soon-label, .soon[data-layout*=label-lowercase] .soon-label {
  text-transform: lowercase
}

.soon-wrapper[data-visual] > .soon-group > .soon-group-inner, .soon[data-visual] > .soon-group > .soon-group-inner {
  display: table;
  border-collapse: separate
}

.soon-wrapper[data-visual] > .soon-group > .soon-group-inner > .soon-group-separator > .soon-group-inner > .soon-group-sub > .soon-group-inner, .soon-wrapper[data-visual] > .soon-group > .soon-group-inner > .soon-group-sub > .soon-group-inner, .soon[data-visual] > .soon-group > .soon-group-inner > .soon-group-separator > .soon-group-inner > .soon-group-sub > .soon-group-inner, .soon[data-visual] > .soon-group > .soon-group-inner > .soon-group-sub > .soon-group-inner {
  display: block;
  position: relative;
  min-width: 3.25em
}

.soon-wrapper[data-visual] > .soon-group > .soon-group-inner > .soon-group-separator > .soon-group-inner > .soon-group-sub > .soon-group-inner::after, .soon-wrapper[data-visual] > .soon-group > .soon-group-inner > .soon-group-sub > .soon-group-inner::after, .soon[data-visual] > .soon-group > .soon-group-inner > .soon-group-separator > .soon-group-inner > .soon-group-sub > .soon-group-inner::after, .soon[data-visual] > .soon-group > .soon-group-inner > .soon-group-sub > .soon-group-inner::after {
  padding-bottom: 100% !important;
  content: '' !important;
  display: block !important
}

.soon-wrapper[data-visual] .soon-group-sub, .soon[data-visual] .soon-group-sub {
  display: table-cell
}

.soon-wrapper[data-visual] .soon-value, .soon[data-visual] .soon-value {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1em
}

.soon-wrapper[data-visual] .soon-label, .soon[data-visual] .soon-label {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25%;
  margin-top: 0 !important;
  line-height: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: .325em !important
}

.soon-wrapper[data-visual][data-layout*=label-above] .soon-label.soon-label, .soon[data-visual][data-layout*=label-above] .soon-label.soon-label {
  top: 25% !important;
  margin-top: 0 !important;
  bottom: auto !important
}

.soon-wrapper[data-visual*=ring]:not([data-layout*=label-hidden]) .soon-value, .soon[data-visual*=ring]:not([data-layout*=label-hidden]) .soon-value {
  top: 45%
}

.soon-wrapper[data-visual*=ring]:not([data-layout*=label-hidden]) .soon-label, .soon[data-visual*=ring]:not([data-layout*=label-hidden]) .soon-label {
  bottom: 30%
}

.soon-wrapper[data-visual*=ring][data-layout*=label-above] .soon-value, .soon[data-visual*=ring][data-layout*=label-above] .soon-value {
  top: 58%
}

.soon-wrapper[data-visual*=ring][data-layout*=label-above] .soon-label.soon-label, .soon[data-visual*=ring][data-layout*=label-above] .soon-label.soon-label {
  top: 30% !important
}

.soon-wrapper[data-layout*=group] .soon-label, .soon[data-layout*=group] .soon-label {
  font-size: .5em
}

.soon-wrapper[data-layout*=label-small] .soon-label, .soon[data-layout*=label-small] .soon-label {
  font-size: .4em
}

.soon-wrapper[data-layout*=label-small][data-visual] .soon-label, .soon[data-layout*=label-small][data-visual] .soon-label {
  font-size: .275em !important
}

.soon-wrapper[data-layout*=label-small][data-layout*=line] .soon-label, .soon[data-layout*=label-small][data-layout*=line] .soon-label {
  font-size: .625em
}

.soon-wrapper[data-layout*=label-big] .soon-label, .soon[data-layout*=label-big] .soon-label {
  font-size: .65em
}

.soon-wrapper[data-layout*=label-big][data-visual] .soon-label, .soon[data-layout*=label-big][data-visual] .soon-label {
  font-size: .4em !important
}

.soon-wrapper[data-layout*=label-big][data-layout*=line] .soon-label, .soon[data-layout*=label-big][data-layout*=line] .soon-label {
  font-size: .875em
}

.soon-wrapper[data-layout*=label-hidden] .soon-label, .soon[data-layout*=label-hidden] .soon-label {
  display: none !important
}

.soon-reflection {
  display: block !important;
  overflow: hidden;
  z-index: 0 !important;
  opacity: .3;
  margin-bottom: -.5em;
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1)
}

.soon-reflection ~ .soon-label {
  position: relative;
  z-index: 1;
  margin-top: 1em !important
}

.soon-reflection::after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  z-index: 5;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  content: '';
  background-image: inherit
}

.soon-reflection.soon-separator {
  position: absolute !important;
  left: 0;
  top: 1.5em
}

.soon-no-animation .soon-reflection {
  display: none !important
}

.soon-text {
  min-width: .6875em
}

.soon-slot {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: top !important;
  letter-spacing: .125em;
  text-indent: .125em
}

.soon-slot:first-child {
  margin-left: -.125em
}

.soon-slot:last-child {
  margin-right: -.125em
}

.soon-slot + .soon-slot {
  margin-left: -.25em
}

.soon-slot .soon-slot-inner {
  display: block;
  -webkit-transform: perspective(100px);
  -ms-transform: perspective(100px);
  -o-transform: perspective(100px);
  transform: perspective(100px);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow: hidden;
  height: 1.5em
}

.soon-slot-bounding {
  padding: 0 .0625em;
  visibility: hidden
}

.soon-slot-new, .soon-slot-old {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden
}

.soon-slot-new, .soon-slot-old, .soon-slot-bounding {
  text-align: center
}

.soon-slot-animate .soon-slot-new, .soon-slot-animate .soon-slot-old {
  -webkit-transition: -webkit-transform 800ms, opacity 700ms, color 400ms, -webkit-filter 400ms;
  -o-transition: -o-transform 800ms, opacity 700ms, color 400ms, filter 400ms;
  transition: transform 800ms, opacity 700ms, color 400ms, filter 400ms
}

.soon-milliseconds .soon-slot-animate .soon-slot-new, .soon-milliseconds .soon-slot-animate .soon-slot-old {
  -webkit-transition: -webkit-transform 100ms, opacity 100ms, color 50ms, -webkit-filter 50ms;
  -o-transition: -o-transform 100ms, opacity 100ms, color 50ms, filter 50ms;
  transition: transform 100ms, opacity 100ms, color 50ms, filter 50ms
}

.soon-slot .soon-slot-new {
  opacity: 0;
  z-index: 2
}

.soon-slot .soon-slot-old {
  opacity: 1;
  z-index: 1
}

.soon-slot-animate .soon-slot-new {
  opacity: 1
}

.soon-slot-animate .soon-slot-old {
  opacity: 0
}

.soon[data-face*=doctor] .soon-slot .soon-slot-new {
  opacity: 0;
  z-index: 2;
  -webkit-transform: rotateZ(45deg) scale(0.25);
  -ms-transform: rotateZ(45deg) scale(0.25);
  -o-transform: rotateZ(45deg) scale(0.25);
  transform: rotateZ(45deg) scale(0.25)
}

.soon[data-face*=doctor] .soon-slot .soon-slot-old {
  opacity: 1;
  z-index: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1)
}

.soon[data-face*=doctor] .soon-slot-animate .soon-slot-new {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1)
}

.soon[data-face*=doctor] .soon-slot-animate .soon-slot-old {
  opacity: 0;
  -webkit-transform: rotateZ(-45deg) scale(1.5);
  -ms-transform: rotateZ(-45deg) scale(1.5);
  -o-transform: rotateZ(-45deg) scale(1.5);
  transform: rotateZ(-45deg) scale(1.5)
}

.soon[data-face*=slide] .soon-slot .soon-slot-new {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: 2;
  opacity: 0
}

.soon[data-face*=slide] .soon-slot .soon-slot-old {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  z-index: 1;
  opacity: 1
}

.soon[data-face*=slide] .soon-slot-animate .soon-slot-new {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}

.soon[data-face*=slide] .soon-slot-animate .soon-slot-old {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0
}

.soon[data-face*=slide][data-face*=up] .soon-slot .soon-slot-new {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%)
}

.soon[data-face*=slide][data-face*=up] .soon-slot .soon-slot-old {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0)
}

.soon[data-face*=slide][data-face*=up] .soon-slot-animate .soon-slot-new {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0)
}

.soon[data-face*=slide][data-face*=up] .soon-slot-animate .soon-slot-old {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%)
}

.soon[data-face*=slide][data-face*=left] .soon-slot .soon-slot-new {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%)
}

.soon[data-face*=slide][data-face*=left] .soon-slot .soon-slot-old {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0)
}

.soon[data-face*=slide][data-face*=left] .soon-slot-animate .soon-slot-new {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0)
}

.soon[data-face*=slide][data-face*=left] .soon-slot-animate .soon-slot-old {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%)
}

.soon[data-face*=slide][data-face*=right] .soon-slot .soon-slot-new {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%)
}

.soon[data-face*=slide][data-face*=right] .soon-slot .soon-slot-old {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0)
}

.soon[data-face*=slide][data-face*=right] .soon-slot-animate .soon-slot-new {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0)
}

.soon[data-face*=slide][data-face*=right] .soon-slot-animate .soon-slot-old {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%)
}

.soon[data-face*=roll] .soon-slot .soon-slot-new {
  opacity: 0;
  -webkit-transform: translateY(-102.5%) rotateX(110deg) scale(0.5);
  -ms-transform: translateY(-102.5%) rotateX(110deg) scale(0.5);
  -o-transform: translateY(-102.5%) rotateX(110deg) scale(0.5);
  transform: translateY(-102.5%) rotateX(110deg) scale(0.5);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  z-index: 2
}

.soon[data-face*=roll] .soon-slot .soon-slot-old {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  z-index: 1
}

.soon[data-face*=roll] .soon-slot-animate .soon-slot-new {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0)
}

.soon[data-face*=roll] .soon-slot-animate .soon-slot-old {
  opacity: 0;
  -webkit-transform: translateY(102.5%) rotateX(-110deg) scale(0.5);
  -ms-transform: translateY(102.5%) rotateX(-110deg) scale(0.5);
  -o-transform: translateY(102.5%) rotateX(-110deg) scale(0.5);
  transform: translateY(102.5%) rotateX(-110deg) scale(0.5)
}

.soon[data-face*=roll][data-face*=up] .soon-slot .soon-slot-new {
  -webkit-transform: translateY(102.5%) rotateX(-110deg) scale(0.5);
  -ms-transform: translateY(102.5%) rotateX(-110deg) scale(0.5);
  -o-transform: translateY(102.5%) rotateX(-110deg) scale(0.5);
  transform: translateY(102.5%) rotateX(-110deg) scale(0.5);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0
}

.soon[data-face*=roll][data-face*=up] .soon-slot .soon-slot-old {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%
}

.soon[data-face*=roll][data-face*=up] .soon-slot-animate .soon-slot-new {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0)
}

.soon[data-face*=roll][data-face*=up] .soon-slot-animate .soon-slot-old {
  -webkit-transform: translateY(-102.5%) rotateX(110deg) scale(0.5);
  -ms-transform: translateY(-102.5%) rotateX(110deg) scale(0.5);
  -o-transform: translateY(-102.5%) rotateX(110deg) scale(0.5);
  transform: translateY(-102.5%) rotateX(110deg) scale(0.5)
}

.soon[data-face*=roll][data-face*=left] .soon-slot .soon-slot-new {
  -webkit-transform: translateX(102.5%) rotateY(-110deg) scale(0.5);
  -ms-transform: translateX(102.5%) rotateY(-110deg) scale(0.5);
  -o-transform: translateX(102.5%) rotateY(-110deg) scale(0.5);
  transform: translateX(102.5%) rotateY(-110deg) scale(0.5);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%
}

.soon[data-face*=roll][data-face*=left] .soon-slot .soon-slot-old {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%
}

.soon[data-face*=roll][data-face*=left] .soon-slot-animate .soon-slot-new {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0)
}

.soon[data-face*=roll][data-face*=left] .soon-slot-animate .soon-slot-old {
  -webkit-transform: translateX(-102.5%) rotateY(110deg) scale(0.5);
  -ms-transform: translateX(-102.5%) rotateY(110deg) scale(0.5);
  -o-transform: translateX(-102.5%) rotateY(110deg) scale(0.5);
  transform: translateX(-102.5%) rotateY(110deg) scale(0.5)
}

.soon[data-face*=roll][data-face*=right] .soon-slot .soon-slot-new {
  -webkit-transform: translateX(-102.5%) rotateY(110deg) scale(0.5);
  -ms-transform: translateX(-102.5%) rotateY(110deg) scale(0.5);
  -o-transform: translateX(-102.5%) rotateY(110deg) scale(0.5);
  transform: translateX(-102.5%) rotateY(110deg) scale(0.5);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%
}

.soon[data-face*=roll][data-face*=right] .soon-slot .soon-slot-old {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%
}

.soon[data-face*=roll][data-face*=right] .soon-slot-animate .soon-slot-new {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0)
}

.soon[data-face*=roll][data-face*=right] .soon-slot-animate .soon-slot-old {
  -webkit-transform: translateX(102.5%) rotateY(-110deg) scale(0.5);
  -ms-transform: translateX(102.5%) rotateY(-110deg) scale(0.5);
  -o-transform: translateX(102.5%) rotateY(-110deg) scale(0.5);
  transform: translateX(102.5%) rotateY(-110deg) scale(0.5)
}

.soon[data-face*=rotate] .soon-slot-new, .soon[data-face*=rotate] .soon-slot-old {
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom
}

.soon[data-face*=rotate] .soon-slot .soon-slot-new {
  -webkit-transform: rotateZ(-90deg) scale(0.125);
  -ms-transform: rotateZ(-90deg) scale(0.125);
  -o-transform: rotateZ(-90deg) scale(0.125);
  transform: rotateZ(-90deg) scale(0.125);
  opacity: 0;
  z-index: 2
}

.soon[data-face*=rotate] .soon-slot .soon-slot-old {
  -webkit-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  opacity: 1;
  z-index: 1
}

.soon[data-face*=rotate] .soon-slot-animate .soon-slot-new {
  -webkit-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  opacity: 1
}

.soon[data-face*=rotate] .soon-slot-animate .soon-slot-old {
  -webkit-transform: rotateZ(90deg) scale(0.125);
  -ms-transform: rotateZ(90deg) scale(0.125);
  -o-transform: rotateZ(90deg) scale(0.125);
  transform: rotateZ(90deg) scale(0.125);
  opacity: 0
}

.soon[data-face*=rotate][data-face*=left] .soon-slot .soon-slot-new {
  -webkit-transform: rotateZ(90deg) scale(0.125);
  -ms-transform: rotateZ(90deg) scale(0.125);
  -o-transform: rotateZ(90deg) scale(0.125);
  transform: rotateZ(90deg) scale(0.125)
}

.soon[data-face*=rotate][data-face*=left] .soon-slot .soon-slot-old {
  -webkit-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transform: rotateZ(0deg)
}

.soon[data-face*=rotate][data-face*=left] .soon-slot-animate .soon-slot-new {
  -webkit-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transform: rotateZ(0deg)
}

.soon[data-face*=rotate][data-face*=left] .soon-slot-animate .soon-slot-old {
  -webkit-transform: rotateZ(-90deg) scale(0.125);
  -ms-transform: rotateZ(-90deg) scale(0.125);
  -o-transform: rotateZ(-90deg) scale(0.125);
  transform: rotateZ(-90deg) scale(0.125)
}

.soon[data-face*=shadow-hard] .soon-separator, .soon[data-face*=shadow-hard] .soon-slot-inner {
  text-shadow: 0 .0625em 0 rgba(0, 0, 0, .15)
}

.soon[data-face*=shadow-soft] .soon-separator, .soon[data-face*=shadow-soft] .soon-slot-inner {
  text-shadow: 0 .0625em .125em rgba(0, 0, 0, .333)
}

.soon[data-face*=glow] .soon-separator, .soon[data-face*=glow] .soon-slot-inner {
  text-shadow: 0 0 .125em rgba(255, 255, 255, .75)
}

.soon[data-face*=fast] .soon-slot-animate .soon-slot-new, .soon[data-face*=fast] .soon-slot-animate .soon-slot-old {
  -webkit-transition: -webkit-transform 500ms, opacity 400ms, color 200ms, -webkit-filter 200ms;
  -o-transition: -o-transform 500ms, opacity 400ms, color 200ms, filter 200ms;
  transition: transform 500ms, opacity 400ms, color 200ms, filter 200ms
}

.soon[data-face*=faster] .soon-slot-animate .soon-slot-new, .soon[data-face*=faster] .soon-slot-animate .soon-slot-old {
  -webkit-transition: -webkit-transform 250ms, opacity 175ms, color 100ms, -webkit-filter 100ms;
  -o-transition: -o-transform 250ms, opacity 175ms, color 100ms, filter 100ms;
  transition: transform 250ms, opacity 175ms, color 100ms, filter 100ms
}

.soon-flip {
  position: relative;
  text-align: center;
  vertical-align: top !important;
  margin: 0 -.03125em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0)
}

.soon-flip:only-child {
  margin: 0
}

.soon-flip-inner {
  display: block !important;
  overflow: hidden;
  padding: .25em .125em;
  height: 1.5em
}

.soon-flip-card {
  display: block !important;
  position: relative
}

.soon-flip-bounding {
  visibility: hidden;
  padding: 0 .25em
}

.soon-flip-fallback, .soon-flip-face {
  color: #fff;
  background-color: #333
}

.soon-flip-face {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent
}

.soon-flip-fallback, .soon-flip-face {
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden
}

.soon-flip-front {
  -webkit-transform: perspective(300px) rotateX(0deg);
  -ms-transform: perspective(300px) rotateX(0deg);
  -o-transform: perspective(300px) rotateX(0deg);
  transform: perspective(300px) rotateX(0deg);
  top: 0;
  bottom: 50%;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  z-index: 5
}

.soon-flip-back {
  -webkit-transform: perspective(300px) rotateX(180deg);
  -ms-transform: perspective(300px) rotateX(180deg);
  -o-transform: perspective(300px) rotateX(180deg);
  transform: perspective(300px) rotateX(180deg);
  top: 50%;
  bottom: 0;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top;
  z-index: 4
}

.soon-flip-back, .soon-flip-bottom {
  line-height: 0
}

.soon-flip-top, .soon-flip-bottom {
  overflow: hidden
}

.soon-flip-top {
  top: 0;
  bottom: 50%
}

.soon-flip-bottom {
  top: 50%;
  bottom: 0
}

.soon-flip-fallback {
  top: 0;
  bottom: 0
}

.soon-flip-fallback::before, .soon-flip-face::before {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  content: ''
}

.soon-flip-top::before, .soon-flip-front::before {
  bottom: 0;
  background-color: rgba(0, 0, 0, .25)
}

.soon-flip-bottom::before, .soon-flip-back::before {
  top: 0;
  background-color: rgba(0, 0, 0, .06125)
}

.soon-flip-fallback::before {
  top: 50%;
  background-color: rgba(0, 0, 0, .25)
}

@-webkit-keyframes flip-front {
  0% {
    -webkit-transform: perspective(300px) rotateX(0deg);
    transform: perspective(300px) rotateX(0deg)
  }
  100% {
    -webkit-transform: perspective(300px) rotateX(-180deg);
    transform: perspective(300px) rotateX(-180deg)
  }
}

@-o-keyframes flip-front {
  0% {
    -o-transform: perspective(300px) rotateX(0deg);
    transform: perspective(300px) rotateX(0deg)
  }
  100% {
    -o-transform: perspective(300px) rotateX(-180deg);
    transform: perspective(300px) rotateX(-180deg)
  }
}

@keyframes flip-front {
  0% {
    -webkit-transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -o-transform: perspective(300px) rotateX(0deg);
    transform: perspective(300px) rotateX(0deg)
  }
  100% {
    -webkit-transform: perspective(300px) rotateX(-180deg);
    -ms-transform: perspective(300px) rotateX(-180deg);
    -o-transform: perspective(300px) rotateX(-180deg);
    transform: perspective(300px) rotateX(-180deg)
  }
}

@-webkit-keyframes flip-back {
  0% {
    -webkit-transform: perspective(300px) rotateX(180deg);
    transform: perspective(300px) rotateX(180deg)
  }
  100% {
    -webkit-transform: perspective(300px) rotateX(0deg);
    transform: perspective(300px) rotateX(0deg)
  }
}

@-o-keyframes flip-back {
  0% {
    -o-transform: perspective(300px) rotateX(180deg);
    transform: perspective(300px) rotateX(180deg)
  }
  100% {
    -o-transform: perspective(300px) rotateX(0deg);
    transform: perspective(300px) rotateX(0deg)
  }
}

@keyframes flip-back {
  0% {
    -webkit-transform: perspective(300px) rotateX(180deg);
    -ms-transform: perspective(300px) rotateX(180deg);
    -o-transform: perspective(300px) rotateX(180deg);
    transform: perspective(300px) rotateX(180deg)
  }
  100% {
    -webkit-transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -o-transform: perspective(300px) rotateX(0deg);
    transform: perspective(300px) rotateX(0deg)
  }
}

@-webkit-keyframes flip-shadow-in {
  20% {
    opacity: 0
  }
  65% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

@-o-keyframes flip-shadow-in {
  20% {
    opacity: 0
  }
  65% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

@keyframes flip-shadow-in {
  20% {
    opacity: 0
  }
  65% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes flip-shadow-in-direct {
  10% {
    opacity: 0
  }
  50% {
    opacity: .25
  }
  50.1% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

@-o-keyframes flip-shadow-in-direct {
  10% {
    opacity: 0
  }
  50% {
    opacity: .25
  }
  50.1% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

@keyframes flip-shadow-in-direct {
  10% {
    opacity: 0
  }
  50% {
    opacity: .25
  }
  50.1% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

@-webkit-keyframes flip-shadow-out {
  15% {
    opacity: 1
  }
  70% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

@-o-keyframes flip-shadow-out {
  15% {
    opacity: 1
  }
  70% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

@keyframes flip-shadow-out {
  15% {
    opacity: 1
  }
  70% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

.soon-flip-front::after, .soon-flip-bottom::after, .soon-flip-top::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  content: ''
}

.soon-flip-top::after {
  background: -webkit-linear-gradient(bottom, #000 0, transparent 100%);
  background: -o-linear-gradient(bottom, #000 0, transparent 100%);
  background: linear-gradient(to top, #000 0, transparent 100%)
}

.soon-flip-bottom::after {
  opacity: 0;
  background: -webkit-linear-gradient(top, #000 25%, rgba(0, 0, 0, .4) 100%);
  background: -o-linear-gradient(top, #000 25%, rgba(0, 0, 0, .4) 100%);
  background: linear-gradient(to bottom, #000 25%, rgba(0, 0, 0, .4) 100%)
}

.soon-flip-front::after {
  opacity: 0;
  background: -webkit-linear-gradient(bottom, #000 25%, rgba(0, 0, 0, .4) 100%);
  background: -o-linear-gradient(bottom, #000 25%, rgba(0, 0, 0, .4) 100%);
  background: linear-gradient(to top, #000 25%, rgba(0, 0, 0, .4) 100%)
}

.soon-flip-animate .soon-flip-front {
  -webkit-animation-name: flip-front;
  -o-animation-name: flip-front;
  animation-name: flip-front
}

.soon-flip-animate .soon-flip-back {
  -webkit-animation-name: flip-back;
  -o-animation-name: flip-back;
  animation-name: flip-back
}

.soon-flip-animate .soon-flip-top::after {
  -webkit-animation-name: flip-shadow-out;
  -o-animation-name: flip-shadow-out;
  animation-name: flip-shadow-out
}

.soon-flip-animate .soon-flip-bottom::after {
  -webkit-animation-name: flip-shadow-in;
  -o-animation-name: flip-shadow-in;
  animation-name: flip-shadow-in
}

.soon-flip-animate .soon-flip-front::after {
  -webkit-animation-name: flip-shadow-in-direct;
  -o-animation-name: flip-shadow-in-direct;
  animation-name: flip-shadow-in-direct
}

.soon-flip-front, .soon-flip-back, .soon-flip-front::after, .soon-flip-bottom::after, .soon-flip-top::after {
  -webkit-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 750ms;
  -o-animation-duration: 750ms;
  animation-duration: 750ms;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}

.soon-milliseconds .soon-flip-front, .soon-milliseconds .soon-flip-back, .soon-milliseconds .soon-flip-front::after, .soon-milliseconds .soon-flip-bottom::after, .soon-milliseconds .soon-flip-top::after {
  -webkit-animation-duration: 100ms;
  -o-animation-duration: 100ms;
  animation-duration: 100ms
}

.soon[data-face*=fast] .soon-flip-front, .soon[data-face*=fast] .soon-flip-back, .soon[data-face*=fast] .soon-flip-front::after, .soon[data-face*=fast] .soon-flip-bottom::after, .soon[data-face*=fast] .soon-flip-top::after {
  -webkit-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms
}

.soon[data-face*=faster] .soon-flip-front, .soon[data-face*=faster] .soon-flip-back, .soon[data-face*=faster] .soon-flip-front::after, .soon[data-face*=faster] .soon-flip-bottom::after, .soon[data-face*=faster] .soon-flip-top::after {
  -webkit-animation-duration: 250ms;
  -o-animation-duration: 250ms;
  animation-duration: 250ms
}

.soon[data-face*=corners-sharp] .soon-flip-fallback, .soon[data-face*=corners-sharp] .soon-flip-card {
  border-radius: .0625em
}

.soon[data-face*=corners-sharp] .soon-flip-top, .soon[data-face*=corners-sharp] .soon-flip-front {
  border-radius: .0625em .0625em 0 0
}

.soon[data-face*=corners-sharp] .soon-flip-bottom, .soon[data-face*=corners-sharp] .soon-flip-back {
  border-radius: 0 0 .0625em .0625em
}

.soon[data-face*=corners-sharp] .soon-flip-bottom::after {
  border-radius: 0 0 .0625em .0625em
}

.soon[data-face*=corners-sharp] .soon-flip-front::after {
  border-radius: .0625em .0625em 0 0
}

.soon[data-face*=corners-round] .soon-flip-fallback, .soon[data-face*=corners-round] .soon-flip-card {
  border-radius: .175em
}

.soon[data-face*=corners-round] .soon-flip-top, .soon[data-face*=corners-round] .soon-flip-front {
  border-radius: .175em .175em 0 0
}

.soon[data-face*=corners-round] .soon-flip-bottom, .soon[data-face*=corners-round] .soon-flip-back {
  border-radius: 0 0 .175em .175em
}

.soon[data-face*=corners-round] .soon-flip-bottom::after {
  border-radius: 0 0 .175em .175em
}

.soon[data-face*=corners-round] .soon-flip-front::after {
  border-radius: .175em .175em 0 0
}

.soon[data-face*=color-light] .soon-flip-fallback, .soon[data-face*=color-light] .soon-flip-face {
  background-color: #f7f7f7;
  color: #464646
}

.soon[data-face*=color-light] .soon-flip-top, .soon[data-face*=color-light] .soon-flip-front {
  box-shadow: inset 0 .0625rem 0 #fff
}

.soon[data-face*=color-light] .soon-flip-bottom, .soon[data-face*=color-light] .soon-flip-back {
  box-shadow: inset 0 -.0625rem 0 rgba(0, 0, 0, .125);
  background: -webkit-linear-gradient(bottom, #fff 0, #f0f0f0 100%);
  background: -o-linear-gradient(bottom, #fff 0, #f0f0f0 100%);
  background: linear-gradient(to top, #fff 0, #f0f0f0 100%)
}

.soon[data-face*=color-light] .soon-flip-fallback {
  box-shadow: inset 0 .0625rem 0 #fff, inset 0 -.0625rem 0 rgba(0, 0, 0, .125)
}

.soon[data-face*=color-light] .soon-flip-top::before, .soon[data-face*=color-light] .soon-flip-front::before {
  background-color: rgba(255, 255, 255, .125);
  box-shadow: 0 -.0625rem 0 rgba(255, 255, 255, .06125)
}

.soon[data-face*=color-light] .soon-flip-bottom, .soon[data-face*=color-light] .soon-flip-back {
  color: rgba(70, 70, 70, .95)
}

.soon[data-face*=color-light] .soon-flip-bottom::before, .soon[data-face*=color-light] .soon-flip-back::before {
  background-color: rgba(0, 0, 0, .125);
  box-shadow: 0 .0625rem 0 rgba(0, 0, 0, .06125)
}

.soon[data-face*=color-light] .soon-flip-fallback::before {
  background-color: rgba(0, 0, 0, .125);
  box-shadow: 0 .0625rem 0 rgba(0, 0, 0, .06125)
}

.soon[data-face*=color-light] .soon-flip-top::after {
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .6) 0, transparent 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, .6) 0, transparent 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, .6) 0, transparent 100%)
}

.soon[data-face*=color-light] .soon-flip-bottom::after {
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .6) 25%, rgba(0, 0, 0, .2) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, .6) 25%, rgba(0, 0, 0, .2) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, .6) 25%, rgba(0, 0, 0, .2) 100%)
}

.soon[data-face*=color-dark] .soon-flip-face {
  background-color: #2e2e2e;
  color: #ededed
}

.soon[data-face*=color-dark] .soon-flip-top, .soon[data-face*=color-dark] .soon-flip-front {
  box-shadow: inset 0 .0625rem 0 rgba(255, 255, 255, .05)
}

.soon[data-face*=color-dark] .soon-flip-bottom, .soon[data-face*=color-dark] .soon-flip-back {
  color: rgba(237, 237, 237, .95);
  box-shadow: inset 0 -.0625rem 0 rgba(255, 255, 255, .05)
}

.soon[data-face*=shadow-soft] .soon-flip-card {
  box-shadow: 0 .0625em .0625em rgba(0, 0, 0, .1), 0 .03125em .125em rgba(0, 0, 0, .5)
}

.soon[data-face*=shadow-soft][data-face*=color-light] .soon-flip-card {
  box-shadow: 0 .0625em .0625em rgba(0, 0, 0, .1), 0 .03125em .125em rgba(0, 0, 0, .25)
}

.soon[data-face*=shadow-hard] .soon-flip-card {
  box-shadow: 0 .0625em 0 rgba(0, 0, 0, .2)
}

.soon[data-face*=shadow-hard][data-face*=color-light] .soon-flip-card {
  box-shadow: 0 .0625em 0 rgba(0, 0, 0, .15), 0 0 .0625em rgba(0, 0, 0, .2)
}

.soon .soon-reflection .soon-flip-inner {
  padding-top: 0
}

.soon .soon-reflection .soon-flip-card {
  box-shadow: none !important
}

.soon-matrix {
  vertical-align: top !important
}

.soon-matrix .soon-matrix-inner {
  display: table !important;
  border-collapse: separate;
  border-spacing: .125rem;
  margin: 0 .125em
}

.soon-matrix .soon-matrix-row {
  display: table-row !important
}

.soon-matrix .soon-matrix-dot {
  display: table-cell !important;
  width: .125em;
  height: .125em;
  border-radius: .0625em;
  -webkit-transition: -webkit-transform .5s ease-in-out, opacity .5s ease-in-out, background-color .5s ease-in-out;
  -o-transition: -o-transform .5s ease-in-out, opacity .5s ease-in-out, background-color .5s ease-in-out;
  transition: transform .5s ease-in-out, opacity .5s ease-in-out, background-color .5s ease-in-out
}

.soon-matrix .soon-matrix-dot[data-state='1'] {
  background-color: rgba(0, 0, 0, .8)
}

.soon {
}

.soon[data-face*=dot-round] .soon-matrix-dot {
  border-radius: 50%
}

.soon[data-face*=dot-square] .soon-matrix-dot {
  border-radius: 0
}

.soon[data-face*=shadow-soft] .soon-matrix-dot {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  box-shadow: inset 0 .0625rem .0625rem rgba(0, 0, 0, .05), 0 0 0 transparent
}

.soon[data-face*=shadow-soft] .soon-matrix-dot[data-state='1'] {
  box-shadow: inset 0 0 0 transparent, 0 .0625rem .125rem rgba(0, 0, 0, .5);
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px)
}

.soon[data-face*=shadow-hard] .soon-matrix-dot {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  box-shadow: inset 0 .0625rem 0 rgba(0, 0, 0, .05), 0 0 0 transparent
}

.soon[data-face*=shadow-hard] .soon-matrix-dot[data-state='1'] {
  box-shadow: inset 0 0 0 transparent, 0 .0625rem 0 rgba(0, 0, 0, .25);
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px)
}

.soon[data-face*=glow] .soon-matrix-dot[data-state='1'] {
  box-shadow: 0 0 .25rem .125rem rgba(255, 255, 255, .5)
}

.soon[data-face*=color-light] .soon-matrix-dot[data-state='1'] {
  background: #fff
}

.soon[data-face*=color-dark] .soon-matrix-dot[data-state='1'] {
  background: #333
}

.soon[data-face*=tight] .soon-matrix-char {
  border-spacing: 0
}

.soon[data-face*=spacey] .soon-matrix-char {
  border-spacing: .125em
}

.soon[data-scale=xs] .soon-matrix-char {
  border-spacing: .0625em
}

.soon[data-scale=xxs] .soon-matrix-char {
  border-spacing: .0625em
}

.soon[data-scale=xxs] .soon-matrix-inner {
  margin-right: 0;
  margin-left: 0
}

.soon[data-face*=animate-color] .soon-matrix-dot {
  opacity: 1
}

.soon[data-face*=slide][data-face*=up] .soon-matrix-dot[data-state='0'] {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%)
}

.soon[data-face*=slide][data-face*=down] .soon-matrix-dot[data-state='0'] {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%)
}

.soon[data-face*=slide][data-face*=left] .soon-matrix-dot[data-state='0'] {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%)
}

.soon[data-face*=slide][data-face*=right] .soon-matrix-dot[data-state='0'] {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%)
}

.soon[data-face*=slide] .soon-matrix-dot[data-state='1'] {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0)
}

.soon-ring {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0
}

.soon-ring canvas {
  vertical-align: top;
  position: absolute;
  left: 0;
  right: 0
}

.soon-ring .soon-ring-progress {
  color: inherit;
  border: 2px solid transparent;
  border-radius: 0
}

.soon[data-visual*=color-light] .soon-ring-progress {
  background-color: rgba(255, 255, 255, .25);
  color: rgba(255, 255, 255, .85)
}

.soon[data-visual*=color-dark] .soon-ring-progress {
  background-color: rgba(0, 0, 0, .15);
  color: rgba(0, 0, 0, .65)
}

.soon[data-visual*=cap-round] .soon-ring-progress {
  border-radius: 1px
}

.soon[data-visual*=shadow-hard-progress] .soon-ring-progress {
  padding: 3px;
  text-shadow: 0 3px 0 rgba(0, 0, 0, .15)
}

.soon[data-visual*=shadow-soft-progress] .soon-ring-progress {
  padding: 5px;
  text-shadow: 0 3px 5px rgba(0, 0, 0, .333)
}

.soon[data-visual*=glow-progress] .soon-ring-progress {
  padding: 6px;
  text-shadow: 0 0 6px #fff
}

.soon[data-visual*=shadow-hard-background] .soon-ring-progress {
  padding: 3px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, .15)
}

.soon[data-visual*=shadow-soft-background] .soon-ring-progress {
  padding: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .333)
}

.soon[data-visual*=glow-background] .soon-ring-progress {
  padding: 6px;
  box-shadow: 0 0 6px #fff
}

.soon .soon-ring-progress {
  border-width: 5px
}

.soon[data-visual*=width-thin] .soon-ring-progress {
  border-width: 2px
}

.soon[data-visual*=width-thick] .soon-ring-progress {
  border-width: 9px
}

.soon .soon-ring.soon-reflection {
  height: 1.5em;
  bottom: -1.5em;
  top: auto
}

.soon .soon-ring.soon-reflection canvas {
  bottom: 0
}

.soon-fill, .soon-fill-inner, .soon-fill-progress {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0)
}

.soon-fill-inner {
  overflow: hidden;
  background-color: rgba(0, 0, 0, .15)
}

.soon-fill-progress {
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transform: scale(0) rotateZ(0deg) translateX(0) translateY(0);
  -ms-transform: scale(0) rotateZ(0deg) translateX(0) translateY(0);
  -o-transform: scale(0) rotateZ(0deg) translateX(0) translateY(0);
  transform: scale(0) rotateZ(0deg) translateX(0) translateY(0);
  background: rgba(255, 255, 255, .6)
}

.soon[data-format*=ms] .soon-fill-progress {
  -webkit-transition: none;
  -o-transition: none;
  transition: none
}

.soon[data-visual*=color-light] .soon-fill-inner {
  background-color: rgba(255, 255, 255, .15)
}

.soon[data-visual*=color-light] .soon-fill-progress {
  background: rgba(255, 255, 255, .6)
}

.soon[data-visual*=color-dark] .soon-fill-inner {
  background-color: rgba(0, 0, 0, .1)
}

.soon[data-visual*=color-dark] .soon-fill-progress {
  background: rgba(0, 0, 0, .25)
}

.soon[data-visual*=corners-sharp] .soon-fill-inner {
  overflow: hidden
}

.soon[data-visual*=corners-sharp] .soon-fill-progress, .soon[data-visual*=corners-sharp] .soon-fill-inner {
  border-radius: .125rem
}

.soon[data-visual*=corners-round] .soon-fill-inner {
  overflow: hidden
}

.soon[data-visual*=corners-round] .soon-fill-progress, .soon[data-visual*=corners-round] .soon-fill-inner {
  border-radius: .5rem
}

.soon .soon-fill.soon-reflection {
  margin-top: .5em;
  -webkit-transform: scaleY(-1) translateY(-100%) !important;
  -ms-transform: scaleY(-1) translateY(-100%) !important;
  -o-transform: scaleY(-1) translateY(-100%) !important;
  transform: scaleY(-1) translateY(-100%) !important
}

.soon .soon-fill.soon-reflection::after {
  top: 50%
}

.soon[data-layout*=group] {
  padding: 1em 0;
  text-align: center
}

.soon[data-layout*=group][data-visual][data-reflect=true] {
  padding-bottom: 1.5em
}

.soon[data-layout*=group] .soon-label {
  display: block;
  margin: .325rem 0 0;
  margin-right: -1em;
  margin-left: -1em
}

.soon[data-layout*=group] .soon-separator {
  margin: 0;
  vertical-align: top;
  min-width: 0 !important
}

.soon[data-layout*=group] .soon-separator + .soon-group {
  margin: 0 !important
}

.soon[data-layout*=group] .soon-placeholder {
  display: block;
  white-space: nowrap
}

.soon[data-layout*=group] .soon-group-sub > .soon-group-inner {
  margin: 0 .3125em
}

.soon[data-layout*=group][data-layout*=overlap] > .soon-group {
  padding: 0 .3125em
}

.soon[data-layout*=group][data-layout*=overlap] .soon-group-sub > .soon-group-inner {
  margin: 0 -.25em
}

.soon[data-layout*=group][data-layout*=overlap][data-visual] .soon-group-sub > .soon-group-inner {
  margin: 0 -.3125em
}

.soon[data-layout*=group][data-layout*=adjacent] .soon-group-sub > .soon-group-inner {
  margin: 0
}

.soon[data-layout*=group][data-layout*=tight] .soon-group-sub > .soon-group-inner {
  margin: 0 .15em
}

.soon[data-layout*=group][data-layout*=spacey] .soon-group-sub > .soon-group-inner {
  margin: 0 .5em
}

@media (max-width: 40rem) {
  .soon[data-layout*=group][data-layout*=spacey] .soon-group-sub > .soon-group-inner {
    margin: 0 .3125em
  }
}

@media (max-width: 30rem) {
  .soon[data-layout*=group][data-layout*=spacey] .soon-group-sub > .soon-group-inner {
    margin: 0 .25em
  }
}

.soon[data-layout*=group][data-layout*=label-above] .soon-separator, .soon[data-layout*=group][data-layout*=label-above] .soon-group-sub {
  padding-top: 1em
}

.soon[data-layout*=group][data-layout*=label-above] .soon-label {
  position: absolute;
  margin-top: .25rem !important;
  top: 0;
  left: 0;
  right: 0
}

.soon[data-layout*=group][data-layout*=label-above] .soon-separator.soon-reflection {
  top: 2.5em
}

.soon[data-layout*=line] {
  text-align: center;
  padding: 1em 0
}

.soon[data-layout*=line][data-initialized=true] .soon-placeholder {
  margin-left: -.25em
}

.soon[data-layout*=line] .soon-value, .soon[data-layout*=line] .soon-label {
  margin-left: .125em;
  margin-right: .125em
}

.soon[data-layout*=line] .soon-flip {
  margin-top: -.1875em
}

.soon[data-scale=xxl] {
  font-size: 4rem
}

.soon[data-scale=xl] {
  font-size: 3.5rem
}

.soon[data-scale='l'] {
  font-size: 3rem
}

.soon[data-scale='m'] {
  font-size: 2.5rem
}

.soon[data-scale='s'] {
  font-size: 2rem
}

.soon[data-scale=xs] {
  font-size: 1rem
}

.soon[data-scale=xxs] {
  font-size: 1rem
}