.-page {
  table {
    border-collapse: separate;
    border-spacing: 0 5px;
    font-family: 'PT Sans', sans-serif;
    border: 1px solid $colorGray2;
    background-color: rgba($colorBlack, .3);

    thead {
      color: $colorPaleYellow1;

      th {
        border: none;
      }
    }

    tbody {
      font-size: $fontSize14;
      tr {
        position: relative;

        td {
          padding: 6px !important;
          border: none;
          position: relative;
          border-right: 1px solid transparent;
          border-image: linear-gradient(
                          to bottom,
                          transparent 0%,
                          $colorPaleViolet18 50%,
                          transparent 100%
          );
          border-image-slice: 1;

          &:last-of-type {
            border-right: none;
          }

          &:nth-of-type(1) {
            &:before, &:after {
              content: '';
              position: absolute;
              left: 0;
              height: 3px;
              width: 665px;
            }

            &:before {
              top: 0;
              background: url('../img/template/table/table.border.top.png') top center no-repeat;
              background-size: 100% 3px;
            }

            &:after {
              bottom: 0;
              background: url('../img/template/table/table.border.bottom.png') top center no-repeat;
              background-size: 100% 3px;
            }
          }
        }
      }
    }
  }

  &.-kill-log {
    table {
      tbody {
        tr {
          td {
            &:nth-of-type(1) {
              &:before, &:after {
                width: 300px;
              }
            }
          }
        }
      }
    }
  }
}