.server-tabs {
  &.nav-pills {
    & > li {
      margin: 0 10px 10px 0;

      & > a {
        height: 30px;
        background-size: 100% 30px !important;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        font-weight: normal;
        font-size: $fontSize12;
        white-space: nowrap;
        position: relative;
        background: url('../img/template/button/texture.png') top center no-repeat;
        color: $colorPaleViolet23 !important;
        min-width: 100px;

        span {
          z-index: 1;
        }

        &:before, &:after {
          content: '';
          position: absolute;
          width: 100% !important;
          height: 100% !important;
          left: 0;
          top: 0;
          opacity: 0;
          background-size: 100% 30px !important;
          transition: opacity 200ms ease-in-out;
        }

        &:before {
          background: url('../img/template/button/texture.hover.png') top center no-repeat;
        }

        &:after {
          background: url('../img/template/button/texture.active.png') top center no-repeat;
        }

        &:hover {
          color: $colorWhite !important;

          &:before {
            opacity: 1;
          }
        }

        &:focus, &.active {
          color: $colorWhite !important;

          &:after {
            opacity: 1;
          }
        }
      }
    }
  }

}