.top {
  .-tops-navigation {
    margin-bottom: 40px;
    .button {
      margin: 5px 3px;
    }
  }

  table {
    tbody {
      td {
        &.online-status {
          padding: 6px 6px 6px 12px !important;
          text-align: left;

          &.-character {
            &:before, &:after {
              top: calc(50% - 3px);
              left: 2px;
            }
          }
        }
      }
    }
  }

  table {
    text-align: center;
    color: $colorWhite;

    thead, tbody {
      font-size: $fontSize13 !important;
    }

    a {
      color: $colorPaleOrange5;
      transition: all 150ms ease-in-out !important;

      &:hover {
        color: $colorPaleOrange6 !important;
      }
    }

    thead {
      color: $colorPaleViolet22 !important;

      th {
        padding-bottom: 0;
        vertical-align: middle;
        border-right: 1px solid transparent !important;
        border-image: linear-gradient(
                        to bottom,
                        transparent 0%,
                        $colorPaleViolet18 50%,
                        transparent 100%
        ) !important;
        border-image-slice: 1 !important;

        &:last-of-type {
          border-right: none !important;
        }
      }
    }

    tbody {
      tr {
        .place {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:nth-of-type(1) {
          .place {
            position: relative;
            color: transparent;

            &:before {
              content: '';
              position: absolute;
              @include sprite($top-first);
              background-repeat: no-repeat;
            }
          }
        }
        &:nth-of-type(2) {
          .place {
            position: relative;
            color: transparent;

            &:before {
              content: '';
              position: absolute;
              @include sprite($top-second);
              background-repeat: no-repeat;
            }
          }
        }
        &:nth-of-type(3) {
          .place {
            position: relative;
            color: transparent;

            &:before {
              content: '';
              position: absolute;
              @include sprite($top-third);
              background-repeat: no-repeat;
            }
          }
        }

        td {
          vertical-align: middle;
        }
      }
    }
  }

  //&.-voters {
  //    .last-month-top {
  //        margin-top: 30px;
  //    }
  //
  //    .panel-heading {
  //        .text {
  //            font-size: $fontSize14;
  //        }
  //    }
  //
  //    .total {
  //        color: $brightGreen3;
  //        font-weight: bold;
  //    }
  //}

  &.-characters {
    form {
      .search {
        display: flex;
        align-items: center;
      }
    }

    table {
      .stats {
        span {
          &:nth-of-type(1) {
            color: $colorPink2;
          }
          &:nth-of-type(2) {
            color: $colorDarkYellow3;
          }
          &:nth-of-type(3) {
            color: $colorBrightGreen3;
            margin-bottom: 0;
          }
        }
      }

      .control {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        a {
          color: $colorWhite !important;

          &:hover {
            color: $colorLightViolet !important;
          }
        }

        &:hover {
          .dropdown-body {
            top: 22px;
            padding-top: 20px;
          }
        }

        .dropdown-body {
          top: 42px;
          padding-top: 20px;
        }
      }

      thead {
        th {
          &.stats {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }

      tbody {
        td {
          position: relative;

          &.-class {
            position: relative;

            a {
              position: absolute;
              top: 8px;
              left: -6px;
              font-size: $fontSize18;
            }
          }
        }
      }
    }
  }

  &.-castle-siege {
    a {
      color: $colorPaleOrange5 !important;
      transition: all 150ms ease-in-out !important;

      &:hover {
        color: $colorPaleOrange6 !important;
      }
    }

    table {
      tr {
        &.-active {
          td {
            color: $colorGreen;
            font-weight: bold;
          }
        }
      }
    }

    .key-value-container {
      color: $colorWhite;
      font-family: 'PT Sans', sans-serif;
      font-size: $fontSize13;
    }
  }

  &.-guilds {
      table {
          td {
              &.guild-mark {
                  text-align: center !important;
                  text-align: -webkit-center !important;
                  text-align: -moz-center !important;
              }
          }
      }
  }
}