$banners: (
        qtop: $top-banner-qtop,
        mmotop: $top-banner-mmotop,
        game100rus: $top-banner-game100rus,
        topg: $top-banner-topg,
        mmovote: $top-banner-mmovote,
        xtremetop100: $top-banner-xtremetop100,
        gtop100: $top-banner-gtop100,
        topservers200: $top-banner-topservers200,
        top4you: $top-banner-top4you,
        rpgtop: $top-banner-rpgtop,
);

@mixin top-banner-images() {
    @each $banner in $banners {
        $key: nth($banner, 1);
        $value: nth($banner, 2);

        &.#{$key} {
            @include sprite($value)
        }
    }
}

#modal-tops-banners {
    color: $colorWhite;
    font-size: $fontSize12;

    .modal-body {
        .banners-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            max-width: calc((180px + 20px) * 3);
        }

        li {
            margin: 5px;
            width: 90px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                display: inline-block;

                @include top-banner-images();
            }
        }
    }
}