.user {
  &.-page {
    &.-info {
      ul {
        font-family: 'PT Sans', sans-serif;
        color: $colorWhite;

        .-value {
          font-weight: bold;
          color: $colorDarkYellow1;
        }
      }
    }
  }

}