@font-face {
    font-family: 'TrajanPro-Regular';
    src:
        url('../fonts/TrajanPro/TrajanPro-Regular.eot') format('embedded-opentype'),
        url('../fonts/TrajanPro/TrajanPro-Regular.otf') format('opentype'),
        url('../fonts/TrajanPro/TrajanPro-Regular.woff') format('woff'),
        url('../fonts/TrajanPro/TrajanPro-Regular.ttf') format('truetype'),
        url('../fonts/TrajanPro/TrajanPro-Regular.svg#TrajanPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Regular';
    src: url('../fonts/SegoeUI_Regular/SegoeUI.eot');
    src: url('../fonts/SegoeUI_Regular/SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI_Regular/SegoeUI.woff') format('woff'),
    url('../fonts/SegoeUI_Regular/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Bold';
    src: url('../fonts/PT_Sans_Bold/PTSans-Bold.eot');
    src: url('../fonts/PT_Sans_Bold/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PT_Sans_Bold/PTSans-Bold.woff') format('woff'),
    url('../fonts/PT_Sans_Bold/PTSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$lightGreen1: #e7ffe7;
$lightGreen2: #b3ffb3;
$lightRed1: #FEE6E6;
$lightGray1: #F3F3F3;



$fontSize9: 9px;
$fontSize10: 10px;
$fontSize11: 11px;
$fontSize12: 12px;
$fontSize13: 13px;
$fontSize14: 14px;
$fontSize15: 15px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize22: 22px;
$fontSize24: 24px;

$fontFamilyArial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$fontStyleNormal: normal;
$fontVariantNormal: normal;

$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorBrown1: #231a1d;
$colorBrown2: #4d3e43;
$colorBrown3: #a18465;
$colorLightViolet: #d9c2ea;
$colorGold: gold;
$colorPaleGreen1: #fcffaa;
$colorBrightGreen1: #d5f13f;
$colorBrightGreen2: #daff59;
$colorBrightGreen3: #aed31b;
$colorBrightGreen4: #c7f850;
$colorPaleGreen1: #93c464;
$colorDarkGreen1: #588e24;
$colorDarkGreen2: #738625;
$colorPaleOrange1: #faa96e;
$colorPaleOrange2: #ff8d65;
$colorPaleOrange3: #f6c6a3;
$colorPaleOrange4: #e9bb9a;
$colorPaleOrange5: #ffca76;
$colorPaleOrange6: #cd7f47;
$colorPaleOrange7: #ffc698;
$colorBrightOrange1: #b1571a;
$colorBrightOrange2: #ff762b;
$colorBrightOrange3: #ff8300;
$colorBrightOrange4: #ff9c00;
$colorBrightViolet1: #ff4bb1;
$colorBrightViolet2: #e320ff;
$colorDarkViolet1: #8d5be7;
$colorDarkViolet2: #1e1735;
$colorDarkViolet3: #3c2e6a;
$colorDarkViolet4: #740556;
$colorDarkViolet5: #211431;
$colorDarkViolet6: #15121a;
$colorDarkViolet7: #211e27;
$colorPaleViolet1: #ff98f9;
$colorPaleViolet2: #cfb9e4;
$colorPaleViolet3: #978faf;
$colorPaleViolet4: #d0ccff;
$colorPaleViolet5: #d186ff;
$colorPaleViolet6: #e3d5fb;
$colorPaleViolet7: #af9ccf;
$colorPaleViolet8: #fae9ff;
$colorPaleViolet9: #8277a2;
$colorPaleViolet10: #7c69d9;
$colorPaleViolet11: #d0c5fe;
$colorPaleViolet12: #D6C1F2;
$colorPaleViolet13: #946aeb;
$colorPaleViolet14: #ba8cff;
$colorPaleViolet15: #b9aede;
$colorPaleViolet16: #483e5f;
$colorPaleViolet17: #a797ca;
$colorPaleViolet18: #665788;
$colorPaleViolet19: #493871;
$colorPaleViolet20: #493377;
$colorPaleViolet21: #936aea;
$colorPaleViolet22: #ae88ff;
$colorPaleViolet23: #b9a8db;
$colorPaleViolet24: #c6b8f4;
$colorPaleViolet25: #beb4ff;
$colorPaleOrange3: #ffddc4;
$colorDarkBlue1: #1E1B4A;
$colorDarkBlue2: #2c2555;
$colorDarkBlue3: #191525;
$colorDarkBlue4: #261d41;
$colorPaleYellow1: #ffd99b;
$colorPaleYellow2: #fcd881;
$colorDarkYellow1: #ffc21f;
$colorDarkYellow2: #ffc21f;
$colorDarkYellow3: #ffb700;
$colorDarkYellow3: #ecb22b;
$colorPaleYellow1: #ffac5b;
$colorGray1: #9a97aa;
$colorGray2: #37304a;
$colorGray3: #9e9e9e;
$colorCyan1: #1f3f5a;
$colorCyan2: #74cde2;
$colorLightBlue1: #cce8ff;
$colorLightBlue2: #70bcfd;
$colorLightBlue3: #b2e2fe;
$colorBrightBlue1: #0f86f4;
$colorDarkPink1: #dc5777;
$colorPink2: #ff84b8;
$colorLime1: #daff59;
$colorBrown1: #7b4e48;
$colorBurgundy1: #bd1230;
$colorBurgundy2: #a02c41;

$colorAlertInfo: #79d3e9;
$colorAlertWarning: #ead126;
$colorAlertDanger: #bd7b7b;
$colorAlertSuccess: #36bb4c;

$colorFormFocusBorder: #9ee7ff;
$colorFormFocusBorderShadow: #46b3ff;
$colorFormErrorBorder: #ff4646;
$colorFormErrorBorderShadow: #ff4646;

$colorGreen: green;
$colorRed: red;


//  Legacy

$colorDarkBrown1: #614C40;
$colorDarkBrown3: #3F372A;
$colorDarkBrown4: #2F1810;
$colorDarkBrown5: #765A3F;
$colorDarkBrown11: #5F473A;
$colorDarkBrown12: #6D453C;
$colorDarkBrown13: #765048;
$colorViolet1: #E542F4;
$colorBrightGreen1: #00B20B;
$colorBrightGreen2: #08B400;
$colorBrightRed1: #FF0000;
$darkYellow2: #CBCE27;
$lightYellow2: #E9C9A3;
$brightYellow1: #EDAD14;
$brightBlue2: #0004FF;
$colorBrightOrange: #BF6800;
$colorBrightOrange2: #F88700;
$colorLightBrown4: #E1D2CF;
$colorOrange: orange;
$lightGray2: #C6C4C3;

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color;
    background: rgba($color, $opacity);
}

@mixin title-gradient-text() {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    background: -webkit-linear-gradient(top, #ffed00 0%,#ffaf00 45%,#bf7500 48%,#e88e02 79%,#ffb105 100%);
    background: linear-gradient(top, #ffed00 0%,#ffaf00 45%,#bf7500 48%,#e88e02 79%,#ffb105 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin text-shadow($shadowColor, $shadowSize, $shadowBlur, $withCustomShadow:"") {
    @if $withCustomShadow == "" {
        text-shadow: #{$shadowSize}px #{$shadowSize}px #{$shadowBlur}px $shadowColor,
        -#{$shadowSize}px -#{$shadowSize}px #{$shadowBlur}px $shadowColor,
        -#{$shadowSize}px #{$shadowSize}px #{$shadowBlur}px $shadowColor,
        #{$shadowSize}px -#{$shadowSize}px #{$shadowBlur}px $shadowColor;
    } @else {
        text-shadow: #{$shadowSize}px #{$shadowSize}px #{$shadowBlur}px $shadowColor,
        -#{$shadowSize}px -#{$shadowSize}px #{$shadowBlur}px $shadowColor,
        -#{$shadowSize}px #{$shadowSize}px #{$shadowBlur}px $shadowColor,
        #{$shadowSize}px -#{$shadowSize}px #{$shadowBlur}px $shadowColor,
        #{$withCustomShadow};
    }
}

@mixin text-with-shadow($textColor, $shadowColor, $shadowSize, $shadowBlur, $withCustomShadow:"") {
    color: $textColor !important;
    @include text-shadow($shadowColor, $shadowSize, $shadowBlur, $withCustomShadow);
}

@function popup-linear-gradient($direction) {
    @return linear-gradient(
                    to #{$direction},
                    $colorPaleViolet19 0%,
                    $colorPaleViolet20 5%,
                    $colorPaleViolet21 45%,
                    $colorPaleViolet5 50%,
                    $colorPaleViolet21 55%,
                    $colorPaleViolet20 95%,
                    $colorPaleViolet19 100%
    );
}

@mixin popup-style() {
    position: relative;
    background-color: rgba($colorDarkViolet2, .7);
    border: 1px solid transparent;
    background-image: linear-gradient(
                    to right,
                    $colorPaleViolet19 0%,
                    $colorPaleViolet21 calc(50% - 5px),
                    transparent 5%,
                    transparent calc(50% + 5px),
                    $colorPaleViolet21 calc(50% + 5px),
                    $colorPaleViolet19 100%
    ), popup-linear-gradient('bottom'), popup-linear-gradient('left'), popup-linear-gradient('top');
    background-origin: border-box;
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
    background-position: top left, top right, bottom right, bottom left;
    background-repeat: no-repeat;

    &:before {
        content: '';
        position: absolute;
        margin: auto;
        top: -5px;
        left: 0;
        right: 0;
        width: 9px;
        height: 9px;
        transform: rotate(225deg);
        border-right: 1px solid $colorPaleViolet21;
        border-bottom: 1px solid $colorPaleViolet21;
    }
}

@keyframes blinking {
    0% { opacity: 0; }
    66% { opacity: .4; }
    100% { opacity: 0; }
}

@-webkit-keyframes blinking {
    0% { opacity: 0; }
    66% { opacity: .4; }
    100% { opacity: 0; }
}