.vip {
  &.-page {
    &.-index {
      .vip-tabs {
        .-yellow {
          color: $colorDarkYellow3 !important;
        }

        &.nav {
          display: inline-flex;
          justify-content: center;
          align-items: center;

          li {
            margin: 0 15px;

            a {
              display: inline-block;
              width: 137px;
              height: 151px;
              background-repeat: no-repeat !important;
              background-position: top center;
              position: relative;

              &:before, &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity 250ms ease-in-out;
                background-repeat: no-repeat !important;
                background-position: top center;
              }

              &.-bronze {
                background: url('../img/template/vip/vip.medal.bronze.png');

                &:before {
                  background: url('../img/template/vip/vip.medal.bronze.hover.png');
                }

                &:after {
                  background: url('../img/template/vip/vip.medal.bronze.active.png');
                }
              }

              &.-silver {
                background: url('../img/template/vip/vip.medal.silver.png');

                &:before {
                  background: url('../img/template/vip/vip.medal.silver.hover.png');
                }

                &:after {
                  background: url('../img/template/vip/vip.medal.silver.active.png');
                }
              }

              &.-gold {
                background: url('../img/template/vip/vip.medal.gold.png');

                &:before {
                  background: url('../img/template/vip/vip.medal.gold.hover.png');
                }

                &:after {
                  background: url('../img/template/vip/vip.medal.gold.active.png');
                }
              }

              &.-platinum {
                background: url('../img/template/vip/vip.medal.platinum.png');

                &:before {
                  background: url('../img/template/vip/vip.medal.platinum.hover.png');
                }

                &:after {
                  background: url('../img/template/vip/vip.medal.platinum.active.png');
                }
              }

              &:hover {
                &:before {
                  opacity: 1;
                }
              }

              &:active, &:focus, &.active {
                &:after {
                  opacity: 1;
                }
              }
            }
          }
        }

        .tab-pane {
          .advantages {
            margin-top: 20px;
            font-size: $fontSize12;
            color: $colorPaleViolet25;

            .heading {
              background: url('../img/template/vip/vip.heading.bg.png') center center no-repeat;
              height: 36px;
              display: inline-flex;
              width: 100%;
              justify-content: center;
              align-items: center;
              color: $colorWhite;
              font-weight: bold;
            }

            ul {
              padding: 0 20px;

              li {
                margin-top: 5px;
                line-height: $fontSize14;
              }
            }
          }
        }

        a {
          color: $colorWhite !important;
          transition: all 150ms ease-in-out !important;

          &:hover {
            color: $colorWhite !important;
          }
        }
      }
    }
  }
}