.warehouse {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .items {
    &_container {
      width: 276px;
      height: 510px;
      background: url('../img/template/account/account.warehouse.bg.png') top center no-repeat;

      &_switch {
        li {
          & > a {
            width: 138px;
            height: 29px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: $colorGray3 !important;
            font-size: $fontSize14;
            position: relative;

            span {
              position: relative;
              z-index: 1;
              font-weight: bold;
              font-size: $fontSize12;
            }

            &:before, &:after {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              transition: opacity 200ms ease-in-out;
            }

            &:before {
              opacity: 1;
              @include sprite($account-warehouse-control);
            }

            &:after {
              opacity: 0;
              @include sprite($account-warehouse-control-active);
            }

            &:hover, &.active {
              color: $colorGray3 !important;

              &:after {
                opacity: 1;
              }
            }
          }

          &:nth-of-type(1) {
            & > a {
                &:after {
                  transform: rotateY(180deg);
                }
            }
          }

          &:nth-of-type(2) {
            & > a {
              &:before {
                transform: rotateY(180deg);
              }

              &:hover, &.active {
                &:after {
                  transform: none;
                }
              }
            }
          }
        }
      }
    }

    &_storage {
      position: relative;
      display: inline-block;
      margin: 10px;

      [data-item-serial] {
        transition: box-shadow 150ms ease;
      }
    }

    &_item {
      position: absolute;
      border: 1px solid black;
      @include sprite($account-warehouse-cell-empty);
      z-index: 0;
      &.-selected {
        z-index: 1000 !important;
      }
    }
  }

  .controls {
    &_container {
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      z-index: 2003;
      opacity: 0;
      pointer-events: none;
      transition: opacity 150ms ease;
      @include popup-style();
      position: absolute;

      &.-opened {
        opacity: 1;
        pointer-events: auto;
      }

      a {
        width: 100%;
        text-align: center;
        color: $colorWhite !important;
        margin-bottom: 10px;

        &:hover {
          color: $colorWhite !important;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}