.wcoin-shop {
    &.-bought {
        div {
            text-align: center;

            a {
                &:last-of-type {
                    margin-left: 20px;
                }
            }

            &.row {
                &:last-of-type {
                    margin-top: 20px;
                }
            }

            a {
                color: $colorWhite !important;
                transition: all 150ms ease-in-out !important;

                &:hover {
                    color: $colorWhite !important;
                }
            }
        }
    }
}