.web-storage {
  &.-page {

    .items {
      &-container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
      }
    }

    .item {
      &-container {
        margin: 10px;
        position: relative;

        background: url('../img/template/account/account.web.storage.item.bg.jpg') center center no-repeat;
        background-size: 100% 100%;

        &:hover {
          .item {
            &-content {
              .item-controls {
                top: 0;
              }
            }
          }
        }

        .item {
          &.-image {
            width: 100% !important;
            height: 100% !important;

            [data-item-serial] {
              img {
                max-width: 100%;
                height: auto;
                width: auto;
              }
            }
          }

          &-controls {
            position: absolute;
            top: 100%;
            left: 0;
            transition: top 150ms ease-in-out;
            z-index: 3001;
            background-color: rgba($colorBrightBlue1, .3);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-weight: bold;
            font-size: $fontSize10;

            a {
              color: $colorPaleOrange5 !important;

              &:hover {
                color: $colorPaleOrange6 !important;
              }
            }
          }

          &-content {
            padding: 10px;
            position: relative;
            overflow: hidden;
            text-align: center;
            width: 100%;
          }

        }

        &:before, &:after {
          content: '';
          position: absolute;
          width: 43px;
          height: 44px;
          background: url('../img/template/account/account.web.storage.item.corner.png') center center no-repeat;
          background-size: 100% 100%;
        }

        &:before {
          left: -9px;
          top: -11px;
        }

        &:after {
          right: -9px;
          bottom: -11px;
          transform: rotateZ(180deg);
        }
      }
    }

  }
}