.webshop {
  &.-page {
    &.-index {
      .selector {
        font-size: $fontSize12;
        display: flex;
        flex-wrap: wrap;
        margin: 0;

        li {
          @media (max-width: 768px) {
            flex-basis: calc(50% - 20px);
          }

          cursor: pointer;
          flex-basis: calc(25% - 20px);

          height: 45px;
          margin: 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: $colorWhite !important;
            text-decoration: none;
            font-size: $fontSize10;
          }

        }

        &.-category {
          &.-visible {
            &:after {
              content: '';
              background: url(../img/template/divider.png) center center repeat-x;
              width: 100%;
              height: 2px;
            }
          }
        }

        &.-item {
          li {
            &.hidden {
              display: none;
            }
          }
        }

        &_item {
        }

      }
    }

    &.-buy {
      color: $colorDarkBrown5;

      .panel-heading {
        .text {
          font-size: $fontSize14;
          line-height: $fontSize14;
          color: $colorDarkBrown4;
        }
      }

      > {
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }

      .item-title {
        font-size: $fontSize18;
        font-weight: bold;
        color: $colorBrightOrange;
        text-align: center;
      }
      
      .discount {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        .label {
          width: 65%;
          position: relative;
          background-repeat: no-repeat;
          background-size: contain;
          height: 36px;
          text-align: center;
          font-size: 12px;
          line-height: 30px;
          font-weight: bold;
          margin-top: 10px;

            &.wcoin {
              //@include sprite-image($discount-blue);
              //@include sprite-position($discount-blue);
              background-size: initial;
              color: $lightBlue5;
            }

            &.money {
              //@include sprite-image($discount-green);
              //@include sprite-position($discount-green);
              background-size: initial;
              color: $lightYellow1;
            }
        }
      }

      form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        > * {
          width: 100%;
        }

        .options {
          &-basic {
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            li {
              flex-basis: 60%;
              padding: 10px;
            }

            label {
              display: none;
            }
          }

          &-advanced {
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            text-align: center;

            li {
              padding: 10px;
              margin-left: 17px;
              width: calc(50% - 17px);
            }
          }

          &-excellent {
            display: flex;
            flex-wrap: wrap;
            margin-left: 50px;

            li {
              flex-basis: calc(50% - 20px);
              margin: 0 10px;
              font-size: $fontSize12;
              line-height: $fontSize12;

              .checkbox {
                margin: 0;
              }
            }
          }

          &-harmony, &-ancient, &-pvp {
            width: 50%;
            margin-top: 13px;

            label {
              display: none;
            }
          }
        }

        .price {
          margin-top: 20px;
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            &:nth-of-type(3) {
              font-weight: bold;
            }
          }

          li {
            text-align: center;

            .regular {
              font-weight: bold;
            }

            .description {
              font-size: $fontSize11;
            }

            &.credits {
              flex-grow: 1;
            }

            &.money {
              flex-grow: 1;
            }
          }
        }

        .-text-center {
          margin-top: 25px;
        }
      }
    }

    &.-bought {
      div {
        text-align: center;

        a {
          &:last-of-type {
            margin-left: 20px;
          }
        }

        &.row {
          &:last-of-type {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

.admin {
  #webshop-category-items-list {
    select {
      width: 100%;
    }
    input[type="text"] {
      width: 100%;
    }
    li {
      border-bottom: 1px solid black;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
}