{% embed '@App/layout/_partials/modal.html.twig' with {size: 'lg', id: 'modal-news-' ~ news.getId, title: news.getTitle(app.request.locale)} %}
    {% block modal_body %}
        <div class="row modal-news">
            <div class="col-sm-12">
                {{ news.getFullText(app.request.locale)|raw }}
            </div>
        </div>
    {% endblock %}
{% endembed %}