{% block checkbox_widget -%}
    <div class="checkbox">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{- form_label(form) -}}
    </div>
{%- endblock checkbox_widget %}