{%- block form_row -%}
    <div class="form-group">
        <div class="col-sm-12">
            <div class="input-control -bordered{{ form.vars.errors|length ? ' error' : '' }}">
                {{- form_label(form, '', {'label_attr': {'class': 'control-label'}}) -}}
                {{- form_widget(form, {'attr': {'class': 'form-control' ~ (form.vars.errors|length ? ' error' : '')}}) -}}
                {{- form_errors(form) -}}
                <div class="side-border"></div>
            </div>
        </div>
    </div>
{%- endblock form_row -%}