{% form_theme form with [
'@App/layout/Form/form_errors.html.twig',
] %}

{{ form_errors(form) }}
{{ form_start(form) }}
{{ form_row(form._token) }}
{{ form_row(form.dailyRate) }}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="form-group">
            <div class="col-sm-4">
                {{ form_label(form.days, '', {'label_attr': {'class': 'control-label'}}) }}
            </div>
            <div class="col-sm-8">
                {{- form_widget(form.days, {'attr': {'class': 'form-control' ~ (form.vars.errors|length ? ' error' : '')}}) -}}
                {{- form_errors(form.days) -}}
            </div>
        </div>
    </div>
</div>

{% block submit_button %}{% endblock submit_button %}

{{ form_end(form, {render_rest: false}) }}