{% set entity = item.options.parent.vars.data %}

<div class="row">
    <div class="col-sm-7">
        {{ form_widget(item.item) }}
    </div>
    <div class="col-sm-3">
        {{ form_widget(item.position) }}
    </div>
    <div class="col-sm-2">
        <a href="#" class="remove-webshop-category-item">
            <span class="text">Remove</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {% for checkbox in item.options.children %}
            {% set c = checkbox.vars %}
            <label for="{{ c.id }}">{{ c.label }}</label>
            <input type="checkbox" id="{{ c.id }}" name="{{ c.full_name }}" value="{{ c.value }}" {{ entity.checkAllowedOption(c.value) ? 'checked' : '' }}>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        {{ form_widget(item.priceCredits) }}
    </div>
    <div class="col-sm-6">
        {{ form_widget(item.priceMoney) }}
    </div>
</div>