{% for category in categories %}
    <li>
        {% if category.getStatus == constant('AppBundle\\Repository\\Application\\WebShopCategoryRepository::STATUS_DISABLED') %}
            <span class="text">On Hold</span>
        {% else %}
            <span class="text">Active</span>
        {% endif %}
        <span>{{ category.getName }}</span>
        <span>({{ category.getItems.count }})</span>
        <span>
            <a href="{{ path('sky_admin_webshop.category_edit', {id: category.getId}) }}" target="_blank">
                <span class="text">Edit</span>
            </a>
        </span>
        <span>
            <a href="{{ path('sky_admin_webshop.category_remove', {id: category.getId}) }}">
                <span class="text">Remove</span>
            </a>
        </span>

        {% if category.childCategories %}
            <ul>
                {% include '@App/admin/webshop_category/_partials/categories.html.twig' with {categories: category.childCategories} %}
            </ul>
        {% endif %}
    </li>
{% endfor %}