<div class="col-sm-12 admin">
    <div class="row">
        <div class="col-sm-5">
                {{ form_row(form.status) }}
                {{ form_row(form.name) }}
                {{ form_row(form.parentCategory) }}
                {{ form_row(form.position) }}
        </div>


        <div class="col-sm-7">
                <ul id="webshop-category-items-list" data-prototype="{{ form_widget(form.items.vars.prototype)|e }}">
                    {% for item in form.items %}
                        <li>
                            {% include '@App/admin/webshop_category/_partials/category_item.html.twig' %}
                        </li>
                    {% endfor %}
                    {#{{ form_row(form.items) }}#}
                </ul>
                <a href="#" id="add-another-webshop-category-item">Add item</a>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>

</div>
