{% extends '@App/layout/page.html.twig' %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}

        {% block heading %}Download Links{% endblock %}
        {% block content %}
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        {% for group in groups %}
                            <li>
                                <span>
                                    {{ group.getName }} [{{ group.getSize }} MB]
                                    <a href="{{ path('sky_admin_download.link_edit', {id: group.getId}) }}" target="_blank">Edit</a>
                                    <a href="{{ path('sky_admin_download.link_remove', {id: group.getId}) }}">Remove</a>
                                </span>

                                <ul>
                                    {% for link in group.getLinks %}
                                        <li>
                                            <span>{{ link.getProvider }}</span> -
                                            <a href="{{ link.getLink }}">{{ link.getLink }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-success" href="{{ path('sky_admin_download.link_create') }}">New</a>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}