{% extends '@App/shop/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.bonus_code.activate.0'|trans %}

{% block account_heading %}{{ 'bonus_code.activate.0'|trans }}{% endblock %}

{% block shop_content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            {% form_theme form with [
            '@App/layout/Form/form_errors.html.twig',
            '@App/layout/Form/form_row.html.twig',
            ] %}

            <div class="row bonus_codes -page -activate">
                <div class="col-sm-12">
                    {{ form_errors(form) }}
                    {{ form_start(form) }}
                    {{ form_row(form._token) }}
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_row(form.code) }}
                        </div>
                    </div>
                    <div class="row -text-center -margin-top-20">
                        <div class="col-sm-12">
                            <button type="submit" class="button -filled -green">{{ 'bonus_code.activate.2'|trans }}</button>
                        </div>
                    </div>
                    {{ form_end(form, {render_rest: false}) }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock shop_content %}