{% extends '@App/shop/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.bonus_code.index.0'|trans %}

{% block account_heading %}{{ 'bonus_code.index.0'|trans }}{% endblock %}

{% block shop_content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            <div class="row bonus_codes -page -index">
                <div class="col-sm-12">
                    {% if bonusCodes|length %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{ 'bonus_code.index.3'|trans }}</th>
                                <th>{{ 'bonus_code.index.4'|trans }}</th>
                                <th>{{ 'bonus_code.index.5'|trans }}</th>
                                <th>{{ 'bonus_code.index.6'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for bonusCode in bonusCodes %}
                                <tr>
                                    <td>{{ bonusCode.code }}</td>
                                    <td><span class="-wcoin">WCoin</span></td>
                                    <td class="-bold">{{ bonusCode.amount }}</td>
                                    <td>{{ bonusCode.activatedAt.format('d.m.Y H:i') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-info">
                            {{ 'bonus_code.index.1'|trans }}
                        </div>
                    {% endif %}

                    <div class="row -text-center">
                        <div class="col-sm-12">
                            <a class="button -filled -green"
                               href="{{ path('sky_bonus.code_activate') }}">{{ 'bonus_code.index.2'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock shop_content %}