<tr{{ box_drop.id_attr is defined ? ' id=' ~ box_drop.id_attr : '' }}>
    <td class="-bold -blue">{{ box_drop.name }}</td>
    <td>
        {% include '@App/faq/_partials/drop_from_box/drop.html.twig' with {drop: box_drop.drop} %}
    </td>
</tr>