{% spaceless %}
    {% if type == "shields" %}
        <li class="drop_category_content_title -bold">
            {{ 'faq.box_drop.5'|trans }}
            {% include '@App/faq/_partials/drop_from_box/level_range.html.twig' with {min_level: min_level, max_level: max_level} %}
        </li>
    {% elseif type == "rings_and_pendants" %}
        <li class="drop_category_content_title -bold">
            {{ 'faq.box_drop.6'|trans }}
            {% include '@App/faq/_partials/drop_from_box/level_range.html.twig' with {min_level: min_level, max_level: max_level} %}
        </li>
    {% elseif type == "set_item" %}
        <li class="drop_category_content_title -bold">
            {{ 'faq.box_drop.3'|trans }}
            {% include '@App/faq/_partials/drop_from_box/level_range.html.twig' with {min_level: min_level, max_level: max_level} %}
        </li>
    {% elseif type == "weapon" %}
        <li class="drop_category_content_title -bold">
            {{ 'faq.box_drop.4'|trans }}
            {% include '@App/faq/_partials/drop_from_box/level_range.html.twig' with {min_level: min_level, max_level: max_level} %}
        </li>
    {% elseif type == "jewels" %}
        <li class="drop_category_content_title -bold">
            {{ 'faq.box_drop.7'|trans }}
            {% include '@App/faq/_partials/drop_from_box/level_range.html.twig' with {min_level: min_level, max_level: max_level} %}
        </li>
    {% elseif type == "other" %}
        <li class="drop_category_content_title -bold">
            {{ 'faq.box_drop.8'|trans }}
            {% include '@App/faq/_partials/drop_from_box/level_range.html.twig' with {min_level: min_level, max_level: max_level} %}
        </li>
    {% endif %}
{% endspaceless %}