<div class="row">
    <div class="col-sm-12">
        <ul class="drop{{ drop|length > 1 ? ' -multi-col' : '' }}">
            {% for category in drop %}
                <li class="drop_category">
                    <ul class="drop_category_content">
                        {% include '@App/faq/_partials/drop_from_box/category_title.html.twig' with {type: category.type, min_level: category.min_level, max_level: category.max_level} %}
                        <li class="drop_category_content_body">
                            <ul>
                                {% for item in category.items %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>