{% if buffItem is defined and buffItem.periodItemInfo is defined and buffItem.itemInfo is defined %}
    <li data-toggle-buff-popup class="buff">
        <img src="{{ asset('img/buff/' ~ buffItem.periodItemInfo.code ~ '.png') }}" />

        <div class="buff_popup_container" data-buff-popup>
            <ul class="buff_popup">
                <li class="-name">{{ buffItem.itemInfo.getName }}</li>
                <li class="-description">{{ buffItem.itemInfo.buffEffect|replace({'\\n':'<br />'})|raw }}</li>
                <li class="-duration">{{ 'character_info.4'|trans }} {{ online_time(buffItem.periodItemInfo.secondsLeft) }}</li>
            </ul>
        </div>
    </li>
{% endif %}