{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.payments.error'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            <div class="row payments -page -error">
                <div class="col-sm-12">
                    <div class="alert alert-danger">
                        {{ 'integrations.payments.error.0'|trans }}
                    </div>

                    <div class="memo">
                        <h4>{{ 'integrations.payments.error.1'|trans }}</h4>

                        <p>
                            <span>{{ 'integrations.payments.error.2'|trans }}</span>
                            <a href="{{ path('sky_order_view', {id: orderId}) }}">{{ 'integrations.payments.error.3'|trans }}</a>
                            <span>{{ 'integrations.payments.error.4'|trans }}</span>
                            <a href="{{ path('sky_order_index') }}">{{ 'integrations.payments.error.5'|trans }}</a>.
                        </p>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}