{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.payments.pending'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            <div class="row payments -page -pending">
                <div class="col-sm-12">
                    <div class="alert alert-info">
                        {{ 'integrations.payments.pending.0'|trans }}
                    </div>

                    <div class="memo">
                        <h4>{{ 'integrations.payments.pending.1'|trans }}</h4>
                        <p>
                            <span>{{ 'integrations.payments.pending.2'|trans }}</span>
                            <a href="{{ path('sky_accounts_index') }}">{{ 'integrations.payments.pending.3'|trans }}</a>,
                            <span>{{ 'integrations.payments.pending.4'|trans }}</span>
                        </p>

                        <p>
                            <span>{{ 'integrations.payments.pending.5'|trans }}</span>
                        </p>

                        <p>
                            <span>{{ 'integrations.payments.pending.6'|trans }}</span>
                            <a href="{{ path('sky_accounts_index') }}">{{ 'integrations.payments.pending.7'|trans }}</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}