{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.payments.success'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            <div class="row payments -page -success">
                <div class="col-sm-12">
                    <div class="alert alert-success">
                        {{ 'integrations.payments.success.0'|trans }}
                    </div>

                    <div class="memo">
                        <h4>{{ 'integrations.payments.success.1'|trans }}</h4>
                        <h5>
                            {{ 'integrations.payments.success.2'|trans }}
                        </h5>
                        <p>
                            <span>{{ 'integrations.payments.success.3'|trans }}</span>
                            <a href="{{ path('sky_accounts_index') }}">{{ 'integrations.payments.success.4'|trans }}</a>.
                        </p>
                        <p>
                            <span>{{ 'integrations.payments.success.5'|trans }}</span>
                        </p>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}