{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% block account_content %}
    <div class="row">
        <div class="col-sm-3 right-border">
            {% embed '@App/layout/_partials/card.html.twig' %}
                {% block heading %}<span>{{ 'account.0'|trans }}</span>{% endblock %}
                {% block content %}
                    <ul class="operations">
                        <li>
                            <a href="{{ path('sky_bonus.code_index') }}">{{ 'nav.account_menu.9'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('sky_order_index') }}">{{ 'nav.account_menu.8'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('sky_cart_index') }}">{{ 'nav.account_menu.6'|trans }}</a>
                        </li>
                    </ul>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-sm-9">
            {% block shop_content %}{% endblock shop_content %}
        </div>
    </div>
{% endblock account_content %}