{% spaceless %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ code }}"></script><script>window.dataLayer = window.dataLayer || [];function gtag() {dataLayer.push(arguments);}gtag('js', new Date());{% if user is defined and user is not null %}gtag('set', {'user_id': '{{ user.getId }}'});{% endif %}gtag('config', '{{ code }}');</script>
{% endspaceless %}