{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.stats_shop.index'|trans }}{% endblock %}

{% block page_heading %}{{ 'stats_shop.index.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% form_theme form with [
        '@App/layout/Form/form_errors.html.twig',
        '@App/layout/Form/form_row.html.twig',
        ] %}

        {% block content %}
            {% if config.isEnabled == false %}
                <div class="alert alert-warning">
                    {{ 'stats_shop.index.4'|trans }}
                </div>
            {% else %}
                <div class="row stats-shop -page -index">
                    <div class="col-sm-12">

                        <div class="row memo">
                            <div class="col-sm-12">{{ 'stats_shop.index.1'|trans }}</div>
                        </div>

                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-sm-12">
                                {{ form_errors(form) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                {{ form_widget(form.step) }}
                            </div>
                        </div>
                        <div class="row -text-center">
                            <div class="col-sm-12">
                                <button type="submit" class="button -green">{{ 'stats_shop.index.2'|trans }}</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}