<div class="footer-container">
    <div class="footer-content">
        <div class="side">
            <ul class="links">
                <li><a href="{{ path('sky_index_index') }}">{{ 'nav.general.5'|trans }}</a></li>
                <li><a href="{{ path('sky_download.links_index') }}">{{ 'nav.general.7'|trans }}</a></li>
                <li><a href="{{ forumLink }}" target="_blank">{{ 'nav.general.6'|trans }}</a></li>
                <li><a href="{{ path('sky_market_index') }}">{{ 'nav.general.2'|trans }}</a></li>
            </ul>
        </div>
        <div class="copyright">
            <a href="{{ path('sky_index_index') }}" class="logo"></a>
            <div class="text">
                <span>copyright 2018 &copy; XXXXXXXXXXXXXXXXX.mu all rights reserved</span>
                <span>XXXXXXXXXXXXXXXXX mu online private server</span>
            </div>
        </div>
        <div class="side">
            <ul class="links">
                <li><a href="#" data-toggle="modal" data-target="#modal-faq">{{ 'nav.general.8'|trans }}</a></li>
                <li><a href="{{ path('sky_contacts_index') }}">{{ 'nav.general.10'|trans }}</a></li>
                <li><a href="#" data-toggle="modal" data-target="#modal-policy">{{ 'nav.general.12'|trans }}</a></li>
                <li><a href="#" data-toggle="modal" data-target="#modal-tops-banners">{{ 'tops_banners.trigger'|trans }}</a></li>
            </ul>
            <div>
                <a href="https://vk.com/deziart" target="_blank" class="studio"></a>
            </div>
        </div>
    </div>
    <div class="footer-banners">
        <a class="footer-banners-mmoanons" href="https://mu.mmoanons.ru" target="_blank"></a>
        <a class="footer-banners-mmotop" href="https://mu.mmotop.ru/servers/30429" target="_blank"></a>
    </div>
</div>