{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.change_class'|trans({CHARACTER: nick}) }}{% endblock %}

{% block page_heading %}{{ 'change_class.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% form_theme form with [
        '@App/layout/Form/form_errors.html.twig',
        '@App/layout/Form/form_row.html.twig',
        ] %}

        {% block content %}
            <div class="row public">

                <div class="col-sm-12">

                    {{ form_errors(form) }}

                    {{ form_start(form) }}
                    {{ form_row(form._token) }}
                    {{ form_row(form.price) }}

                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_row(form.class) }}
                        </div>
                    </div>

                    <div class="row -text-center">
                        <div class="col-sm-12">
                            <span>{{ 'change_class.1'|trans }}</span>
                            <span class="-bold">{{ form.price.vars.data }}</span>
                            <span class="-wcoin">WCoin</span>
                        </div>
                    </div>

                    <div class="row -text-center -margin-top-20">
                        <div class="col-sm-12">
                            <button type="submit" class="button -filled -green">{{ 'change_class.2'|trans }}</button>
                        </div>
                    </div>

                    {{ form_end(form, {render_rest: false}) }}

                </div>

            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}