{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.change_nick'|trans({CHARACTER: nick}) %}

{% block account_heading %}{{ 'change_nick.0'|trans }}{% endblock %}

{% block account_content %}
    {% form_theme form with [
    '@App/layout/Form/form_errors.html.twig',
    '@App/layout/Form/form_row.html.twig',
    ] %}
    <div class="row public">
        <div class="col-sm-10 col-sm-offset-1">
            {{ form_errors(form) }}

            {{ form_start(form) }}
            {{ form_row(form._token) }}
            {{ form_row(form.price) }}

            <div class="row -margin-top-20">
                <div class="col-sm-12">
                    {{ form_row(form.nick) }}
                </div>
            </div>

            <div class="row -text-center">
                <div class="col-sm-12">
                    <span>{{ 'change_nick.1'|trans }}</span>
                    <span class="-bold -wcoin">{{ form.price.vars.data }}</span>
                    <span class="icon icon-wcoin"></span>
                </div>
            </div>

            <div class="row -text-center -margin-top-20">
                <div class="col-sm-12">
                    <button type="submit" class="button -filled -green">{{ 'change_nick.2'|trans }}</button>
                </div>
            </div>

            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>
{% endblock %}