{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.grand_reset'|trans({CHARACTER: nick}) %}

{% block account_heading %}{{ 'grand_reset.0'|trans }}{% endblock %}


{% block account_content %}
    {% form_theme form with [
    '@App/layout/Form/form_errors.html.twig',
    '@App/layout/Form/form_row.html.twig',
    ] %}

    <div class="row public -margin-top-20">
        <div class="col-sm-12">

            {{ form_errors(form) }}

            {{ form_start(form) }}
            {{ form_row(form._token) }}

            {% set price = config.getGrandResetPrice * (character.getGrandReset + 1) %}

            {% if userServerAccount.isVip %}
                {% set price = ((price * (100 - (userServerAccount.vipLevel.getGrandResetPriceDiscount))|round(0, 'ceil')) / 100)|round(0, 'ceil') %}
            {% endif %}

            <ul class="key-value-container">
                <li class="-item">
                    <span class="-key">{{ 'grand_reset.4'|trans }}</span>
                    <span class="-value">
                                <span class="-bold">{{ config.getGrandResetReset }}</span>
                        {% if character.getReset >= config.getGrandResetReset %}
                            <span>-</span>
                            <span class="-money">{{ 'grand_reset.2'|trans }}</span>
                                {% else %}
                            <span>({{ 'grand_reset.3'|trans }}</span>
                            <span class="-bold">{{ config.getGrandResetReset - character.getReset }}</span>)
                        {% endif %}
                            </span>
                </li>
                <li class="-item">
                    <span class="-key">{{ 'grand_reset.1'|trans }}</span>
                    <span class="-value">
                                <span class="-bold">{{ config.getResetLevel }}</span>
                        {% if character.getLevel >= config.getResetLevel %}
                            <span>-</span>
                            <span class="-money">{{ 'grand_reset.2'|trans }}</span>
                                {% else %}
                            <span>({{ 'grand_reset.3'|trans }}</span>
                            <span class="-bold">{{ config.getResetLevel - character.getLevel }}</span>)
                        {% endif %}
                            </span>
                </li>
                <li class="-item">
                    <span class="-key">{{ 'grand_reset.5'|trans }}</span>
                    <span class="-value">
                                    <span>{{ character.getGrandReset + 1 }}</span>
                            </span>
                </li>
                <li class="-item">
                    <span class="-key">{{ 'grand_reset.6'|trans }}</span>
                    <span class="-value">
                                <span class="-bold">{{ price }}</span>
                                <span class="-zen">{{ 'grand_reset.7'|trans }}</span>
                        {% if storageZen >= price %}
                            <span>-</span>
                            <span class="-money">{{ 'grand_reset.2'|trans }}</span>
                                {% else %}
                            <span>({{ 'grand_reset.8'|trans }}</span>
                            <span class="-bold">{{ price - storageZen }}</span>
                            <span class="-zen">{{ 'grand_reset.7'|trans }}</span>)
                        {% endif %}
                            </span>
                </li>
                <li class="-item online-status">
                            <span class="-key">
                                <span>{{ 'grand_reset.9'|trans }}</span>
                                <span class="offline">{{ 'grand_reset.10'|trans }}</span>
                            </span>
                    <span class="-value">
                                {% if isOffline %}
                                    <span class="-money">{{ 'grand_reset.11'|trans }}</span>
                                {% else %}
                                    <span class="offline">{{ 'grand_reset.12'|trans }}</span>
                                {% endif %}
                            </span>
                </li>
            </ul>

            <ul class="key-value-container -margin-top-20">
                <li class="-item">
                    <span class="-key">{{ 'grand_reset.13'|trans }}</span>
                    <span class="-value">
                                <span class="-bold -wcoin">{{ config.getGrandResetReward }}</span>
                        <span class="icon icon-wcoin"></span>
                            </span>
                </li>
            </ul>

            {% if isOffline and character.getReset >= config.getGrandResetReset and storageZen >= price and character.getLevel >= config.getResetLevel %}
                <div class="row -text-center -margin-top-20">
                    <div class="col-sm-12">
                        <button type="submit" class="button -filled -green">{{ 'grand_reset.0'|trans }}</button>
                    </div>
                </div>
            {% endif %}

            {{ form_end(form, {render_rest: false}) }}

        </div>
    </div>
{% endblock account_content %}
