{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.characters_list'|trans }}{% endblock %}

{% block page_heading %}{{ 'character.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}

        {% block content %}

            <div class="top -page -characters">
                <div class="row -tops-navigation">
                    <div class="col-sm-12">
                        {% set currentRoute = app.request.attributes.get('_route') %}
                        <a class="button -texture{{ currentRoute == 'sky_voters_index' ? ' -active' : '' }}" href="{{ path('sky_voters_index') }}"><span>{{ 'nav.general.9'|trans }}</span></a>
                        <a class="button -texture{{ currentRoute == 'sky_characters_index' ? ' -active' : '' }}" href="{{ path('sky_characters_index') }}"><span>{{ 'nav.general.4'|trans }}</span></a>
                        <a class="button -texture{{ currentRoute == 'sky_guilds_index' ? ' -active' : '' }}" href="{{ path('sky_guilds_index') }}"><span>{{ 'nav.general.3'|trans }}</span></a>
                        <a class="button -texture{{ currentRoute == 'sky_gens_index' ? ' -active' : '' }}" href="{{ path('sky_gens_index', {family: constant('AppBundle\\Enum\\MuOnline\\Gens\\Family::DUPRIAN')}) }}"><span>{{ 'nav.general.14'|trans }}</span></a>
                    </div>
                </div>

                <div class="row -tops-navigation">
                    {% set class = app.request.query.get('class') %}
                    <div class="col-sm-12">
                        <a class="button -texture -medium{{ class is null ? ' -active' : '' }}" href="{{ path('sky_characters_index') }}"><span>{{ 'character.1'|trans }}</span></a>
                        <a class="button -texture -medium{{ class is not null and class in [
                            constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_DARK_WIZARD'),
                            constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_SOUL_MASTER'),
                            constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_GRAND_MASTER'),
                        ] ? ' -active' : '' }}" href="{{ path('sky_characters_index', {class: constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_DARK_WIZARD')}) }}"><span>
                            {{-
                            [
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_DARK_WIZARD')]),
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_SOUL_MASTER')]),
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_GRAND_MASTER')])
                            ]|join('/')
                            -}}
                        </span></a>
                        <a class="button -texture -medium{{ class in [
                            constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_DARK_KNIGHT'),
                            constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_BLADE_KNIGHT'),
                            constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_BLADE_MASTER'),
                        ] ? ' -active' : '' }}" href="{{ path('sky_characters_index', {class: constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_DARK_KNIGHT')}) }}"><span>
                            {{-
                            [
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_DARK_KNIGHT')]),
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_BLADE_KNIGHT')]),
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_BLADE_MASTER')])
                            ]|join('/')
                            -}}
                        </span></a>
                        <a class="button -texture -medium{{ class in [
                        constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_ELF'),
                        constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_MUSE_ELF'),
                        constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_HIGH_ELF'),
                        ] ? ' -active' : '' }}" href="{{ path('sky_characters_index', {class: constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_ELF')}) }}"><span>
                            {{-
                            [
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_ELF')]),
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_MUSE_ELF')]),
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_HIGH_ELF')])
                            ]|join('/')
                            -}}
                        </span></a>
                        <a class="button -texture -medium{{ class in [
                        constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_MAGIC_GLADIATOR'),
                        constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_DUEL_MASTER'),
                        ] ? ' -active' : '' }}" href="{{ path('sky_characters_index', {class: constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_MAGIC_GLADIATOR')}) }}"><span>
                            {{-
                            [
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_MAGIC_GLADIATOR')]),
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_DUEL_MASTER')])
                            ]|join('/')
                            -}}
                        </span></a>
                        <a class="button -texture -medium{{ class in [
                        constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_DARK_LORD'),
                        constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_LORD_EMPEROR'),
                        ] ? ' -active' : '' }}" href="{{ path('sky_characters_index', {class: constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_DARK_LORD')}) }}"><span>
                            {{-
                            [
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_DARK_LORD')]),
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_LORD_EMPEROR')])
                            ]|join('/')
                            -}}
                        </span></a>
                        <a class="button -texture -medium{{ class in [
                        constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_SUMMONER'),
                        constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_BLOODY_SUMMONER'),
                        constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_DIMENSION_MASTER'),
                        ] ? ' -active' : '' }}" href="{{ path('sky_characters_index', {class: constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_SUMMONER')}) }}"><span>
                            {{-
                            [
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_SUMMONER')]),
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_BLOODY_SUMMONER')]),
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_DIMENSION_MASTER')])
                            ]|join('/')
                            -}}
                        </span></a>
                        <a class="button -texture -medium{{ class in [
                        constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_RAGE_FIGHTER'),
                        constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_FIST_MASTER'),
                        ] ? ' -active' : '' }}" href="{{ path('sky_characters_index', {class: constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_RAGE_FIGHTER')}) }}"><span>
                            {{-
                            [
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_RAGE_FIGHTER')]),
                            call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getAbbreviationByKey', [constant('AppBundle\\Doctrine\\Type\\CharacterClassEnum::CHARACTER_CLASS_FIST_MASTER')])
                            ]|join('/')
                            -}}
                            </span></a>
                    </div>
                </div>

                {% form_theme searchForm with [
                '@App/layout/Form/form_errors.html.twig',
                '@App/layout/Form/form_row.html.twig',
                ] %}

                <div class="row character-search">
                    <div class="col-sm-12">

                    {{ form_errors(searchForm) }}

                    {{ form_start(searchForm) }}
                    {{ form_row(searchForm._token) }}
                        <div class="row">
                            <div class="col-sm-8">
                                {{- form_row(searchForm.nick, {'attr': {'class': ('form-control' ~ (searchForm.nick.vars.errors|length ? ' error' : '')), 'placeholder': 'character.search.1'|trans}}) -}}
                            </div>

                            <div class="col-sm-2 search">
                                <button type="submit" class="button -filled -lens-blue">{{ 'market.search_form.0'|trans }}</button>
                            </div>
                        </div>
                    {{ form_end(searchForm, {render_rest: false}) }}
                    </div>
                </div>

                <div class="row characters">
                    <div class="col-sm-12">
                        {% if characters and characters|length %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>{{ 'character.2'|trans }}</th>
                                            <th>{{ 'character.3'|trans }}</th>
                                            <th>{{ 'character.4'|trans }}</th>
                                            <th class="stats">
                                                <span>{{ 'character.5'|trans }}</span>
                                                <span>{{ 'character.6'|trans }}</span>
                                                <span>{{ 'character.7'|trans }}</span>
                                            </th>
                                            <th>{{ 'character.8'|trans }}</th>
                                            <th>{{ 'character.9'|trans }}</th>
                                            <th>{{ 'character.10'|trans }}</th>
                                            <th>{{ 'character.11'|trans }}</th>
                                            <th>{{ 'character.12'|trans }}</th>
                                            <th>{{ 'character.13'|trans }}</th>
                                            <th>{{ 'character.23'|trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for idx, character in characters %}
                                            {% set characterUserData = users.get(character.getAccount.getMemberId).get() %}
                                            {% set hidden = (
                                            characterUserData.currentServerAccount.hiddenTill is not null or
                                            characterUserData.currentServerAccount.isVip
                                            )
                                            and
                                            (
                                            currentUser is null or
                                            (currentUser is not null and characterUserData.user.getId != currentUser.getId)
                                            )
                                            %}

                                            {% set idx = ((pagination.thisPage - 1) * pagination.perPage) + idx + 1 %}

                                            <tr>
                                                <td><div{{ pagination.thisPage == 1 ? ' class="place"' : '' }}>{% include '@App/_partials/table_number.html.twig' with {number: idx} %}</div></td>
                                                <td class="online-status -character{{ character.isOnline ? ' -online' : ' -offline' }}">{% include '@App/character/_partials/name.html.twig' with {character: character, user: characterUserData.user} %}</td>
                                                <td>{% include '@App/character/_partials/class.html.twig' with {character: character} %}</td>
                                                <td class="stats">{% include '@App/character/_partials/stats.html.twig' with {character: character} %}</td>
                                                <td>{% include '@App/character/_partials/strength.html.twig' with {character: character, hidden: hidden} %}</td>
                                                <td>{% include '@App/character/_partials/agility.html.twig' with {character: character, hidden: hidden} %}</td>
                                                <td>{% include '@App/character/_partials/vitality.html.twig' with {character: character, hidden: hidden} %}</td>
                                                <td>{% include '@App/character/_partials/energy.html.twig' with {character: character, hidden: hidden} %}</td>
                                                <td>{% include '@App/character/_partials/stamina.html.twig' with {character: character, hidden: hidden} %}</td>
                                                <td>{% include '@App/character/_partials/guild.html.twig' with {character: character} %}</td>
                                                <td>{% include '@App/character/_partials/gens_image.html.twig' with {character: character} %}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    {% include '@App/_partials/pagination.html.twig' with {pagination: pagination, routeName: 'sky_characters_index', routeParams: {class: class}} %}
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-info">
                                {{ 'character.14'|trans }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        {% endblock %}
    {% endembed %}
{% endblock %}