{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.character.kill_log.0'|trans %}

{% block account_heading %}{{ 'character.kill_log.0'|trans }}{% endblock %}


{% block account_content %}
    <div class="row public -page -characters -kill-log -margin-top-20">
        <div class="col-sm-12">
            <div class="row memo">
                <div class="col-sm-12">
                    {{ 'character.kill_log.6'|trans }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {% embed '@App/layout/_partials/card.html.twig' %}
                        {% block content %}
                            {% include '@App/character/_partials/kill_log/table.html.twig' with {kills: kills, type: 0} %}
                        {% endblock %}
                    {% endembed %}
                </div>

                <div class="col-sm-6">
                    {% embed '@App/layout/_partials/card.html.twig' %}
                        {% block content %}
                            {% include '@App/character/_partials/kill_log/table.html.twig' with {kills: killedBy, type: 1, users: users} %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
{% endblock account_content %}