{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.reset_master_skill_tree'|trans({CHARACTER: nick}) %}

{% block account_heading %}{{ 'reset_master_skill_tree.0'|trans }}{% endblock %}

{% block account_content %}
    {% form_theme form with [
    '@App/layout/Form/form_errors.html.twig',
    '@App/layout/Form/form_row.html.twig',
    ] %}

    <div class="row public -margin-top-20">
        <div class="col-sm-12">
            {{ form_errors(form) }}

            {{ form_start(form) }}
            {{ form_row(form._token) }}
            {{ form_row(form.price) }}

            <div class="row memo">
                <div class="col-sm-12">
                    <span>{{ 'reset_master_skill_tree.4'|trans }}</span>
                </div>
            </div>

            <div class="row -text-center -margin-top-20">
                <div class="col-sm-12">
                    <span>{{ 'reset_master_skill_tree.3'|trans }}</span>
                    <span class="-bold -wcoin">{{ form.price.vars.data }}</span>
                    <span class="icon icon-wcoin"></span>
                </div>
            </div>

            <div class="row -text-center -margin-top-20">
                <div class="col-sm-12">
                    <button type="submit" class="button -filled -green">{{ 'reset_master_skill_tree.2'|trans }}</button>
                </div>
            </div>

            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>
{% endblock account_content %}
