{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.reset'|trans({CHARACTER: nick}) %}

{% block account_heading %}{{ 'reset.0'|trans }}{% endblock %}


{% block account_content %}
    {% form_theme form with [
    '@App/layout/Form/form_errors.html.twig',
    '@App/layout/Form/form_row.html.twig',
    ] %}

    <div class="row public -margin-top-20">
        <div class="col-sm-12">
            {{ form_errors(form) }}

            {{ form_start(form) }}
            {{ form_row(form._token) }}

            {% set price = 0 %}
            {% if (config.getResetPaymentType.isConstant) %}
                {% set price = config.getResetPrice %}
            {% elseif (config.getResetPaymentType.isMultiplier) %}
                {% set price = config.getResetPrice * (character.getReset + 1) %}
            {% endif %}

            {% if userServerAccount.isVip %}
                {% set price = ((price * (100 - (userServerAccount.vipLevel.getResetPriceDiscount))|round(0, 'ceil')) / 100)|round(0, 'ceil') %}
            {% endif %}

            <ul class="key-value-container">
                <li class="-item">
                    <span class="-key">{{ 'reset.2'|trans }}</span>
                    <span class="-value">
                                <span class="-bold">{{ config.resetLevel(character) }}</span>
                        {% if character.getLevel >= config.resetLevel(character) %}
                            <span>-</span>
                            <span class="-money">{{ 'reset.3'|trans }}</span>
                                {% else %}
                            <span>({{ 'reset.4'|trans }}</span>
                            <span class="-bold">{{ config.resetLevel(character) - character.getLevel }}</span>)
                        {% endif %}
                            </span>
                </li>
                <li class="-item">
                    <span class="-key">{{ 'reset.5'|trans }}</span>
                    <span class="-value online-status">
                                {% if character.getReset != config.getResetLimit %}
                                    <span class="-bold">{{ character.getReset + 1 }}</span>
                                    <span>{{ 'reset.6'|trans }}</span>
                                    <span class="-bold">{{ config.getResetLimit }}</span>
                                {% else %}
                                    <span class="-red-warning">{{ 'reset.15'|trans }}</span>
                                {% endif %}
                            </span>
                </li>
                <li class="-item">
                    <span class="-key">{{ 'reset.7'|trans }}</span>
                    <span class="-value">
                                <span class="-bold">{{ price }}</span>
                                <span class="-zen">{{ 'reset.8'|trans }}</span>
                        {% if storageZen >= price %}
                            <span>-</span>
                            <span class="-money">{{ 'reset.3'|trans }}</span>
                                {% else %}
                            <span>({{ 'reset.14'|trans }}</span>
                            <span class="-bold">{{ price - storageZen }}</span>
                            <span class="-zen">{{ 'reset.8'|trans }}</span>)
                        {% endif %}
                            </span>
                </li>
                <li class="-item online-status">
                            <span class="-key">
                                <span>{{ 'reset.9'|trans }}</span>
                                <span class="-red-warning">{{ 'reset.10'|trans }}</span>
                            </span>
                    <span class="-value">
                                {% if isOffline %}
                                    <span class="-money">{{ 'reset.11'|trans }}</span>
                                {% else %}
                                    <span class="-red-warning">{{ 'reset.12'|trans }}</span>
                                {% endif %}
                            </span>
                </li>
                {% set ravenShouldBeTakenOff = character.classInfo.isDarkLord() %}


                {% if character.classInfo.isDarkLord() %}
                    <li class="-item">
                        <span class="-key">{{ 'reset.23'|trans }}</span>
                        <span class="-value">
                            {% if false == ravenEquipped %}
                                {% set ravenShouldBeTakenOff = false %}

                                <span class="-money">{{ 'reset.11'|trans }}</span>
                            {% else %}
                                <span class="-red-warning">{{ 'reset.12'|trans }}</span>
                            {% endif %}
                         </span>
                    </li>
                {% endif %}
            </ul>

            <ul class="key-value-container -margin-top-20">
                <li class="-item">
                    <span class="-key">{{ 'reset.16'|trans }}</span>
                    <span class="-value">
                        <span class="-bold -wcoin">{{ config.getResetReward }}</span>
                        <span class="icon icon-wcoin"></span>
                    </span>
                </li>
            </ul>

            {% if isOffline and character.getLevel >= config.resetLevel(character) and storageZen >= price and character.getReset != config.getResetLimit and false == ravenShouldBeTakenOff %}
                <div class="row -text-center -margin-top-20">
                    <div class="col-sm-12">
                        <button type="submit" class="button -filled -green">{{ 'reset.13'|trans }}</button>
                    </div>
                </div>
            {% endif %}

            {{ form_end(form, {render_rest: false}) }}

        </div>
    </div>
{% endblock %}