{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.character_info'|trans }}{% endblock %}

{% block page_heading %}{{ 'character_info.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}

            {% set guildMember = character.getGuildMember %}
            {% if is_granted('ROLE_ADMINISTRATOR') or is_granted('ROLE_MODERATOR') %}
                {% set hidden = false %}
            {% else %}
                {% set hidden = (
                    accountUserServerAccount.hiddenTill is not null or
                    accountUserServerAccount.isVip
                    ) and (
                    currentUser is null or (currentUser is not null and accountUser.getId != currentUser.getId)
                    ) %}
            {% endif %}

            {% if hidden %}
                <div class="alert alert-warning">
                    {{ accountUserServerAccount.isVip ? 'hide_info.5'|trans : 'hide_info.4'|trans }}
                </div>
            {% endif %}
            <div class="character">
                {% if hidden == false %}

                    <div class="main-info">
                        <div class="info-left">

                            <div class="top-content">
                                <div class="class-image">
                                    <div class="image -{{ character.classInfo.baseClassAbbreviation|lower }}"></div>
                                </div>
                                <div class="center-content">

                                    <div class="buffs_container">
                                        {% if buffItems.length %}
                                            <ul class="buffs">
                                                {% for buffItem in buffItems %}
                                                    <li class="buff">
                                                        {% include '@App/character/_partials/buff/_show_image.html.twig' with {buffItem: buffItem} %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                    <div class="inventory_container">
                                        <div class="inventory_content -{{ character.classInfo.baseClassAbbreviation|lower }}">
                                            <div class="inventory_item -staff">
                                                {% if inventoryItems.get(0) is not null %}
                                                    {% include '@App/_partials/items/item_show_image.html.twig' with {item: inventoryItems.get(0), withBg: false} %}
                                                {% endif %}
                                            </div>
                                            <div class="inventory_item -shield">
                                                {% if inventoryItems.get(1) is not null %}
                                                    {% include '@App/_partials/items/item_show_image.html.twig' with {item: inventoryItems.get(1), withBg: false} %}
                                                {% endif %}
                                            </div>
                                            <div class="inventory_item -helm">
                                                {% if inventoryItems.get(2) is not null %}
                                                    {% include '@App/_partials/items/item_show_image.html.twig' with {item: inventoryItems.get(2), withBg: false} %}
                                                {% endif %}
                                            </div>
                                            <div class="inventory_item -armor">
                                                {% if inventoryItems.get(3) is not null %}
                                                    {% include '@App/_partials/items/item_show_image.html.twig' with {item: inventoryItems.get(3), withBg: false} %}
                                                {% endif %}
                                            </div>
                                            <div class="inventory_item -pants">
                                                {% if inventoryItems.get(4) is not null %}
                                                    {% include '@App/_partials/items/item_show_image.html.twig' with {item: inventoryItems.get(4), withBg: false} %}
                                                {% endif %}
                                            </div>
                                            <div class="inventory_item -gloves">
                                                {% if inventoryItems.get(5) is not null %}
                                                    {% include '@App/_partials/items/item_show_image.html.twig' with {item: inventoryItems.get(5), withBg: false} %}
                                                {% endif %}
                                            </div>
                                            <div class="inventory_item -boots">
                                                {% if inventoryItems.get(6) is not null %}
                                                    {% include '@App/_partials/items/item_show_image.html.twig' with {item: inventoryItems.get(6), withBg: false} %}
                                                {% endif %}
                                            </div>
                                            <div class="inventory_item -wings">
                                                {% if inventoryItems.get(7) is not null %}
                                                    {% include '@App/_partials/items/item_show_image.html.twig' with {item: inventoryItems.get(7), withBg: false} %}
                                                {% endif %}
                                            </div>
                                            <div class="inventory_item -pet">
                                                {% if inventoryItems.get(7) is not null %}
                                                    {% include '@App/_partials/items/item_show_image.html.twig' with {item: inventoryItems.get(8), withBg: false} %}
                                                {% endif %}
                                            </div>
                                            <div class="inventory_item -pendant">
                                                {% if inventoryItems.get(9) is not null %}
                                                    {% include '@App/_partials/items/item_show_image.html.twig' with {item: inventoryItems.get(9), withBg: false} %}
                                                {% endif %}
                                            </div>
                                            <div class="inventory_item -left-ring">
                                                {% if inventoryItems.get(10) is not null %}
                                                    {% include '@App/_partials/items/item_show_image.html.twig' with {item: inventoryItems.get(10), withBg: false} %}
                                                {% endif %}
                                            </div>
                                            <div class="inventory_item -right-ring">
                                                {% if inventoryItems.get(11) is not null %}
                                                    {% include '@App/_partials/items/item_show_image.html.twig' with {item: inventoryItems.get(11), withBg: false} %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                                <div class="skills-container">
                                    <div>
                                        {% set normalSkills = skills.normal %}
                                        {% if normalSkills.length %}
                                            <ul class="skills">
                                                {% for normalSkill in normalSkills %}
                                                    {% include '@App/character/_partials/magic_list/skill/_show_image.html.twig' with {skill: normalSkill.info} %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                    {% if character.classInfo.isThirdClass %}
                                        <div class="modal-skill-tree-trigger-container">
                                            <button class="button -filled -blue" data-toggle="modal"
                                                    data-target="#modal-skill-tree">{{ 'character_info.skill_tree.modal.title'|trans }}</button>
                                        </div>
                                    {% endif %}
                                </div>
                        </div>

                        <div class="info-right">
                            <div class="info">
                                <ul class="info-data">
                                    <li>
                                        <span>{{ 'character.22'|trans }}:</span>
                                        <span><a href="{{ path('sky_users_view', {id: accountUser.getId}) }}">{{ accountUser.getDisplayName }}</a></span>
                                    </li>
                                    <li>
                                        <span>{{ 'character.21'|trans }}:</span>
                                        <span class="online-status">
                            {% if hidden is defined and hidden == true %}
                                {% include '@App/_partials/svg/eye-splash.html.twig' %}
                            {% else %}
                                {% if character.isOnline %}
                                    <span class="online">Online</span>
                            {% else %}
                                    <span class="offline">Offline</span>
                                {% endif %}
                            {% endif %}
                            </span>
                                    </li>
                                    <li>
                                        <span>{{ 'character.3'|trans }}:</span>
                                        <span><a href="{{ path('sky_characters_view', {name: character.getName}) }}">{{ character.getName }}</a></span>
                                    </li>
                                    {% if accountUser.country is not null %}
                                        <li>
                                            <span>{{ 'character.26'|trans }}:</span>
                                            {% include '@App/character/_partials/country/flag_with_name.html.twig' with {user: accountUser} %}
                                        </li>
                                    {% endif %}
                                    <li>
                                        <span>{{ 'character.4'|trans }}:</span>
                                        <span>{{ call_static('AppBundle\\Doctrine\\Type\\CharacterClassEnum', 'getNameByKey', [character.getClass]) }}</span>
                                    </li>
                                    <li>
                                        <span>{{ 'character.5'|trans }}:</span>
                                        <span>{{ character.getLevel }}</span>
                                    </li>
                                    <li>
                                        <span>{{ 'character.6'|trans }}:</span>
                                        <span>{{ character.getReset }}</span>
                                    </li>
                                    <li>
                                        <span>{{ 'character.7'|trans }}:</span>
                                        <span>{{ character.getGrandReset }}</span>
                                    </li>
                                    <li>
                                        <span>{{ 'character.13'|trans }}:</span>
                                        <span>
                                        {% if guildMember %}
                                            <a href="{{ path('sky_guilds_view', {name: guildMember.getGuild.getName}) }}">{{ guildMember.getGuild.getName }}</a> <span class="member">({{ call_static('AppBundle\\Doctrine\\Type\\GuildMemberStatusEnum', 'getNameByKey', [guildMember.getStatus]) }})</span>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </span>
                                    </li>
                                    <li>
                                        <span>{{ 'character.15'|trans }}:</span>
                                        <span>
                                        {% if hidden is defined and hidden == true %}
                                            {% include '@App/_partials/svg/eye-splash.html.twig' %}
                                        {% else %}
                                            {{ call_static('AppBundle\\Dictionary\\MuOnline\\CharacterKillerLevelDictionary', 'getValueByKey', [character.getPkLevel]) }}
                                        {% endif %}
                                    </span>
                                    </li>
                                    <li>
                                        <span>{{ 'character.16'|trans }}:</span>
                                        <span>
                                        {% if hidden is defined and hidden == true %}
                                            {% include '@App/_partials/svg/eye-splash.html.twig' %}
                                        {% else %}
                                            {{ character.getPkCount }}
                                        {% endif %}
                                    </span>
                                    </li>
                                    <li>
                                        <span>{{ 'character.17'|trans }}:</span>
                                        <span>
                                        {% if hidden is defined and hidden == true %}
                                            {% include '@App/_partials/svg/eye-splash.html.twig' %}
                                        {% else %}
                                            {{ call_static('AppBundle\\Dictionary\\MuOnline\\MapsDictionary', 'getValueByKey', [character.getMapNumber]) }}
                                            {% if currentAccount and character.getAccount.getMemberId == currentAccount.getMemberId or is_granted('ROLE_ADMINISTRATOR') %}
                                                ({{ character.getMapX }}x{{ character.getMapY }})
                                            {% endif %}
                                        {% endif %}
                                    </span>
                                    </li>
                                    <li>
                                        <span>{{ 'character.18'|trans }}:</span>
                                        <span>
                                        {% if hidden is defined and hidden == true %}
                                            {% include '@App/_partials/svg/eye-splash.html.twig' %}
                                        {% else %}
                                            {{ character.getPoints }}
                                        {% endif %}
                                    </span>
                                    </li>
                                    <li>
                                        <span>{{ 'character.8'|trans }}:</span>
                                        <span>{% include '@App/character/_partials/strength.html.twig' with {character: character, hidden: hidden} %}</span>
                                    </li>
                                    <li>
                                        <span>{{ 'character.9'|trans }}:</span>
                                        <span>{% include '@App/character/_partials/agility.html.twig' with {character: character, hidden: hidden} %}</span>
                                    </li>
                                    <li>
                                        <span>{{ 'character.10'|trans }}:</span>
                                        <span>{% include '@App/character/_partials/vitality.html.twig' with {character: character, hidden: hidden} %}</span>
                                    </li>
                                    <li>
                                        <span>{{ 'character.11'|trans }}:</span>
                                        <span>{% include '@App/character/_partials/energy.html.twig' with {character: character, hidden: hidden} %}</span>
                                    </li>
                                    <li>
                                        <span>{{ 'character.12'|trans }}:</span>
                                        <span>{% include '@App/character/_partials/stamina.html.twig' with {character: character, hidden: hidden} %}</span>
                                    </li>
                                    <li class="gens">
                                        <span>{{ 'character.23'|trans }}:</span>
                                        <span>{% include '@App/character/_partials/gens_title.html.twig' with {character: character} %}</span>
                                    </li>
                                    <li>
                                        <span>{{ 'character.24'|trans }}:</span>
                                        <span>{% include '@App/character/_partials/won_duels.html.twig' with {character: character} %}</span>
                                    </li>
                                    <li>
                                        <span>{{ 'character.25'|trans }}:</span>
                                        <span>{% include '@App/character/_partials/loosed_duels.html.twig' with {character: character} %}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>

        {% endblock %}
    {% endembed %}
{% endblock %}


{% block modals %}
    {{ parent() }}

    {% if character.classInfo.isThirdClass %}
        {% include '@App/character/_partials/magic_list/skill_tree_modal.html.twig' with {empty: true, learnedSkills: skills} %}
    {% endif %}
{% endblock %}