<div class="events-container">
    <span class="heading">{{ 'event_timing.modal.title'|trans }}</span>
    <div class="body">
        <div class="event-timing"></div>
    </div>
    <div class="slider-controls">
        <a data-trigger-prev-events></a>
        <a data-trigger-next-events></a>
    </div>
</div>