{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.voters.top'|trans }}{% endblock %}

{% block page_heading %}{{ 'voters.top.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            <div class="row top -voters -page">
                <div class="col-sm-12">

                    <div class="row -tops-navigation">
                        <div class="col-sm-12">
                            {% set currentRoute = app.request.attributes.get('_route') %}
                            <a class="button -texture{{ currentRoute == 'sky_voters_index' ? ' -active' : '' }}" href="{{ path('sky_voters_index') }}"><span>{{ 'nav.general.9'|trans }}</span></a>
                            <a class="button -texture{{ currentRoute == 'sky_characters_index' ? ' -active' : '' }}" href="{{ path('sky_characters_index') }}"><span>{{ 'nav.general.4'|trans }}</span></a>
                            <a class="button -texture{{ currentRoute == 'sky_guilds_index' ? ' -active' : '' }}" href="{{ path('sky_guilds_index') }}"><span>{{ 'nav.general.3'|trans }}</span></a>
                            <a class="button -texture{{ currentRoute == 'sky_gens_index' ? ' -active' : '' }}" href="{{ path('sky_gens_index', {family: constant('AppBundle\\Enum\\MuOnline\\Gens\\Family::DUPRIAN')}) }}"><span>{{ 'nav.general.14'|trans }}</span></a>
                        </div>
                    </div>

                    <div class="row memo">
                        <div class="col-sm-12">
                            <span>{{ 'voters.info.1'|trans }} </span>
                            <a href="#" data-route="sky_faq_vote.reward" data-toggle="modal" data-target="#modal-faq">{{ 'faq.index.0'|trans }}</a>
                        </div>
                    </div>

                    {% if lastMonthTop|length %}
                        <div class="row last-month-top">
                            <div class="col-sm-12">

                                {% embed '@App/layout/_partials/card.html.twig' %}
                                    {% block heading %}{{ 'voters.last_month.0'|trans }}{% endblock %}
                                    {% block content %}
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>{{ 'voters.top.2'|trans }}</th>
                                                <th>{{ 'voters.top.3'|trans }}</th>
                                                <th>{{ 'voters.top.6'|trans }}</th>
                                                <th>{{ 'voters.last_month.1'|trans }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in range(1, 3) %}
                                                {% set votesCount = 0 %}
                                                {% set reward = 0 %}
                                                {% set voters = [] %}
                                                {% for idx, lastMonthTopVoter in lastMonthTop %}
                                                    {% set currentVoter = lastMonthTopVoter.getMonthlyVotersTopRewards|first %}
                                                    {% if i == currentVoter.getPlace %}
                                                        {% set voters = voters|merge([
                                                            '<a href="' ~ path("sky_users_view", {id: lastMonthTopVoter.getUser.getId}) ~ '">' ~ lastMonthTopVoter.getUser.getDisplayName ~ '</a>'
                                                        ]) %}

                                                        {% set votesCount = currentVoter.getRegularVotes + currentVoter.getSmsVotes %}
                                                        {% set reward = currentVoter.getReward %}
                                                    {% endif %}
                                                {% endfor %}
                                                <tr>
                                                    <td><div class="place">{% include '@App/_partials/table_number.html.twig' with {number: i} %}</div></td>
                                                    <td>{{ voters|join(', ')|raw }}</td>
                                                    <td class="total">{{ votesCount }}</td>
                                                    <td>
                                                        <span>{{ reward }}</span>
                                                        <span class="-wcoin">WCoin</span>
                                                        {% if voters|length > 1 %}
                                                            <span>{{ 'voters.top.9'|trans }}</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endblock %}
                                {% endembed %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-sm-12">
                            {% embed '@App/layout/_partials/card.html.twig' %}
                                {% block heading %}{{ 'voters.top.8'|trans }}{% endblock %}
                                {% block content %}
                                    {% if votersUserServerAccounts|length %}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>{{ 'voters.top.2'|trans }}</th>
                                                        <th>{{ 'voters.top.3'|trans }}</th>
                                                        <th>{{ 'voters.top.4'|trans }}</th>
                                                        <th>{{ 'voters.top.5'|trans }}</th>
                                                        <th>{{ 'voters.top.6'|trans }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for idx, voter in votersUserServerAccounts %}

                                                        {% set idx = ((pagination.thisPage - 1) * pagination.perPage) + idx + 1 %}

                                                        <tr>
                                                            <td><div{{ pagination.thisPage == 1 ? ' class="place"' : '' }}>{% include '@App/_partials/table_number.html.twig' with {number: idx} %}</div></td>
                                                            <td>
                                                                <a href="{{ path('sky_users_view', {id: voter.entity.getUser.getId}) }}">{{ voter.entity.getUser.getDisplayName }}</a>
                                                            </td>
                                                            <td>{{ voter.regularVotes }}</td>
                                                            <td>{{ voter.smsVotes }}</td>
                                                            <td class="total">{{ voter.regularVotes + voter.smsVotes }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                {% include '@App/_partials/pagination.html.twig' with {pagination: pagination, routeName: 'sky_voters_index'} %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="alert alert-info">
                                            {{ 'voters.top.1'|trans }}
                                        </div>
                                    {% endif %}
                                {% endblock %}
                            {% endembed %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}