<div class="gens_popup_trigger -image" data-toggle-gens-popup>
    {% include '@App/gens/_partials/rank/rank_image.html.twig' with {gens: gens} %}
    <div class="gens_popup_container" data-gens-popup>
        <span>{% include '@App/gens/_partials/rank/popup/popup_title.html.twig' with {gens: gens} %}</span>
    </div>
</div>