<div class="gens_popup_trigger" data-toggle-gens-popup>
    <span>{% include '@App/gens/_partials/rank/rank_title.html.twig' with {gens: gens} %}</span>
    <div class="gens_popup_container" data-gens-popup>
        {% include '@App/gens/_partials/rank/popup/popup_image.html.twig' with {gens: gens} %}
    </div>
</div>