<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.type) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.title) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.dailyCoinsPrice) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.renewalDiscount) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.enabled) }}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.resetPriceDiscount) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.resetPointsBonus) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.grandResetPriceDiscount) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.grandResetPointsBonus) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        {{ form_row(form.nightStartHour) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.nightStartMinute) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        {{ form_row(form.dayStartHour) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.dayStartMinute) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        {{ form_row(form.offAfkMaxHours) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.nightAddExp) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.nightAddMasterExp) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.nightAddDrop) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.nightAddExcDrop) }}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.dayAddExp) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.dayAddMasterExp) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.dayAddDrop) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.dayAddExcDrop) }}
            </div>
        </div>
    </div>
</div>