<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Enabled</th>
        <th></th>
    </tr>
    </thead>
    <tbody class="admin_market_category">
    {% for level in levels %}
        <tr>
            <td>{{ level.getTitle }}</td>
            <td>{{ level.getType }}</td>
            <td>{{ level.isEnabled ? 'Yes' : 'No' }}</td>
            <td class="controls">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Menu</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('sky_admin_vip.level_edit', {id: level.getId}) }}">
                                <span class="text">Edit</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('sky_admin_vip.level_remove', {id: level.getId}) }}">
                                <span class="text">Remove</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>