<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style type="text/css">
        /* Client-specific Styles */
        #outlook a {
            padding: 0;
        }

        /* Force Outlook to provide a "view in browser" menu link. */
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial sans-serif;
            width: 100% !important;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            margin: 0;
            padding: 0;
            color: #D6C1F2;
        }

        /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
        .ExternalClass {
            width: 100%;
        }

        /* Force Hotmail to display emails at full width */
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
            line-height: 100%;
        }

        /* Force Hotmail to display normal line spacing.*/
        #backgroundTable {
            margin: 0;
            padding: 0;
            width: 100% !important;
            line-height: 100% !important;
        }

        img {
            outline: none;
            text-decoration: none;
            border: none;
            -ms-interpolation-mode: bicubic;
        }

        a img {
            border: none;
        }

        .image_fix {
            display: block;
        }

        p {
            margin: 0px 0px !important;
        }

        table td {
            border-collapse: collapse;
        }

        table {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        a {
            color: #ff4bb1;
            text-decoration: none !important;

        }

        a:hover {
            color: #e320ff !important;
        }

        .headerTitle {
            white-space: nowrap;
        }

        .greetingsText {
            line-height: 1.2;
        }

        .linkText {
            line-height: 1.2;
            color: grey;
        }

        .fontSize36 {
            font-size: 36px !important;
        }

        .fontSize14 {
            font-size: 14px !important;
        }

        .fontSize12 {
            font-size: 12px !important;
        }

        .fontWeightNormal {
            font-weight: normal;
        }

    </style>
</head>

<body>

<table width="100%" bgcolor="#211431" cellpadding="0" cellspacing="0" border="0" id="backgroundTable"
       st-sortable="preheader" style="background-color: #1E1B4A; color: #D6C1F2;">

    <tbody>
    <tr>
        <table width="700" style="background-color: #1E1B4A; color: #D6C1F2;" cellpadding="0" cellspacing="0" border="0" align="center"
               class="devicewidth">
            <tbody>
            <tr>
                <td width="100%" height="50" style="height: 50px;"></td>
            </tr>
            <tr>
                <td width="100%">
                    <table style="padding-left: 50px; padding-right: 50px; background-color: #211431; border-top: 3px solid #740556;color: #D6C1F2;" width="600" cellpadding="0" cellspacing="0" border="0"
                           align="center" class="devicewidth">

                        <tbody>

                        <tr>
                            <td style="padding-left: 30px; padding-right: 30px;">
                                <table>
                                    <tbody>
                                    {% block email_contents %}
                                    {% endblock email_contents %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        </tbody>

                    </table>

                </td>
            </tr>
            <tr>
                <td width="100%" height="50" style="height: 50px;"></td>
            </tr>

            </tbody>
        </table>
    </tr>
    </tbody>

</table>

</body>

</html>