{% if kills|length %}
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'character.kill_log.3'|trans }}</th>
            <th>{{ 'character.kill_log.4'|trans }}</th>
        </tr>
        </thead>

        <tbody>
        {% for kill in kills %}
            {% set hidden = false %}
            {% set character = type == 0 ? kill.victim : kill.killer %}
            {% if users is defined and users|length and type == 1 %}
                {% set characterUserData = users.get(character.getAccount.getMemberId).getOrElse(null) %}
                {% set hidden = characterUserData is not null and characterUserData.currentServerAccount.isVip %}
            {% endif %}
            <tr>
                <td>
                    {% if hidden is defined and hidden == true %}
                        {% include '@App/_partials/svg/eye-splash.html.twig' %}
                    {% else %}
                        <a href="{{ path('sky_characters_view', {name: character.getName}) }}">{{ character.getName }}</a>
                    {% endif %}
                </td>
                <td>
                    {{ kill.date.format('d.m.y H:i') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">
        {{ 'character.kill_log.5'|trans }}
    </div>
{% endif %}