<ul class="nav nav-pills">
    <li class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
    <li><a href="#database" aria-controls="database" role="tab" data-toggle="tab">Database</a></li>
    <li><a href="#dataserver" aria-controls="dataserver" role="tab" data-toggle="tab">Data Server</a></li>
    <li><a href="#webshop" aria-controls="webshop" role="tab" data-toggle="tab">WebShop</a></li>
    <li><a href="#market" aria-controls="market" role="tab" data-toggle="tab">Market</a></li>
    <li><a href="#cart" aria-controls="cart" role="tab" data-toggle="tab">Cart</a></li>
    <li><a href="#stats-shop" aria-controls="stats-shop" role="tab" data-toggle="tab">Stats Shop</a></li>
    <li><a href="#account-menu" aria-controls="account-menu" role="tab" data-toggle="tab">Account Menu</a></li>
    <li><a href="#referrals" aria-controls="referrals" role="tab" data-toggle="tab">Referral System</a></li>
    <li><a href="#vote-reward" aria-controls="vote-reward" role="tab" data-toggle="tab">Vote Reward</a></li>
    <li><a href="#bonus-codes" aria-controls="bonus-codes" role="tab" data-toggle="tab">Bonus Codes</a></li>
    <li><a href="#character-evolution" aria-controls="character-evolution" role="tab" data-toggle="tab">Character Evolution</a></li>
    <li><a href="#vip-levels" aria-controls="vip-levels" role="tab" data-toggle="tab">VIP Levels</a></li>
    <li><a href="#wcoin-shop" aria-controls="wcoin-shop" role="tab" data-toggle="tab">WCoin Shop</a></li>
    <li><a href="#castle-siege-cycle" aria-controls="castle-siege-cycle" role="tab" data-toggle="tab">Castle Siege Cycle</a></li>
</ul>

<div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="general">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.exp) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.drop) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.version) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.description) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.maxOnline) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.addOnline) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.enabled) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="database">
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.database) }}
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="dataserver">
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.dataServer) }}
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="webshop">
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.webShopConfig) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                {% embed '@App/layout/_partials/card.html.twig' %}
                    {% block heading %}WebShop Categories{% endblock %}
                    {% block content %}
                        <div class="row">
                            <div class="col-sm-12">
                                {% include '@App/admin/webshop_category/_partials/list.html.twig' with {categories: webShopCategories} %}
                            </div>
                        </div>

                        {% if webShopConfig is not null and webShopConfig.getId is not null %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-success" href="{{ path('sky_admin_webshop.category_create', {id: webShopConfig.getId}) }}">New</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endblock %}
                {% endembed %}

            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="market">
        <div class="row">
            <div class="col-sm-12">
                {% embed '@App/layout/_partials/card.html.twig' %}
                    {% block heading %}Market{% endblock %}
                    {% block content %}
                        {{ form_row(form.marketConfig) }}
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="cart">
        <div class="row">
            <div class="col-sm-12">

                {% embed '@App/layout/_partials/card.html.twig' %}
                    {% block heading %}Cart Discount Coupons{% endblock %}
                    {% block content %}
                        <div class="row">
                            <div class="col-sm-12">
                                {% include '@App/admin/cart_discount_coupons/_partials/list.html.twig' with {coupons: webShopDiscountCoupons} %}
                            </div>
                        </div>

                        {% if server.id is not null %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-success" href="{{ path('sky_admin_cart.discount.coupon_create', {id: server.id}) }}">New</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endblock %}
                {% endembed %}

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                {% embed '@App/layout/_partials/card.html.twig' %}
                    {% block heading %}Cart Persistent Discount{% endblock %}
                    {% block content %}
                        <div class="row">
                            <div class="col-sm-12">
                                {% include '@App/admin/cart_persistent_discounts/_partials/list.html.twig' with {discounts: webShopPersistentDiscounts} %}
                            </div>
                        </div>

                        {% if server.id is not null %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-success" href="{{ path('sky_admin_cart.persistent.discount_create', {id: server.id}) }}">New</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endblock %}
                {% endembed %}

            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="stats-shop">
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.statsShopConfig) }}
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="account-menu">
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.accountMenuConfig) }}
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="referrals">
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.referralConfig) }}
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="vote-reward">
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.voteRewardConfig) }}
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="bonus-codes">
        <div class="row">
            <div class="col-sm-12">
                {% embed '@App/layout/_partials/card.html.twig' %}
                    {% block heading %}Bonus Codes{% endblock %}
                    {% block content %}
                        <div class="row">
                            <div class="col-sm-12">
                                {% include '@App/admin/bonus_code/_partials/list.html.twig' with {bonusCodes: bonusCodes} %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-success" href="{{ path('sky_admin_bonus.code_create', {id: server.getId}) }}">Generate</a>
                            </div>
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="character-evolution">
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.characterEvolutionConfig) }}
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="vip-levels">
        <div class="row">
            <div class="col-sm-12">
                {% embed '@App/layout/_partials/card.html.twig' %}
                    {% block heading %}VIP Levels{% endblock %}
                    {% block content %}
                        <div class="row">
                            <div class="col-sm-12">
                                {% include '@App/admin/vip_level/_partials/list.html.twig' with {levels: vipLevels} %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-success" href="{{ path('sky_admin_vip.level_create', {id: server.getId}) }}">Create</a>
                            </div>
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="wcoin-shop">
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.wCoinShopConfig) }}
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="castle-siege-cycle">
        <div class="row">
            <div class="col-sm-12">
                {% embed '@App/layout/_partials/card.html.twig' %}
                    {% block heading %}Castle Siege Cycles{% endblock %}
                    {% block content %}
                        <div class="row">
                            <div class="col-sm-12">
                                {% include '@App/admin/castle_siege_cycle/_partials/list.html.twig' with {cycles: castleSiegeCycles} %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-success" href="{{ path('sky_admin_castle.siege.cycle_create', {id: server.getId}) }}">Create</a>
                            </div>
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
</div>


<button type="submit" class="btn btn-success">Save</button>
<a href="{{ path('sky_admin_servers_index') }}" class="btn btn-default">Back</a>