{% extends '@App/layout/page.html.twig' %}

{% block content %}
    <div class="row admin">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Exp</th>
                    <th>Drop</th>
                    <th>Version</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="admin_news">
                {% for serverData in servers.list %}
                    {% set server = serverData.server %}
                    <tr>
                        <td>{{ server.getName }}</td>
                        <td>
                            {{ server.getExp }}
                        </td>
                        <td>{{ server.getDrop }}</td>
                        <td>{{ server.getVersion }}</td>
                        <td class="controls">
                            <div class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Menu</a>
                                <ul class="dropdown-menu">
                                    {#<li>#}
                                        {#<a href="{{ path('sky_admin_servers_webshop_index', {id: server.getId}) }}">#}
                                            {#<i class="fa fa-shopping-cart"></i>#}
                                            {#<span class="text">WebShop Config</span>#}
                                        {#</a>#}
                                    {#</li>#}
                                    <li>
                                        <a href="{{ path('sky_admin_servers_edit', {id: server.getId}) }}">
                                            <span class="text">Edit</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('sky_admin_servers_remove', {id: server.getId}) }}">
                                            <span class="text">Remove</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-success" href="{{ path('sky_admin_servers_create') }}">New</a>
        </div>
    </div>
{% endblock %}