{% extends '@App/layout/page.html.twig' %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}

        {% block heading %}Change Zen in Zen Bank{% endblock %}
        {% block content %}
            {% form_theme form with [
                '@App/layout/Form/form_errors.html.twig',
            ] %}
            <div class="row -page -manager">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">Zen Bank:</div>
                                <div class="col-sm-8">
                                    <span>{{ zenBank }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_errors(form) }}

                            {{ form_start(form) }}

                            <div class="row">
                                <div class="col-sm-12">
                                    {{ form_row(form.amount) }}
                                </div>
                            </div>

                            <button type="submit" class="button -filled -green">Change</button>
                            {{ form_end(form) }}
                        </div>
                    </div>

                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}