{% extends '@App/layout/page.html.twig' %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}

        {% block heading %}Change Coins{% endblock %}
        {% block content %}
            <div class="row -page -manager">
                <div class="col-sm-12">
                    {% form_theme form with [
                        '@App/layout/Form/form_errors.html.twig',
                    ] %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">Current WCoinC:</div>
                                <div class="col-sm-8">
                                    <span>{{ resultCoins.wCoinC }}</span>
                                </div>
                            </div>
                            {#<div class="row">#}
                            {#<div class="col-sm-3">Current WCoinP:</div>#}
                            {#<div class="col-sm-9">#}
                            {#<span>{{ resultCoins.wCoinP }}</span>#}
                            {#</div>#}
                            {#</div>#}
                            {#<div class="row">#}
                            {#<div class="col-sm-3">Current WCoinG:</div>#}
                            {#<div class="col-sm-9">#}
                            {#<span>{{ resultCoins.wCoinG }}</span>#}
                            {#</div>#}
                            {#</div>#}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_errors(form) }}

                            {{ form_start(form) }}

                            <div class="row">
                                <div class="col-sm-12">
                                    {{ form_row(form.wCoinC) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ form_row(form.wCoinP) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ form_row(form.wCoinG) }}
                                </div>
                            </div>

                            <button type="submit" class="button -filled -green">Change</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}
    {% endembed %}
{% endblock %}