{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.web_shop.bought'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            <div class="row webshop -page -bought">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-success">
                                {{ 'web_shop.bought.0'|trans }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="{{ path('sky_webshop_index') }}" class="button -green">{{ 'web_shop.bought.1'|trans }}</a>
                            <a href="{{ path('sky_cart_index') }}" class="button -blue">{{ 'web_shop.bought.2'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}