{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.web_shop.buy'|trans({ITEM: item.getItem.getName}) }}{% endblock %}

{% block page_heading %}{{ 'web_shop.buy.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            {% form_theme form with [
            '@App/layout/Form/form_errors.html.twig',
            '@App/layout/Form/checkbox_widget.html.twig',
            ] %}

            <div class="row webshop -page -buy">
                <ul class="col-sm-12">
                    {% if enabled is defined and enabled == false %}
                        <div class="alert alert-warning">
                            {{ 'web_shop.buy.16'|trans }}
                        </div>
                    {% else %}

                        {{ form_errors(form) }}

                        {% if categoryConfig.globalCreditsDiscountPercent != 0 and categoryConfig.globalMoneyDiscountPercent != 0 %}
                            <ul class="discount">
                                    {% if categoryConfig.globalCreditsDiscountPercent != 0 %}
                                        <li class="label wcoin">
                                            {{ 'web_shop.buy.13'|trans({PERCENT: categoryConfig.globalCreditsDiscountPercent}) }}
                                            {{ 'web_shop.buy.14'|trans }}
                                        </li>
                                    {% endif %}
                                    {% if categoryConfig.globalMoneyDiscountPercent != 0 %}
                                        <li class="label money">
                                            {{ 'web_shop.buy.13'|trans({PERCENT: categoryConfig.globalMoneyDiscountPercent}) }}
                                            {{ 'web_shop.buy.15'|trans }}
                                        </li>
                                    {% endif %}
                            </ul>
                        {% endif %}

                        <div class="row item-title">
                            <div class="col-sm-12">
                                <span>{{ item.getItem.getName }}</span>
                            </div>
                        </div>

                        <div class="row item-bg-container">
                            <div class="col-sm-12 item-bg">
                                {% include '@App/_partials/items/_partials/image.html.twig' with {itemInfo: item.getItem, level: item.getItem.getLevel > 0 ? item.getItem.getLevel : null} %}
                            </div>
                        </div>


                        {{ form_start(form, {attr: {
                            'data-level-price-add-money': categoryConfig.getLevelPriceAddMoney,
                            'data-option-price-add-money': categoryConfig.getOptionPriceAddMoney,
                            'data-level-price-add-credits': categoryConfig.getLevelPriceAddCredits,
                            'data-option-price-add-credits': categoryConfig.getOptionPriceAddCredits,
                            'data-skill-price-multiplier': categoryConfig.getSkillPriceMultiplier,
                            'data-luck-price-multiplier': categoryConfig.getLuckPriceMultiplier,
                            'data-excellent-price-multiplier': categoryConfig.getExcellentPriceMultiplier,
                            'data-ancient-price-multiplier': categoryConfig.getAncientPriceMultiplier,
                            'data-harmony-price-multiplier': categoryConfig.getHarmonyPriceMultiplier,
                            'data-pvp-price-multiplier': categoryConfig.getPvpPriceMultiplier,
                            'data-max-exc-count': categoryConfig.getMaxExcCount,
                            'data-persistent-discount-credits': webShop.discount.credits ? webShop.discount.credits.getDiscount : 0,
                            'data-persistent-discount-money': webShop.discount.money ? webShop.discount.money.getDiscount : 0,
                            'data-global-credits-discount-percent': categoryConfig.globalCreditsDiscountPercent,
                            'data-global-money-discount-percent': categoryConfig.globalMoneyDiscountPercent,
                        }}) }}

                        {{ form_row(form._token) }}

                        {% if form.level is defined or form.skill is defined %}
                            <ul class="options-basic">
                                {% if form.level is defined %}
                                    <li class="level">
                                        {{ form_label(form.level) }}
                                        {{ form_widget(form.level) }}
                                    </li>
                                {% endif %}

                                {% if form.option is defined %}
                                    <li class="option">
                                        {{ form_label(form.option) }}
                                        {{ form_widget(form.option) }}
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}

                        {% if form.skill is defined or form.luck is defined %}
                            <ul class="options-advanced">
                                {% if form.luck is defined %}
                                    <li class="checkbox-primary">
                                        {{ form_widget(form.luck) }}
                                    </li>
                                {% endif %}

                                {% if form.skill is defined %}
                                    <li class="checkbox-primary">
                                        {{ form_widget(form.skill) }}
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}


                        {% if form.excellent is defined %}

                            {% embed '@App/layout/_partials/card.html.twig' %}
                                {% block heading %}{{ form_label(form.excellent) }}{% endblock %}
                                {% block content %}
                                    {{ form_errors(form.excellent) }}
                                    <ul class="options-excellent">
                                        {% for excellentOption in form.excellent.children %}
                                            <li class="checkbox-primary">
                                                {{- form_widget(excellentOption) -}}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endblock %}
                            {% endembed %}
                        {% endif %}

                        {% if form.ancient is defined %}
                            <div class="options-harmony">
                                {{ form_label(form.ancient) }}
                                {{ form_widget(form.ancient) }}
                            </div>
                        {% endif %}

                        {% if form.harmony is defined %}
                            <div class="options-harmony">
                                {{ form_label(form.harmony) }}
                                {{ form_widget(form.harmony) }}
                            </div>
                        {% endif %}

                        {% if form.pvp is defined %}
                            <div class="options-harmony">
                                {{ form_label(form.pvp) }}
                                {{ form_widget(form.pvp) }}
                            </div>
                        {% endif %}

                        <ul class="price">
                            {% if form.priceCredits is defined %}
                                <li class="credits">
                                    {{ form_row(form.priceCredits) }}
                                    <div class="regular">
                                        <span>{{ 'web_shop.buy.1'|trans }}</span>
                                        <span class="-wcoin">{{ 'web_shop.buy.14'|trans }}: </span>
                                        <span class="value"></span>
                                    </div>
                                    <div class="description">
                                        <span class="value"></span>
                                    </div>
                                </li>
                            {% endif %}
                            {% if form.priceMoney is defined %}
                                <li class="money">
                                    {{ form_row(form.priceMoney) }}
                                    <div class="regular">
                                        <span>{{ 'web_shop.buy.2'|trans }}</span>
                                        <span class="-money">{{ 'web_shop.buy.15'|trans }}: </span>
                                        <span class="value"></span>
                                    </div>
                                    <div class="description">
                                        <span class="value"></span>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>

                        <div class="row -text-center">
                            <div class="col-sm-12">
                                <button type="submit" class="button -green">{{ 'web_shop.buy.3'|trans }}</button>
                            </div>
                        </div>

                        {{ form_end(form, {'render_rest': false}) }}

                    {% endif %}
                </ul>
            </div>

        {% endblock %}
    {% endembed %}
{% endblock %}