{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.web_shop.index'|trans }}{% endblock %}

{% block page_heading %}{{ 'web_shop.index.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            <div class="row webshop -page -index">
                <div class="col-sm-12">
                    {% if config.isEnabled == false %}
                        <div class="alert alert-warning">
                            {{ 'web_shop.index.1'|trans }}
                        </div>
                    {% else %}
                        {% include '@App/webshop/_partials/index/categories.html.twig' with {categoriesByLevels: categoriesByLevels} %}
                    {% endif %}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}