{% extends '@App/layout/page.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-success" href="{{ path('sky_admin_cache.manager_invalidate') }}">Invalidate Cache</a>
        </div>
    </div>
{% endblock %}