{% extends '@App/layout/page.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {% embed '@App/layout/_partials/card.html.twig' %}

                {% block heading %}Console Output{% endblock %}
                {% block content %}
                    <pre class="console">{{ output|ansi_to_html|raw }}</pre>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}