{% embed '@App/layout/_partials/modal.html.twig' with {size: 'lg', id: 'modal-skill-tree', title: 'character_info.skill_tree.modal.title'|trans} %}
    {% block modal_body %}
        <span class="class-title">{{ character.classInfo.name }}</span>
        <div class="master-level">
            <span>Master level: </span>
            <span>{{ character.masterLevel }}</span>
        </div>
        <div class="points">
            <span>Level point: </span>
            <span>{{ character.masterPoints }}</span>
        </div>
        <a href="#" class="close-button" data-dismiss="modal"></a>
        <div class="sections">
            {% set idx = 0 %}
            {% for sectionTitle, masterSkills in character.classInfo.masterSkillIdsMap %}
                {% set idx = idx + 1 %}

                {% include '@App/character/_partials/magic_list/skill_tree/section.html.twig' with {sectionIds: masterSkills, sectionTitle: sectionTitle, idx: idx} %}
            {% endfor %}
        </div>
    {% endblock %}
{% endembed %}