{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <p class="-center -bold">
                <span>{{ 'faq.event.blood_castle.0'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.event.blood_castle.1'|trans }}</span>
                <span>{{ 'faq.event.blood_castle.2'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.event.blood_castle.3'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.blood_castle.4'|trans }}</span>
                <span>{{ 'faq.event.blood_castle.5'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.event.blood_castle.6'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.blood_castle.7'|trans }}</span>
                <span>{{ 'faq.event.blood_castle.8'|trans }}</span>
                <span class="-wcoin">{{ 'faq.event.blood_castle.9'|trans }}</span>
                <span>{{ 'faq.event.blood_castle.10'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.blood_castle.11'|trans }}</span>
                <span>{{ 'faq.event.blood_castle.12'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.event.blood_castle.13'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.event.blood_castle.1'|trans }}</span>
                <span>{{ 'faq.event.blood_castle.14'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.blood_castle.15'|trans }}</span>
                <span>{{ 'faq.event.blood_castle.16'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.event.blood_castle.17'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.blood_castle.18'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.blood_castle.15'|trans }}</span>
                <span>{{ 'faq.event.blood_castle.19'|trans }}</span>
            </p>

            <div class="row memo">
                <div class="col-sm-12">
                    <span>{{ 'faq.event.blood_castle.20'|trans }}</span>
                    <span class="-bold -violet">{{ 'faq.event.blood_castle.1'|trans }}</span><span>{{ 'faq.event.blood_castle.21'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.blood_castle.15'|trans }}</span>
                    <span>{{ 'faq.event.blood_castle.22'|trans }}</span>
                </div>
            </div>

            <p>
                <span>{{ 'faq.event.blood_castle.23'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.blood_castle.24'|trans }}</span>
            </p>


            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}