{% spaceless %}

    <div class="row public faq -page">
        <div class="col-sm-12">

            <p class="-center -bold">
                <span>{{ 'faq.event.cherry_blossom.0'|trans }}</span>
                <span class="-violet">{{ 'faq.event.cherry_blossom.1'|trans }}</span>
                <span>{{ 'faq.event.cherry_blossom.2'|trans }}</span>
                <span class="-dark-burgundy-1">{{ 'faq.event.cherry_blossom.3'|trans }}</span>
                <span>{{ 'faq.event.cherry_blossom.4'|trans }}</span>
                <span class="-dark-burgundy-1">{{ 'faq.event.cherry_blossom.5'|trans }}</span>,
                <span>{{ 'faq.event.cherry_blossom.22'|trans }}</span>
                <span class="-zen">{{ 'faq.event.cherry_blossom.23'|trans }}</span>.<br>
                <span>{{ 'faq.event.cherry_blossom.6'|trans }}</span>
                <a href="#" data-route="sky_faq_drop.from.boxes" data-fragment="cherry-blossom-play-box">{{ 'faq.event.cherry_blossom.7'|trans }}</a>
            </p>

            <p>
                <span>{{ 'faq.event.cherry_blossom.8'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.event.cherry_blossom.3'|trans }}</span>
                <span>{{ 'faq.event.cherry_blossom.4'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.event.cherry_blossom.5'|trans }}</span>
                <span>{{ 'faq.event.cherry_blossom.9'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.cherry_blossom.10'|trans }}</span>,
                <span>{{ 'faq.event.cherry_blossom.11'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.cherry_blossom.12'|trans }}</span>
                <span>{{ 'faq.event.cherry_blossom.13'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.cherry_blossom.14'|trans }}</span>
                <span>{{ 'faq.event.cherry_blossom.15'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.event.cherry_blossom.16'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.event.cherry_blossom.3'|trans }}</span>
                <span>{{ 'faq.event.cherry_blossom.17'|trans }}</span>
                <span class="-bold -dark-burgundy-1">10</span>
                <span>{{ 'faq.event.cherry_blossom.18'|trans }}</span>.
            </p>

            <p>
                <span>{{ 'faq.event.cherry_blossom.16'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.event.cherry_blossom.5'|trans }}</span>
                <span>{{ 'faq.event.cherry_blossom.17'|trans }}</span>
                <span class="-bold -dark-burgundy-1">30</span>
                <span>{{ 'faq.event.cherry_blossom.18'|trans }}</span>.
            </p>

            <p>
                <span class="-bold -violet">{{ 'faq.event.cherry_blossom.3'|trans }}</span>
                <span>{{ 'faq.event.cherry_blossom.4'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.event.cherry_blossom.5'|trans }}</span>
                <span>{{ 'faq.event.cherry_blossom.19'|trans }}</span>:
            </p>

            <div class="row -m-top-25">
                <div class="col-sm-12">
                    <ul class="key-value-container -font-size-small">
                        <li class="-item -m-top-15"><span class="-value">Jewel of Bless</span></li>
                        <li class="-item"><span class="-value">Jewel of Soul</span></li>
                        <li class="-item"><span class="-value">Jewel of Life</span></li>
                        <li class="-item"><span class="-value">Jewel of Chaos</span></li>
                        <li class="-item"><span class="-value">Bundle of Jewel of Chaos (10)</span></li>
                        <li class="-item"><span class="-value">Bundle of Jewel of Bless (10)</span></li>
                        <li class="-item"><span class="-value">Bundle of Jewel of Soul (10)</span></li>
                        <li class="-item"><span class="-value">Bundle of Jewel of Life (10)</span></li>
                        <li class="-item"><span class="-value">Bundle of Jewel of Creation (10)</span></li>
                        <li class="-item"><span class="-value">Jewel of Dark Bless</span></li>
                        <li class="-item"><span class="-value">Jewel of Dark Soul</span></li>
                        <li class="-item"><span class="-value">Jewel of Dark Life</span></li>
                        <li class="-item"><span class="-value">2nd Lucky Item Ticket</span></li>
                    </ul>
                </div>
            </div>

            <p>
                <span>{{ 'faq.event.cherry_blossom.20'|trans }}</span>.
                <span>{{ 'faq.event.cherry_blossom.21'|trans }}</span>.
            </p>

            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}