{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <p class="-center -bold">
                <span>{{ 'faq.event.gladiator_buff.0'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.event.gladiator_buff.1'|trans }}</span>
                <span>{{ 'faq.event.gladiator_buff.2'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.event.gladiator_buff.3'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.event.gladiator_buff.1'|trans }}</span>
                <span>{{ 'faq.event.gladiator_buff.4'|trans }}</span>
            </p>

            <div class="row memo">
                <div class="col-sm-12">
                    <span>{{ 'faq.event.gladiator_buff.5'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.gladiator_buff.6'|trans }}</span>
                    <span>{{ 'faq.event.gladiator_buff.7'|trans }}</span>
                </div>
            </div>

            <div class="row memo -margin-top-10">
                <div class="col-sm-12">
                    <span>{{ 'faq.event.gladiator_buff.8'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.gladiator_buff.9'|trans }}</span>
                    <span>{{ 'faq.event.gladiator_buff.10'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.gladiator_buff.11'|trans }}</span>.
                    <span>{{ 'faq.event.gladiator_buff.12'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.gladiator_buff.13'|trans }}</span>
                    <span>{{ 'faq.event.gladiator_buff.14'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.gladiator_buff.15'|trans }}</span>.
                </div>
            </div>

            <p>
                <span>{{ 'faq.event.gladiator_buff.16'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.gladiator_buff.17'|trans }}</span>
                <span>{{ 'faq.event.gladiator_buff.18'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.gladiator_buff.15'|trans }}</span>
                <span>{{ 'faq.event.gladiator_buff.19'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.gladiator_buff.20'|trans }}</span>
                <span>{{ 'faq.event.gladiator_buff.21'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.gladiator_buff.15'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.gladiator_buff.11'|trans }}</span>
                <span>{{ 'faq.event.gladiator_buff.22'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.gladiator_buff.23'|trans }}</span>
                <span>{{ 'faq.event.gladiator_buff.24'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.gladiator_buff.25'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.event.gladiator_buff.26'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.event.gladiator_buff.1'|trans }}</span>
                <span>{{ 'faq.event.gladiator_buff.28'|trans }}</span>
            </p>

            <div class="row">
                <div class="col-sm-6">
                    <ul class="key-value-container">
                        <li class="-item">
                                    <span class="-value">
                                        <span>{{ 'faq.event.gladiator_buff.29'|trans }}</span>
                                        <span class="-bold -dark-burgundy-1">{{ 'faq.event.gladiator_buff.30'|trans }}</span>
                                    </span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="key-value-container">
                        <li class="-item">
                                    <span class="-value">
                                        <span>{{ 'faq.event.gladiator_buff.31'|trans }}</span>
                                    </span>
                        </li>
                    </ul>
                </div>
            </div>

            <p>
                <span>{{ 'faq.event.gladiator_buff.32'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.gladiator_buff.33'|trans }}</span>
                <span>{{ 'faq.event.gladiator_buff.34'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.gladiator_buff.35'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.event.gladiator_buff.36'|trans }}</span>
            </p>

            <p class="-bold -center -dark-burgundy-1">
                <span>{{ 'faq.event.gladiator_buff.37'|trans }}</span>
            </p>


            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}