{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <p class="-center -bold">
                <span>{{ 'faq.event.happy_hour.0'|trans }}</span>
                <span class="-violet">{{ 'faq.event.happy_hour.1'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.event.happy_hour.2'|trans }}</span>
            </p>

            <ul class="key-value-container">
                {% for server in servers.list %}
                    {% if server.server.getFaqInfo is not null and server.server.getFaqInfo.getValues.events is not null and server.server.getFaqInfo.getValues.events.happy_hour is not null %}
                        <li class="-item">
                            <div class="-value">
                                {#<span class="-dark-burgundy-1">{{ 'faq.event.happy_hour.3'|trans }}</span>#}
                                {#<span class="-dark-burgundy-1 -bold">{{ server.server.getName }}</span>#}
                                <span class="-dark-burgundy-1">{{ 'faq.event.happy_hour.4'|trans }}</span>
                                <span class="-dark-burgundy-1 -bold">{{ server.server.getFaqInfo.getValues.events.happy_hour.exp_add }}
                                    %</span>,
                                <span class="-dark-burgundy-1">{{ 'faq.event.happy_hour.5'|trans }}</span>
                                <span class="-dark-burgundy-1 -bold">{{ server.server.getFaqInfo.getValues.events.happy_hour.drop_add }}
                                    %</span>,
                                <span class="-dark-burgundy-1">{{ 'faq.event.happy_hour.6'|trans }}</span>
                                <span class="-dark-burgundy-1 -bold">{{ server.server.getFaqInfo.getValues.events.happy_hour.exc_drop_add }}
                                    %</span>.
                            </div>
                        </li>

                    {% endif %}
                {% endfor %}
            </ul>


            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}