{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <p class="-center -bold">
                <span>{{ 'faq.event.jewels_hunt.0'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.event.jewels_hunt.1'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.event.jewels_hunt.2'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.jewels_hunt.23'|trans }}</span>
                <span>{{ 'faq.event.jewels_hunt.24'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.jewels_hunt.25'|trans }}</span>.
                <span>{{ 'faq.event.jewels_hunt.3'|trans }}</span>
            </p>

            <div class="memo row">
                <div class="col-sm-12">
                    <span>{{ 'faq.event.jewels_hunt.4'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.jewels_hunt.5'|trans }}</span>
                    <span>{{ 'faq.event.jewels_hunt.6'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.jewels_hunt.7'|trans }}</span>.
                </div>
            </div>

            <div class="memo row -margin-top-5">
                <div class="col-sm-12">
                    <span>{{ 'faq.event.jewels_hunt.4'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.jewels_hunt.8'|trans }}</span>
                    <span>{{ 'faq.event.jewels_hunt.6'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.jewels_hunt.9'|trans }}</span>.
                </div>
            </div>

            <p>
                <span>{{ 'faq.event.jewels_hunt.10'|trans }}</span>
                <span>{{ 'faq.event.jewels_hunt.11'|trans }}</span>
            </p>


            <div class="memo row -margin-top-5">
                <div class="col-sm-12">
                    <span>{{ 'faq.event.jewels_hunt.12'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.jewels_hunt.13'|trans }}</span>,
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.jewels_hunt.14'|trans }}</span>.
                </div>
            </div>

            <p>
                <span>{{ 'faq.event.jewels_hunt.15'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.jewels_hunt.16'|trans }}</span>
                <span>{{ 'faq.event.jewels_hunt.17'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.jewels_hunt.18'|trans }}</span>
                <span>{{ 'faq.event.jewels_hunt.19'|trans }}</span>
                <a href="#" data-route="sky_faq_drop.from.boxes" data-fragment="silver-box">
                    <span class="-bold">{{ 'faq.event.jewels_hunt.16'|trans }}</span>
                    <span class="-bold">{{ 'faq.event.jewels_hunt.20'|trans }}</span>
                </a>
                <span>{{ 'faq.event.jewels_hunt.17'|trans }}</span>
                <a href="#" data-route="sky_faq_drop.from.boxes" data-fragment="golden-box">
                    <span class="-bold">{{ 'faq.event.jewels_hunt.18'|trans }}</span>
                    <span class="-bold">{{ 'faq.event.jewels_hunt.20'|trans }}</span>
                </a>
                <span>{{ 'faq.event.jewels_hunt.21'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.event.jewels_hunt.22'|trans }}</span>
            </p>

            <div class="row">
                <div class="col-sm-6">
                    <ul class="key-value-container">
                        <li class="-item">
                            <div class="-value">
                                <a href="#" data-route="sky_faq_drop.from.boxes" data-fragment="silver-box">
                                    <span class="-bold">{{ 'faq.event.jewels_hunt.16'|trans }} </span>
                                    <span class="-bold">{{ 'faq.event.jewels_hunt.20'|trans }}</span>
                                </a>
                            </div>
                        </li>
                        <li class="-item">
                            <ul class="-key">
                                <li class="-zen">1.5kk Zen</li>
                            </ul>
                            <span class="-value">40%</span>
                        </li>
                        <li class="-item">
                            <ul class="-key">
                                <li>Jewel of Dark Bless</li>
                                <li>Jewel of Dark Soul</li>
                            </ul>
                            <span class="-value">60%</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="key-value-container">
                        <li class="-item">
                            <div class="-value">
                                <a href="#" data-route="sky_faq_drop.from.boxes" data-fragment="golden-box">
                                    <span class="-bold">{{ 'faq.event.jewels_hunt.18'|trans }} </span>
                                    <span class="-bold">{{ 'faq.event.jewels_hunt.20'|trans }}</span>
                                </a>
                            </div>
                        </li>
                        <li class="-item">
                            <ul class="-key">
                                <li class="-zen">3kk Zen</li>
                            </ul>
                            <span class="-value">25%</span>
                        </li>
                        <li class="-item">
                            <ul class="-key">
                                <li>Jewel of Dark Bless</li>
                                <li>Jewel of Dark Soul</li>
                                <li>Jewel of Dark Life</li>
                            </ul>
                            <span class="-value">75%</span>
                        </li>
                    </ul>
                </div>
            </div>

            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}