{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">
            <p class="-center -bold">
                <span>{{ 'faq.event.lms.0'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.event.lms.1'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.event.lms.2'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.event.lms.3'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.event.lms.4'|trans }}</span>
                <span class="-bol -dark-burgundy-1">{{ 'faq.event.lms.5'|trans }}</span>
                <span>{{ 'faq.event.lms.6'|trans }}</span>
                <span class="-bol -dark-burgundy-1">{{ 'faq.event.lms.7'|trans }}</span>
                <span>{{ 'faq.event.lms.8'|trans }}</span>
                <span class="-bol -dark-burgundy-1">{{ 'faq.event.lms.9'|trans|raw }}</span>
                <span>{{ 'faq.event.lms.10'|trans }}</span>
            </p>

            <div class="row memo">
                <div class="col-sm-12">
                    <span>{{ 'faq.event.lms.11'|trans }}</span>
                </div>
            </div>

            <p>
                <span>{{ 'faq.event.lms.12'|trans }}</span>
            </p>

            <div class="row memo">
                <div class="col-sm-12">
                    <span>{{ 'faq.event.lms.13'|trans }}</span>
                </div>
            </div>

            <p>
                <span>{{ 'faq.event.lms.14'|trans }}</span>
                <span>{{ 'faq.event.lms.15'|trans }}</span>
                <span>{{ 'faq.event.lms.16'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.event.lms.17'|trans }}</span>
                <a href="#" data-route="sky_faq_event_rewards" data-fragment="last-man-standing" class="-bold">{{ 'faq.event.lms.18'|trans }}</a>
            </p>


            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}