{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <p class="-center -bold">
                <span>{{ 'faq.event.medusa.0'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.medusa.1'|trans }}</span>
                <span>{{ 'faq.event.medusa.2'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.event.medusa.3'|trans }}</span>
                <span>{{ 'faq.event.medusa.4'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.event.medusa.5'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.event.medusa.6'|trans }}</span>
            </p>

            <div class="row memo">
                <div class="col-sm-12">
                    <span>{{ 'faq.event.medusa.7'|trans }}</span>
                    <span class="-bold -violet">{{ 'faq.event.medusa.5'|trans }}</span>
                    <span>{{ 'faq.event.medusa.8'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.medusa.9'|trans }}</span>
                    <span>{{ 'faq.event.medusa.10'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.medusa.11'|trans }}</span>
                    <span>{{ 'faq.event.medusa.12'|trans }}</span>
                    <span class="-bold -zen">{{ 'faq.event.medusa.13'|trans }}</span>
                </div>
            </div>

            <div class="row memo -margin-top-10">
                <div class="col-sm-12">
                    <span>{{ 'faq.event.medusa.7'|trans }}</span>
                    <span class="-bold -violet">{{ 'faq.event.medusa.3'|trans }}</span>
                    <span>{{ 'faq.event.medusa.8'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.medusa.14'|trans }}</span>
                    <span>{{ 'faq.event.medusa.10'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.medusa.15'|trans }}</span>
                    <span>{{ 'faq.event.medusa.12'|trans }}</span>
                    <span class="-bold -zen">{{ 'faq.event.medusa.16'|trans }}</span>
                </div>
            </div>

            <p>
                <span>{{ 'faq.event.medusa.17'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.medusa.18'|trans }}</span>
                <span>{{ 'faq.event.medusa.19'|trans }}</span>
            </p>


            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}