{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <p class="-center -bold">
                <span>{{ 'faq.event.rewards.0'|trans }}</span>
            </p>

            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold"><a href="#" data-route="sky_faq_event_blood.castle">{{ 'faq.index.76'|trans }}</a></td>
                    <td>
                        <ul>
                            <li>Jewel of Chaos</li>
                            <li>Panda</li>
                            <li>Skeleton</li>
                            <li>Demon</li>
                            <li>Unicorn</li>
                            <li>Excellent Divine Sword of Archangel</li>
                            <li>Excellent Divine Scepter of Archangel</li>
                            <li>Excellent Divine Crossbow of Archangel</li>
                            <li>Excellent Divine Staff of Archangel</li>
                            <li>Excellent Divine Stick of Archangel</li>
                            <li class="-bold -no-list-style -blue">{{ 'faq.event.rewards.13'|trans }}</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Devil Square</td>
                    <td>
                        <ul>
                            <li>{{ 'faq.event.rewards.4'|trans }}</li>
                            <li>Exp</li>
                            <li>{{ 'faq.event.rewards.14'|trans }}</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Chaos Castle</td>
                    <td>
                        <ul>
                            <li>{{ 'faq.event.rewards.5'|trans }}</li>
                            <li>{{ 'faq.event.rewards.4'|trans }}</li>
                            <li>Ancient Item</li>
                            <li>Jewel of Dark Bless</li>
                            <li>Jewel of Dark Soul</li>
                            <li>Jewel of Dark Life</li>
                            <li>2nd Lucky Item Ticket</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Illusion Temple</td>
                    <td>
                        <ul>
                            <li>Panda Ring</li>
                            <li>Skeleton Transformation Ring</li>
                            <li>Demon</li>
                            <li>Unicorn</li>
                            <li>10 Jewel of Chaos</li>
                            <li>2nd Lucky Item Ticket</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">CryWolf Event</td>
                    <td>
                        <ul>
                            <li class="-no-list-style -bold -no-margin">Dark Elf</li>
                            <li class="-no-list-style">
                                <ul>
                                    <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.7'|trans }}
                                        (Excellent)
                                    </li>
                                    <li class="-no-list-style">
                                        <ul>
                                            <li>Titan</li>
                                            <li>Brave</li>
                                            <li>Divine</li>
                                            <li>Seraphim</li>
                                            <li>Hades</li>
                                            <li>Royal</li>
                                            <li>Phantom</li>
                                            <li>Destroy</li>
                                            <li>Eternal Wing</li>
                                            <li>Succubus</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="-no-list-style -bold -no-margin">Balgass</li>
                            <li class="-no-list-style">
                                <ul>
                                    <li>Sword Breaker</li>
                                    <li>Flameberge</li>
                                    <li>Deadly Staff</li>
                                    <li>Rune Bastard Sword</li>
                                    <li>Deadly Staff</li>
                                    <li>Inberial Staff</li>
                                    <li>Absolute Scepter</li>
                                    <li>Frost Mace</li>
                                    <li>Dark Stinger Bow</li>
                                    <li>Eternal Wing Stick</li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards" id="last-man-standing">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold"><a href="#" data-route="sky_faq_event_last.man.standing">{{ 'faq.index.80'|trans }}</a></td>
                    <td>
                        <ul>
                            <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.7'|trans }}</li>
                            <li>Ashcrow</li>
                            <li>Eclipse</li>
                            <li>Iris</li>
                            <li>Valiant</li>
                            <li>Glorious</li>
                            <li>Red Wing</li>
                            <li>Sacred Fire</li>
                            <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.10'|trans }}</li>
                            <li>Jewel of Bless</li>
                            <li>Jewel of Soul</li>
                            <li>Jewel of Life</li>
                            <li>Jewel of Dark Bless</li>
                            <li>Jewel of Dark Soul</li>
                            <li>5kk Zen</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Maya Event</td>
                    <td>
                        <ul>
                            <li class="-no-list-style -bold -no-margin">Maya's Left Hand</li>
                            <li class="-no-list-style">
                                <ul>
                                    <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.7'|trans }}
                                        (Excellent)
                                    </li>
                                    <li class="-no-list-style">
                                        <ul>
                                            <li>Dragon Knight</li>
                                            <li>Venom Mist</li>
                                            <li>Sylphid Ray</li>
                                            <li>Sunlight</li>
                                            <li>Volcano</li>
                                            <li>Storm Blitz</li>
                                            <li>Phoenix Soul</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="-no-list-style -bold -no-margin">Maya's Right Hand</li>
                            <li class="-no-list-style">
                                <ul>
                                    <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.7'|trans }}
                                        (Excellent)
                                    </li>
                                    <li class="-no-list-style">
                                        <ul>
                                            <li>Dragon Knight</li>
                                            <li>Venom Mist</li>
                                            <li>Sylphid Ray</li>
                                            <li>Sunlight</li>
                                            <li>Volcano</li>
                                            <li>Storm Blitz</li>
                                            <li>Phoenix Soul</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="-no-list-style -bold -no-margin">Nightmare</li>
                            <li class="-no-list-style">
                                <ul>
                                    <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.7'|trans }}
                                        (2 {{ 'faq.event.rewards.11'|trans }})
                                    </li>
                                    <li class="-no-list-style">
                                        <ul>
                                            <li>Dragon Knight</li>
                                            <li>Venom Mist</li>
                                            <li>Sylphid Ray</li>
                                            <li>Sunlight</li>
                                            <li>Volcano</li>
                                            <li>Storm Blitz</li>
                                            <li>Phoenix Soul</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Lord of Kundun</td>
                    <td>
                        <ul>
                            <li>Bone Blade</li>
                            <li>Explosion Blade</li>
                            <li>Soleil Scepter</li>
                            <li>Sylph Wind Bow</li>
                            <li>Grand Viper Staff</li>
                            <li>Storm Blitz Stick</li>
                            <li>Phoenix Soul Star</li>
                            <li>Ancient Item</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Raklion Event</td>
                    <td>
                        <ul>
                            <li class="-no-list-style -bold -no-margin">3 {{ 'faq.event.rewards.11'|trans }}:</li>
                            <li>Jewel of Dark Bless</li>
                            <li>Jewel of Dark Soul</li>
                            <li>Jewel of Dark Life</li>
                            <li>Excellent Ring of Ice</li>
                            <li>Excellent Ring of Poison</li>
                            <li>Excellent Ring of Fire</li>
                            <li>Excellent Ring of Earth</li>
                            <li>Excellent Ring of Wind</li>
                            <li>Excellent Ring of Magic</li>
                            <li>Excellent Pendant of Lighting</li>
                            <li>Excellent Pendant of Fire</li>
                            <li>Excellent Pendant of Ice</li>
                            <li>Excellent Pendant of Wind</li>
                            <li>Excellent Pendant of Water</li>
                            <li>Excellent Pendant of Ability</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Erohim</td>
                    <td>
                        <ul>
                            <li>Sword Breaker</li>
                            <li>Flameberge</li>
                            <li>Deadly Staff</li>
                            <li>Rune Bastard Sword</li>
                            <li>Deadly Staff</li>
                            <li>Inberial Staff</li>
                            <li>Absolute Scepter</li>
                            <li>Frost Mace</li>
                            <li>Dark Stinger Bow</li>
                            <li>Eternal Wing Stick</li>
                            <li>Ancient Item</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold"><a href="#" data-route="sky_faq_event_medusa">{{ 'faq.index.77'|trans }}</a></td>
                    <td>
                        <ul>
                            <li class="-no-list-style -bold -no-margin">Sapi-Queen</li>
                            <li class="-no-list-style">
                                <ul>
                                    <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.9'|trans }}
                                        (Socket 1-5 {{ 'faq.event.rewards.12'|trans }})
                                    </li>
                                    <li class="-no-list-style">
                                        <ul>
                                            <li>Crimson Glory</li>
                                            <li>Salamander Shield</li>
                                            <li>Frost Barrier</li>
                                            <li>Guardian Shield</li>
                                            <li>5kk Zen</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="-no-list-style -bold -no-margin">Medusa</li>
                            <li class="-no-list-style">
                                <ul>
                                    <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.9'|trans }}
                                        (Excellent Socket 1-3 {{ 'faq.event.rewards.12'|trans }})
                                    </li>
                                    <li class="-no-list-style">
                                        <ul>
                                            <li>Crimson Glory</li>
                                            <li>Salamander Shield</li>
                                            <li>Frost Barrier</li>
                                            <li>Guardian Shield</li>
                                            <li>10kk Zen</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold"><a href="#" data-route="sky_faq_event_gladiator.buff">{{ 'faq.index.78'|trans }}</a></td>
                    <td>
                        <ul>
                            <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.7'|trans }}
                                (Socket / Excellent Socket 1-5 {{ 'faq.event.rewards.12'|trans }})
                            </li>
                            <li>Titan</li>
                            <li>Brave</li>
                            <li>Divine</li>
                            <li>Seraphim</li>
                            <li>Hades</li>
                            <li>Royal</li>
                            <li>Phantom</li>
                            <li>Destroy</li>
                            <li>Eternal Wing</li>
                            <li>Succubus</li>
                            <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.8'|trans }}
                                (Socket / Excellent Socket 1-5 {{ 'faq.event.rewards.12'|trans }})
                            </li>
                            <li>Sword Breaker</li>
                            <li>Flameberge</li>
                            <li>Deadly Staff</li>
                            <li>Rune Bastard Sword</li>
                            <li>Deadly Staff</li>
                            <li>Inberial Staff</li>
                            <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.9'|trans }}
                                (Socket / Excellent Socket 1-5 {{ 'faq.event.rewards.12'|trans }})
                            </li>
                            <li>Crimson Glory</li>
                            <li>Salamander Shield</li>
                            <li>Frost Barrier</li>
                            <li>Guardian Shield</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold">
                        <a href="#" data-route="sky_faq_event_white.rabbit.invasion">{{ 'faq.index.34'|trans }}</a>
                    </td>
                    <td>
                        <ul>
                            <li class="-wcoin">WCoin: 1</li>
                            <li>50k Zen</li>
                            <li>Jewel of Creation</li>
                            <li>Jewel of Harmony</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Death King Event</td>
                    <td>
                        <ul>
                            <li class="-no-list-style -bold -no-margin">Death Bone</li>
                            <li class="-no-list-style">
                                <ul>
                                    <li class="-wcoin">WCoin: 3</li>
                                    <li>1st Lucky Item Ticket</li>
                                    <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.7'|trans }}
                                        +6 - +8
                                    </li>
                                    <li>Dragon</li>
                                    <li>Legendary</li>
                                    <li>Guardian</li>
                                    <li>Light Plate</li>
                                    <li>Storm Crow</li>
                                    <li>Red Wing</li>
                                    <li>Sacred Fire</li>
                                    <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.8'|trans }}
                                        +6 - +8
                                    </li>
                                    <li>Great Scythe</li>
                                    <li>Silver Bow</li>
                                    <li>Legendary Staff</li>
                                    <li>Master Scepter</li>
                                    <li>Sacred Glove</li>
                                    <li>Red Wing Stick</li>
                                    <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.9'|trans }}
                                        +6 - +8
                                    </li>
                                    <li>Bronze Shield</li>
                                    <li>Legendary Shield</li>
                                    <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.10'|trans }}</li>
                                    <li>Jewel Bless</li>
                                    <li>Jewel Soul</li>
                                    <li>Jewel Chaos</li>
                                </ul>
                            </li>
                            <li class="-no-list-style -bold -no-margin">Death King</li>
                            <li class="-no-list-style">
                                <ul>
                                    <li class="-wcoin">WCoin: 7</li>
                                    <li>2nd Lucky Item Ticket</li>
                                    <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.7'|trans }}
                                        +10 - +13
                                    </li>
                                    <li>Dragon</li>
                                    <li>Legendary</li>
                                    <li>Guardian</li>
                                    <li>Light Plate</li>
                                    <li>Storm Crow</li>
                                    <li>Red Wing</li>
                                    <li>Sacred Fire</li>
                                    <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.8'|trans }}
                                        +10 - +13
                                    </li>
                                    <li>Great Scythe</li>
                                    <li>Silver Bow</li>
                                    <li>Legendary Staff</li>
                                    <li>Master Scepter</li>
                                    <li>Sacred Glove</li>
                                    <li>Red Wing Stick</li>
                                    <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.9'|trans }}
                                        +10 - +13
                                    </li>
                                    <li>Bronze Shield</li>
                                    <li>Legendary Shield</li>
                                    <li class="-no-list-style -bold -no-margin">{{ 'faq.event.rewards.10'|trans }}</li>
                                    <li>Jewel Bless</li>
                                    <li>Jewel Soul</li>
                                    <li>Jewel Chaos</li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">White Wizard</td>
                    <td>
                        <ul>
                            <li class="-wcoin">WCoin: 5</li>
                            <li>Jewel of Soul</li>
                            <li>Jewel of Life</li>
                            <li>Jewel of Chaos</li>
                            <li>Jewel of Dark Bless</li>
                            <li>Jewel of Dark Soul</li>
                            <li>Jewel of Dark Life</li>
                            <li>1st Lucky Item Ticket</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">White Rabbit</td>
                    <td>
                        <ul>
                            <li class="-wcoin">WCoin: 1</li>
                            <li>Jewel of Creation</li>
                            <li>Jewel of Harmony</li>
                            <li>1st Lucky Item Ticket</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Red Dragon Invasion</td>
                    <td>
                        <ul>
                            <li class="-wcoin">WCoin: 7</li>
                            <li>Jewel of Soul</li>
                            <li>Jewel of Life</li>
                            <li>Jewel of Chaos</li>
                            <li>Jewel of Dark Bless</li>
                            <li>Jewel of Dark Soul</li>
                            <li>Jewel of Dark Life</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Golden Goblin</td>
                    <td>
                        <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-1">Box of Kundun +1</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Golden Rabbit</td>
                    <td>
                        <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-1">Box of Kundun +1</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Golden Titan</td>
                    <td>
                        <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-1">Box of Kundun +1</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Golden Dark Knight</td>
                    <td>
                        <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-1">Box of Kundun +1</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Golden Vepar</td>
                    <td>
                        <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="">Box of Kundun +2</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Golden Lizard King</td>
                    <td>
                        <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-2">Box of Kundun +2</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Golden Devil</td>
                    <td>
                        <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-2">Box of Kundun +2</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Golden Dragon</td>
                    <td>
                        <ul>
                            <li>
                                <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-1">Box of Kundun +1</a>
                            </li>
                            <li>
                                <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-2">Box of Kundun +2</a>
                            </li>
                            <li>
                                <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-3">Box of Kundun +3</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Golden Iron Wheel</td>
                    <td>
                        <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-3">Box of Kundun +3</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Golden Stone Golem</td>
                    <td>
                        <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-3">Box of Kundun +3</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Golden Tantallos</td>
                    <td>
                        <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-3">Box of Kundun +3</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Golden Mega Crust</td>
                    <td>
                        <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-3">Box of Kundun +3</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Golden Satyros</td>
                    <td>
                        <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-4">Box of Kundun +4</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Golden Twin Tail</td>
                    <td>
                        <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-4">Box of Kundun +4</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Great Golden Dragon</td>
                    <td>
                        <ul>
                            <li>
                                <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-3">Box of Kundun +3</a>
                            </li>
                            <li>
                                <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-4">Box of Kundun +4</a>
                            </li>
                            <li>
                                <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-5">Box of Kundun +5</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Golden Napin</td>
                    <td>
                        <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-5">Box of Kundun +5</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Golden Iron Knight</td>
                    <td>
                        <a class="-bold" href="#" data-route="sky_faq_drop.from.boxes" data-fragment="bok-5">Box of Kundun +5</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue"><a href="#" data-route="sky_faq_wings.hunt" data-fragment="">Phoenix of Darkness</a></td>
                    <td>
                        <ul>
                            <li>Wings of Elf</li>
                            <li>Wings of Satan</li>
                            <li>Wings of Heaven</li>
                            <li>Wings of Curse</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Ice Queen</td>
                    <td>Sealed Silver Box (<a href="#" data-route="sky_faq_event_jewels.hunt">{{ 'faq.index.71'|trans }}</a>)
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Hydra</td>
                    <td>Silver Key (<a href="#" data-route="sky_faq_event_jewels.hunt">{{ 'faq.index.71'|trans }}</a>)
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Balrog</td>
                    <td>Sealed Golden Box (<a href="#" data-route="sky_faq_event_jewels.hunt">{{ 'faq.index.71'|trans }}</a>)
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="event_rewards">
                <tbody class="-font-size-small">
                <tr>
                    <td class="-bold -blue">Hell Maine</td>
                    <td>Golden Key (<a href="#" data-route="sky_faq_event_jewels.hunt">{{ 'faq.index.71'|trans }}</a>)
                    </td>
                </tr>
                </tbody>
            </table>


            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}