{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <p class="-center -bold">
                <span>{{ 'faq.event.bonus_exp.0'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.event.bonus_exp.1'|trans }}!</span>
            </p>

            <p>
                <span>{{ 'faq.event.bonus_exp.2'|trans }}</span>
                <span class="-bold -violet">{{ 'faq.event.bonus_exp.3'|trans }}</span>
            </p>

            <div class="row memo">
                <div class="col-sm-12">
                    <span>{{ 'faq.event.bonus_exp.4'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.bonus_exp.5'|trans }}</span>
                    <span>{{ 'faq.event.bonus_exp.6'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.bonus_exp.7'|trans }}</span>
                </div>
            </div>


            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}