{% spaceless %}
    <div class="row public faq -page">
        <div class="col-sm-12">

            <p class="-center -bold">
                <span>{{ 'faq.event.white_rabbit.0'|trans }}</span>
            </p>

            <p>
                <span>{{ 'faq.event.white_rabbit.1'|trans }}</span>
                <span class="-bold -dark-burgundy-1">{{ 'faq.event.white_rabbit.2'|trans }}</span>
                <span>{{ 'faq.event.white_rabbit.3'|trans }}</span>
            </p>

            <div class="row memo">
                <div class="col-sm-12">
                    <span>{{ 'faq.event.white_rabbit.4'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.white_rabbit.5'|trans }}</span>
                    <span class="-wcoin">{{ 'faq.event.white_rabbit.6'|trans }}</span>
                </div>
            </div>

            <div class="row memo -margin-top-10">
                <div class="col-sm-12">
                    <span>{{ 'faq.event.white_rabbit.7'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.white_rabbit.8'|trans }}</span>
                    <span>{{ 'faq.event.white_rabbit.9'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.white_rabbit.10'|trans }}</span>
                    <span>{{ 'faq.event.white_rabbit.11'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.white_rabbit.12'|trans }}</span>
                    <span>{{ 'faq.event.white_rabbit.13'|trans }}</span>
                    <span class="-bold -dark-burgundy-1">{{ 'faq.event.white_rabbit.14'|trans }}</span>
                </div>
            </div>

            <p class="-m-top-25">
                <a href="#" data-route="sky_faq_index" class="button -filled -blue">{{ 'faq.index.0'|trans }}</a>
            </p>
        </div>
    </div>
{% endspaceless %}