{% spaceless %}
    <script type="text/template" id="event-timing-container" data-events="{{ server.getFaqInfo.getEventTimings|json_encode }}">
        <div class="events"></div>
    </script>
{% endspaceless %}