{% spaceless %}
    <script type="text/template" id="event-timing-ordinary-event">
        <li class="event-container">
            <div class="current-event-container">
                <div class="current-event">
                    <div class="title"></div>
                    <div class="timer" data-label-days="{{ 'event_timing.event.timer.days'|trans }}" data-label-hours="{{ 'event_timing.event.timer.hours'|trans }}" data-label-minutes="{{ 'event_timing.event.timer.minutes'|trans }}" data-label-seconds="{{ 'event_timing.event.timer.seconds'|trans }}"></div>
                </div>
            </div>
        </li>
    </script>
    <script type="text/template" id="event-timing-link-event">
        <li class="event-container">
            <a href="#" class="current-event-container button -bright-violet" data-toggle="modal" data-target="#modal-faq">
                <div class="current-event">
                    <div class="title"></div>
                    <div class="timer" data-label-days="{{ 'event_timing.event.timer.days'|trans }}" data-label-hours="{{ 'event_timing.event.timer.hours'|trans }}" data-label-minutes="{{ 'event_timing.event.timer.minutes'|trans }}" data-label-seconds="{{ 'event_timing.event.timer.seconds'|trans }}"></div>
                </div>
            </a>
        </li>
    </script>
{% endspaceless %}