{% if servers.list and servers.list|length %}
    {#{% embed '@App/layout/_partials/sideblock.html.twig' with {'position': 'left'} %}#}
        {#{% block heading %}<span>{{ 'sideblocks.chat.0'|trans }}</span>{% endblock %}#}
        {#{% block content %}#}
            {#<div id="chatbro"></div>#}
        {#{% endblock %}#}
    {#{% endembed %}#}
{% endif %}