<a href="http://q-top.ru/vote{{ code }}" target="_blank" style="position: fixed; bottom: 0; left: 0; z-index: 1;"><img src="http://q-top.ru/img/banners/mu_l.png" border="0" title="Рейтинг Online Игр Q-top.ru" alt="Рейтинг Online Игр Q-top.ru"></a>