<table class="table">
    <thead>
    <tr>
        <th>Code</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Expire At</th>
        <th>Activated At</th>
        <th>Activated By</th>
    </tr>
    </thead>
    <tbody class="admin_bonus_codes">
    {% for bonusCode in bonusCodes %}
        <tr>
            <td>{{ bonusCode.code }}</td>
            <td>{{ bonusCode.amount }}</td>
            <td>{{ bonusCode.enabled ? 'Enabled' : 'Disabled' }}</td>
            <td>{{ bonusCode.createdAt.format('Y-m-d H:i:s') }}</td>
            <td>{{ bonusCode.expireAt.format('Y-m-d H:i:s') }}</td>
            <td>
                {% if bonusCode.activatedAt is not null %}
                    {{ bonusCode.activatedAt.format('Y-m-d H:i:s') }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if bonusCode.activatedBy is not null %}
                    {{ bonusCode.activatedBy.getUser.getDisplayName }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td class="controls">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        Menu
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('sky_admin_bonus.code_toggle.status', {id: bonusCode.code}) }}">
                                <span class="text">Remove</span>
                                <span class="text">Toggle Status</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>