{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.gens_list'|trans }}{% endblock %}

{% block page_heading %}{{ 'gens.2'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}

            <div class="top -page -gens -page">
                <div class="row -tops-navigation">
                    <div class="col-sm-12">
                        {% set currentRoute = app.request.attributes.get('_route') %}
                        <a class="button -texture{{ currentRoute == 'sky_voters_index' ? ' -active' : '' }}" href="{{ path('sky_voters_index') }}"><span>{{ 'nav.general.9'|trans }}</span></a>
                        <a class="button -texture{{ currentRoute == 'sky_characters_index' ? ' -active' : '' }}" href="{{ path('sky_characters_index') }}"><span>{{ 'nav.general.4'|trans }}</span></a>
                        <a class="button -texture{{ currentRoute == 'sky_guilds_index' ? ' -active' : '' }}" href="{{ path('sky_guilds_index') }}"><span>{{ 'nav.general.3'|trans }}</span></a>
                        <a class="button -texture{{ currentRoute == 'sky_gens_index' ? ' -active' : '' }}" href="{{ path('sky_gens_index', {family: constant('AppBundle\\Enum\\MuOnline\\Gens\\Family::DUPRIAN')}) }}"><span>{{ 'nav.general.14'|trans }}</span></a>
                    </div>
                </div>

                <div class="row -tops-navigation">
                    {% set class = app.request.query.get('class') %}
                    <div class="col-sm-12">
                        <a class="button -texture -medium{{ family == constant('AppBundle\\Enum\\MuOnline\\Gens\\Family::DUPRIAN') ? ' -active' : '' }}" href="{{ path('sky_gens_index', {family: constant('AppBundle\\Enum\\MuOnline\\Gens\\Family::DUPRIAN')}) }}"><span>{{ 'gens.0'|trans }}</span></a>
                        <a class="button -texture -medium{{ family == constant('AppBundle\\Enum\\MuOnline\\Gens\\Family::VANERT') ? ' -active' : '' }}" href="{{ path('sky_gens_index', {family: constant('AppBundle\\Enum\\MuOnline\\Gens\\Family::VANERT')}) }}"><span>{{ 'gens.1'|trans }}</span></a>
                    </div>
                </div>



                <div class="row gens">
                    <div class="col-sm-12">
                        {% if gens and gens|length %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>{{ 'gens.6'|trans }}</th>
                                            <th>{{ 'gens.3'|trans }}</th>
                                            <th>{{ 'gens.4'|trans }}</th>
                                            <th>{{ 'gens.5'|trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for idx, gensMember in gens %}

                                            {% set idx = ((pagination.thisPage - 1) * pagination.perPage) + idx + 1 %}
                                            {% set characterUserData = users.get(gensMember.character.getAccount.getMemberId).get() %}

                                            <tr>
                                                <td><div{{ pagination.thisPage == 1 ? ' class="place"' : '' }}>{% include '@App/_partials/table_number.html.twig' with {number: idx} %}</div></td>
                                                <td class="online-status -character{{ gensMember.character.isOnline ? ' -online' : ' -offline' }}">{% include '@App/character/_partials/name.html.twig' with {character: gensMember.character, user: characterUserData.user} %}</td>
                                                <td>{% include '@App/gens/_partials/rank/popup/title_trigger.html.twig' with {gens: gensMember} %}</td>
                                                <td>{% include '@App/gens/_partials/points.html.twig' with {gens: gensMember} %}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    {% include '@App/_partials/pagination.html.twig' with {pagination: pagination, routeName: 'sky_gens_index', routeParams: {family: family}} %}
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-info">
                                {{ 'gens.7'|trans }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        {% endblock %}
    {% endembed %}
{% endblock %}