{% if categoriesByLevels is defined and categoriesByLevels|length %}
    <div class="webshop">

        {% for level, levelCategories in categoriesByLevels %}
            <ul class="selector -category">
                {% for category in levelCategories %}
                    <li data-category-id="{{ category.getId }}"
                        data-selected="false"
                        data-level="{{ level }}"
                        data-parent-id="{{ category.parentCategory ? category.parentCategory.getId : 0 }}"
                        {{ level > 0 ? ' class="hidden"' : '' }}
                    >
                        <a href="#" class="button -web-shop -brown">{{ category.getName|translate_webshop_category }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}

        <ul class="selector -item">
            {% for levelCategories in categoriesByLevels %}
                {% for category in levelCategories %}
                    {% if category.childCategories|length == 0 %}
                        {% for item in category.getItems %}
                            <li class="hidden" data-category-id="{{ category.getId }}">
                                <a href="{{ path('sky_webshop_buy', {id: item.getId}) }}" class="button -web-shop -blue" target="_blank">{{ item.getItem.getName }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>

    </div>
{% endif %}