{% if characters and characters|length %}
    <table class="table">
        <thead>
        <tr>
            {% if userToView is not null and userToView.getId == user.getId %}
                <th></th>
            {% else %}
                <th>#</th>
            {% endif %}
            <th>{{ 'character.3'|trans }}</th>
            <th>{{ 'character.4'|trans }}</th>
            <th class="stats">
                <span>{{ 'character.5'|trans }}</span>
                <span>{{ 'character.6'|trans }}</span>
                <span>{{ 'character.7'|trans }}</span>
            </th>
            <th>{{ 'character.8'|trans }}</th>
            <th>{{ 'character.9'|trans }}</th>
            <th>{{ 'character.10'|trans }}</th>
            <th>{{ 'character.11'|trans }}</th>
            <th>{{ 'character.12'|trans }}</th>
            {% if userToView is not null and userToView.getId == user.getId %}
                <th>{{ 'character.18'|trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for idx, character in characters %}
            <tr>
                <td>
                {% if userToView is not null and userToView.getId == user.getId %}
                        <div class="control dropdown">
                            <div class="dropbtn -active-bg"></div>
                            <button class="button -filled -square-dark-green"><span><</span></button>
                            <div class="dropdown-body">
                                <div class="dropdown-content">
                                    <a href="{{ path('sky_characters_change.nick', {name: character.getName}) }}">{{ 'change_nick.0'|trans }}</a>
                                    {#<a href="{{ path('sky_characters_change.class', {name: character.getName}) }}">{{ 'change_class.0'|trans }}</a>#}
                                    <a href="{{ path('sky_characters_reset.stats', {name: character.getName}) }}">{{ 'reset_stats.0'|trans }}</a>
                                    <a href="{{ path('sky_characters_reset', {name: character.getName}) }}">{{ 'reset.0'|trans }}</a>
                                    <a href="{{ path('sky_characters_grand.reset', {name: character.getName}) }}">{{ 'grand_reset.0'|trans }}</a>
                                    <a href="{{ path('sky_characters_reset.master.skill.tree', {name: character.getName}) }}">{{ 'reset_master_skill_tree.0'|trans }}</a>
                                    <a href="{{ path('sky_characters_kill.log', {name: character.getName}) }}">{{ 'character.kill_log.0'|trans }}</a>
                                    <a href="{{ path('sky_characters_skill.index', {name: character.getName}) }}">{{ 'reset_skill.1'|trans }}</a>
                                </div>
                            </div>
                        </div>
                {% else %}
                    {{ idx + 1 }}
                {% endif %}
                </td>
                <td class="online-status -character{{ character.isOnline ? ' -online' : ' -offline' }}">{% include '@App/character/_partials/name.html.twig' with {character: character, user: userToView} %}</td>
                <td class="-class">
                    {% spaceless %}
                        <span>{% include '@App/character/_partials/class.html.twig' with {character: character} %}</span>
                    {% endspaceless %}
                </td>
                <td class="stats">{% include '@App/character/_partials/stats.html.twig' with {character: character} %}</td>
                <td>{% include '@App/character/_partials/strength.html.twig' with {character: character} %}</td>
                <td>{% include '@App/character/_partials/agility.html.twig' with {character: character} %}</td>
                <td>{% include '@App/character/_partials/vitality.html.twig' with {character: character} %}</td>
                <td>{% include '@App/character/_partials/energy.html.twig' with {character: character} %}</td>
                <td>{% include '@App/character/_partials/stamina.html.twig' with {character: character} %}</td>
                {% if userToView is not null and userToView.getId == user.getId %}
                    <td>{% include '@App/character/_partials/free_points.html.twig' with {character: character} %}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">
        {{ 'users.view.3'|trans }}
    </div>
{% endif %}