{% extends '@App/email/layout/base.html.twig' %}

{% block email_contents %}
    <tr>
        <td>
            <table width="550" align="center" height="125" valign="bottom" border="0" cellpadding="0"
                   cellspacing="0" class="devicewidth">
                <tbody>
                <tr>
                    <td valign="bottom" style="white-space: nowrap; font-size: 36px;" class="headerTitle fontSize36 fontWeightNormal">{{ 'email.reset_password.0'|trans }}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>


    <tr>
        <td width="100%" height="50" style="height: 50px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td>
                        {{ 'email.reset_password.1'|trans }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ 'email.reset_password.2'|trans }}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="75" style="height: 30px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td>
                        {{ 'email.reset_password.3'|trans }}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="75" style="height: 50px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth">
                <tbody>
                <tr>
                    <td>
                        <a style="text-decoration: none;" href="{{ url('sky_users_reset.password_reset', {token: user.resetPasswordToken}) }}">
                            <span class="fontSize14" style="font-size: 14px; width: 203px !important; background-color: #93c464; border-bottom: 2px #588e24 solid; appearance: none; border-left: 0px; border-right: 0; border-top: 0; cursor: pointer; color: #ffffff; padding: 10px 10px 10px 10px; line-height: 16px; text-align: center; white-space: nowrap; color: white;">{{ 'email.reset_password.4'|trans }}</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="15" style="height: 15px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth">
                <tbody>
                <tr>
                    <td style="font-size: 12px;">
                        <a href="{{ url('sky_users_reset.password_reset', {token: user.resetPasswordToken}) }}" class="linkText" style="font-size: 12px; line-height: 1.2; color: #ffca76;">{{ url('sky_users_reset.password_reset', {token: user.resetPasswordToken}) }}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="30" style="height: 50px;"></td>
    </tr>
{% endblock %}