{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.reset_skill'|trans({CHARACTER: character.name}) %}

{% block account_heading %}{{ 'reset_skill.0'|trans({CHARACTER: character.name}) }}{% endblock %}

{% set messages = {'empty': 'reset_skill.7'|trans, 'processing': 'reset_skill.8'|trans, 'success': 'reset_skill.9'|trans, 'error': 'reset_skill.10'|trans} %}

{% block account_content %}
    <div class="row public -margin-top-20">
        <div class="col-sm-12 character reset-skills"
             data-character-name="{{ character.name }}"
             data-messages="{{ messages|json_encode }}"
        >
            {% set normalSkills = magicList.normal.deletable %}
            <div class="row">
                <div class="col-sm-12 memo">
                    <span>{{ 'reset_skill.3'|trans }}</span><br>
                    <span>{{ 'reset_skill.4'|trans }}</span><br>
                    <span>{{ 'reset_skill.5'|trans }}</span>
                </div>
            </div>
            {% if normalSkills.length %}
                <div class="row">
                    <div class="col-sm-12 -margin-top-20">
                        <ul class="skills">
                            {% for normalSkill in normalSkills %}
                                {% include '@App/character/_partials/magic_list/skill/_show_image.html.twig' with {skill: normalSkill.info} %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row -text-center">
                    <div class="col-sm-12">
                        <button type="submit" class="button -filled -green">{{ 'reset_skill.2'|trans }}</button>
                        <a href="{{ path('sky_accounts_index') }}" class="button -filled -blue">{{ 'reset_skill.11'|trans }}</a>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-info -margin-top-20">
                    {{ 'reset_skill.6'|trans }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock account_content %}
