{% extends '@App/layout/page.html.twig' %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% form_theme form with [
        '@App/layout/Form/form_errors.html.twig',
        '@App/layout/Form/form_row.html.twig',
        ] %}

        {% block heading %}Ban User{% endblock %}
        {% block content %}
            <div class="row -page -manager">
                <div class="col-sm-12">
                    {{ form_errors(form) }}

                    {{ form_start(form) }}
                    {{ form_row(form._token) }}

                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_row(form.reason) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_row(form.link) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_row(form.expireAt) }}
                        </div>
                    </div>

                    <div class="row -text-center -margin-top-20">
                        <div class="col-sm-12">
                            <button type="submit" class="button -filled -red">Ban</button>
                        </div>
                    </div>
                    {{ form_end(form, {render_rest: false}) }}
                </div>
            </div>

        {% endblock %}
    {% endembed %}
{% endblock %}