{% extends '@App/layout/page.html.twig' %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}

        {% form_theme form with [
        '@App/layout/Form/form_errors.html.twig',
        ] %}

        {% block heading %}Create VIP Level{% endblock %}
        {% block content %}
            {{ form_errors(form) }}

            {{ form_start(form) }}
            {{ form_row(form._token) }}

            <div class="col-sm-12 admin">
                {% include '@App/admin/vip_level/_partials/fields.html.twig' %}

                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </div>

            </div>

            {{ form_end(form, {render_rest: false}) }}

        {% endblock %}
    {% endembed %}
{% endblock %}