<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ app.request.locale }}"{{ isError is defined and isError ? ' class="-no-bg"' : '' }}>
<head>
    {{ tracking_script('google') }}
    <meta charset="utf-8">
    <meta name="theme-color" content="#1E1B4A">
    <meta name="msapplication-navbutton-color" content="#1E1B4A">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1E1B4A">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="{{ asset('build/app.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body data-section="{{ app.request.attributes.get('_route') }}"
      data-server-time="{{ serverTime is defined ? serverTime : null }}"
      data-server-time-zone="{{ serverTimeZone is defined ? serverTimeZone : null }}"
      data-chat="{{ chat is defined ? chat|json_encode : null }}"
      data-timer="{{ timer is defined ? timer|json_encode : null }}"
      data-locale="{{ app.request.locale }}"
      class="{{ isError is defined and isError ? '-no-bg' : '' }} {{ adminPage is defined and adminPage == true ? ' -admin-page' : '' }}"
>
{{ tracking_script('yandex') }}
{#{{ vote_block('mmotop') }}#}
{#{{ vote_block('qtop') }}#}
{{ chat_block('tawk') }}

{% block body %}
{% endblock %}

{% block templates %}
    {% if servers is defined %}
        {% include '@App/_partials/templates/event_timing/container.html.twig' with {server: servers.current} %}
        {% include '@App/_partials/templates/event_timing/event.html.twig' %}
    {% endif %}
{% endblock %}

{% block modals %}
    {% if servers is defined %}
        {% include '@App/_partials/modals/server_info.html.twig' %}
    {% endif %}

    {% include '@App/_partials/modals/tops_banners.html.twig' %}
    {% include '@App/_partials/modals/faq.html.twig' %}
    {% include '@App/_partials/modals/policy.html.twig' %}
{% endblock %}

<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>


{% block javascripts %}
{% endblock %}

</body>
</html>
