{% extends '@App/layout/base.html.twig' %}

{% block title %}{{ 'seo.title.default'|trans }}{% endblock %}

{% block body %}
    <div class="flex-container">
        <div class="flex-content">
            <a href="{{ path('sky_index_index') }}" class="logo"></a>
            {% include '@App/layout/nav/main.html.twig' %}
            {% include '@App/layout/sideblocks/last_in_forum/topics.html.twig' %}
            {% include '@App/layout/nav/quick-links.html.twig' %}
            {% include '@App/layout/nav/lang.html.twig' %}
            {% include '@App/layout/nav/social.html.twig' %}

            {% for serverData in servers.list %}
                {% set serverDataServer = serverData.server %}
                {% if serverDataServer.getId == servers.current.getId %}
                    <div class="server-online-status">{% include '@App/layout/sideblocks/servers/server.html.twig' with {server: servers.current, online: serverData.online} %}</div>
                {% endif %}
            {% endfor %}

            {% include '@App/layout/sideblocks/admin_or_manager.html.twig' %}
            {% include '@App/layout/sideblocks/cabinet.html.twig' %}
            {% include '@App/layout/sideblocks/server_time.html.twig' %}
            {% include '@App/layout/sideblocks/events/events.html.twig' %}
            {% include '@App/layout/sideblocks/quick_top.html.twig' %}
            {% include '@App/layout/footer/footer.html.twig' %}

            <div class="content{{ app.request.attributes.get('_route') in ['sky_index_index'] ? ' -no-padding' : '' }}">
                {% if block('page_heading') is defined %}
                    {% set page_heading_block = block('page_heading') %}
                    {% if page_heading_block is not empty %}
                        <div class="content-heading"><span>{% block page_heading %}{% endblock %}</span></div>
                    {% endif %}
                {% endif %}
                {% include '@App/layout/_partials/flash_messages.html.twig' %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}