<table class="table">
    <thead>
    <tr>
        <th>Coupon</th>
        <th>Discount, %</th>
        <th>Type</th>
        <th>Status</th>
        <th>Expire At</th>
        <th></th>
    </tr>
    </thead>
    <tbody class="admin_cart_discount_coupons">
    {% for coupon in coupons %}
        <tr>
            <td>{{ coupon.getCoupon }}</td>
            <td>{{ coupon.getDiscount }}</td>
            <td>{{ coupon.getType }}</td>
            <td>
                {% if coupon.getPurchaseDiscount is not null %}
                    Used
                {% elseif coupon.getStatus == constant('AppBundle\\Repository\\Application\\CartDiscountCouponRepository::STATUS_DISABLED') %}
                    Disabled
                {% elseif coupon.getStatus == constant('AppBundle\\Repository\\Application\\CartDiscountCouponRepository::STATUS_ENABLED') %}
                    Enabled
                {% else %}
                    Unknown
                {% endif %}
            </td>
            <td>{{ coupon.getExpireAt.format('Y-m-d H:i:s') }}</td>
            <td class="controls">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Menu</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('sky_admin_cart.discount.coupon_edit', {id: coupon.getId}) }}">
                                <span class="text">Edit</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('sky_admin_cart.discount.coupon_remove', {id: coupon.getId}) }}">
                                <span class="text">Remove</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>