{% extends '@App/layout/page.html.twig' %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' with {isAdmin: true} %}

        {% block heading %}Market Categories{% endblock %}
        {% block content %}

            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Items Count</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="admin_market_category">
                        {% for category in categories %}
                            <tr>
                                <td>{{ category.getName }}</td>
                                <td>{{ category.getItems.count }}</td>
                                <td class="controls">
                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Menu</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{ path('sky_admin_market.category_edit', {id: category.getId}) }}">
                                                    <span class="text">Edit</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('sky_admin_market.category_remove', {id: category.getId}) }}">
                                                    <span class="text">Remove</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-success" href="{{ path('sky_admin_market.category_create') }}">New</a>
                </div>
            </div>


        {% endblock %}
    {% endembed %}
{% endblock %}