<div class="card">
    <div class="card-block">
        <h4 class="card-title">
            {% spaceless %}
                {% block heading %}{% endblock %}
            {% endspaceless %}
        </h4>
        {% set isAdmin = isAdmin is defined and isAdmin == true %}
        {% if isAdmin %}
            <div class="admin">
        {% endif %}
                {% block content %}{% endblock %}
        {% if isAdmin %}
            </div>
        {% endif %}
    </div>
</div>