{% set error = app.session.flashBag.get('error') %}
{% if error|length %}
    {% for flash_message in error %}
        <div class="alert alert-danger">
            {{ flash_message|trans }}
        </div>
    {% endfor %}
{% endif %}

{% set warning = app.session.flashBag.get('warning') %}
{% if warning|length %}
    {% for flash_message in warning %}
        <div class="alert alert-warning">
            {{ flash_message|trans }}
        </div>
    {% endfor %}
{% endif %}

{% set info = app.session.flashBag.get('info') %}
{% if info|length %}
    {% for flash_message in info %}
        <div class="alert alert-info">
            {{ flash_message|trans }}
        </div>
    {% endfor %}
{% endif %}

{% set success = app.session.flashBag.get('success') %}
{% if success|length %}
    {% for flash_message in success %}
        <div class="alert alert-success">
            {{ flash_message|trans }}
        </div>
    {% endfor %}
{% endif %}