{% if size is not defined %}
    {% set size = 'md' %}
{% endif %}

<div class="modal fade" tabindex="-1" role="dialog" id="{{ id }}" aria-labelledby="modal-label-{{ id }}">
    <div class="modal-dialog modal-{{ size }}" role="document">
        <i class="corners -top"></i>
        <div class="modal-content">
            {% if empty is not defined or (empty is defined and empty == false)%}
                <div class="modal-header{{ header is defined and header == 'massive' ? ' -massive' : '' }}">
                    {% if title is defined %}
                        <span class="modal-title" id="modal-label-{{ id }}">{{ title }}</span>
                    {% endif %}
                </div>
            {% endif %}
            <div class="modal-body">{% block modal_body %}{% endblock %}</div>
            {% if empty is not defined or (empty is defined and empty == false)%}
                <div class="modal-footer">
                    <div class="content">
                        <button type="button" class="button -filled -red" data-dismiss="modal">{{ 'modal.close'|trans }}</button>
                    </div>
                </div>
            {% endif %}
        </div>
        <i class="corners -bottom"></i>
    </div>
</div>