{% if servers.list|length > 1 %}
    <ul class="server-tabs nav nav-pills">
        {% for server in servers.list %}
            {% if server.server.getFaqInfo is not null %}
                <li{{ server.server.getId == servers.current.getId ? ' class="active"' : '' }}>
                    <a href="#server_{{ server.server.getId }}"
                       aria-controls="server_{{ server.server.getId }}"
                       role="tab"
                       data-toggle="tab">{{ server.server.getName }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
<div class="server-tabs tab-content">
    {% for server in servers.list %}
        {% if server.server.getFaqInfo is not null %}
            <div role="tabpanel"
                 class="tab-pane{{ server.server.getId == servers.current.getId ? ' active"' : '' }}"
                 id="server_{{ server.server.getId }}">
                {% block content %}
                {% endblock content %}
            </div>
        {% endif %}
    {% endfor %}
</div>