{% if itemInfo is defined and level is defined %}

    {% set imageUrl = null %}
    {% set imageName = itemInfo.getGroup.getTypeId ~ '-' ~ itemInfo.getItemId %}

    {% if level is not null and file_exists(items_images_base_path ~ asset(imageName ~ '-' ~ level ~ '.gif')) %}
        {% set imageUrl = items_images_base_path ~ asset(imageName ~ '-' ~ level ~ '.gif') %}
    {% elseif level is not null and file_exists(items_images_base_path ~ asset(imageName ~ '-' ~ level ~ '.png')) %}
        {% set imageUrl = items_images_base_path ~ asset(imageName ~ '-' ~ level ~ '.png') %}
    {% elseif file_exists(items_images_base_path ~ asset(imageName ~ '.gif')) %}
        {% set imageUrl = items_images_base_path ~ asset(imageName ~ '.gif') %}
    {% elseif file_exists(items_images_base_path ~ asset(imageName ~ '.png')) %}
        {% set imageUrl = items_images_base_path ~ asset(imageName ~ '.png') %}
    {% endif %}

    {% if imageUrl is not null %}
        <div class="item_img">
            <img src="{{ asset(imageUrl) }}">
        </div>
    {% elseif width is defined and height is defined %}
        <div style="width:{{ width }}px; height:{{ height }}px;"></div>
    {% endif %}

{% endif %}