{% if not item.isEmpty and item.isParsed %}

    {% set isExcellent = false %}
    {% set isAncient = false %}
    {% set shouldDisplayItemLevel = item.getGeneralOptions.getLvl > 0 %}

    {% if item.getExcellentOptions.isExcellent %}
        {% for option, name in item.getItemInfo.getAvailableExcellentOptions %}
            {% if item.getExcellentOptions.checkOption(option) %}
                {% set isExcellent = true %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if item.getAncientSet is not null %}
        {% set isAncient = true %}
    {% endif %}
    {#or 'box of' in itemNameLower#}
    {% set itemNameLower = item.getItemInfo.getName|lower %}
    {% set namesWithoutLevel = ['jewel', 'ring of warrior', 'box of', 'firecracker', 'heart of', 'star', 'silver medal',
    'gold medal', 'candy box', 'spirit of dark', 'sign of lord', 'crest of monarch', 'transformation ring', 'orb of summon', 'fruit of', 'olivas'] %}
    {% for nameWithoutLevel in namesWithoutLevel %}
        {% if nameWithoutLevel in itemNameLower %}
            {% set shouldDisplayItemLevel = false %}
        {% endif %}
    {% endfor %}

    <div class="item_name{{ item.getGeneralOptions.getLvl > 6 ? ' -yellow' : '' }}{{ isExcellent ? ' -exc' : '' }}{{ isAncient ? ' -anc' : '' }}">
        <span>
            {{- isExcellent ? 'Excellent ' : '' -}}
            {{- isAncient ? item.getAncientSet.getName ~ ' ' : '' -}}
            {{- item.getItemInfo.getName -}}
            {{- shouldDisplayItemLevel ? ' +' ~ item.getGeneralOptions.getLvl : '' -}}
            {{- long and item.getGeneralOptions.getIsSkill ? ' +Skill' : '' -}}
            {{- long and item.getGeneralOptions.getOpt > 0 ? ' +' ~ item.getGeneralOptions.getOpt : '' -}}
            {{- long and item.getGeneralOptions.getIsLuck ? ' +Luck' : '' -}}
        </span>
    </div>

{% endif %}