{% embed '@App/layout/_partials/modal.html.twig' with {size: 'lg', id: 'modal-faq', title: 'seo.title.faq.faq'|trans} %}
    {% block modal_body %}
        <div class="loading -active">
            <div class="logo"></div>
        </div>
        <div class="faq-content"> </div>
    {% endblock %}
{% endembed %}