{% embed '@App/layout/_partials/modal.html.twig' with {size: 'lg', id: 'modal-policy', title: 'policy.index.header'|trans} %}
    {% block modal_body %}
        {% include '@App/policy/index.html.twig' %}
    {% endblock modal_body %}
{% endembed %}