{% embed '@App/layout/_partials/modal.html.twig' with {size: 'lg', id: 'modal-servers-info', title: 'server_info.heading'|trans, header: 'massive'} %}
    {% block modal_body %}
        <div class="server-info">

            {#<div class="row public faq -page">#}
                {#<div class="col-sm-12">#}
                    {#<p class="-center">#}
                        {#<span class="-bold -title">{{ 'server_info.greeting.general'|trans }}</span>#}
                    {#</p>#}
                    {#<p class="-center">#}
                        {#<span>{{ 'server_info.greeting.will_not_dissapear'|trans }}</span><br>#}
                        {#<span>{{ 'server_info.greeting.values'|trans }}</span>#}
                    {#</p>#}
                {#</div>#}
            {#</div>#}

            {% embed '@App/layout/_partials/server_tabs.html.twig' %}
                {% block content %}

                    {% set faqInfo = server.server.getFaqInfo.getValues %}

                    <div class="row public faq -page">
                        <div class="col-sm-12">
                            <p>
                                <span class="-bold">{{ 'server_info.general.header'|trans }}</span>
                            </p>


                            <ul class="key-value-container">
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.general.version'|trans }}</span>
                                    <span class="-value">{{ server.server.getVersion }}</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.general.exp'|trans }}</span>
                                    <span class="-value">{{ faqInfo.general.exp }}x</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.general.maxter_exp'|trans }}</span>
                                    <span class="-value">{{ faqInfo.general.masterExp }}x</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.general.drop'|trans }}</span>
                                    <span class="-value">{{ faqInfo.general.drop }}%</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.general.max_stats'|trans }}</span>
                                    <span class="-value">{{ faqInfo.general.max_stats }}</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.general.points_per_level.label'|trans }}</span>
                                    <span class="-value">{{ 'server_info.general.points_per_level.value'|trans }}</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.general.buff_level.label'|trans }}</span>
                                    <span class="-value">{{ 'server_info.general.buff_level.value'|trans({LEVEL: faqInfo.general.npc_buff_level}) }}</span>
                                </li>
                            </ul>

                            <p>
                                <span class="-bold">{{ 'server_info.character_creation_levels.header'|trans }}</span>
                            </p>

                            <ul class="key-value-container">
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.character_creation_levels.sum.label'|trans }}</span>
                                    <span class="-value">{{ faqInfo.character_creation_levels.sum }}</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.character_creation_levels.rf.label'|trans }}</span>
                                    <span class="-value">{{ faqInfo.character_creation_levels.rf }}</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.character_creation_levels.mg.label'|trans }}</span>
                                    <span class="-value">{{ faqInfo.character_creation_levels.mg }}</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.character_creation_levels.dl.label'|trans }}</span>
                                    <span class="-value">{{ faqInfo.character_creation_levels.dl }}</span>
                                </li>
                            </ul>

                            <p>
                                <span class="-bold">{{ 'server_info.reset.header'|trans }}</span>
                                <a href="#" data-route="sky_faq_res.gr" data-toggle="modal" data-target="#modal-faq"
                                   target="_blank">{{ 'server_info.reset.faq_link'|trans }}</a>
                            </p>

                            <ul class="key-value-container">
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.reset.level'|trans }}</span>
                                    <span class="-value">375 - {{ server.server.getCharacterEvolutionConfig.getResetLevel }}</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.reset.max'|trans }}</span>
                                    <span class="-value">{{ server.server.getCharacterEvolutionConfig.getResetLimit }}</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.reset.price.label'|trans }}</span>
                                    <span class="-value">
                                        <spacer class="-zen">{{ 'server_info.reset.price.value1'|trans({KK_ZEN: server.server.getCharacterEvolutionConfig.getResetPrice}) }}</spacer>
                                        <spacer>{{ 'server_info.reset.price.value2'|trans }}</spacer>
                                    </span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.reset.reward.label'|trans }}</span>
                                    <span class="-value">
                                        <span>
                                        {{ 'server_info.reset.reward.stats'|trans({
                                            POINTS_DK: server.server.getCharacterEvolutionConfig.getResetPointsDK,
                                            POINTS_DW: server.server.getCharacterEvolutionConfig.getResetPointsDW,
                                            POINTS_FE: server.server.getCharacterEvolutionConfig.getResetPointsFE,
                                            POINTS_MG: server.server.getCharacterEvolutionConfig.getResetPointsMG,
                                            POINTS_DL: server.server.getCharacterEvolutionConfig.getResetPointsDL,
                                            POINTS_SUM: server.server.getCharacterEvolutionConfig.getResetPointsSUM,
                                            POINTS_RF: server.server.getCharacterEvolutionConfig.getResetPointsRF,
                                        }) }}
                                        </span>
                                        <br>
                                        <strong class="-wcoin">WCoin</strong>:
                                        <span>{{ server.server.getCharacterEvolutionConfig.getResetReward }}</span>
                                    </span>
                                </li>
                            </ul>

                            <p>
                                <span class="-bold">{{ 'server_info.grand_reset.header'|trans }}</span>
                                <a href="#" data-route="sky_faq_res.gr" data-toggle="modal" data-target="#modal-faq"
                                   target="_blank">{{ 'server_info.grand_reset.faq_link'|trans }}</a>
                            </p>
                            <ul class="key-value-container">
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.grand_reset.level'|trans }}</span>
                                    <span class="-value">{{ server.server.getCharacterEvolutionConfig.getResetLevel }}</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.grand_reset.reset'|trans }}</span>
                                    <span class="-value">{{server.server.getCharacterEvolutionConfig.getGrandResetReset }}</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.grand_reset.price.label'|trans }}</span>
                                    <span class="-value">
                                        <spacer class="-zen">{{ 'server_info.grand_reset.price.value1'|trans({KK_ZEN: server.server.getCharacterEvolutionConfig.getGrandResetPrice}) }}</spacer>
                                        <spacer>{{ 'server_info.grand_reset.price.value2'|trans }}</spacer>
                                    </span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.grand_reset.reward.label'|trans }}</span>
                                    <span class="-value">
                                        {{ 'server_info.grand_reset.reward.stats'|trans }} {{ server.server.getCharacterEvolutionConfig.getGrandResetPoints }}
                                        <br>
                                        <strong class="-wcoin">WCoin</strong>:
                                        {{ server.server.getCharacterEvolutionConfig.getGrandResetReward }}
                                    </span>
                                </li>
                            </ul>

                            <ul class="key-value-container">
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.party.ordinary'|trans }}</span>
                                    <span class="-value">{{ faqInfo.general.party.normal }}%</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.party.set.silver'|trans }}</span>
                                    <span class="-value">{{ faqInfo.general.party.set[3] }}%</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.party.set.gold'|trans }}</span>
                                    <span class="-value">{{ faqInfo.general.party.set.full }}%</span>
                                </li>
                            </ul>

                            <p>
                                <span class="-bold">{{ 'server_info.guild.header'|trans }}</span>
                            </p>
                            <ul class="key-value-container">
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.guild.create_level.label'|trans }}</span>
                                    <span class="-value">{{ 'server_info.guild.create_level.value'|trans }}</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.guild.max_members.label'|trans }}</span>
                                    <span class="-value">{{ 'server_info.guild.max_members.value'|trans }}</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.guild.alliance_count.label'|trans }}</span>
                                    <span class="-value">{{ 'server_info.guild.alliance_count.value'|trans }}</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.guild.max_alliances.label'|trans }}</span>
                                    <span class="-value">{{ 'server_info.guild.max_alliances.value'|trans }}</span>
                                </li>
                            </ul>

                            <p>
                                <span class="-bold">{{ 'server_info.succes_rates.header'|trans }}</span>
                            </p>
                            <ul class="key-value-container">
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.succes_rates.bless'|trans }}</span>
                                    <span class="-value">{{ faqInfo.general.bless_success }}%</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.succes_rates.soul.label'|trans }}</span>
                                    <span class="-value">
                                        {{ 'server_info.succes_rates.soul.no_luck'|trans }} {{ faqInfo.general.soul_success }}
                                        %
                                        <br>
                                        {{ 'server_info.succes_rates.soul.with_luck'|trans }} {{ faqInfo.general.soul_success + 25 }}
                                        %
                                    </span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.succes_rates.life'|trans }}</span>
                                    <span class="-value">{{ faqInfo.general.life_success }}%</span>
                                </li>
                                <li class="-item">
                                    <span class="-key">{{ 'server_info.succes_rates.chaos_machine.label'|trans }}</span>
                                    <span class="-value">
                                        +10: {{ faqInfo.general.cm_mix[10].success }}%<br>
                                        +11: {{ faqInfo.general.cm_mix[11].success }}%<br>
                                        +12: {{ faqInfo.general.cm_mix[12].success }}%<br>
                                        +13: {{ faqInfo.general.cm_mix[13].success }}%<br>
                                        +14: {{ faqInfo.general.cm_mix[14].success }}%<br>
                                        +15: {{ faqInfo.general.cm_mix[15].success }}%<br>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endblock content %}
            {% endembed %}


            <div class="row public faq -page">
                <div class="col-sm-12">
                    <p class="-bold -center -m-top-15 memo">
                        <span>{{ 'server_info.features.label'|trans }}</span>
                    </p>

                    <ul>
                        <li class="-bold">{{ 'server_info.features.server.label'|trans }}</li>
                        <li>
                            <ul class="features memo">
                                <li>
                                    <a href="#" data-route="sky_faq_offtrade" data-toggle="modal" data-target="#modal-faq"
                                       target="_blank">{{ 'faq.index.4'|trans }}</a>
                                    <span>- {{ 'server_info.features.server.ps_offtrade'|trans }}</span>
                                </li>
                                <li>
                                    <a href="#" data-route="sky_faq_offafk" data-toggle="modal" data-target="#modal-faq" target="_blank">{{ 'faq.index.5'|trans }}</a>
                                    <span>- {{ 'server_info.features.server.offafk'|trans }}</span>
                                </li>
                                <li>
                                    <a href="#" data-route="sky_faq_mu.helper" data-toggle="modal" data-target="#modal-faq"
                                       target="_blank">{{ 'faq.index.6'|trans }}</a>
                                    <span>- {{ 'server_info.features.server.mu_helper'|trans }}</span>
                                </li>
                                <li>
                                    <a href="#" data-route="sky_faq_reconnect.system" data-toggle="modal" data-target="#modal-faq"
                                       target="_blank">{{ 'faq.index.7'|trans }}</a>
                                    <span>- {{ 'server_info.features.server.reconnect'|trans }}</span>
                                </li>
                                <li>
                                    <a href="#" data-route="sky_faq_ancient.sets" data-toggle="modal" data-target="#modal-faq"
                                       target="_blank">{{ 'faq.index.14'|trans }}</a>
                                    <span>- {{ 'server_info.features.server.new_ancient'|trans }}</span>
                                </li>
                                <li>
                                    <a href="#" data-route="sky_faq_kalima" data-toggle="modal" data-target="#modal-faq"
                                       target="_blank">{{ 'faq.index.54'|trans }}</a>
                                    <span>- {{ 'server_info.features.server.kalima'|trans }}</span>
                                </li>
                                <li>
                                    <span>{{ 'server_info.features.server.events'|trans }}</span>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul>
                        <li class="-bold">{{ 'server_info.features.web.label'|trans }}</li>
                        <li>
                            <ul class="features memo">
                                <li>
                                    <a href="#" data-route="sky_faq_referral.system" data-toggle="modal" data-target="#modal-faq"
                                       target="_blank">{{ 'faq.index.45'|trans }}</a>
                                    <span>- {{ 'server_info.features.web.referral'|trans }}</span>
                                </li>
                                <li>
                                    <a href="#" data-route="sky_faq_vote.reward" data-toggle="modal" data-target="#modal-faq"
                                       target="_blank">{{ 'faq.index.44'|trans }}</a>
                                    <span>- {{ 'server_info.features.web.vote'|trans }}</span>
                                </li>
                                <li>
                                    <a href="#" data-route="sky_faq_web.bank" data-toggle="modal" data-target="#modal-faq"
                                       target="_blank">{{ 'faq.index.47'|trans }}</a>
                                    <span>- {{ 'server_info.features.web.web_bank'|trans }}</span>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <p class="-bold -center">
                        <span>{{ 'server_info.features.faq_link.label'|trans }}</span>
                        <a href="#" data-toggle="modal" data-target="#modal-faq" target="_blank">{{ 'server_info.features.faq_link.link'|trans }}</a>
                    </p>
                </div>
            </div>
        </div>

    {% endblock %}
{% endembed %}