{% embed '@App/layout/_partials/modal.html.twig' with {size: 'lg', id: 'modal-tops-banners', title: 'tops_banners.heading'|trans, header: 'massive'} %}
    {% block modal_body %}
        <div class="row -text-center">
            <div class="col-sm-12">
                <p>
                    <span>{{ 'tops_banners.0'|trans }}</span>
                    <span class="-wcoin">{{ 'tops_banners.1'|trans }}</span>,
                    <span>{{ 'tops_banners.2'|trans }}</span>
                </p>
                <p>
                    <span class="-bold">{{ 'tops_banners.3'|trans }}</span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 banners-container">
                <ul>
                    {% if voteBanners is defined %}
                        {% for bannerName, bannerUrl in voteBanners %}
                            <li>
                                <a class="{{ bannerName }}" href="{{ bannerUrl }}" target="_blank" ></a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endblock %}
{% endembed %}