{% if webStorageItems is defined and app.request.attributes.get('_route') == 'sky_accounts_index' %}
    {% embed '@App/layout/_partials/modal.html.twig' with {size: 'lg', id: 'modal-web-storage', title: 'seo.title.web_storage.index'|trans} %}
        {% block modal_body %}
            <div class="row web-storage -page">
                <div class="col-sm-12">
                    {% if webStorageItems|length %}
                        {#<ul class="items-container" data-masonry='{"itemSelector": ".item-container", "columnWidth": 1}'>#}
                        <ul class="items-container">
                            {% for item in webStorageItems %}
                                <li class="item-container" data-toggle-item-popup>
                                    <div class="item-content">
                                        <div class="item-image">
                                            <div class="item -image" style="width:{{ item.parsedItem.getItemInfo.getX * 32 - 1 }}px; height:{{ item.parsedItem.getItemInfo.getY * 32 }}px;">
                                                <div data-item-serial="{{ item.parsedItem.getGeneralOptions.getSerialNumber.compound }}">
                                                    {% include '@App/_partials/items/_partials/image.html.twig' with {itemInfo: item.parsedItem.getItemInfo, level: item.parsedItem.getGeneralOptions.getLvl} %}
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="item-controls">
                                            <li>
                                                <a href="{{ path('sky_web.storage_move', {id: item.webStorageItem.getId}) }}">{{ 'web_storage.2'|trans }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('sky_web.storage_sell', {id: item.webStorageItem.getId}) }}">{{ 'web_storage.3'|trans }}</a>
                                            </li>
                                            <li>
                                                <a data-remove-trigger href="{{ path('sky_web.storage_remove', {id: item.webStorageItem.getId}) }}">{{ 'web_storage.8'|trans }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item_popup_container" data-item-popup>
                                        {% include '@App/_partials/items/item_popup.html.twig' with {item: item.parsedItem, long: true} %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="alert alert-info">
                            {{ 'web_storage.4'|trans }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endif %}