{% if servers.list and servers.list|length %}
    <div class="row">
        <div class="col-sm-12">
            {% if topGuilds is defined and topGuilds|length %}
                <ul class="guilds -quick-top">
                    <li class="heading">
                        <div>{{ 'guild.1'|trans }}</div>
                        <div>{{ 'guild.8'|trans }}</div>
                        <div>{{ 'guild.6'|trans }}</div>
                        <div>{{ 'guild.4'|trans }}</div>
                    </li>
                    {% for idx, guild in topGuilds %}
                        <li class="item">
                            <div>{{ idx + 1 }}</div>
                            <div class="name-with-mark">
                                <a href="{{ path('sky_guilds_view', {name: guild.getName}) }}">{{ guild.getName }}</a>
                                {% include '@App/guild/_partials/mark.html.twig' with {mark: guild.getMark.getCellsColors, size: 16} %}
                            </div>
                            <div>{{ guild.getMembers.count }}</div>
                            <div>{{ guild.getScore }}</div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-info">
                    {{ 'guild.7'|trans }}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}