<ul style="position:relative;height:{{ size }}px;width:{{ size }}px;margin:0;padding:0;">
    {% for y, col in mark %}
        {% for x, color in col %}
            <li style="position:absolute;width:{{ (size / col|length)|round }}px;height:{{ (size / mark|length)|round }}px;left:{{ (size / col|length)|round * x }}px;top:{{ (size / mark|length)|round * y }}px;background-color:{{ color }};"></li>
        {% endfor %}
    {% endfor %}
</ul>