{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.users.change_password'|trans %}

{% block account_heading %}{{ 'users.change_password.0'|trans }}{% endblock %}


{% block account_content %}
    {% form_theme form with [
    '@App/layout/Form/form_errors.html.twig',
    '@App/layout/Form/form_row.html.twig',
    ] %}
    <div class="row -margin-top-20">
        <div class="col-sm-10 col-sm-offset-1">
            {{ form_errors(form) }}

            {{ form_start(form, {'attr': {'class': 'form-horizontal register'}}) }}
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.old) }}
                    {{ form_row(form.new) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-center -margin-top-20">
                    <button type="submit" class="button -filled -green">{{ 'users.change_password.2'|trans }}</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
