{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.users.index'|trans }}{% endblock %}

{% block page_heading %}{{ 'users.view.0'|trans({NAME: userToView.getDisplayName}) }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}

            <div class="row user -page -info">
                <div class="col-sm-12">

                    {% if accountToView is not null %}
                        {% if is_granted('ROLE_ADMINISTRATOR') or is_granted('ROLE_MODERATOR') %}
                            {% set hidden = false %}
                        {% else %}
                            {% set hidden = (
                                userServerAccountToView.hiddenTill is not null  or
                                userServerAccountToView.isVip
                            ) and (
                                user is null or (user is not null and userToView.getId != user.getId)
                            ) %}
                        {% endif %}

                        {% if hidden %}
                            <div class="alert alert-warning">
                                {{ userServerAccountToView.isVip ? 'hide_info.5'|trans : 'hide_info.4'|trans }}
                            </div>
                        {% else %}
                            {% embed '@App/layout/_partials/card.html.twig' %}
                                {% block heading %}{{ 'users.view.5'|trans }}{% endblock %}
                                {% block content %}
                                    <ul class="key-value-container">
                                        <li class="-item">
                                            <span class="-key">{{ 'users.view.14'|trans }}</span>
                                            <span class="-value">{% include '@App/character/_partials/country/flag_with_name.html.twig' with {user: userToView} %}</span>
                                        </li>
                                        <li class="-item">
                                            <span class="-key">{{ 'users.view.6'|trans }}</span>
                                            <span class="-value">{% include '@App/accounts/status.html.twig' with {account: accountToView} %}</span>
                                        </li>
                                        <li class="-item">
                                            <span class="-key">{{ 'users.view.7'|trans }}</span>
                                            <span class="-value">{{ online_time(accountToView.getState.getTotalSpentTime * 60) }}</span>
                                        </li>
                                        <li class="-item">
                                            <span class="-key">{{ 'users.view.10'|trans }}</span>
                                            <span class="-value">{{ userToView.getReferrals.count }}</span>
                                        </li>
                                        <li class="-item">
                                            <span class="-key">{{ 'users.view.11'|trans }}</span>
                                            <span class="-value">{{ userServerAccountToView.getVotes.count }}</span>
                                        </li>
                                    </ul>
                                {% endblock %}
                            {% endembed %}

                            {% embed '@App/layout/_partials/card.html.twig' %}
                                {% block heading %}{{ 'users.view.2'|trans }}{% endblock %}
                                {% block content %}
                                    <div class="row top -characters">
                                        <div class="col-sm-12">
                                            {%- include '@App/users/_partials/characters.html.twig' with {characters: charactersToView, userToView: userToView} -%}
                                        </div>
                                    </div>
                                {% endblock %}
                            {% endembed %}
                        {% endif %}
                    {% else %}
                        <div class="alert alert-info">
                            <span>{{ 'users.view.1'|trans }}</span>
                            {% if user is not null and userToView.getId == user.getId %}
                                <a href="{{ path('sky_accounts_create') }}">{{ 'users.index.6'|trans }}</a>
                            {% endif %}
                        </div>
                    {% endif %}

                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}


