{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.users.login'|trans }}{% endblock %}
{% block page_heading %}{{ 'seo.title.users.login'|trans }}{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {% set login_form = login_form_obj.createView %}

    {{ form_start(login_form) }}

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="input-control -bordered">
                        <label class="control-label" for="username">{{ 'users.login.0'|trans }}</label>
                        {{ form_widget(login_form.username, {'attr': {'class': 'form-control'}}) }}
                        {{- form_errors(login_form) -}}
                        <div class="side-border"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="input-control -bordered">
                        <label class="control-label" for="password">{{ 'users.login.1'|trans }}</label>
                        {{ form_widget(login_form.password, {'attr': {'class': 'form-control'}}) }}
                        {{- form_errors(login_form) -}}
                        <div class="side-border"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="row text-center -margin-top-20">
                <div class="col-sm-12">
                    <button type="submit" class="button -filled -green">{{ 'users.login.2'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(login_form) }}
{% endblock %}