{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.users.register'|trans }}{% endblock %}

{% block page_heading %}{{ 'users.register.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% form_theme form with [
        '@App/layout/Form/form_errors.html.twig',
        '@App/layout/Form/form_row.html.twig',
        ] %}

        {% block content %}

            {% if isEnabled is defined and isEnabled == true %}
                {{ form_errors(form) }}

                {{ form_start(form, {'attr': {'class': 'form-horizontal register'}}) }}

                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        {{ form_row(form.displayName) }}
                        {{ form_row(form.username) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.plainPassword.first) }}
                        {{ form_row(form.plainPassword.second) }}
                    </div>
                </div>
                <div class="row memo">
                    <div class="col-sm-12">
                        <span>{{ 'users.register.policy.text'|trans }} <a class="color-blue" data-toggle="modal" data-target="#modal-policy" href="#">{{ 'users.register.policy.link'|trans }}</a>.</span>
                    </div>
                </div>
                <div class="row text-center -margin-top-20">
                    <div class="col-sm-12">
                        <button type="submit" class="button -filled -green">{{ 'users.register.6'|trans }}</button>
                    </div>
                </div>

                {{ form_end(form) }}
            {% else %}
                <div class="alert alert-warning">
                    {{ 'users.register.temporally_disabled'|trans }}
                </div>
            {% endif %}

        {% endblock %}
    {% endembed %}
{% endblock %}


