{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.users.registered'|trans }}{% endblock %}

{% block page_heading %}{{ 'users.registered.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            <div class="row public">
                <div class="col-sm-12">
                    <div class="row memo">
                        <div class="col-sm-12">
                            <h5>
                                {{ 'users.registered.5'|trans }}
                            </h5>

                            <p>
                                {{ 'users.registered.6'|trans }}
                            </p>

                            <p>
                                {{ 'users.registered.7'|trans }}
                            </p>

                            <span>
                                {{ 'users.registered.8'|trans }}
                            </span>
                        </div>
                    </div>
                    {% if registrationConfig.getAddVipDays > 0 %}
                        <div class="row memo -green -margin-top-20">
                            <div class="col-sm-12">
                                <h5>
                                    {{ 'users.registered.16'|trans }}
                                </h5>

                                <p>
                                    {{ 'users.registered.17'|trans({COUNT: registrationConfig.getAddVipDays}) }}
                                </p>

                                <p>
                                    {{ 'users.registered.18'|trans }}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% if user.registeredInForum %}
                        <div class="row memo -margin-top-20">
                            <div class="col-sm-12">
                                <h5>
                                    {{ 'users.registered.9'|trans }}
                                    <a href="{{ forumLink }}" target="_blank">{{ 'users.registered.10'|trans }}</a>!
                                </h5>

                                <p>
                                    <span>{{ 'users.registered.11'|trans }}</span>
                                    <a href="{{ forumLink }}" target="_blank">{{ 'users.registered.10'|trans }}</a>
                                    <span>{{ 'users.registered.12'|trans }}</span>
                                    <span class="-bold">{{ 'users.registered.13'|trans }}</span>
                                    <span>{{ 'users.registered.14'|trans }}</span>
                                    <span class="-bold">{{ 'users.registered.15'|trans }}</span>!
                                </p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row text-center -margin-top-20">
                        <div class="col-sm-12">
                            <a href="{{ path('sky_download.links_index') }}" class="button -filled -green">{{ 'users.registered.3'|trans }}</a>
                            <a href="#" data-route="sky_faq_index" data-toggle="modal" data-target="#modal-faq" class="button -filled -blue -margin-left-20">{{ 'users.registered.4'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}