{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.users.reset_password'|trans }}{% endblock %}

{% block page_heading %}{{ 'users.reset_password.3'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% if done is not defined or done == false %}
            {% form_theme form with [
            '@App/layout/Form/form_errors.html.twig',
            '@App/layout/Form/form_row.html.twig',
            ] %}
        {% endif %}

        {% block content %}
            {% if done is defined and done == true %}
                <div class="memo row">
                    <div class="col-sm-12">
                        {{ 'users.reset_password.4'|trans }}
                    </div>
                </div>
            {% else %}
                {{ form_errors(form) }}

                {{ form_start(form, {'attr': {'class': 'form-horizontal register'}}) }}

                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        {{ form_row(form.username) }}
                        {{ form_row(form.email) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center -margin-top-20">
                        <button type="submit" class="button -filled -green">{{ 'users.reset_password.2'|trans }}</button>
                    </div>
                </div>
                {{ form_end(form) }}
            {% endif %}

        {% endblock %}
    {% endembed %}
{% endblock %}


