{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.users.reset_password'|trans }}{% endblock %}

{% block page_heading %}{{ 'users.reset_password.7'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% form_theme form with [
        '@App/layout/Form/form_errors.html.twig',
        '@App/layout/Form/form_row.html.twig',
        ] %}

        {% block content %}
            {{ form_errors(form) }}
            {{ form_start(form, {'attr': {'class': 'form-horizontal register'}}) }}

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    {{ form_row(form.password) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-center -margin-top-20">
                    <button type="submit" class="button -filled -green">{{ 'users.reset_password.8'|trans }}</button>
                </div>
            </div>
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}


