<div class="row">
    <div class="col-sm-4">
        {{ form_row(form.server) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.status) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.time) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ form_row(form.titleEng) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ form_row(form.titleRus) }}
    </div>
</div>

<button type="submit" class="btn btn-success">Save</button>
<a href="{{ path('sky_admin_timers_index') }}" class="btn btn-default">Back</a>