{% extends '@App/layout/page.html.twig' %}

{% block content %}
    <div class="row admin">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Title Eng</th>
                    <th>Title Rus</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Server</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="admin_timers">
                {% for timer in timers %}
                    <tr>
                        <td>{{ timer.getTitleEng }}</td>
                        <td>{{ timer.getTitleRus }}</td>
                        <td>{{ timer.getTime.format('Y-m-d H:i:s') }}</td>
                        <td>{{ timer.getStatus.getName }}</td>
                        <td>{{ timer.getServer ? timer.getServer.getName : 'All' }}</td>
                        <td class="controls">
                            <div class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Menu</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('sky_admin_timers_edit', {id: timer.getId}) }}">
                                            <span class="text">Edit</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('sky_admin_timers_remove', {id: timer.getId}) }}">
                                            <span class="text">Remove</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-success" href="{{ path('sky_admin_timers_create') }}">New</a>
        </div>
    </div>
{% endblock %}