{% extends '@App/layout/page.html.twig' %}

{% set currentRoute = app.request.attributes.get('_route') %}

{% block title %}{{ seoTitle }}{% endblock %}

{% block content %}
    <div class="row account">
        <div class="col-sm-12">
            <ul class="account-navigation">
                <li>
                    <a href="{{ path('sky_accounts_index') }}"{{ currentRoute == 'sky_accounts_index' ? ' class="-active"' : '' }}>
                        <i></i>
                        <span>{{ 'nav.account_menu.16'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('sky_vip_index') }}"{{ currentRoute in ['sky_vip_index', 'sky_vip_buy', 'sky_vip_renewal'] ? ' class="-active"' : '' }}>
                        <i></i>
                        <span>{{ 'nav.account_menu.14'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('sky_wcoin.shop_index') }}"{{ currentRoute in ['sky_wcoin.shop_index', 'sky_bonus.code_index', 'sky_bonus.code_activate', 'sky_order_index', 'sky_cart_index'] ? ' class="-active"' : '' }}>
                        <i></i>
                        <span>{{ 'nav.account_menu.17'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('sky_market_history.sale') }}"{{ currentRoute in ['sky_market_history.sale', 'sky_market_history.purchase'] ? ' class="-active"' : '' }}>
                        <i></i>
                        <span>{{ 'nav.account_menu.18'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('sky_referrals_index') }}"{{ currentRoute in ['sky_referrals_index', 'sky_referrals_reward'] ? ' class="-active"' : '' }}>
                        <i></i>
                        <span>{{ 'nav.account_menu.7'|trans }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row -page">
        <div class="col-sm-12">
            {% set account_heading_block = block('account_heading') %}
            {% if account_heading_block is not empty %}
                <div class="account-heading">
                    <span>{{ account_heading_block|raw }}</span>
                </div>
            {% endif %}
            <div class="account-content">
                {% block account_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}