{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.download_link'|trans }}{% endblock %}

{% block page_heading %}{{ 'download_link.index.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            <div class="row download -page">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="heading">
                            <div class="info">
                                <span class="title">{{ 'download_link.index.3'|trans }}</span>
                                <span class="description">({{ 'download_link.index.4'|trans }}) - {{ 'download_link.index.6'|trans }}</span>
                            </div>
                            <i class="-with-sound"></i>
                        </div>
                        <div class="links">
                            <a href="http://bit.ly/2NeeKbs" target="_blank" class="button -filled -download"><span class="-before"></span>mega<span class="-after"></span></a>
                            <a href="http://bit.ly/2Le2Tgw" target="_blank" class="button -filled -download"><span class="-before"></span>google drive<span class="-after"></span></a>
                            <a href="http://bit.ly/2zzM9LM" target="_blank" class="button -filled -download"><span class="-before"></span>yandex disk<span class="-after"></span></a>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="heading">
                            <div class="info">
                                <span class="title">{{ 'download_link.index.2'|trans }}</span>
                                <span class="description">({{ 'download_link.index.4'|trans }}) - {{ 'download_link.index.5'|trans }}</span>
                            </div>
                            <i class="-without-sound"></i>
                        </div>
                        <div class="links">
                            <a href="http://bit.ly/2zBeZvp" target="_blank" class="button -filled -download"><span class="-before"></span>mega<span class="-after"></span></a>
                            <a href="http://bit.ly/2LbtHum" target="_blank" class="button -filled -download"><span class="-before"></span>google drive<span class="-after"></span></a>
                            <a href="http://bit.ly/2Lb7QGH" target="_blank" class="button -filled -download"><span class="-before"></span>yandex disk<span class="-after"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}