{% if skill is defined %}
    <li data-skill="{{ skill.id }}" data-toggle-skill-popup class="skill">
        <img src="{{ asset('img/magic_list/skill/' ~ skill.imageId ~ '.png') }}" />

        <div class="skill_popup_container" data-skill-popup>
            <ul class="skill_popup">
                <li class="-name">{{ skill.name }}</li>
                {% if withoutInfo is not defined %}
                    <li class="-description">
                        {% if skill.damage != 0 %}
                            <div>{{ 'character_info.skills.damage'|trans }}{{ skill.damage }}</div>
                        {% endif %}
                        {% if skill.manaUsage != 0 %}
                            <div>{{ 'character_info.skills.mana_usage'|trans }}{{ skill.manaUsage }}</div>
                        {% endif %}
                        {% if skill.staminaUsage != 0 %}
                            <div>{{ 'character_info.skills.stamina_usage'|trans }}{{ skill.staminaUsage }}</div>
                        {% endif %}
                        {% if skill.distance != 0 %}
                            <div>{{ 'character_info.skills.distance'|trans }}{{ skill.distance }}</div>
                        {% endif %}
                        {% if skill.delay != 0 %}
                            <div>{{ 'character_info.skills.delay'|trans }}{{ skill.delay }}</div>
                        {% endif %}
                        {% if skill.requiredLevel != 0 %}
                            <div>{{ 'character_info.skills.required_level'|trans }}{{ skill.requiredLevel }}</div>
                        {% endif %}
                        {% if skill.requiredStrength != 0 %}
                            <div>{{ 'character_info.skills.required_strength'|trans }}{{ skill.requiredStrength }}</div>
                        {% endif %}
                        {% if skill.requiredAgility != 0 %}
                            <div>{{ 'character_info.skills.required_agility'|trans }}{{ skill.requiredAgility }}</div>
                        {% endif %}
                        {% if skill.requiredEnergy != 0 %}
                            <div>{{ 'character_info.skills.required_energy'|trans }}{{ skill.requiredEnergy }}</div>
                        {% endif %}
                        {% if skill.requiredCommand != 0 %}
                            <div>{{ 'character_info.skills.required_command'|trans }}{{ skill.requiredCommand }}</div>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
        </div>
    </li>
{% endif %}