{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.add_shop_stats'|trans }}{% endblock %}

{% block page_heading %}{{ 'add_shop_stats.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% form_theme form with [
        '@App/layout/Form/form_errors.html.twig',
        '@App/layout/Form/form_row.html.twig',
        ] %}

        {% block content %}
            <div class="row stats-shop -page -add-stats">

                <div class="col-sm-12">

                    {{ form_errors(form) }}

                    {{ form_start(form) }}

                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-2">
                            {{ form_widget(form.character) }}
                        </div>
                        <div class="col-sm-4">
                            {{ form_widget(form.stats, {'attr': {'class': 'form-control' ~ (form.vars.errors|length ? ' error' : '')}}) }}
                        </div>
                    </div>

                    <div class="row -text-center -add-stats">
                        <div class="col-sm-12">
                            <button type="submit" class="button -green">{{ 'add_shop_stats.1'|trans }}</button>
                        </div>
                    </div>

                    {{ form_end(form) }}

                </div>

            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}