{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.funds_transfer'|trans %}

{% block account_heading %}{{ 'funds_transfer.5'|trans }}{% endblock %}


{% block account_content %}
    {% form_theme form with [
        '@App/layout/Form/form_errors.html.twig',
        '@App/layout/Form/form_row.html.twig',
    ] %}
    <div class="row public  -margin-top-20">
        <div class="col-sm-10 col-sm-offset-1">

            {{ form_errors(form) }}

            {{ form_start(form) }}
            {{ form_row(form._token) }}


            <ul class="key-value-container">
                <li class="-item">
                    <span class="-key">{{ 'funds_transfer.6'|trans }}</span>
                    <span class="-value">
                                <span>{{ userServerAccount.zen }}</span>
                                <span class="-zen">kk Zen</span>
                            </span>
                </li>
                <li class="-item">
                    <span class="-key">
                        <span>{{ 'funds_transfer.7'|trans }}</span>
                        <span class="-wcoin">{{ 'funds_transfer.1'|trans }}</span>
                    </span>
                    <span class="-value">
                        <span>{{ coins is defined and coins is not null ? coins.wCoinC : 0 }}</span>
                    </span>
                </li>
            </ul>


            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_row(form.currency) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_row(form.amount) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_row(form.to) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row -margin-top-20 text-center">
                <div class="col-sm-12">
                    <button type="submit" class="button -filled -green">{{ 'funds_transfer.8'|trans }}</button>
                </div>
            </div>


            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>
{% endblock %}