{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.hide_info'|trans %}

{% block account_heading %}{{ 'hide_info.0'|trans }}{% endblock %}

{% block account_content %}
    {% form_theme form with [
    '@App/layout/Form/form_errors.html.twig',
    '@App/layout/Form/form_row.html.twig',
    ] %}
    <div class="row public -margin-top-20">
        <div class="col-sm-6 col-sm-offset-3">
            {{ form_errors(form) }}

            {{ form_start(form) }}
            {{ form_row(form._token) }}
            {{ form_row(form.dailyRate) }}

            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_label(form.days, '', {'label_attr': {'class': 'control-label'}}) }}
                        </div>
                        <div class="col-sm-6 -vertical-flex-center-align">
                            {{- form_widget(form.days, {'attr': {'class': 'form-control' ~ (form.vars.errors|length ? ' error' : '')}}) -}}
                            {{- form_errors(form.days) -}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row -margin-top-20 text-center">
                <div class="col-sm-12">
                    <button type="submit" class="button -filled -green">{{ 'hide_info.3'|trans }}</button>
                </div>
            </div>

            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>
{% endblock %}
