{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% set seoTitle = 'nav.account_menu.16'|trans %}

{% block account_heading %}{{ 'nav.account_menu.16'|trans }}{% endblock %}

{% block account_content %}
    <div class="row top -characters">
        <div class="col-sm-12">
            {% embed '@App/layout/_partials/card.html.twig' %}
                {% block content %}
                    {%- include '@App/users/_partials/characters.html.twig' with {characters: account.getCharacters, userToView: user} -%}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    {% embed '@App/layout/_partials/card.html.twig' %}
                        {% block heading %}<span>{{ 'account.0'|trans }}</span>{% endblock %}
                        {% block content %}
                            <ul class="operations">
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#modal-web-storage">{{ 'nav.account_menu.3'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('sky_accounts_zen.bank') }}">{{ 'nav.account_menu.13'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('sky_accounts_funds.transfer') }}">{{ 'nav.account_menu.20'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('sky_users_change.password') }}">{{ 'nav.account_menu.10'|trans }}</a>
                                </li>
                                {% if userServerAccount.hiddenTill is null %}
                                    <li>
                                        <a href="{{ path('sky_accounts_hide.info') }}">{{ 'nav.account_menu.19'|trans }}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% embed '@App/layout/_partials/card.html.twig' %}
                        {% block heading %}<span>{{ 'account.1'|trans }}</span>{% endblock %}
                        {% block content %}
                            <div class="info-container">
                                <ul class="info-data">
                                    <li>
                                        <span>{{ 'account.2'|trans }}</span>
                                        <span>{% include '@App/accounts/status.html.twig' with {account: account} %}</span>
                                    </li>
                                    <li>
                                        <span>{{ 'account.3'|trans }}</span>
                                        <span>{{ online_time(account.getState.getTotalSpentTime * 60) }}</span>
                                    </li>
                                    <li>
                                        <span>{{ 'account.4'|trans }}</span>
                                        <span>{{ user.getReferrals.count }}</span>
                                    </li>
                                    <li>
                                        <span>{{ 'account.5'|trans }}</span>
                                        <span>{{ userServerAccount.getVotes.count }}</span>
                                    </li>
                                    <li>
                                        {% if userServerAccount.hiddenTill is not null %}
                                            <span>{{ 'users.index.7'|trans }}: </span>
                                            <span>{{ userServerAccount.hiddenTill.format('d.m.Y H:i') }}</span>
                                        {% else %}
                                            <span>{{ 'users.index.8'|trans }}</span>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
        <div class="col-sm-6 warehouse">
            {% embed '@App/layout/_partials/card.html.twig' %}
                {% block heading %}<span>{{ 'account.6'|trans }}</span>{% endblock %}
                {% block content %}
                    {%- include '@App/_partials/items/storage.html.twig' with {items: items, rows: 15, tabs: [{offset: 0, limit: 120}, {offset: 120, limit: 240}]} -%}
                {% endblock %}
            {% endembed %}
            <div class="controls_container">
                <a href="#" class="button -filled -blue" data-move-to-storage-trigger>{{ 'account.8'|trans }}</a>
                <a href="#" class="button -filled -blue" data-market-sell-trigger>{{ 'account.9'|trans }}</a>
                <a href="#" class="button -filled -red" data-remove-trigger>{{ 'account.10'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}


{% block modals %}
    {{ parent() }}

    {% include '@App/_partials/modals/web_storage.html.twig' %}
{% endblock %}