<span class="online-status">
    {% if account and account.getState.getConnectionState == constant('AppBundle\\Repository\\MuOnline\\AccountStateRepository::STATE_ONLINE') %}
        <span class="online">Online</span>
    {% else %}
        <span class="offline">Offline</span>
    {% endif %}
</span>