{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.zen_bank'|trans %}

{% block account_heading %}{{ 'zen_bank.0'|trans }}{% endblock %}


{% block account_content %}
    {% form_theme form with [
    '@App/layout/Form/form_errors.html.twig',
    '@App/layout/Form/form_row.html.twig',
    ] %}
    <div class="row public  -margin-top-20">
        <div class="col-sm-10 col-sm-offset-1">

            {{ form_errors(form) }}

            {{ form_start(form) }}
            {{ form_row(form._token) }}


            <ul class="key-value-container">
                <li class="-item">
                    <span class="-key">{{ 'zen_bank.6'|trans }}</span>
                    <span class="-value">
                        <span>{{ accountZen|number_format(0, '.', ' ') }}</span>
                        <span class="-zen">Zen</span>
                    </span>
                </li>
                <li class="-item">
                    <span class="-key">{{ 'zen_bank.7'|trans }}</span>
                    <span class="-value">
                        <span>{{ userServerAccount.zen }}</span>
                        <span class="-zen">kk Zen</span>
                    </span>
                </li>
            </ul>


            <div class="row memo -red">
                <div class="col-sm-12">
                    <div>
                        <span class="-bold">{{ 'zen_bank.9'|trans }}</span>
                        <span>{{ 'zen_bank.10'|trans }}</span>
                        <span class="-zen">{{ 'zen_bank.11'|trans }}</span>
                        <span>{{ 'zen_bank.12'|trans }}</span>
                        <span class="-zen">{{ 'zen_bank.11'|trans }}</span>,
                        <span>{{ 'zen_bank.13'|trans }}</span>
                        <span class="-bold">{{ 'zen_bank.14'|trans }}</span>
                        <span class="-zen">{{ 'zen_bank.15'|trans }}</span>!
                        <span>{{ 'zen_bank.16'|trans }}</span>
                        <span class="-zen">{{ 'zen_bank.11'|trans }}</span>
                        <span>{{ 'zen_bank.17'|trans }}</span>
                        <span class="-zen">{{ 'zen_bank.15'|trans }}</span>.
                        <br />
                        <br />
                    </div>
                    <div>
                        <span>{{ 'zen_bank.18'|trans }}</span>
                        <span class="-bold">{{ 'zen_bank.19'|trans }}</span>
                        <span class="-zen">{{ 'zen_bank.11'|trans }}</span>
                        <span>{{ 'zen_bank.20'|trans }}</span>
                        <span class="-bold">{{ 'zen_bank.21'|trans }}</span>
                        <span class="-zen">{{ 'zen_bank.15'|trans }}</span>!
                    </div>
                </div>
            </div>

            <div class="row -margin-top-20">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_row(form.amount) }}
                        </div>
                        <div class="col-sm-6 -vertical-flex-center-align">
                            {{ form_widget(form.type) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row -margin-top-20 text-center">
                <div class="col-sm-12">
                    <button type="submit" class="button -filled -green">{{ 'zen_bank.5'|trans }}</button>
                </div>
            </div>


            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>
{% endblock %}