<span class="inline-flag">
    {% include '@App/character/_partials/country/flag.html.twig' with {user: user} %}
    {% include '@App/character/_partials/country/name.html.twig' with {user: user} %}
</span>