{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.market.index'|trans }}{% endblock %}

{% block page_heading %}{{ 'market.index.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            <div class="row market -page -index">

                <div class="col-sm-12 filters">
                    {% include '@App/market/_partials/search_form.html.twig' %}
                </div>

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            {% if items|length %}
                                <div class="items">
                                    {% include '@App/market/_partials/items.html.twig' %}
                                </div>
                            {% else %}
                                <div class="alert alert-info">
                                    {{ 'market.index.8'|trans }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            {% include '@App/_partials/pagination.html.twig' with {pagination: pagination, routeName: 'sky_market_index'} %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}