{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.market.return'|trans({ITEM: item.itemInfo.getName }) }}{% endblock %}

{% block page_heading %}{{ 'market.return.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% form_theme form with [
        '@App/layout/Form/form_errors.html.twig',
        ] %}

        {% block content %}

            {{ form_errors(form) }}

            {{ form_start(form) }}

            {{ form_row(form.commission) }}
            {{ form_row(form._token) }}


            <div class="col-sm-12 market -page -return">
                <div class="row">
                    <div class="col-sm-12 item-bg-container">
                        <div class="item-bg">
                            {% include '@App/_partials/items/item_show_image.html.twig' with {item: item, withBg: false} %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            {% if form.commission.vars.data > 0 %}
                                <span>{{ 'market.return.1'|trans }} </span>
                                {% if marketItem.priceType == constant('AppBundle\\Doctrine\\Type\\MarketPriceTypeEnum::MARKET_PRICE_TYPE_CREDITS') %}
                                    <span class="price-wcoin">{{ form.commission.vars.data }}</span>
                                    <span class="icon icon-wcoin"></span>
                                {% elseif marketItem.priceType == constant('AppBundle\\Doctrine\\Type\\MarketPriceTypeEnum::MARKET_PRICE_TYPE_ZEN') %}
                                    <span class="price-zen">{{ form.commission.vars.data }} kk</span>
                                    <span class="icon icon-zen"></span>
                                {% else %}
                                    {{ 'market.return.4'|trans }}
                                {% endif %}
                            {% else %}
                                <span class="price">{{ 'market.return.7'|trans }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if marketItem.priceType == constant('AppBundle\\Doctrine\\Type\\MarketPriceTypeEnum::MARKET_PRICE_TYPE_ZEN') %}
                    <div class="row memo">
                        <div class="col-sm-12">{{ 'market.return.5'|trans }}</div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="button -filled -blue">{{ 'market.return.6'|trans }}</button>
                    </div>
                </div>

            </div>


            {{ form_end(form, {render_rest: false}) }}

        {% endblock %}
    {% endembed %}
{% endblock %}