{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.market.sale_history'|trans %}

{% block account_heading %}{{ 'market.index.11'|trans }}{% endblock %}

{% block account_content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            <div class="row -tops-navigation">
                <div class="col-sm-12 -text-center">
                    {% set currentRoute = app.request.attributes.get('_route') %}
                    <a class="button -texture{{ currentRoute == 'sky_market_history.sale' ? ' -active' : '' }}" href="{{ path('sky_market_history.sale') }}"><span>{{ 'nav.account_menu.11'|trans }}</span></a>
                    <a class="button -texture{{ currentRoute == 'sky_market_history.purchase' ? ' -active' : '' }}" href="{{ path('sky_market_history.purchase') }}"><span>{{ 'nav.account_menu.12'|trans }}</span></a>
                </div>
            </div>
            <div class="row market -page -history -sale">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            {% if items|length %}
                                <div class="items">
                                    {% include '@App/market/_partials/items.html.twig' %}
                                </div>
                            {% else %}
                                <div class="alert alert-info">
                                    {{ 'market.index.8'|trans }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {% include '@App/_partials/pagination.html.twig' with {pagination: pagination, routeName: 'sky_market_history.sale'} %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock account_content %}