{% extends '@App/layout/page.html.twig' %}

{% block title %}{{ 'seo.title.market.sell'|trans({ITEM: item.itemInfo.getName }) }}{% endblock %}

{% block page_heading %}{{ 'market.sell.0'|trans }}{% endblock %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% form_theme form with [
            '@App/layout/Form/form_errors.html.twig',
            '@App/layout/Form/form_row.html.twig',
        ] %}

        {% block content %}

            {{ form_errors(form) }}

            {{ form_start(form) }}

            <div class="row market -page -buy">
                <div class="col-sm-10">


                    <div class="row">
                        <div class="col-sm-12 item-bg-container">
                            <div class="item-bg">
                                {% include '@App/_partials/items/item_show_image.html.twig' with {item: item, withBg: false} %}
                            </div>
                        </div>
                    </div>

                    <div class="row memo -red">
                        <div class="col-sm-12">
                            <div>
                                <span class="-bold">{{ 'market.sell.6'|trans }}</span>
                                <span>{{ 'market.sell.7'|trans }}</span>
                                <span class="-zen">{{ 'market.sell.8'|trans }}</span>
                                <span>{{ 'market.sell.9'|trans }}</span>
                                <span class="-bold">{{ 'market.sell.10'|trans }}</span>
                                <span>-</span>
                                <span class="-zen">{{ 'market.sell.15'|trans }}</span>!
                                <br/>
                            </div>
                            <div>
                                <span>{{ 'market.sell.11'|trans }}</span>
                                <span class="-zen">{{ 'market.sell.12'|trans }}</span>
                                <span class="-zen">{{ 'market.sell.8'|trans }}</span>
                                <span>{{ 'market.sell.13'|trans }}</span>
                                <span class="-zen">{{ 'market.sell.14'|trans }}</span>
                                <span class="-zen">{{ 'market.sell.15'|trans }}</span>.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    {{- form_row(form.price, {'attr': {'placeholder': form.price.vars.label}}) -}}
                                </div>
                                <div class="col-sm-6 -price-type-input">
                                    {{ form_widget(form.priceType) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row memo">
                        <div class="col-sm-12">{{ 'market.sell.1'|trans }}</div>
                    </div>

                    <div class="row -text-center">
                        <div class="col-sm-12">
                            <button type="submit" class="button -filled -green">{{ 'market.sell.2'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>


            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}