{% extends '@App/shop/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.cart'|trans %}

{% block account_heading %}{{ 'cart.0'|trans }}{% endblock %}

{% block shop_content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            {% form_theme form with [
            '@App/layout/Form/form_errors.html.twig',
            '@App/layout/Form/form_row.html.twig',
            ] %}

            <div class="row cart -page -index">
                <div class="col-sm-12">
                    {{ form_errors(form) }}
                    {% if items|length %}
                        {{ form_start(form, {attr: {
                            'data-type-credits': constant('AppBundle\\Doctrine\\Type\\CartPurchaseTypeEnum::PURCHASE_TYPE_CREDITS'),
                            'data-type-money': constant('AppBundle\\Doctrine\\Type\\CartPurchaseTypeEnum::PURCHASE_TYPE_MONEY'),
                            'data-coupon-type-credits': constant('AppBundle\\Doctrine\\Type\\CartDiscountCouponTypeEnum::DISCOUNT_COUPON_TYPE_CREDITS'),
                            'data-coupon-type-money': constant('AppBundle\\Doctrine\\Type\\CartDiscountCouponTypeEnum::DISCOUNT_COUPON_TYPE_MONEY'),
                            'data-persistent-discount-credits': webShop.discount.credits ? webShop.discount.credits.getDiscount : 0,
                            'data-persistent-discount-money': webShop.discount.money ? webShop.discount.money.getDiscount : 0,
                        }}) }}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{ 'cart.1'|trans }}</th>
                                <th>{{ 'cart.2'|trans }} <span class="icon icon-wcoin"></span></th>
                                <th>{{ 'cart.2'|trans }} <span class="icon icon-money"></span></th>
                                <th></th>
                            </tr>
                            </thead>
                            {% for item in items %}
                                <tr>
                                    <td>
                                        {% if item.itemToBuy.getType == constant('AppBundle\\Doctrine\\Type\\ItemToBuyTypeEnum::TYPE_ITEM') %}
                                            {% include '@App/_partials/items/item_show_line.html.twig' with {item: item.parsedItem} %}
                                        {% elseif item.itemToBuy.getType == constant('AppBundle\\Doctrine\\Type\\ItemToBuyTypeEnum::TYPE_STATS') %}
                                            {{ 'cart.4'|trans({COUNT: item.itemToBuy.getStats}) }}
                                        {% elseif item.itemToBuy.getType == constant('AppBundle\\Doctrine\\Type\\ItemToBuyTypeEnum::TYPE_WCOIN') %}
                                            <span>{{ item.itemToBuy.getStats }}</span>
                                            <span class="icon icon-wcoin"></span>
                                        {% else %}
                                            {{ 'cart.5'|trans }}
                                        {% endif %}
                                    </td>
                                    <td>
                                                        <span class="price item-price-credits"
                                                              data-item-price="{{ item.itemToBuy.getPriceCredits }}"
                                                              data-persistent-discount-can-be-applied="{{ item.itemToBuy.getType != constant('AppBundle\\Doctrine\\Type\\ItemToBuyTypeEnum::TYPE_WCOIN') ? 'true' : 'false' }}"
                                                        >
                                                            {{ item.itemToBuy.getPriceCredits }}
                                                        </span>
                                    </td>
                                    <td>
                                                        <span class="price item-price-money"
                                                              data-item-price="{{ item.itemToBuy.getPriceMoney }}"
                                                              data-persistent-discount-can-be-applied="{{ item.itemToBuy.getType != constant('AppBundle\\Doctrine\\Type\\ItemToBuyTypeEnum::TYPE_WCOIN') ? 'true' : 'false' }}"
                                                        >
                                                            {{ item.itemToBuy.getPriceMoney }}
                                                        </span>
                                    </td>
                                    <td>
                                        <a href="{{ path('sky_cart_remove_item', {id: item.itemToBuy.getId}) }}" class="-empty">{{ 'cart.10'|trans }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td class="total">{{ 'cart.6'|trans }}</td>
                                <td><span class="price" data-total-price-credits="{{ form.priceCredits.vars.data }}">{{ form.priceCredits.vars.data }}</span></td>
                                <td><span class="price" data-total-price-money="{{ form.priceMoney.vars.data }}">{{ form.priceMoney.vars.data }}</span></td>
                                <td>
                                    <a href="{{ path('sky_cart_remove') }}" class="-empty">{{ 'cart.11'|trans }}</a>
                                </td>
                            </tr>
                        </table>
                        <div class="row -controls">
                            <div class="col-sm-4">
                                {{ form_row(form._token) }}
                                {{ form_row(form.type, {attr: {'data-type-input':''}}) }}
                                {{ form_row(form.coupon, {attr: {'data-coupon-input':''}}) }}
                                {{ form_row(form.priceCredits, {attr: {'data-price-credits-input':''}}) }}
                                {{ form_row(form.priceMoney, {attr: {'data-price-money-input':''}}) }}
                            </div>
                            <div class="col-sm-8 center">
                                <button data-trigger-buy-money type="submit" class="button -filled -green">{{ 'cart.7'|trans }}</button>
                            </div>
                        </div>

                        {{ form_end(form, {'render_rest': false}) }}
                    {% else %}
                        <div class="row -empty">
                            <div class="col-sm-12">
                                {% if servers.current.getWebShopConfig.isEnabled == true %}
                                    <a href="{{ path('sky_webshop_index') }}" class="button -filled -green">{{ 'cart.8'|trans }}</a>
                                {% endif %}
                                {% if servers.current.getStatsShopConfig.isEnabled == true %}
                                    <a href="{{ path('sky_stats.shop_index') }}" class="button -filled -blue">{{ 'cart.12'|trans }}</a>
                                {% endif %}
                                {% if servers.current.getWCoinShopConfig.isEnabled == true %}
                                    <a href="{{ path('sky_wcoin.shop_index') }}" class="button -filled -blue">{{ 'cart.17'|trans }}</a>
                                {% endif %}
                            </div>
                        </div>
                        {% if (
                        servers.current.getWebShopConfig.isEnabled == false and
                        servers.current.getStatsShopConfig.isEnabled == false and
                        servers.current.getWCoinShopConfig.isEnabled == false
                        )
                        %}
                            <div class="alert alert-info">
                                {{ 'cart.18'|trans }}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock shop_content %}