{% if is_granted('ROLE_ADMINISTRATOR') or is_granted('ROLE_MODERATOR') %}
    <div class="admin-menu">
        <div class="col-sm-12">
            {% include '@App/layout/nav/manager.html.twig' %}
        </div>

        {% if is_granted('ROLE_ADMINISTRATOR') %}
            <div class="col-sm-12">
                {% include '@App/layout/nav/admin.html.twig' %}
            </div>
        {% endif %}
    </div>
{% endif %}