<div class="cabinet-container">
    <div class="timer">
        <div class="container"
             data-label-days="{{ 'event_timing.event.timer.days'|trans }}"
             data-label-hours="{{ 'event_timing.event.timer.hours'|trans }}"
             data-label-minutes="{{ 'event_timing.event.timer.minutes'|trans }}"
             data-label-seconds="{{ 'event_timing.event.timer.seconds'|trans }}">
        </div>
        <div class="timer-title"></div>
    </div>
    {% include '@App/layout/sideblocks/login/container.html.twig' %}
</div>