<div class="quick-top">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#character" aria-controls="character" role="tab" data-toggle="tab"><span>{{ 'quick_top.character'|trans }}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#guild" aria-controls="guild" role="tab" data-toggle="tab"><span>{{ 'quick_top.guild'|trans }}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#last-in-market" aria-controls="market" role="tab" data-toggle="tab"><span>{{ 'quick_top.market'|trans }}</span></a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="character">
            {% include '@App/layout/sideblocks/top_chars/characters.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="guild">
            {% include '@App/layout/sideblocks/top_guilds/guilds.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="last-in-market">
            {% include '@App/layout/sideblocks/last_in_market/items.html.twig' %}
        </div>
    </div>
</div>