{% extends '@App/layout/page.html.twig' %}

{% block page_content %}
    <div class="row -page -manager">
        <div class="col-sm-12">
            {% form_theme form with [
            '@App/layout/Form/form_errors.html.twig',
            ] %}


            {% block heading %}Search User By Keyword{% endblock %}
            {% block content %}
                {{ form_errors(form) }}

                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_row(form.keyword) }}
                        </div>
                    </div>

                    <button type="submit" class="button -filled -green">Search</button>
                {{ form_end(form) }}

            {% endblock %}
        </div>
    </div>
{% endblock %}