{% extends '@App/layout/page.html.twig' %}

{% block content %}
    <div class="row -page -manager">
        <div class="col-sm-12">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    {% if is_granted("ROLE_ADMINISTRATOR") %}
                        <th>Password</th>
                    {% endif %}
                    <th>Display Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Last Login</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="admin_news">
                {% for result in searchResults %}
                    <tr>
                        <td>{{ result.getId }}</td>
                        <td>{{ result.getUsername }}</td>
                        {% if is_granted("ROLE_ADMINISTRATOR") %}
                            <td>{{ result.getPassword }}</td>
                        {% endif %}
                        <td><a href="{{ path('sky_users_view', {id: result.getId }) }}" target="_blank">{{ result.getDisplayName }}</a></td>
                        <td>{{ result.email }}</td>
                        <td>{{ result.getCreatedAt.format('Y-m-d H:i:s') }}</td>
                        <td>{{ result.getLoggedAt.format('Y-m-d H:i:s') }}</td>
                        <td><a href="{{ path('sky_manager_user.manager_view', {id: result.getId}) }}" target="_blank">Manage</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}