{% extends '@App/layout/page.html.twig' %}

{% block content %}
    <div class="row -page -manager">
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-3">ID:</div>
                <div class="col-sm-9">{{ result.getId }}</div>
            </div>
            <div class="row">
                <div class="col-sm-3">Username:</div>
                <div class="col-sm-9">{{ result.getUsername }}</div>
            </div>
            {% if is_granted("ROLE_ADMINISTRATOR") %}
                <div class="row">
                    <div class="col-sm-3">Password:</div>
                    <div class="col-sm-9">{{ result.getPassword }}</div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-3">Display Name:</div>
                <div class="col-sm-9"><a href="{{ path('sky_users_view', {id: result.getId }) }}"
                                         target="_blank">{{ result.getDisplayName }}</a></div>
            </div>
            <div class="row">
                <div class="col-sm-3">Email:</div>
                <div class="col-sm-9">{{ result.email }}</div>
            </div>
            <div class="row">
                <div class="col-sm-3">Created At:</div>
                <div class="col-sm-9">{{ result.getCreatedAt.format('Y-m-d H:i:s') }}</div>
            </div>
            <div class="row">
                <div class="col-sm-3">Last Login:</div>
                <div class="col-sm-9">{{ result.getLoggedAt.format('Y-m-d H:i:s') }}</div>
            </div>
            <div class="row">
                <div class="col-sm-3">IP Address:</div>
                <div class="col-sm-9">{{ result.ipAddress|long2ip }}</div>
            </div>
            {% if is_granted("ROLE_ADMINISTRATOR") %}
                <div class="row">
                    <div class="col-sm-3">WCoinC:</div>
                    <div class="col-sm-9">
                        <span>{{ resultCoins.wCoinC }}</span>
                        <a href="{{ path('sky_manager_user.manager_funds.change.coins', {id: result.getId}) }}">
                            <span class="text">Edit</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Zen Bank:</div>
                    <div class="col-sm-9">
                        <span>{{ zenBank }} kk</span>
                        <a href="{{ path('sky_manager_user.manager_funds.change.zen_bank', {id: result.getId}) }}">
                            <span class="text">Edit</span>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <a class="button -filled -red" href="{{ path('sky_manager_user.manager_ban.create', {id: result.getId}) }}">Ban</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            List of characters
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 top -characters">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ 'character.3'|trans }}</th>
                            <th class="stats">
                                <span>{{ 'character.5'|trans }}</span>
                                <span>{{ 'character.6'|trans }}</span>
                                <span>{{ 'character.7'|trans }}</span>
                            </th>
                            <th>{{ 'character.8'|trans }}</th>
                            <th>{{ 'character.9'|trans }}</th>
                            <th>{{ 'character.10'|trans }}</th>
                            <th>{{ 'character.11'|trans }}</th>
                            <th>{{ 'character.12'|trans }}</th>
                            <th>{{ 'character.18'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for character in resultAccount.getCharacters %}
                            <tr>
                                <td class="-state {{ character.isOnline ? '-online' : '-offline' }}">{% include '@App/character/_partials/name.html.twig' with {character: character} %}</td>
                                <td class="stats">{% include '@App/character/_partials/stats.html.twig' with {character: character} %}</td>
                                <td>{% include '@App/character/_partials/strength.html.twig' with {character: character} %}</td>
                                <td>{% include '@App/character/_partials/agility.html.twig' with {character: character} %}</td>
                                <td>{% include '@App/character/_partials/vitality.html.twig' with {character: character} %}</td>
                                <td>{% include '@App/character/_partials/energy.html.twig' with {character: character} %}</td>
                                <td>{% include '@App/character/_partials/stamina.html.twig' with {character: character} %}</td>
                                <td>{% include '@App/character/_partials/free_points.html.twig' with {character: character} %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            List of bans
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 top -characters">
                    {% if result.getBans|length %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Reason</th>
                                <th>Expire At</th>
                                <th>Banned By</th>
                                <th>Active?</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ban in result.getBans %}
                                <tr>
                                    <td>{% include '@App/prison/_partials/reason.html.twig' with {ban: ban} %}</td>
                                    <td>{% include '@App/prison/_partials/expire_at.html.twig' with {ban: ban} %}</td>
                                    <td>{% include '@App/prison/_partials/banned_by.html.twig' with {ban: ban} %}</td>
                                    <td>{{ ban.isActive ? 'Yes' : 'No' }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-info">
                            No bans for this user yet.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}