{% if servers.list and servers.list|length %}
    <div class="row">
        <div class="col-sm-12">
            {% if topChars is defined and topChars|length %}
                <ul class="characters -quick-top">
                    <li class="heading">
                        <div>{{ 'character.2'|trans }}</div>
                        <div>{{ 'character.3'|trans }}</div>
                        <div>{{ 'character.5'|trans }}</div>
                        <div>{{ 'character.6'|trans }}</div>
                        <div>{{ 'character.7'|trans }}</div>
                    </li>
                    {% for idx, character in topChars %}
                        <li class="item">
                            <div class="online-status -character{{ character.isOnline ? ' -online' : ' -offline' }}">{% include '@App/_partials/table_number.html.twig' with {number: idx + 1} %}</div>
                            <div>{% include '@App/character/_partials/name.html.twig' with {character: character, state: character.isOnline, user: null} %}</div>
                            <div>{% include '@App/character/_partials/level.html.twig' with {character: character} %}</div>
                            <div>{% include '@App/character/_partials/reset.html.twig' with {character: character} %}</div>
                            <div>{% include '@App/character/_partials/grand_reset.html.twig' with {character: character} %}</div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-info">
                    {{ 'character.14'|trans }}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}