<div class="col-sm-12 admin">
    <div class="row">
        <div class="col-sm-5">
            {{ form_row(form.name) }}
            {{ form_row(form.size) }}
        </div>
        <div class="col-sm-7">
            <ul id="download-links-group-links" data-prototype="{{ form_widget(form.links.vars.prototype)|e }}">
                {% for link in form.links %}
                    <li>
                        {% include '@App/admin/download_link/_partials/link_fields.html.twig' %}
                    </li>
                {% endfor %}
            </ul>
            <a href="#" id="add-another-group-download-link">Add item</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>

</div>
