<div class="row">
    <div class="col-sm-10">
        {{ form_widget(link.provider) }}
    </div>
    <div class="col-sm-2">
        <a href="#" class="remove-group-link">Remove</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        {{ form_widget(link.link) }}
    </div>
</div>