{% extends '@App/layout/page.html.twig' %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}

        {% form_theme form with [
        '@App/layout/Form/form_errors.html.twig',
        ] %}

        {% block heading %}Create Bonus Codes{% endblock %}
        {% block content %}
            {{ form_errors(form) }}

            {{ form_start(form) }}
            {{ form_row(form._token) }}

            <div class="col-sm-12 admin">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            {{ form_row(form.count) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            {{ form_row(form.expireAt) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            {{ form_row(form.amount) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>

            </div>

            {{ form_end(form, {render_rest: false}) }}

        {% endblock %}
    {% endembed %}
{% endblock %}