{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.referrals.index'|trans %}

{% block account_heading %}{{ 'referrals.index.0'|trans }}{% endblock %}

{% block account_content %}
    <div class="row referrals -page -index">
        <div class="col-sm-12">

            {% embed '@App/layout/_partials/card.html.twig' %}
                {% block heading %}{{ 'referrals.index.1'|trans }}{% endblock %}
                {% block content %}
                    <div class="row memo">
                        <div class="col-sm-12">
                            <a href="{{ path('sky_users_register', {referrer: user.getDisplayName}) }}">{{ url('sky_users_register', {referrer: user.getDisplayName}) }}</a>
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}

            {% embed '@App/layout/_partials/card.html.twig' %}
                {% block heading %}{{ 'referrals.index.5'|trans }}{% endblock %}
                {% block content %}
                    <div class="row memo">
                        <div class="col-sm-12">
                            {% set referralsConfig = servers.current.getReferralConfig %}
                            {% if referralsConfig is defined and referralsConfig is not null %}
                                <span>{{ 'referrals.index.6'|trans }}</span>
                                <ul>
                                    <li>
                                        {{ 'referrals.index.7'|transchoice(referralsConfig.getRequiredReset, {COUNT: referralsConfig.getRequiredReset}) }}
                                    </li>
                                    <li>
                                        {{ 'referrals.index.8'|transchoice(referralsConfig.getRequiredGrandReset, {COUNT: referralsConfig.getRequiredGrandReset}) }}
                                    </li>
                                    <li>
                                        {{ 'referrals.index.9'|transchoice(referralsConfig.getRequiredOnlineTime, {COUNT: referralsConfig.getRequiredOnlineTime}) }}
                                    </li>
                                    <li>
                                        {{ 'referrals.index.10'|transchoice(referralsConfig.getRequiredVotes, {COUNT: referralsConfig.getRequiredVotes}) }}
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}

            <div class="row memo -margin-top-20">
                <div class="col-sm-12">
                    {% set referralsConfig = servers.current.getReferralConfig %}
                    {% if referralsConfig is defined and referralsConfig is not null %}
                        <span>{{ 'faq.referral_system.16'|trans }}</span>
                        <span class="-wcoin">{{ referralsConfig.getReward }}</span>
                        <span class="icon icon-wcoin"></span>
                    {% endif %}
                </div>
            </div>

            {% if referredBy is not null %}
                {% embed '@App/layout/_partials/card.html.twig' %}
                    {% block heading %}{{ 'referrals.index.14'|trans }}{% endblock %}
                    {% block content %}
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>{{ 'referrals.index.3'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <a href="{{ path('sky_users_view', {id: referredBy.getId}) }}">{{ referredBy.getDisplayName }}</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endblock %}
                {% endembed %}
            {% endif %}

            {% embed '@App/layout/_partials/card.html.twig' %}
                {% block heading %}{{ 'referrals.index.2'|trans }}{% endblock %}
                {% block content %}
                    <div class="row">
                        <div class="col-sm-12">
                            {% if referrals is defined and referrals|length %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>{{ 'referrals.index.3'|trans }}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for referral in referrals %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('sky_users_view', {id: referral.getId}) }}">{{ referral.getDisplayName }}</a>
                                            </td>
                                            <td>
                                                {% set referralUserServerAccount = referral.getUserServerAccountByServer(servers.current) %}
                                                {% if referralUserServerAccount is null %}
                                                    {{ 'referrals.index.12'|trans }}
                                                {% elseif referralUserServerAccount.getReferredReward %}
                                                    {{ 'referrals.index.13'|trans({COUNT: referralUserServerAccount.getReferredReward.getReward}) }}
                                                {% else %}
                                                    <a href="{{ path('sky_referrals_reward', {id: referral.getId}) }}">{{ 'referrals.index.11'|trans }}</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="alert alert-info">
                                    {{ 'referrals.index.4'|trans }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {% include '@App/_partials/pagination.html.twig' with {pagination: pagination, routeName: 'sky_referrals_index'} %}
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}

        </div>
    </div>
{% endblock account_content %}