{% extends '@App/accounts/_partials/wrapper.html.twig' %}

{% set seoTitle = 'seo.title.referrals.reward'|trans %}

{% block account_heading %}{{ 'referrals.reward.0'|trans }}{% endblock %}

{% block account_content %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block content %}
            {% form_theme form with [
            '@App/layout/Form/form_errors.html.twig',
            ] %}
            <div class="row referrals -page -reward">
                <div class="col-sm-12">
                    {{ form_errors(form) }}
                    {{ form_start(form) }}
                    {{ form_row(form.reward) }}
                    <div class="row memo">
                        <div class="col-sm-12">
                            <span>{{ 'referrals.reward.1'|trans }}</span>
                            <span>{{ form.reward.vars.data }}</span>
                            <span class="-wcoin">WCoin</span>
                        </div>
                    </div>
                    <div class="row control">
                        <div class="col-sm-12">
                            <button type="submit" class="button -filled -green">{{ 'referrals.reward.2'|trans }}</button>
                        </div>
                    </div>
                    {{ form_end(form, {render_rest: false}) }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock account_content %}