{% if pagination.maxPages > 1 and routeName is defined and routeName|length > 1 %}
    {% if routeParams is not defined %}
        {% set routeParams = [] %}
    {% endif %}

    <ul class="pagination pagination-sm">
        {% if pagination.thisPage != 1 %}
            <li class="-first">
                <a href="{{ path(routeName, {page: pagination.thisPage-1 < 1 ? 1 : pagination.thisPage-1}|merge(routeId is defined ? {id: routeId} : {})|merge(routeParams)) }}"></a>
            </li>
        {% endif %}

        {% set startPage = pagination.thisPage - 3 %}
        {% set startPage = startPage < 1 ? 1 : startPage %}

        {% set endPage = pagination.thisPage + 3 %}
        {% set endPage = endPage > pagination.maxPages ? pagination.maxPages : endPage %}

        {% if pagination.thisPage != startPage %}
            {# Render each page number till current #}
            {% for i in startPage..pagination.thisPage - 1 %}
                <li>
                    <a href="{{ path(routeName, {page: i}|merge(routeId is defined ? {id: routeId} : {})|merge(routeParams)) }}">{{ i }}</a>
                </li>
            {% endfor %}
        {% endif %}

        <li class="active">
            <a href="#">{{ pagination.thisPage }}</a>
        </li>

        {% if pagination.thisPage != endPage %}
            {# Render each page number from current #}
            {% for i in pagination.thisPage + 1..endPage %}
                <li>
                    <a href="{{ path(routeName, {page: i}|merge(routeId is defined ? {id: routeId} : {})|merge(routeParams)) }}">{{ i }}</a>
                </li>
            {% endfor %}
        {% endif %}

        {% if pagination.thisPage != pagination.maxPages %}
            <li class="-last">
                <a href="{{ path(routeName, {page: pagination.thisPage+1 <= pagination.maxPages ? pagination.thisPage+1 : pagination.thisPage}|merge(routeId is defined ? {id: routeId} : {})|merge(routeParams)) }}"></a>
            </li>
        {% endif %}
    </ul>
{% endif %}