{% extends '@App/layout/page.html.twig' %}

{% block content %}
    {% embed '@App/layout/_partials/card.html.twig' %}

        {% form_theme form with [
        '@App/layout/Form/form_errors.html.twig',
        ] %}

        {% block heading %}Create News{% endblock %}
        {% block content %}
            {{ form_errors(form) }}

            {{ form_start(form) }}

            {% include '@App/admin/news/fields.html.twig' %}

            {{ form_end(form) }}

        {% endblock %}
    {% endembed %}
{% endblock %}