<div class="row">
    <div class="col-sm-6">
        {{ form_row(form.server) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.status) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <span>RUS</span>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.titleRus) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.shortTextRus) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.fullTextRus) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <span>ENG</span>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.titleEng) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.shortTextEng) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.fullTextEng) }}
            </div>
        </div>
    </div>
</div>

{{ tinymce_init() }}

<button type="submit" class="btn btn-success">Save</button>
<a href="{{ path('sky_admin_news_index') }}" class="btn btn-default">Back</a>