{% extends '@App/layout/page.html.twig' %}

{% block content %}
    <div class="row admin">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Server</th>
                    <th>Status</th>
                    <th>Author</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="admin_news">
                {% for newsInstance in news %}
                    <tr>
                        <td>
                            <i data-toggle="tooltip" data-placement="bottom" data-html="true">Info</i>
                        </td>
                        <td>{{ newsInstance.getServer ? newsInstance.getServer.getName : 'All' }}</td>
                        <td>
                            {% if newsInstance.getStatus == constant('AppBundle\\Repository\\Application\\NewsRepository::STATUS_DISABLED') %}
                                Disabled
                            {% elseif newsInstance.getStatus == constant('AppBundle\\Repository\\Application\\NewsRepository::STATUS_ENABLED') %}
                                Enabled
                            {% else %}
                                Unknown
                            {% endif %}
                        </td>
                        <td>{{ newsInstance.getAuthor.getUsername }}</td>
                        <td>{{ newsInstance.getCreatedAt.format('Y-m-d H:i:s') }}</td>
                        <td>{{ newsInstance.getUpdatedAt.format('Y-m-d H:i:s') }}</td>
                        <td class="controls">
                            <div class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Menu</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('sky_admin_news_edit', {id: newsInstance.getId}) }}">
                                            <span class="text">Edit</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('sky_admin_news_remove', {id: newsInstance.getId}) }}">
                                            <span class="text">Remove</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-success" href="{{ path('sky_admin_news_create') }}">New</a>
        </div>
    </div>
{% endblock %}