{% if skill is not null %}
    <ul class="master-skill">
        {% include '@App/character/_partials/magic_list/skill/_show_image.html.twig' with {skill: skill, withoutInfo: true} %}
        <li class="master-skill-points">
            {% set learnedSkill = learnedSkills.findById(skill.id) %}
            {{ learnedSkill is not null ? learnedSkill.level : 0 }}
        </li>
    </ul>
{% endif %}