<div class="section">
    <div class="section-title section-title-{{ idx }}">{{ sectionTitle }}</div>
    <div class="section-content character">
        {% for idx, rowSkills in sectionIds %}
            {% include '@App/character/_partials/magic_list/skill_tree/section_row.html.twig' with {skills: rowSkills, rowIdx: idx, totalRows: sectionIds|length } %}
        {% endfor %}
    </div>
</div>