<ul class="section-row skills" style="z-index: {{ totalRows - rowIdx }};">
    <li class="skill-1">
        {% include '@App/character/_partials/magic_list/skill_tree/row_cell.html.twig' with {skill: availableMasterSkills.get(skills[0]).getOrElse(null)} %}
    </li>
    <li class="skill-1">
        {% include '@App/character/_partials/magic_list/skill_tree/row_cell.html.twig' with {skill: availableMasterSkills.get(skills[1]).getOrElse(null)} %}
    </li>
    <li class="skill-1">
        {% include '@App/character/_partials/magic_list/skill_tree/row_cell.html.twig' with {skill: availableMasterSkills.get(skills[2]).getOrElse(null)} %}
    </li>
    <li class="skill-1">
        {% include '@App/character/_partials/magic_list/skill_tree/row_cell.html.twig' with {skill: availableMasterSkills.get(skills[3]).getOrElse(null)} %}
    </li>
</ul>
