{% if servers.list and servers.list|length %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block heading %}<span>Admin menu</span>{% endblock %}
        {% block content %}
            <ul class="nav">
                <li>
                    <a href="{{ path('sky_admin_news_index') }}">News</a>
                </li>
                <li>
                    <a href="{{ path('sky_admin_servers_index') }}">Servers</a>
                </li>
                <li>
                    <a href="{{ path('sky_admin_market.category_index') }}">Market Categories</a>
                </li>
                <li>
                    <a href="{{ path('sky_admin_download.link_index') }}">Download Links</a>
                </li>
                <li>
                    <a href="{{ path('sky_admin_cache.manager_index') }}">Cache Manager</a>
                </li>
                <li>
                    <a href="{{ path('sky_admin_mailer_index') }}">Mails</a>
                </li>
                <li>
                    <a href="{{ path('sky_admin_timers_index') }}">Timers</a>
                </li>
                <li>
                    <a href="{{ path('sky_admin_registration.config_edit') }}">Registration Configuration</a>
                </li>
            </ul>
        {% endblock %}
    {% endembed %}
{% endif %}