<nav class="lang">
    <a class="ru{{ app.request.locale == 'ru' ? ' -active' : '' }}" href="{{ path('sky_locales_set', {locale: 'ru'}) }}"></a>
    <a class="en{{ app.request.locale == 'en' ? ' -active' : '' }}" href="{{ path('sky_locales_set', {locale: 'en'}) }}"></a>
</nav>