<nav class="main-navigation">
    {% set currentRoute = app.request.attributes.get('_route') %}

    <div class="left">
        <a href="{{ path('sky_index_index') }}" class="control{{ currentRoute == 'sky_index_index' ? ' -active' : '' }}">
            <div class="-active-bg"></div>
            <span>{{ 'nav.general.5'|trans }}</span>
        </a>
        <a href="{{ path('sky_download.links_index') }}" class="control{{ currentRoute == 'sky_download.links_index' ? ' -active' : '' }}">
            <div class="-active-bg"></div>
            <span>{{ 'nav.general.7'|trans }}</span>
        </a>
        <a href="{{ forumLink }}" class="control" target="_blank">
            <div class="-active-bg"></div>
            <span>{{ 'nav.general.6'|trans }}</span>
        </a>
        <a href="{{ path('sky_market_index') }}" class="control{{ currentRoute == 'sky_market_index' ? ' -active' : '' }}">
            <div class="-active-bg"></div>
            <span>{{ 'nav.general.2'|trans }}</span>
        </a>
    </div>

    <div class="right">
        <a href="{{ path('sky_contacts_index') }}" class="control{{ currentRoute == 'sky_contacts_index' ? ' -active' : '' }}">
            <div class="-active-bg"></div>
            <span>{{ 'nav.general.10'|trans }}</span>
        </a>
        <div class="control dropdown{{ currentRoute in ['sky_voters_index', 'sky_guilds_index', 'sky_characters_index'] ? ' -active' : '' }}">
            <div class="dropbtn -active-bg"></div>
            <span>{{ 'nav.general.11'|trans }}</span>
            <div class="dropdown-body">
                <div class="dropdown-content">
                    <a href="{{ path('sky_voters_index') }}"{{ currentRoute == 'sky_voters_index' ? ' class="-active"' : '' }}>{{ 'nav.general.9'|trans }}</a>
                    <a href="{{ path('sky_characters_index') }}"{{ currentRoute == 'sky_characters_index' ? ' class="-active"' : '' }}>{{ 'nav.general.4'|trans }}</a>
                    <a href="{{ path('sky_guilds_index') }}"{{ currentRoute == 'sky_guilds_index' ? ' class="-active"' : '' }}>{{ 'nav.general.3'|trans }}</a>
                    <a href="{{ path('sky_gens_index', {family: constant('AppBundle\\Enum\\MuOnline\\Gens\\Family::DUPRIAN')}) }}"{{ currentRoute == 'sky_gens_index' ? ' class="-active"' : '' }}>{{ 'nav.general.14'|trans }}</a>
                    <a href="{{ path('sky_prison_index') }}"{{ currentRoute == 'sky_prison_index' ? ' class="-active"' : '' }}>{{ 'nav.general.13'|trans }}</a>
                    <a href="{{ path('sky_rating_castle.siege') }}"{{ currentRoute == 'sky_rating_castle.siege' ? ' class="-active"' : '' }}>{{ 'nav.general.15'|trans }}</a>
                </div>
            </div>
        </div>
        <a href="#" class="control" data-toggle="modal" data-target="#modal-faq">
            <div class="-active-bg"></div>
            <span>{{ 'nav.general.8'|trans }}</span>
        </a>
        <a href="#" class="control -vote" data-toggle="modal" data-target="#modal-tops-banners">
            <div class="-active-bg"></div>
            <span>{{ 'tops_banners.trigger'|trans }}</span>
        </a>
    </div>
</nav>