{% if servers.list and servers.list|length %}
    {% embed '@App/layout/_partials/card.html.twig' %}
        {% block heading %}<span>Manager menu</span>{% endblock %}
        {% block content %}
            <ul class="nav">
                <li>
                    <a href="{{ path('sky_manager_user.manager_index') }}">User Manager</a>
                </li>
            </ul>
        {% endblock %}
    {% endembed %}
{% endif %}