<nav class="quick-links">
    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('sky_users_register') }}" class="sign-up">
            <span>{{ 'nav.general.1'|trans }}</span>
        </a>
    {% endif %}
    <a href="{{ path('sky_download.links_index') }}" class="play">
        <span>{{ 'nav.general.7'|trans }}</span>
    </a>
</nav>